<style>
  html{
   scroll-behavior: smooth;
}
    .cards{
        align-items: center;
        height: auto;
        background: black;
        margin: -30px -10px auto -40px ;
        
    }
    .cards-content{
        height: auto;
        justify-content: center;
        background-color: black;
        
    }

    @media only screen and (max-width: 768px) {

      .cards{
        margin: 0;
      }
    }
    
</style>


<div class="container-fluid cards-content" id="process">
  <br>
  <h2 class="text-center text-white" >COMO FUNCIONA</h2>
  <br>
<div class="row">
    <div class="col-lg align-items-center cards card"><img src="/assets/img/deep/card-a.svg" alt=""></div>
    <div class="col-lg align-items-center cards card"><img src="/assets/img/deep/card-b.svg" alt=""></div>
    <div class="col-lg align-items-center cards card"><img src="/assets/img/deep/card-c.svg" alt=""></div>
    <div class="col-lg align-items-center cards card"><img src="/assets/img/deep/card-d.svg" alt=""></div>
  </div>
  <div class="row">
    <div class="col-lg align-items-center cards card"><img src="/assets/img/deep/card-e.svg" alt=""></div>
    <div class="col-lg align-items-center cards card"><img src="/assets/img/deep/card-f.svg" alt=""></div>
    <div class="col-lg align-items-center cards card"><img src="/assets/img/deep/card-g.svg" alt=""></div>
    <div class="col-lg align-items-center cards card"><img src="/assets/img/deep/card-h.svg" alt=""></div>
  </div>
  <br>
  <br>
</div>