<div class="container-fluid">
    <h2 class="text-center mb-5" style="color: gray;">Reconhecimento Internacional</h2>
  <div class="row text-center mb-5">
    <div class="col-md">
      <img src="/assets/img/deep/sanfrancisco.webp" class="mb-3" alt="" />
      <h5>2019</h5>
      <p>Computer Security Service</p>
    </div>
    <div class="col-md">
      <img src="/assets/img/deep/infosec.webp" class="mb-3"  alt="" />
      <h5>2019</h5>
      <p>
        Rewarded the infosec 2018 award for "Artificial Intelligence and Machine
        Learning" by Cyber Defence Magazine
      </p>
    </div>
    <div class="col-md">
      <img src="/assets/img/deep/gatner.webp" class="mb-3"  alt="" />
      <h5 class="mt-5">2016</h5>
      <p>Cool Vendor for Digital Workplace Security</p>
      
    </div>
    <div class="col-md">
      <img src="/assets/img/deep/tag.webp" class="mb-3 img-fluid" style="max-width: 250px;"  alt="" />
      <h5 class="mt-3">2019 - 2020</h5>
      <p>TAG Cyber Security Distinguished Vendor</p>
      
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md">
      <img src="/assets/img/deep/economic.webp" class="mb-3"  alt="" />
      <h5>2017</h5>
      <p>Awarded as Technology Pioneer at World Economic Forum</p>
      
    </div>
    <div class="col-md">
      <img src="/assets/img/deep/Nvidia.webp" class="mb-3"  alt="" />
      <h5 class="mt-5">2017</h5>
      <p>Most Disruptive Startup at Nvidia Inception Awards</p>
      
    </div>
    <div class="col-md">
      <img src="/assets/img/deep/AwardsAI.webp" class="mb-3 award-img" alt="" />
      <h5>2019</h5>
      <p>Best use AI in Security and Cyber Crime Protection by Global Annuak Achievements Award</p>
     
    </div>
    <div class="col-md">
        <img src="/assets/img/deep/forbes.webp" class="mb-3"    alt="" />
        <h5 >2019</h5>
        <p>Ranked by Forbes Amoung the "Thirteen Companies That Use Deep Learning to Produce Actionable Results"</p>
       
      </div>
  </div>
</div>

<style>
    .award-img{
        max-width: 110px;
    }
</style>