<div class="container-fluid -customers mb-5" style="background-color: white">
  <div class="row mx-auto justify-content-around d-flex">
    <div class="col-xs-3">
      <img
        src="/assets/img/deep-22/customers/blackrock-inc-vector-logo.webp"
        alt="BackRock"
      />
    </div>
    <div class="col-xs-3">
      <img
        src="/assets/img/deep-22/customers/chrysalis-logo-png.webp"
        alt="Chrysalis Logo"
      />
    </div>
    <div class="col-xs-3">
      <img src="/assets/img/deep-22/customers/Coatue.webp" alt="Coatue" />
    </div>
    <div class="col-xs-3">
      <img src="/assets/img/deep-22/customers/lg_web_2.webp" alt="LG" />
    </div>
    <div class="col-xs-3">
      <img
        src="/assets/img/deep-22/customers/millenium226x98.webp"
        alt="Millennium TECHNOLOGY"
      />
    </div>
  </div>
  <div class="row mx-auto justify-content-around d-flex">
    <div class="col-xs-3">
      <img
        src="/assets/img/deep-22/customers/nvidia_logo_horizontal.webp"
        alt="Nvidia"
      />
    </div>
    <div class="col-xs-3">
      <img
        src="/assets/img/deep-22/customers/Screen_Shot_2021-07-28_at_12.webp"
        alt="RPM"
      />
    </div>
    <div class="col-xs-3">
      <img
        src="/assets/img/deep-22/customers/samsung-logo.webp"
        alt="Samsung"
      />
    </div>
    <div class="col-xs-3">
      <img
        src="/assets/img/deep-22/customers/unbound-logo.webp"
        alt="Unbound"
      />
    </div>
    <div class="col-xs-3">
      <img
        src="/assets/img/deep-22/customers/untitled.webp"
        alt="Untitled Investments"
      />
    </div>
  </div>
</div>
