

<div class="container">
    <div class="row py-5">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed"   type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Avalie e mitigue seus riscos de TI
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                 
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-left justify-content-left flex-column"
                  >
                  Sem uma solução de auditoria adequada, é 
                  quase impossível determinar se seus arquivos 
                  confidenciais estão expostos. Identifique 
                  vulnerabilidades que colocam em risco sua 
                  segurança de dados e operações comerciais, 
                  como pastas compartilhadas acessíveis por 
                  Todos ou contas que podem acessar sua rede 
                  sem autenticação e garantir a implementação 
                  de controles apropriados para corrigir esses
                  pontos fracos.
                    
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/audit-changes/Image-1.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Manter a higiene do sistema de TI
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column"
                  >
                  Localize contas de usuário inativas do 
                  Microsoft Active Directory (AD) para que 
                  você possa removê-las, compare a configuração 
                  dos servidores Windows com a linha de base, 
                  para que você possa corrigir quaisquer desvios, 
                  como desatualizados software antivírus.
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/audit-changes/Image2.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Melhore a detecção de ameaças facilmente
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column">

                  Os logs nativos são extremamente bagunçados e não 
                  podem ser usados ​​para alertá-lo sobre alterações 
                  críticas, como a exclusão de objetos do SQL Server 
                  ou caixas de correio do Exchange ou alterações em 
                  unidades organizacionais ou privilégios para 
                  acessar dados confidenciais armazenados em 
                  servidores de arquivos.
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/audit-changes/Image3.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button id="btn" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Solucionar problemas de incidentes com mais eficiência
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column"
                  >
                  Qualquer alteração inadequada na configuração 
                  da sua rede pode atrapalhar os processos de 
                  negócios, impedindo que os funcionários acessem 
                  os recursos da empresa e executem suas tarefas. 
                  Melhore seu gerenciamento de alterações e coloque 
                  tudo em funcionamento rapidamente, fornecendo 
                  informações acionáveis ​​com todos os detalhes 
                  necessários, incluindo os valores antes e depois 
                  de cada alteração.
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/audit-changes/Image4.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
        </div>
        
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <button id="btn" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Prove a conformidade de TI com menos esforço
            </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column"
                  >
                  Os auditores de conformidade geralmente solicitam 
                  detalhes específicos que podem ser difíceis de extrair 
                  dos logs nativos. Pare de passar dias compilando relatórios 
                  ou gastar dinheiro em serviços de suporte de conformidade. 
                  Basta fornecer relatórios de conformidade prontos para auditoria, 
                  mapeados para controles específicos do PCI DSS, HIPAA, GDPR e 
                  outros regulamentos, para provar facilmente que seu ambiente 
                  atende aos padrões de conformidade e segurança.
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/audit-changes/Image5.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
        </div>
        
      </div>
  </div>
  </div>
  </div>
  <style>
    
  .card-body {
    background-image: linear-gradient(rgba(95,44,130,0.9416141456582633), rgba(73,160,157,0.9780287114845938));
  
  }
  #accordionExample {
    color: white;
    width: 150em;
    margin-bottom: 2mm;
    text-align: left;
  }
  
  @media only screen and (min-width: 1499px) {
  
  #accordionExample  {
   
    display: none;
   }
  }
  
  /*Content Animation*/
  @keyframes fadeInScale {
   30% {
       transform: scale(0.9);
       opacity: 0;
   }
   
   100% {
       transform: scale(1);
       opacity: 1;
   }
  }
  
  </style>