<div class="container-fluid -moduloscrashtest py-5">
  <div class="row pb-3">
    <div class="col text-center">
      {% if page.title == 'Netwrix Auditor' %}
      <h3 class="text-blueobs" style="color: yellow">Nossas Integrações</h3>
      <br />
      {% else %}
      <h3 class="text-blueobs" style="color: yellow">Nossas Integrações</h3>
      <br />
      {% endif %}
      <p style="font-size: 20px; color: white">
        O Crashtest Security Suite se adapta perfeitamente à sua cadeia de
        ferramentas de desenvolvimento, permitindo que você integre a
        verificação de vulnerabilidades diretamente em seu pipeline de CI/CD.
      </p>
    </div>
    <br />
    <br />
  </div>

  <div class="row row-datasourceobs">
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-between"
      style="height: 58px"
    >
      <img
        src="/assets/img/crashtest/api_icons/cloud-build-svgrepo-com.svg"
        class="align-self-center"
        style="max-width: 35px !important"
      />
      <p>Google Cloud Build</p>
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-between"
      style="height: 58px"
    >
      <img
        src="/assets/img/crashtest/api_icons/codeship-icon.svg"
        class="align-self-center"
        style="max-width: 35px !important"
      />
      <p>Codeship</p>
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-between"
      style="height: 58px"
    >
      <img
        src="/assets/img/crashtest/api_icons/azure-devops-svgrepo-com.svg"
        class="align-self-center"
        style="max-width: 35px !important"
      />
      <p>Azure DevOps</p>
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <img
        src="/assets/img/crashtest/api_icons/Mattermost_logo_horizontal.svg"
        class="align-self-center modules-crashtest"
      />
    </a>
  </div>
  <div class="row row-datasourceobs">
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <img
        src="/assets/img/crashtest/api_icons/webhooks_thumb-300x203.webp"
        class="align-self-center"
        style="max-width: 150px !important"
      />
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <img
        src="/assets/img/crashtest/api_icons/travis-ci-ar21.svg"
        class="align-self-center"
        style="max-width: 100px !important"
      />
    </a>

    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <img
        src="/assets/img/crashtest/api_icons/TeamCity_logo.svg"
        class="align-self-center"
        style="max-width: 100px !important"
      />
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <img
        src="/assets/img/crashtest/api_icons/slack_thumb-300x202.webp"
        class="align-self-center"
        style="max-width: 170px !important"
      />
    </a>
  </div>
  <div class="row row-datasourceobs">
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <img
        src="/assets/img/crashtest/api_icons/rocket.svg"
        class="align-self-center modules-crashtest"
      />
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <img
        src="/assets/img/crashtest/api_icons/google_hangouts_thumb-300x202.webp"
        class="align-self-center"
        style="max-width: 180px !important"
      />
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <img
        src="/assets/img/crashtest/api_icons/github_thumb-300x202.webp"
        class="align-self-center modules-crashtest"
      />
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <img
        src="/assets/img/crashtest/api_icons/faraday_thumb-300x202.webp"
        class="align-self-center modules-crashtest"
      />
    </a>
  </div>
  <div class="row row-datasourceobs">
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <img
        src="/assets/img/crashtest/api_icons/discord_thumb-300x202.webp"
        class="align-self-center modules-crashtest"
      />
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <img
        src="/assets/img/crashtest/api_icons/jojo.webp"
        class="align-self-center modules-crashtest"
      />
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <img
        src="/assets/img/crashtest/api_icons/circleci_thumb-300x202.webp"
        class="align-self-center modules-crashtest"
      />
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <img
        src="/assets/img/crashtest/api_icons/bitbucket_thumb-300x202.webp"
        class="align-self-center modules-crashtest"
      />
    </a>
  </div>
  <div class="row row-datasourceobs">
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <img
        src="/assets/img/crashtest/api_icons/bamboo_thumb-300x202.webp"
        class="align-self-center modules-crashtest"
      />
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <img
        src="/assets/img/crashtest/api_icons/asana.webp"
        class="align-self-center modules-crashtest"
      />
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <img
        src="/assets/img/crashtest/api_icons/gitlab-thumb-300x202.webp"
        class="align-self-center modules-crashtest"
      />
    </a>
  </div>
</div>

<style>
  .-moduloscrashtest {
    background: url(/assets/img/crashtest/bg-pattern.png);
    background-size: contain;
    background-color: black;
    padding-left: 20vw;
    padding-right: 20vw;
  }
  .modules-crashtest {
    max-width: 130px !important;
  }
</style>
