---
layout: default
title: Descoberta e Classificação de Dados
---

<div class="container-fluid" style="background: linear-gradient(
  252deg,
  rgba(15, 12, 41, 1) 0%,
  rgba(48, 43, 99, 1) 49%,
  rgba(36, 36, 62, 1) 98%
); height: 500px; padding-top: 14vh; color: white;">
<canvas class="background"></canvas>
  <br />
  <br />
  <div class="row">
    <div
      class="col -solution-hero d-flex flex-column justify-content-center align-items-center text-center"
    >
      <h1>Descoberta e Classificação de Dados</h1>
      <br />
      <p>
        {% include site/modal_form.html title="Classificação de Dados"
        id="classification_form "%}
      </p>
    </div>
  </div>
</div>
<br />
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <p class="text-secondary">
          Hoje, as organizações geralmente têm terabytes ou até petabytes de
          informações armazenadas eletronicamente. Qualquer um deles pode ser
          relevante para um caso legal, o que pode tornar qualquer projeto de
          descoberta eletrônica uma tarefa árdua para profissionais do direito e
          equipes de TI. Uma solução de descoberta eletrônica de qualidade pode
          ajudar a aliviar a pressão. Ele descobrirá e classificará os dados que
          você armazena, para que você possa coletar mais facilmente os
          documentos necessários e enviá-los para revisão e produção sempre que
          surgir um processo legal.
        </p>
      </div>
    </div>
  </div>
</div>
<br />
<br />

<div class="container container-content">
  <div class="row mb-5">
    <br />
    <h2 class="text-center" style="color: #707070">
      <b
        >Identifique fontes potenciais de dados armazenados para direcionar a
        descoberta de dados</b
      >
    </h2>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="w-100"></div>
      <div class="col-lg">
        <h4>
          Saiba onde os documentos relevantes podem ser armazenados para
          concentrar os esforços de coleta de informações
        </h4>
        <p>
          Reduza o estresse do processo legal desde a fase de reunião e
          conferência. Permita que as equipes jurídicas identifiquem rapidamente
          fontes de dados potenciais, entendendo onde tipos específicos de dados
          são armazenados em sua infraestrutura de TI.
        </p>
      </div>
      <div class="col-lg">
        <h4>
          Atribua tags de classificação automaticamente para descobrir
          documentos relevantes com mais facilidade
        </h4>
        <p>
          Classifique os arquivos automaticamente à medida que são criados para
          melhorar sua descoberta no caso de investigações legais. A
          classificação precisa e os metadados enriquecidos permitem que você
          agilize a coleta de informações durante o litígio ou a avaliação
          inicial do caso.
        </p>
      </div>
    </div>
    <div class="col">
      <img
        class="img-fluid"
        src="/assets/img/classification/content.webp"
        alt=""
      />
    </div>
  </div>
</div>

<div class="container container-content">
  <div class="row mb-5">
    <br />
    <h2 class="text-center mb-3" style="color: #707070">
      <b
        >Colete dados para apoio ao contencioso e certifique-se de que estejam
        devidamente preservados</b
      >
    </h2>
  </div>
  <div class="row">
    <div class="col-lg">
      <img class="img-fluid" src="/assets/img/classification/auto.webp" alt="" />
    </div>
    <div class="col-lg">
      <div class="w-100"></div>
      <div class="col-lg">
        <h4>
          Automatize a retenção legal e proteja continuamente as possíveis
          evidências
        </h4>
        <p>
          Mova automaticamente os arquivos sujeitos à retenção legal para um
          local seguro e / ou revogue os direitos de acesso dos usuários para
          garantir sua integridade antes e durante o litígio.
        </p>
      </div>
      <div class="col-lg">
        <h4>
          Descubra dados relevantes armazenados em vários repositórios mais
          rápido
        </h4>
        <p>
          Arquivos potencialmente relevantes tendem a se espalhar por todos os
          seus armazenamentos de dados locais e baseados em nuvem, como
          servidores de arquivos Windows, SharePoint e SQL Server. Certifique-se
          de encontrar tudo o que precisa em uma única plataforma de mapeamento
          e classificação de dados.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container container-content">
  <div class="row mb-5 justify-content-center align-items-center text-center">
    <br />
    <h2 class="mb-3" style="color: #707070">
      <b>Otimize a revisão e o processamento de documentos</b>
    </h2>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="w-100"></div>
      <div class="col-lg">
        <h4>
          Ajuste sua classificação para encontrar os dados solicitados de forma
          precisa
        </h4>
        <p>
          Satisfaça até mesmo solicitações complexas de equipes jurídicas
          criando e ajustando regras de classificação com um gerenciador de
          taxonomia transparente e flexível. Veja como seus ajustes influenciam
          os resultados da classificação para certificar-se de classificar
          corretamente os dados relevante para o caso, independentemente do
          tópico ou setor.
        </p>
      </div>
      <div class="col-lg">
        <h4>
          Reduza os custos de revisão de advogados filtrando documentos
          irrelevantes
        </h4>
        <p>
          Organizações com recursos limitados para analisar e selecionar
          conteúdo frequentemente acabam enviando informações irrelevantes para
          os escritórios de advocacia, encarecendo a análise. Garanta que uma
          coleta de dados precisa reduzirá os custos associados à revisão de
          falsos positivos, bem como o risco de arquivos relevantes perdidos.
        </p>
      </div>
    </div>
    <div class="col">
      <img class="img-fluid" src="/assets/img/classification/data.webp" alt="" />
    </div>
  </div>
</div>

<div class="container container-content">
  <div class="row mb-5 justify-content-center align-items-center text-center">
    <h2 class="text-center mb-3" style="color: #707070">
      <b>Estabeleça a governança da informação e faça com que funcione</b>
    </h2>
  </div>
  <div class="row">
    <div class="col-lg">
      <img
        class="img-fluid"
        src="/assets/img/classification/distribution.webp"
        alt=""
      />
    </div>
    <div class="col-lg">
      <div class="w-100"></div>
      <div class="col-lg">
        <h4>
          Arquive ou exclua dados desatualizados em tempo hábil para gerenciar o
          risco legal
        </h4>
        <p>
          Identifique os dados que não estão mais em uso e aplique as políticas
          internas aplicando ações apropriadas, como arquivamento ou exclusão
          defensável.
        </p>
      </div>
      <div class="col-lg">
        <h4>
          Certifique-se de que os dados confidenciais sejam armazenados de
          acordo com as políticas internas
        </h4>
        <p>
          Reduza o risco e as responsabilidades potenciais relacionadas a uma
          investigação legal, garantindo que os arquivos sejam armazenados com
          segurança e processados de acordo com a governança de informações e as
          melhores práticas de segurança.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid modules-content mb-5">
  <div class="row mb-5 justify-content-center align-items-center text-center">
    <h3 class="text-center mb-3 text-white">
      <b
        >Experimente como é fácil classificar os dados da sua empresa
        <br />Teste grátis</b
      >
    </h3>
  </div>
  <div class="row modules-body" style="justify-content: center">
    <div class="col-lg-4 mb-5">
      <div class="col-lg d-flex text-center" style="justify-content: center">
        {% include site/form2.html title="Classificação de Dados"
        id="classification_form" %}
      </div>
    </div>
    <div class="row row-datasourceobs d-flex text-center">
      <div class="row">
        <div class="col-sm">
          <div class="btn-group-vertical">
            <div
              class="btn-group btn-group-lg"
              role="group"
              aria-label="button"
            >
              <a
                class="col solution-datasourceobs d-flex align-items-center justify-content-between"
              >
                <img
                  src="/assets/img/netwrix/modulos/Asset 8FILE SERVER.svg"
                  class="align-self-center img-fluid-modules"
                />
                <p>File Server</p>
              </a>
            </div>
            <div
              class="btn-group btn-group-lg"
              role="group"
              aria-label="button"
            >
              <a
                class="col solution-datasourceobs d-flex align-items-center justify-content-between"
              >
                <img
                  src="/assets/img/netwrix/modulos/Asset 5EXCHANGE.svg"
                  class="align-self-center img-fluid-modules"
                />
                <p>Exchange</p>
              </a>
            </div>
            <div
              class="btn-group btn-group-lg"
              role="group"
              aria-label="button"
            >
              <a
                class="col solution-datasourceobs d-flex align-items-center justify-content-between"
              >
                <img
                  src="/assets/img/netwrix/modulos/Asset 4EMC.svg"
                  class="align-self-center img-fluid-modules"
                />
                <p>EMC</p>
              </a>
            </div>
            <div
              class="btn-group btn-group-lg "
              role="group"
              aria-label="button"
            >
              <a
                class="col solution-datasourceobs d-flex align-items-center justify-content-between"
              >
                <img
                  src="/assets/img/netwrix/modulos/Asset 2SQL.svg"
                  class="align-self-center img-fluid-modules"
                />
                <p>Sql Server</p>
              </a>
            </div>
            <div
              class="btn-group btn-group-lg"
              role="group"
              aria-label="button"
            >
              <a
                class="col solution-datasourceobs d-flex align-items-center justify-content-between"
                style="min-width: 200px;"
              >
                <img
                  src="/assets/img/netwrix/modulos/Asset 7ORACLE.svg"
                  class="align-self-center img-fluid-modules"
                />
                <p>Oracle<br/>Database</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-datasourceobs d-flex text-center">
      <div class="row">
        <div class="col-sm">
          <div class="btn-group-vertical">
            <div
              class="btn-group btn-group-lg btn-modules"
              role="group"
              aria-label="button"
            >
              <a
                class="col solution-datasourceobs d-flex align-items-center justify-content-between"
              >
                <img
                  src="/assets/img/netwrix/modulos/Asset 14nutanix.svg"
                  class="align-self-center img-fluid-modules"
                />
                <p>Nutanix</p>
              </a>
            </div>
            <div
              class="btn-group btn-group-lg btn-modules"
              role="group"
              aria-label="button"
            >
              <a
                class="col solution-datasourceobs d-flex align-items-center justify-content-between"
              >
                <img
                  src="/assets/img/netwrix/modulos/Asset 16googleDrive.svg"
                  class="align-self-center img-fluid-modules"
                />
                <p>Google Drive</p>
              </a>
            </div>
            <div
              class="btn-group btn-group-lg btn-modules"
              role="group"
              aria-label="button"
            >
              <a
                class="col solution-datasourceobs d-flex align-items-center justify-content-between"
              >
                <img
                  src="/assets/img/netwrix/modulos/Asset 6NETAPP.svg"
                  class="align-self-center img-fluid-modules"
                />
                <p>NepApp</p>
              </a>
            </div>
            <div
              class="btn-group btn-group-lg btn-modules"
              role="group"
              aria-label="button"
            >
              <a
                class="col solution-datasourceobs d-flex align-items-center justify-content-between"
              >
                <img
                  src="/assets/img/netwrix/modulos/Asset 20PostGreSql.svg"
                  class="align-self-center img-fluid-modules"
                />
                <p>Postgresql</p>
              </a>
            </div>
            <div
              class="btn-group btn-group-lg btn-modules"
              role="group"
              aria-label="button"
            >
              <a
                class="col solution-datasourceobs d-flex align-items-center justify-content-between"
                style="min-width: 200px;"
              >
                <img
                  src="/assets/img/netwrix/modulos/Asset 10SHARE.svg"
                  class="align-self-center img-fluid-modules"
                />
                <p>SharePoint</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color: #f6f6f6; padding: 0">
  <h2 class="text-center text-teal text-bolder py-2" style="color: gray">
    <br />
    Deseja saber mais sobre os dados do seu ambiente?
  </h2>
  <div class="image-block text-lightblue flex-column text-center">
    <a href="/auditoria-de-alteracoes" class="btn btn-rms my-5" style="max-width: 300px">
      <img src="/assets/img/rms/inventory.png" alt="" />
      <p style="color: gray">
        Audite tudo o que acontece com os seus arquivos e evite extração de
        informações sensíveis
      </p>
    </a>
  </div>
</div>

<style>
  .solution-datasource {
    color: white;
    padding: 0;
  }
  .container-content {
    margin-bottom: 150px;
    margin-top: 100px;
  }
  .img-fluid-modules {
    max-width: 40px;
    justify-content: center;
  }

  .modules-content {
    background: linear-gradient(
      311deg,
      rgba(189, 195, 199, 1) 0%,
      rgba(36, 36, 62, 1) 87%
    );
    padding-top: 20px;
    padding-bottom: 20px;
  }

  
</style>
