---
layout: default
title: AIQON Secure
---

<div class="container-fluid content-home-aiqon-services">
  <div class="row justify-content-center text-white">
    <div class="col-md-6">
      <p class="sub-title-services text-white">SCANNER DE SEGURANÇA</p>
      <h2 class="title-medium-aiqon-services">
        Identifique ameaças críticas com antecedência
      </h2>
      <ul class="list-service-hidden">
        <li>
          <p>
            Revelar vulnerabilidades. Encontre pontos fracos e problemas de
            configuração incorreta que colocam seus dados confidenciais em risco
            de serem roubados ou alterados.
          </p>
        </li>
        <li>
          <p>
            Diminuir riscos. Retome o controle da conformidade de segurança em
            todos os dispositivos que as pessoas em sua organização usam para
            trabalhar.
          </p>
        </li>
        <li>
          <p>
            Reforce a detecção de ameaças. Detectamos mais do que apenas
            vulnerabilidades do sistema operacional e de terceiros. Verifique as
            configurações de segurança, como portas abertas, status de
            antivírus, firewalls desativados e muito mais.
          </p>
        </li>
      </ul>
    </div>
    <div class="col-md">{% include site/aiqon-secure/map.html %}</div>
  </div>
</div>
<div class="container-fluid content-list-manage text-center">
  <img src="/assets/img/aiqon-manage/icons/plus-sign.webp" alt="" />
  <p class="sub-title-services">MELHORE SUA ESTRATÉGIA DE SEGURANÇA</p>
  <h2>Proteção poderosa e comprovada.</h2>
  <h5 class="text-gray mt-4 mb-5">
    Obtenha dados precisos de milhares de dispositivos em menos de 10 segundos.
    Detecte .exes, malware ou vírus em execução instantaneamente e elimine-os.
  </h5>
  <div class="row justify-content-center text-gray">
    <div class="col-md-4">
      <img
        src="/assets/img/aiqon-secure/icons/gps.svg"
        class="img-aiqon-manage"
        alt=""
      />
      <p><b>LOCALIZAÇÃO EM TEMPO REAL</b></p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/aiqon-secure/icons/date.svg"
        class="img-aiqon-manage"
        alt=""
      />
      <p><b>LINHA DO TEMPO</b></p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/aiqon-secure/icons/target.svg"
        class="img-aiqon-manage"
        alt=""
      />
      <p><b>ALERTAS CRÍTICOS</b></p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/aiqon-manage/icons/search.svg"
        class="img-aiqon-manage"
        alt=""
      />
      <p><b>DESCOBERTA AUTOMÁTICA</b></p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/aiqon-secure/icons/map.svg"
        class="img-aiqon-manage"
        alt=""
      />
      <p><b>MAPA DE REDE</b></p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/aiqon-secure/icons/clock.svg"
        class="img-aiqon-manage"
        alt=""
      />
      <p><b>ALTERAÇÕES EM TEMPO REAL</b></p>
    </div>
  </div>
</div>
<div class="container-fluid content-compliance-services text-center text-white">
  <p class="sub-title-services text-white">SCAN DE VULNERABILIDADES</p>
  <h2><b>As violações param aqui</b></h2>
  <p>
    A AIQON oferece verificação de vulnerabilidades, gerenciamento de patches e
    Endpoint Security, tudo em serviço poderoso.
  </p>
</div>
<div class="container-fluid">
  <div class="container-fluid content-steps-services">
    <div class="row mb-5 row-stack row-reverse">
      <div class="col-md-6">
        <img
          src="/assets/img/aiqon-secure/item-1.webp"
          class="img-fluid img-steps-services"
          alt=""
        />
      </div>
      <div class="col-md-6 title-content-steps">
        <h3>Banco de Dados de Vulnerabilidade</h3>
        <p>
          Nossa extensa biblioteca de vulnerabilidades é categorizada por
          família de segurança e inclui a gravidade de cada ameaça. O catálogo
          abrangente pode ser facilmente filtrado para verificar tipos
          específicos de vulnerabilidades sem a necessidade de verificar tudo.
          As famílias de scripts de segurança incluíam: antivírus, mineração de
          criptografia, FTP, firewalls, varredura de portas, VPN, redes sociais
          e muito mais.
        </p>
      </div>
    </div>
    <div class="row mb-5 row-stack last-stack">
      <div class="col-md-6 title-content-steps">
        <h3>Alertas de ameaças</h3>
        <p>
          A chave para prevenir ataques cibernéticos é a rápida identificação e
          resolução de vulnerabilidades de segurança. O Syxsense alerta você
          sobre ameaças em tempo real e coloca os dispositivos em quarentena
          imediatamente, isolando-os do resto da sua rede. Isso impede que
          qualquer processo mal-intencionado se espalhe para que você tenha
          tempo de resolver ameaças sem que invasores explorem a vulnerabilidade
          enquanto você trabalha.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="/assets/img/aiqon-secure/item-2-secure.webp"
          class="img-fluid img-steps-services"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

{% include site/aiqon-secure/laptop-alert.html %} {% include
site/aiqon-secure/compare.html %}
<div class="container-fluid request-service">
  <img
    src="/assets/img/aiqon-manage/waves.svg"
    class="img-waves-services"
    alt=""
  />
</div>
<div class="container-fluid content-request-service" id="form-secure">
  {% include site/aiqon-manage/text-switching.html %} {% include
  site/aiqon-manage/trial.html title="Solicite uma demonstração"
  id="password-reset_form" %}
</div>

<style>
  html {
    scroll-behavior: smooth;
  }
  .content-home-aiqon-services {
    height: 100vh;
    padding: 20vh 5vw;
    background: linear-gradient(
      90deg,
      rgba(0, 148, 164, 1) 0%,
      rgba(0, 78, 164, 1) 100%
    );
  }
  .title-medium-aiqon-services {
    font-size: 3em;
  }
  .content-home-aiqon-services p {
    font-size: 1.3em;
  }
  .content-home-aiqon-services ul li {
    list-style: none;
    margin-top: 5vh;
  }

  .circle-img-content {
    border-radius: 50%;
    background-color: white;
    height: 50vh;
    width: 25vw;
  }
  .img-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
  }
  svg {
    margin-top: 8%;
  }

  #graph_line {
    stroke-dasharray: 400;
    animation: dash 10s linear infinite reverse;
  }
  .content-fast-aiqon-manage {
  }
  .sub-title-services {
    color: gray;
    font-weight: 500;
    letter-spacing: 3px;
    margin-top: 10px;
  }
  .content-fast-aiqon-manage {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100vw;
  }
  .area {
    scroll-snap-align: start;
    height: 100vh;
  }

  /* General Styling */

  .area:nth-child(even) {
    background-color: #0db;
  }
  .area:nth-child(odd) {
    background-color: #0bd;
  }
  .content-list-manage {
    padding: 5vh 10vw;
  }
  .img-aiqon-manage {
    max-width: 40px;
    margin-bottom: 2vh;
  }
  .content-steps-services {
    padding: 10vh 10vw;
  }
  .img-steps-services {
    aspect-ratio: 1/1;
    object-fit: cover;
    padding: 20px;
    border-radius: 30px;
    max-width: 80%;
    -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.28);
  }

  .title-content-steps {
    display: flex;
    align-self: center;
    flex-direction: column;
  }
  .title-content-steps h3 {
    font-weight: bold;
  }
  .title-content-steps p {
    font-weight: lighter;
    padding-top: 1vh;
    width: 90%;
  }
  .content-compliance-services {
    padding: 5vh 0 5vh 0;
    background: linear-gradient(
      90deg,
      rgba(0, 148, 164, 1) 0%,
      rgba(0, 78, 164, 1) 100%
    );
    position: sticky;
    top: 10%;
    z-index: 200;
  }
  .row-stack {
    background: #f9f9f9;
    padding: 20vh 10vw -30vh 5vw;
    position: sticky;
    top: -20%;
    height: 70vh;
  }
  .last-stack {
    height: 50vh !important;
  }
  .request-service {
    position: sticky;
    top: -7%;
    background: linear-gradient(
      -90deg,
      rgba(0, 148, 164, 1) 0%,
      rgba(0, 78, 164, 1) 100%
    );
    padding: 0 !important;
    height: 60.9vh;
    z-index: 300;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
  .content-request-service {
    background: linear-gradient(
      90deg,
      rgba(0, 148, 164, 1) 0%,
      rgba(0, 78, 164, 1) 100%
    );
    max-height: 160vh;
  }
  .-footer {
    position: relative !important;
    z-index: 500 !important;
  }
  @media only screen and (max-width: 768px) {
    .content-home-aiqon-services {
      padding: 15vh 5vw;
      height: 105vh;
    }
    .list-service-hidden {
      display: none;
    }
    .content-compliance-services {
      padding: 5vh 5vw;
      top: 6%;
    }
    .content-steps-services {
      padding: 5vh 5vw;
    }
    .row-stack {
      height: 80vh;
      padding: 5vh 5vw;
      top: -50%;
    }
    .title-content-steps {
      padding-top: 1vh;
    }
    .img-steps-services {
      max-width: 100% !important;
      padding: 5px;
      border-radius: 10px;
    }
    .request-service {
      top: 6%;
      height: 300px;
    }
    .content-color-animed-mobile {
      z-index: 500;
      position: relative;
    }
    .img-waves-services {
      margin-top: 21.8vh !important;
    }
    .text {
      position: static;
    }
    .content-request-service {
      margin-top: -20vh;
      height: 102vh;
    }
    .device-animed {
      display: none;
    }
    .row-reverse {
      flex-wrap: wrap-reverse;
    }
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 800;
    }
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>

<script>
  function statusSceneOne() {
    let tlStatus = new TimelineMax();

    tlStatus.add("start");

    tlStatus.fromTo(
      "#i_status #window2, #window3, #window1",
      0.6,
      { scale: 0.7, opacity: 0, transformOrigin: "center" },
      { scale: 1, opacity: 1, ease: Back.easeOut.config(1.7) },
      "start"
    );

    tlStatus.add("pop");

    tlStatus.fromTo(
      "#i_status #circles, #pile_chart, #elipse5, #elipse2, #elipse3, #elipse1, #elipse4, #gear1, #gear2, #gear3",
      0.6,
      { scale: 0.7, opacity: 0, transformOrigin: "center" },
      { scale: 1, opacity: 1, ease: Back.easeOut.config(1.7) },
      "pop"
    );

    TweenMax.to("#i_status #circles #circle1", 10, {
      rotation: 360,
      transformOrigin: "center",
      repeat: -1,
      paused: false,
      ease: Power0.easeNone,
    });
    TweenMax.to("#i_status #circles #circle2", 10, {
      rotation: "360_ccw",
      transformOrigin: "center",
      repeat: -1,
      paused: false,
      ease: Power0.easeNone,
    });
    TweenMax.fromTo(
      "#i_status #pile_chart #column1",
      2,
      {
        scaleY: 1.1,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      },
      {
        scaleY: 0.8,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      }
    );
    TweenMax.fromTo(
      "#i_status #pile_chart #column2",
      1,
      {
        scaleY: 0.7,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      },
      {
        scaleY: 1.1,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      }
    );
    TweenMax.fromTo(
      "#i_status #pile_chart #column3",
      2,
      {
        scaleY: 0.8,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      },
      {
        scaleY: 1.0,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      }
    );
    TweenMax.fromTo(
      "#i_status #pile_chart #column4",
      2,
      {
        scaleY: 0.8,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      },
      {
        scaleY: 1.0,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      }
    );
    TweenMax.fromTo(
      "#i_status #pile_chart #column5",
      1,
      {
        scaleY: 1.2,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      },
      {
        scaleY: 1.0,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      }
    );

    TweenMax.to("#i_status #pile_chart .cls-25", 2, {
      scaleY: 1.5,
      transformOrigin: "bottom",
      repeat: -1,
      paused: false,
      yoyo: true,
      delay: 0.4,
    });
    TweenMax.to("#i_status #gear1", 20, {
      rotation: -180,
      transformOrigin: "center",
      repeat: -1,
      paused: false,
      ease: Power0.easeNone,
      yoyo: true,
    });
    TweenMax.to("#i_status #gear2, #gear3", 20, {
      rotation: 180,
      transformOrigin: "center",
      repeat: -1,
      paused: false,
      ease: Power0.easeNone,
      yoyo: true,
    });

    moveElements();

    return tlStatus;
  }
  let masterStatus = new TimelineMax();
  masterStatus.add(statusSceneOne(), "sceneOne");

  function moveElements() {
    let tlElipse1 = new TimelineMax();

    tlElipse1.to("#elipse1", 5, {
      x: 15,
      y: 15,
      yoyo: true,
      repeat: -1,
      rotation: Math.floor(Math.random() * 20),
      paused: false,
      ease: Power0.easeNone,
    });

    let tlElipse2 = new TimelineMax();

    tlElipse2.to("#elipse2", 4, {
      x: 18,
      y: 3,
      yoyo: true,
      repeat: -1,
      rotation: Math.floor(Math.random() * 20),
      paused: false,
      ease: Power0.easeNone,
    });

    let tlElipse4 = new TimelineMax();

    tlElipse4.to("#elipse4", 3, {
      x: 23,
      y: -3,
      yoyo: true,
      repeat: -1,
      rotation: Math.floor(Math.random() * 20),
      paused: false,
      ease: Power0.easeNone,
    });
  }
</script>
