---
layout: default
title: AIQON Secure
---

<div class="container-fluid content-home-aiqon-services">
  <div class="row justify-content-center text-white">
    <div class="col-md-6">
      <p class="sub-title-services text-white">SCANNER DE SEGURANÇA</p>
      <h2 class="title-medium-aiqon-services">
        Identifique ameaças críticas com antecedência
      </h2>
      <ul class="list-service-hidden">
        <li>
          <p>
            Revelar vulnerabilidades. Encontre pontos fracos e problemas de
            configuração incorreta que colocam seus dados confidenciais em risco
            de serem roubados ou alterados.
          </p>
        </li>
        <li>
          <p>
            Diminuir riscos. Retome o controle da conformidade de segurança em
            todos os dispositivos que as pessoas em sua organização usam para
            trabalhar.
          </p>
        </li>
        <li>
          <p>
            Reforce a detecção de ameaças. Detectamos mais do que apenas
            vulnerabilidades do sistema operacional e de terceiros. Verifique as
            configurações de segurança, como portas abertas, status de
            antivírus, firewalls desativados e muito mais.
          </p>
        </li>
      </ul>
    </div>
    <div class="col-md">
      {% include site/aiqon-secure/map.html %}
    </div>
  </div>
</div>
<div class="container-fluid content-list-manage text-center">
  <img src="/assets/img/aiqon-manage/icons/plus-sign.webp" alt="" />
  <p class="sub-title-services">SERVIÇOS GERENCIADOS POR PATCH</p>
  <h2>Especialistas em patches ao seu serviço.</h2>
  <h5 class="text-gray mt-4 mb-5">
    Nossa equipe de gerenciamento de patches implantou 100 milhões de patches no
    ano passado. Economize tempo e dinheiro sem ter que investir em recursos
    dedicados.
  </h5>
  <div class="row justify-content-center text-gray">
    <div class="col-md-4">
      <img
        src="/assets/img/aiqon-manage/icons/search.svg"
        class="img-aiqon-manage"
        alt=""
      />
      <p><b>IDENTIFICAR</b></p>
      <p>
        Nossa equipe de gerenciamento de patches verifica e identifica os
        principais patches para seu ambiente.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/aiqon-manage/icons/settings.svg"
        class="img-aiqon-manage"
        alt=""
      />
      <p><b>TESTE</b></p>
      <p>
        Os testes são realizados no ambiente do cliente em seus respectivos
        sistemas de teste.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/aiqon-manage/icons/file.svg"
        class="img-aiqon-manage"
        alt=""
      />
      <p><b>PROJETO</b></p>
      <p>
        O planejamento durante a integração será fornecido com o escopo do
        serviço de correção documentado.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/aiqon-manage/icons/chat.svg"
        class="img-aiqon-manage"
        alt=""
      />
      <p><b>INFORMAR</b></p>
      <p>
        Como parte de nosso serviço, relatórios de patches ausentes estarão
        disponíveis no Syxsense Manage Plus.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/aiqon-manage/icons/date.svg"
        class="img-aiqon-manage"
        alt=""
      />
      <p><b>CRONOGRAMA</b></p>
      <p>
        Implantamos patches de acordo com o cronograma acordado e patches de dia
        zero em 7 dias úteis.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/aiqon-manage/icons/graphic.svg"
        class="img-aiqon-manage"
        alt=""
      />
      <p><b>RELATÓRIO</b></p>
      <p>
        Os relatórios de patches estão disponíveis junto com uma revisão
        trimestral com seu gerente de conta.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid content-compliance-services text-center text-white">
  <p class="sub-title-services text-white">SERVIÇOS GERENCIADOS POR PATCH</p>
  <h2><b>ALÉM DA SEGURANÇA</b></h2>
  <p>
    Segurança em tempo real com os benefícios adicionais como relatórios e
    compliance
  </p>
</div>
<div class="container-fluid">
  <div class="container-fluid content-steps-services">
    <div class="row mb-5 row-stack row-reverse">
      <div class="col-md-6">
        <img
          src="/assets/img/aiqon-manage/scroll/patch-manager.webp"
          class="img-fluid img-steps-services"
          alt=""
        />
      </div>
      <div class="col-md-6 title-content-steps">
        <h3>Implantação direcionada</h3>
        <p>
          O sucesso de sua estratégia de segurança depende da rapidez com que
          você pode obter as atualizações mais críticas para os dispositivos
          mais vulneráveis. As amplas opções de filtro e consulta oferecem
          controle total sobre a priorização de patches, enquanto nossa lógica
          de detecção rigorosa garante que apenas as atualizações necessárias
          sejam instaladas em cada dispositivo. Seu software permanece
          atualizado, suas implantações são otimizadas e sua rede é segura.
        </p>
      </div>
    </div>
    <div class="row mb-5 row-stack">
      <div class="col-md-6 title-content-steps">
        <h3>Syxscore</h3>
        <p>
          Nossa ferramenta de avaliação de segurança. O Syxscore fornece
          avaliações de gravidade do NIST e do fornecedor em relação ao status
          de integridade dos endpoints em seu ambiente. É uma avaliação
          personalizada de quais dispositivos são vulneráveis ​​e quão críticas
          são as atualizações para a proteção geral de sua rede, dando a você a
          capacidade de direcionar endpoints que apresentam os níveis de risco
          mais sérios.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="/assets/img/aiqon-manage/scroll/item-2.webp"
          class="img-fluid img-steps-services"
          alt=""
        />
      </div>
    </div>
    <div class="row mb-5 row-stack row-reverse">
      <div class="col-md-6">
        <img
          src="/assets/img/aiqon-manage/scroll/item-3.webp"
          class="img-fluid img-steps-services"
          alt=""
        />
      </div>
      <div class="col-md-6 title-content-steps">
        <h3>Substituição de Patch</h3>
        <p>
          Eliminamos a preocupação com patches substituídos, para que você nunca
          precise pesquisar os pedidos de atualização necessários. Fornecemos
          mais do que apenas o status do patch, com exclusão automática de
          patches substituídos e inclusão de patches mais recentes. Se você
          estiver implantando em toda a sua rede ou em um único dispositivo, o
          Syxsense garante que a implantação seja o mais eficiente possível,
          economizando tempo e largura de banda da rede.
        </p>
      </div>
    </div>
    <div class="row mb-5 row-stack">
      <div class="col-md-6 title-content-steps">
        <h3>Atualizações de recursos</h3>
        <p>
          Gerencie atualizações de recursos do Windows 10 separadamente de
          outros sistemas operacionais e implantações de terceiros. Com o
          Syxsense, você pode aproveitar seus próprios ISOs para manter os
          dispositivos atualizados com versões compatíveis do Windows 10 para
          reduzir o fardo do gerenciamento de versões e garantir que você não
          perca atualizações críticas.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="/assets/img/aiqon-manage/scroll/item-4.webp"
          class="img-fluid img-steps-services"
          alt=""
        />
      </div>
    </div>

    <div class="row mb-5 row-stack last-stack row-reverse">
      <div class="col-md-6">
        <img
          src="/assets/img/aiqon-manage/scroll/item-5.webp"
          class="img-fluid img-steps-services"
          alt=""
        />
      </div>
      <div class="col-md-6 title-content-steps">
        <h3>Gerenciamento de reinicialização</h3>
        <p>
          Suprimimos as reinicializações por padrão, para que você nunca
          interrompa os usuários durante o horário de trabalho. Os gatilhos de
          tempo e atividade fornecem controle total sobre o desempenho,
          repetição e agendamento de cada tarefa de reinicialização que você
          manuseia no ambiente.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid request-service">
  <img
    src="/assets/img/aiqon-manage/waves.svg"
    class="img-waves-services"
    alt=""
  />
</div>
<div class="container-fluid content-request-service">
  {% include site/aiqon-manage/text-switching.html %} {% include
  site/aiqon-manage/trial.html title="Solicite uma demonstração"
  id="password-reset_form" %}
</div>

<style>
  .content-home-aiqon-services {
    height: 100vh;
    padding: 20vh 5vw;
    background: linear-gradient(
      90deg,
      rgba(0, 148, 164, 1) 0%,
      rgba(0, 78, 164, 1) 100%
    );
  }
  .title-medium-aiqon-services {
    font-size: 3em;
  }
  .content-home-aiqon-services p {
    font-size: 1.3em;
  }
  .content-home-aiqon-services ul li {
    list-style: none;
    margin-top: 5vh;
  }

  .circle-img-content {
    border-radius: 50%;
    background-color: white;
    height: 50vh;
    width: 25vw;
  }
  .img-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
  }
  svg {
    margin-top: 8%;
  }

  #graph_line {
    stroke-dasharray: 400;
    animation: dash 10s linear infinite reverse;
  }
  .content-fast-aiqon-manage {
  }
  .sub-title-services {
    color: gray;
    font-weight: 500;
    letter-spacing: 3px;
    margin-top: 10px;
  }
  .content-fast-aiqon-manage {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100vw;
  }
  .area {
    scroll-snap-align: start;
    height: 100vh;
  }

  /* General Styling */

  .area:nth-child(even) {
    background-color: #0db;
  }
  .area:nth-child(odd) {
    background-color: #0bd;
  }
  .content-list-manage {
    padding: 5vh 10vw;
  }
  .img-aiqon-manage {
    max-width: 60px;
    margin-bottom: 2vh;
  }
  .content-steps-services {
    padding: 10vh 10vw;
  }
  .img-steps-services {
    padding: 20px;
    border-radius: 30px;
    max-width: 80%;
    -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.28);
  }

  .title-content-steps {
    padding-top: 16vh;
  }
  .title-content-steps h3 {
    font-weight: bold;
  }
  .title-content-steps p {
    font-weight: lighter;
    padding-top: 1vh;
    width: 90%;
  }
  .content-compliance-services {
    padding: 5vh 0 5vh 0;
    background: linear-gradient(
      90deg,
      rgba(0, 148, 164, 1) 0%,
      rgba(0, 78, 164, 1) 100%
    );
    position: sticky;
    top: 10%;
    z-index: 200;
  }
  .row-stack {
    background: #f9f9f9;
    padding: 20vh 10vw -30vh 5vw;
    position: sticky;
    top: -20%;
    height: 70vh;
  }
  .last-stack {
    height: 50vh !important;
  }
  .request-service {
    position: sticky;
    top: -7%;
    background: linear-gradient(
      -90deg,
      rgba(0, 148, 164, 1) 0%,
      rgba(0, 78, 164, 1) 100%
    );
    padding: 0 !important;
    height: 60.9vh;
    z-index: 300;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
  .content-request-service {
    background: linear-gradient(
      90deg,
      rgba(0, 148, 164, 1) 0%,
      rgba(0, 78, 164, 1) 100%
    );
    max-height: 160vh;
  }
  .-footer {
    position: relative !important;
    z-index: 500 !important;
  }
  @media only screen and (max-width: 768px) {
    .content-home-aiqon-services {
      padding: 15vh 5vw;
      height: 100vh;
    }
    .list-service-hidden {
      display: none;
    }
    .content-compliance-services {
      padding: 5vh 5vw;
      top: 6%;
    }
    .content-steps-services {
      padding: 5vh 5vw;
    }
    .row-stack {
      height: 80vh;
      padding: 5vh 5vw;
      top: -50%;
    }
    .title-content-steps {
      padding-top: 1vh;
    }
    .img-steps-services {
      max-width: 100% !important;
      padding: 5px;
      border-radius: 10px;
    }
    .request-service {
      top: 6%;
      height: 300px;
    }
    .content-color-animed-mobile {
      z-index: 500;
      position: relative;
    }
    .img-waves-services {
      margin-top: 21.8vh;
    }
    .text {
      position: static;
    }
    .content-request-service {
      margin-top: -20vh;
      height: 102vh;
    }
    .device-animed {
      display: none;
    }
    .row-reverse {
      flex-wrap: wrap-reverse;
    }
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 800;
    }
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>

<script>
  function statusSceneOne() {
    let tlStatus = new TimelineMax();

    tlStatus.add("start");

    tlStatus.fromTo(
      "#i_status #window2, #window3, #window1",
      0.6,
      { scale: 0.7, opacity: 0, transformOrigin: "center" },
      { scale: 1, opacity: 1, ease: Back.easeOut.config(1.7) },
      "start"
    );

    tlStatus.add("pop");

    tlStatus.fromTo(
      "#i_status #circles, #pile_chart, #elipse5, #elipse2, #elipse3, #elipse1, #elipse4, #gear1, #gear2, #gear3",
      0.6,
      { scale: 0.7, opacity: 0, transformOrigin: "center" },
      { scale: 1, opacity: 1, ease: Back.easeOut.config(1.7) },
      "pop"
    );

    TweenMax.to("#i_status #circles #circle1", 10, {
      rotation: 360,
      transformOrigin: "center",
      repeat: -1,
      paused: false,
      ease: Power0.easeNone,
    });
    TweenMax.to("#i_status #circles #circle2", 10, {
      rotation: "360_ccw",
      transformOrigin: "center",
      repeat: -1,
      paused: false,
      ease: Power0.easeNone,
    });
    TweenMax.fromTo(
      "#i_status #pile_chart #column1",
      2,
      {
        scaleY: 1.1,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      },
      {
        scaleY: 0.8,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      }
    );
    TweenMax.fromTo(
      "#i_status #pile_chart #column2",
      1,
      {
        scaleY: 0.7,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      },
      {
        scaleY: 1.1,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      }
    );
    TweenMax.fromTo(
      "#i_status #pile_chart #column3",
      2,
      {
        scaleY: 0.8,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      },
      {
        scaleY: 1.0,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      }
    );
    TweenMax.fromTo(
      "#i_status #pile_chart #column4",
      2,
      {
        scaleY: 0.8,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      },
      {
        scaleY: 1.0,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      }
    );
    TweenMax.fromTo(
      "#i_status #pile_chart #column5",
      1,
      {
        scaleY: 1.2,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      },
      {
        scaleY: 1.0,
        transformOrigin: "bottom",
        repeat: -1,
        paused: false,
        yoyo: true,
      }
    );

    TweenMax.to("#i_status #pile_chart .cls-25", 2, {
      scaleY: 1.5,
      transformOrigin: "bottom",
      repeat: -1,
      paused: false,
      yoyo: true,
      delay: 0.4,
    });
    TweenMax.to("#i_status #gear1", 20, {
      rotation: -180,
      transformOrigin: "center",
      repeat: -1,
      paused: false,
      ease: Power0.easeNone,
      yoyo: true,
    });
    TweenMax.to("#i_status #gear2, #gear3", 20, {
      rotation: 180,
      transformOrigin: "center",
      repeat: -1,
      paused: false,
      ease: Power0.easeNone,
      yoyo: true,
    });

    moveElements();

    return tlStatus;
  }
  let masterStatus = new TimelineMax();
  masterStatus.add(statusSceneOne(), "sceneOne");

  function moveElements() {
    let tlElipse1 = new TimelineMax();

    tlElipse1.to("#elipse1", 5, {
      x: 15,
      y: 15,
      yoyo: true,
      repeat: -1,
      rotation: Math.floor(Math.random() * 20),
      paused: false,
      ease: Power0.easeNone,
    });

    let tlElipse2 = new TimelineMax();

    tlElipse2.to("#elipse2", 4, {
      x: 18,
      y: 3,
      yoyo: true,
      repeat: -1,
      rotation: Math.floor(Math.random() * 20),
      paused: false,
      ease: Power0.easeNone,
    });

    let tlElipse4 = new TimelineMax();

    tlElipse4.to("#elipse4", 3, {
      x: 23,
      y: -3,
      yoyo: true,
      repeat: -1,
      rotation: Math.floor(Math.random() * 20),
      paused: false,
      ease: Power0.easeNone,
    });
  }
</script>
