---
layout: default
title: Deep Instinct
---

<div class="container-fluid banner-deep text-white">
  <div class="container-fluid content-title">
    <div class="row flex-column">
      <div class="col-md-1">
        <img
          class="icon-green"
          src="/assets/img/deep-22/icon green.png"
          alt=""
        />
      </div>
      <div class="col-md">
        <h2 class="title-deep">Prevenção sem compromisso</h2>
        <h5 class="secondary-deep">Desenvolvido com Deep Learning</h5>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid content-features mb-5">
  <div class="row justify-content-center text-center">
    <div class="col-md-3 square-feature">
      <p class="text-features">>99%</p>
      <p class="text-features-secondary">PRECISÃO DESCONHECIDA</p>
    </div>
    <div class="col-md-3 square-feature">
      <p class="text-features"><0,1%</p>
      <p class="text-features-secondary">FALSO-POSITIVO</p>
    </div>
    <div class="col-md-3 square-feature">
      <p class="text-features"><20MS</p>
      <p class="text-features-secondary">PREVENÇÃO DE MALWARE</p>
    </div>
  </div>
</div>
<div class="container text-center mb-5">
  <div class="row justify-content-center text-center mb-5">
    <img src="/assets/img/deep-22/icon-blue.png" class="icon-blue" alt="" />
    <h5 class="mt-2" style="font-size: 18px">
      A PREVENÇÃO COMEÇA COM O APRENDIZADO PROFUNDO
    </h5>
  </div>
  <h2>Nossa diferença está em nossa abordagem</h2>
  <p>
    O Deep Instinct adota uma abordagem de prevenção em primeiro lugar para
    interromper o ransomware e outros malwares usando a primeira e única
    estrutura de segurança cibernética de aprendizado profundo desenvolvida
    especificamente para o mundo. O Deep Instinct previne ameaças desconhecidas
    com mais rapidez e eficácia do que qualquer outra solução de segurança,
    garantindo que o malware nunca seja executado em seu ambiente
  </p>
</div>
<div class="container-fluid desktop-screen mb-5">
  <div class="row justify-content-center">
    <div class="col-md-4 bandge-feature">
      <img src="/assets/img/deep-22/prevent.svg" class="img-bandge" alt="" />
      <h4>Plataforma de prevenção de instinto profundo</h4>
      <p>
        Interrompa ameaças desconhecidas antes que elas cheguem ao seu ambiente
        com a mais alta precisão e a menor taxa de falsos positivos do setor.
      </p>
      <a class="btn-bandge">Saiba mais!</a>
    </div>
    <div class="col-md-4 bandge-feature">
      <img src="/assets/img/deep-22/apps.svg" class="img-bandge" alt="" />
      <h4>Prevenção de instinto profundo para aplicativos</h4>0
      <p>
        Evite arquivos maliciosos em trânsito, carregados de aplicativos da Web,
        antes que eles cheguem ao endpoint, servidor ou entrem no armazenamento.
      </p>
      <a class="btn-bandge">Saiba mais!</a>
    </div>
    <div class="col-md-4 bandge-feature">
      <img src="/assets/img/deep-22/endpoints.svg" class="img-bandge" alt="" />
      <h4>Prevenção de instinto profundo para endpoints</h4>
      <p>
        Prevenção de arquivos maliciosos no endpoint, pré-execução verificada em
        20ms com precisão de >99%.
      </p>
      <a class="btn-bandge">Saiba mais!</a>
    </div>
  </div>
</div>
{% include site/deep/cards-interative.html %}

<div class="container">
  <div class="row justify-content-center mt-5">
    <p>
      <img src="/assets/img/deep/icon-deep.svg" class="icon-letter" alt="" />
      <b>NOSSOS CLIENTES FALARAM</b>
    </p>
    <br />
  </div>
  <h2 class="text-center">Por que eles confiam em nós</h2>
  <div class="row content-review justify-content-center text-center mt-5">
    <div class="col-md-4">
      <img class="review-img" src="/assets/img/deep-22/gartner.webp" alt="" />
      <br />
      <a
        target="_blank"
        href="https://www.gartner.com/peer-insights/login/reviews?TARGET=https%3A%2F%2Fwww.gartner.com%2Fapi%2Fauth%2Fauthorize%3Fresponse_type%3Dcode%26client_id%3Dpi-reviews-web%26state%3D53XZdzmmgQoX2MyPRbyXzoty2_Q3WRw9U_NJVfBncBY%26redirect_uri%3Dhttps%3A%2F%2Fwww.gartner.com%2Freviews%2Fauth%2Fauthorize-completed%26code_challenge%3Di9ihHbINtd5YdRfxFjyjFgqp9wlZ_g7GqqHlVjqTkvI%26code_challenge_method%3Ds256%26step%3D"
        >Envie uma avaliação</a
      >
    </div>
    <div class="col-md-4">
      <img
        class="review-img"
        style="max-width: 50px"
        src="/assets/img/deep-22/like.svg"
        alt=""
      />
      <br />
      <a
        target="_blank"
        href="https://www.gartner.com/reviews/market/endpoint-protection-platforms/vendor/deep-instinct?utm_source=deep-instinct&utm_medium=referral&utm_campaign=widget&utm_content=MzE4NjczMWItNDI3MS00MzA5LTkwOTEtYWE2MWFhODI0M2Ey"
        >Recomendar</a
      >
    </div>
    <div class="col-md-4">
      <img class="review-img" src="/assets/img/deep-22/rating.svg" alt="" />
      <br />
      <br />
      <a
        target="_blank"
        href="https://www.gartner.com/reviews/market/endpoint-protection-platforms/vendor/deep-instinct?utm_source=deep-instinct&utm_medium=referral&utm_campaign=widget&utm_content=MzE4NjczMWItNDI3MS00MzA5LTkwOTEtYWE2MWFhODI0M2Ey"
      >
        Mais classificações</a
      >
    </div>
  </div>
</div>
<div class="container-fluid mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-2 content-notes">
      <img class="mx-1" src="/assets/img/deep-22/quotes.svg" alt="" />
      <p class="font-italic mt-4">
        Com o aumento do trabalho remoto, sabíamos que nossa segurança de
        endpoint existente não seria suficiente para lidar com ataques de dia
        zero e ameaças de malware desconhecidas. Com base em nossa experiência
        anterior, acreditamos que o Deep Instinct é a solução antivírus de
        próxima geração mais promissora.
      </p>
      <div class="row notes-author">
        <p class="txt-author">
          MASAKATSU NEMOTO, GENERAL MANAGER, IT PLANNING DIVISION, SEIKO
          HOLDINGS GROUP
        </p>
      </div>
    </div>
    <div class="col-md-2 content-notes">
      <img class="mx-1" src="/assets/img/deep-22/quotes.svg" alt="" />
      <p class="font-italic mt-4">
        Antes do Deep Instinct, mais de 40% dos recursos da nossa equipe SOC
        eram consumidos por uma sobrecarga de AV e alertas falsos positivos. A
        prevenção de pré-execução eliminou esforços desperdiçados e minimizou
        drasticamente nossos falsos positivos em 95% relacionados a alertas de
        proteção de ponto final.
      </p>
      <div class="row notes-author">
        <p class="txt-author">
          AKASH MITTAL, GENERAL MANAGER TECHNOLOGY & SECURITY, EQUITY TRUSTEES
        </p>
      </div>
    </div>
    <div class="col-md-2 content-notes">
      <img class="mx-1" src="/assets/img/deep-22/quotes.svg" alt="" />
      <p class="font-italic mt-4">
        Selecionamos o Deep Instinct por sua abordagem única de pré-execução
        para interromper rapidamente as ameaças antes que elas aconteçam. É uma
        solução eficaz em termos de prevenção de ataques de dia zero. Suas
        baixas taxas de falsos positivos são garantidas. É fácil de usar e
        consome menos tempo para nossa organização de TI, dando-lhes tempo de
        volta para trabalhar em projetos maiores.
      </p>
      <div class="row notes-author">
        <p class="txt-author">
          SANTHOSH SAMUEL, PMP, SYSTEMS ARCHITECT, INFORMATION SYSTEMS SERVICES
          AT PALM BEACH COUNTY
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid py-5" style="background-color: white">
  <div class="row justify-content-center mt-5">
    <p class="title-customers">
      <img src="/assets/img/deep/icon-deep.svg" class="icon-letter" alt="" />
      <b>UMA ABORDAGEM VISIONÁRIA PARA A SEGURANÇA CIBERNÉTICA</b>
    </p>
    <br />
  </div>
  <h2 class="text-center">Apoiado pelos principais investidores.</h2>
</div>

{% include site/deep/customers.html %} {% include site/trial.html
title="Solicite uma demonstração" id="Deep Instinct" %}

<style>
  .banner-deep {
    background: url(/assets/img/deep-22/bg-deep-22.png);
    background-size: cover;
    height: 100vh;
    padding-top: 20vh;
  }
  .content-title {
    padding-left: 5vw;
  }
  .icon-blue {
    max-width: 40px;
    margin-right: 0.5vw;
  }
  .icon-green {
    max-width: 120px;
    margin-top: 5vh;
  }
  .title-deep {
    font-size: 8rem;
  }
  .secondary-deep {
    font-size: 2rem;
  }
  .content-features {
    margin-top: -12vh;
  }
  .text-features {
    color: blue;
    font-size: 3.5rem;
    font-weight: lighter;
  }
  .text-features-secondary {
    font-weight: bold;
  }
  .square-feature {
    background-color: #deff5b;
    margin: 50px;
    max-width: 18vw;
    height: 15vh;
  }
  .bandge-feature {
    background: linear-gradient(
      0deg,
      rgba(222, 255, 91, 1) 0%,
      rgba(255, 255, 255, 1) 1%
    );
    border-radius: 1px;
    margin: 20px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
    height: 45vh;
    padding: 25px;
    max-width: 18vw;
  }
  .img-bandge {
    max-width: 50px;
    margin-bottom: 3vh;
  }
  .btn-bandge {
    position: absolute;
    bottom: 10px;
    right: 15px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
  }
  .icon-letter {
    width: 1.5vw;
  }

  .content-review {
    border-top: 2px solid #deff5b;
    border-bottom: 2px solid #deff5b;
    padding: 5vh 0 5vh 0;
  }
  .review-img {
    max-width: 150px;
    padding-top: 3vh;
  }
  .content-notes {
    border-radius: 10px;
    padding: 40px;
    background-color: white;
    margin: 15px;
    min-height: 60vh;
    -webkit-box-shadow: 3px 3px 1px -1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 3px 3px 1px -1px rgba(0, 0, 0, 0.09);
    box-shadow: 3px 3px 1px -1px rgba(0, 0, 0, 0.09);
  }
  .notes-author {
    position: absolute;
    bottom: 0;
  }
  .txt-author {
    font-weight: bold;
    font-size: 12px;
    color: gray;
    margin-left: -1vw;
  }

  @media only screen and (max-width: 1024px) {
    .icon-letter {
      width: 8vw;

    }
    .title-customers{
      text-align: center;
      font-weight: bold;
      font-size: 0.7em;

    }
    .content-features {
      flex-direction: column-reverse;
      align-content: center;
      flex-wrap: nowrap;
    }

    .square-feature {
      margin: 5px;
      max-width: 26vw;
      padding-top: 3vh;
    }
    .banner-deep {
      padding-top: 5vh;
      height: 70vh;
    }
    .content-title {
      padding-left: 0;
    }
    .title-deep {
      font-size: 2.5rem;
      margin-top: 9vh;
    }
    .secondary-deep {
      font-size: 1.3rem;
      margin-top: 4vh;
    }
    .text-features {
      font-size: 1.2rem;
    }
    .text-features-secondary {
      font-size: 0.6rem;
    }
    .bandge-feature {
      max-width: 100vh;
    }
  }
</style>
