---
layout: default
---

 {% include site/home/home.html %} {% include
site/home/home_mobile.html %}

<!--
<div class="container-fluid -aiqon">
  <div class="row">
    <div
      class="col d-flex flex-column align-items-center justify-content-center"
    >
      <h1 class="text-white">
        A <span class="text-bolder">AIQON</span> oferece soluções para
        <span
          class="typer"
          id="main"
          data-words="eficiência.,economia.,gestão.,segurança."
          data-delay="100"
          data-deleteDelay="1000"
        ></span>
        <span class="cursor" data-owner="main"></span>
      </h1>
    </div>
  </div>
  <script src="assets/js/typer.js"></script>
</div>
-->
<div class="container-fluid -slides d-flex align-items-center">
  <div class="row py-5">
    <div class="col-lg-12">
      <div
        id="slide-solutions"
        class="carousel slide mx-auto"
        data-ride="carousel"
      >
        <div class="carousel-inner px-5">
          <div class="carousel-item active">
            <div class="row">
              <div class="col d-flex flex-column justify-content-center">
                <img
                  class="mx-auto d-block py-3 logo logo-slide-home"
                  src="/assets/img/common/lgpd_teal.svg"
                  alt="Primeiro slide: LGPD"
                />
                <h1 class="text-center">Lei Geral de Proteção de dados</h1>
                <p class="text-center mx-auto text-sm text-secondary">
                  Nosso sistema está pronto para proteger informações
                  corporativas da sua empresa dentro de todos os requisitos da
                  LGPD.
                </p>
                <p class="text-center mx-auto text-sm text-secondary">
                  Framework de adequação de acordo com as características e
                  bases legais e regulatórias de cada segmento.
                </p>
              </div>
            </div>
            <div class="row py-3">
              <div
                class="col d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  src="/assets/img/compliance/lgpd/juridico.svg"
                  class="py-2"
                  alt="Auditoria."
                />
                <h5>Jurídico</h5>
              </div>
              <div
                class="col d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  src="/assets/img/compliance/lgpd/processos.svg"
                  class="py-2"
                  alt="Segurança."
                />
                <h5>Processos</h5>
              </div>
              <div
                class="col d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  src="/assets/img/compliance/lgpd/tecnico.svg"
                  class="py-2"
                  alt="Produtividade."
                />
                <h5>Técnico</h5>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center py-2">
                <a href="/lgpd" class="btn btn-aiq btn-lg">Saiba mais</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col d-flex flex-column justify-content-center">
                <img
                  class="mx-auto d-block py-3 logo"
                  src="/assets/img/common/classification_data.svg"
                  alt="Primeiro slide: Netwrix Auditor"
                />
                <h1 class="text-center">Descoberta e Classificação de Dados</h1>
                <p class="text-center mx-auto text-sm text-secondary">
                  Identifique fontes potenciais de dados armazenados para
                  direcionar a descoberta de dados
                </p>
                <p class="text-center mx-auto text-sm text-secondary">
                  Relatórios completos e personalizáveis.
                  <b>LGPD, PCI DSS, SOX </b> e outras certificações mais
                  rapidamente e com menor custo.
                </p>
              </div>
            </div>
            <div class="row py-3">
              <div
                class="col d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  src="/assets/img/ndc/visibility_teal.svg"
                  class="py-2"
                  alt="Descoberta"
                />
                <h5>Descoberta e Classificação</h5>
              </div>
              <div
                class="col d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  src="/assets/img/ndc/identify_teal.svg"
                  class="py-2"
                  alt="Análise"
                />
                <h5>Análise de Dados</h5>
              </div>
              <div
                class="col d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  src="/assets/img/ndc/chart_teal.svg"
                  class="py-2"
                  alt="Compliance."
                />
                <h5>Categorização por Compliance</h5>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center py-2">
                <a href="/classificacao-de-dados/" class="btn btn-aiq btn-lg"
                  >Saiba mais</a
                >
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col d-flex flex-column justify-content-center">
                <img
                  id="logo_syxsense"
                  class="mx-auto d-block logo"
                  src="/assets/img/common/cloud-computing.svg"
                  alt="Primeiro slide: Syxsense"
                />
                <h1 class="text-center">Detecção e Resposta em Cloud - CDR</h1>
                <p class="text-center mx-auto text-sm text-secondary">
                  Detecte ameaças, corrija violações e reforce a segurança nos
                  aplicativos SaaS rapidamente, com monitoramento e análise
                  contínuos sem diminuir a velocidade dos negócios.
                </p>
              </div>
            </div>
            <div class="row py-3">
              <div
                class="col d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  src="/assets/img/common/account.svg"
                  class="py-2"
                  alt="Distribuição de software."
                />
                <h5>Proteção de contas</h5>
              </div>
              <div
                class="col d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  src="/assets/img/common/detective.svg"
                  class="py-2"
                  alt="Detecção; "
                />
                <h5>Descoberta e combate a ameaças</h5>
              </div>
              <div
                class="col d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  src="/assets/img/common/attention.svg"
                  class="py-2"
                  alt="Autenticação."
                />
                <h5>Resposta a incidentes</h5>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center py-2">
                <a href="/cdr" class="btn btn-aiq btn-lg">Saiba mais</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col d-flex flex-column justify-content-center">
                <img
                  class="mx-auto d-block py-3 logo"
                  src="/assets/img/common/taget.svg"
                  alt="Scan"
                />
                <h1 class="text-center">Scanner de Vulnerabilidade</h1>
                <p class="text-center mx-auto text-sm text-secondary">
                  Evite ataques de segurança cibernética verificando problemas
                  de autorização, implementação de segurança e status de
                  antivírus. Informações sobre configurações incorretas do
                  sistema operacional e violações de conformidade reduzem sua
                  superfície de ataque e aumentam a tranquilidade.
                </p>
              </div>
            </div>
            <div class="row py-3">
              <div
                class="col d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  src="/assets/img/common/open-door.svg"
                  class="py-2"
                  alt="Economize energia."
                />
                <h5>Port Scanners</h5>
              </div>
              <div
                class="col d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  src="/assets/img/common/tool.svg"
                  class="py-2"
                  alt="Gerencie melhor seu parque de computadores."
                />
                <h5>Serviços RPC</h5>
              </div>
              <div
                class="col d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  src="/assets/img/common/morereports.svg"
                  class="py-2"
                  alt="Dezenas de relatórios."
                />
                <h5>Relatórios Customizáveis</h5>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center py-2">
                <a href="/scan-de-vulnerabilidade/" class="btn btn-aiq btn-lg"
                  >Saiba mais</a
                >
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col d-flex flex-column justify-content-center">
                <img
                  class="mx-auto d-block py-3 logo"
                  src="/assets/img/common/audit.svg"
                  alt="Auditoria"
                />
                <h1 class="text-center">Auditoria de Alterações</h1>
                <p class="text-center mx-auto text-sm text-secondary">
                  Se você não tem visibilidade de quem mudou o quê, quando e
                  onde cada alteração foi feita e a configuração atual de seus
                  sistemas, é apenas uma questão de tempo até que sua
                  organização sofra uma interrupção do sistema ou violação de
                  dados.
                </p>
              </div>
            </div>
            <div class="row py-3">
              <div
                class="col d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  src="/assets/img/common/files.svg"
                  class="py-2"
                  alt="Proteção de contas"
                />
                <h5>Alterações de arquivos</h5>
              </div>
              <div
                class="col d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  src="/assets/img/common/change_database.svg"
                  class="py-2"
                  alt="Resposta a incidentes"
                />
                <h5>Alterações em Bancos de Dados</h5>
              </div>
              <div
                class="col d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  src="/assets/img/common/router.svg"
                  class="py-2"
                  alt="Ameaças Internas"
                />
                <h5>Alterações em dispositivos de rede</h5>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center py-2">
                <a href="/auditoria-de-alteracoes/" class="btn btn-aiq btn-lg"
                  >Saiba mais</a
                >
              </div>
            </div>
          </div>
          <!-- <div class="carousel-item">
            <div class="row">
              <div class="col d-flex flex-column justify-content-center">
                <img
                  class="mx-auto d-block py-3 logo"
                  src="/assets/img/common/firewall.svg"
                  alt="Primeiro slide: Obsidian Security"
                />
                <h1 class="text-center">Web Application Firewall - WAF</h1>
                <p class="text-center mx-auto text-sm text-secondary">
                  WAF Proxima Geração
                </p>
                <p class="text-center mx-auto text-sm text-secondary">
                  Um escudo protetor para seus ativos da web, de forma robusta,
                  abrangente e certificada pelo PCI DSS. Protegemos a sua
                  aplicação contra todas as vulnerabilidades no OWASP Top 10 e
                  muito mais.
                </p>
              </div>
            </div>
            <div class="row py-3">
              <div
                class="col d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  src="/assets/img/reblaze/analise.svg"
                  class="py-2"
                  alt="WAF de Próxima Geração"
                />
                <h5>Análise Comportamental</h5>
              </div>
              <div
                class="col d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  src="/assets/img/reblaze/ddos.svg"
                  class="py-2"
                  alt="Proteção Contra DoS E DDoS"
                />
                <h5>DNS Exploits</h5>
              </div>
              <div
                class="col d-flex flex-column justify-content-center align-items-center"
              >
                <img
                  src="/assets/img/reblaze/waf.svg"
                  class="py-2"
                  alt="Análise Comportamental"
                />
                <h5>Lista de permissões de apps</h5>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center py-2">
                <a href="/waf" class="btn btn-aiq btn-lg">Saiba mais</a>
              </div>
            </div>
          </div> -->
        </div>
        <ol class="carousel-indicators">
          <li
            data-target="#slide-solutions"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#slide-solutions" data-slide-to="1"></li>
          <li data-target="#slide-solutions" data-slide-to="2"></li>
          <li data-target="#slide-solutions" data-slide-to="3"></li>
          <li data-target="#slide-solutions" data-slide-to="4"></li>
          <!-- <li data-target="#slide-solutions" data-slide-to="5"></li>-->
        </ol>
      </div>
    </div>
  </div>
</div>
{% include site/deal.html %} {% include site/customers.html %} {% include
site/trial.html title="Solicite uma demonstração" id="home_form" %} {% include
site/js/collapsible.html %}


<style>
  .logo-slide-home{
    position: unset !important;
    display: flex !important;
    align-self: center !important;
    margin: 0 !important;
  }
</style>