---
layout: default
title: Netwrix Usercube
---

<div class="container-fluid change-tracker-background">
  <div class="row justify-content-between">
    <div class="col-md-6">
      <h1 class="title-netwrix-solution">NETWRIX USERCUBE</h1>
      <h2>PROTEJA SUAS IDENTIDADES PARA PROTEGER SEUS DADOS</h2>
      <a href="#trial-usercube" class="btn btn-change-tracker"
        >Solicitar Demonstração</a
      >
    </div>
    <div class="col-md">
      <img
        class="img-home-change img-fluid"
        src="/assets/img/usercube/Usercube_cloud.png"
        alt="cloud-security"
      />
    </div>
  </div>
</div>
<div class="container text-center py-5">
  <h2 class="title-secondary-netwrix py-5">
    Solução IGA baseada em SaaS para automatizar, governar e controlar suas
    identidades corporativas
  </h2>
  <p class="text-description-netwrix py-4">
    O Usercube fornece governança e administração de identidade (IGA) voltada
    diretamente para resolver os problemas de segurança, conformidade e
    produtividade associados a ingressantes, mudanças e saídas. Ao automatizar
    esse problema desafiador com uma solução totalmente SaaS, as organizações
    podem ficar mais tranquilas sabendo que os usuários são produtivos mais
    cedo, os dados são protegidos mais rapidamente e os auditores ficam
    entusiasmados com ambos.
  </p>
</div>

{% include site/usercube/tabs.html %}

<div class="container-fluid container-feature-netwrix-products">
  <h2 class="title-secondary-netwrix text-center mb-5"></h2>
  <div class="row mt-5 py-5">
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/get_to_secure_faster.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Garanta a confiança digital
      </h5>
      <p class="desc-features-netwrix-products">
        A IGA reúne todos os processos da sua organização para permitir que cada
        indivíduo identificado tenha os direitos de acesso corretos no momento
        certo pelos motivos certos.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/pas_audit.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Passe em auditorias de conformidade de segurança com facilidade
      </h5>
      <p class="desc-features-netwrix-products">
        Usercube constrói um repositório de organizações, sites, usuários e
        recursos, de diferentes fontes, para se tornar o local centralizado para
        informações confiáveis ​​e exaustivas.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/who-what.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Informe as pessoas certas em tempo real
      </h5>
      <p class="desc-features-netwrix-products">
        Certifique-se de que todos os departamentos estejam cientes das últimas
        mudanças organizacionais. Garanta rastreabilidade e conformidade.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/control-change.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Crie fluxos de trabalho personalizados
      </h5>
      <p class="desc-features-netwrix-products">
        Cada usuário pode fazer uma solicitação para obter, modificar ou revogar
        direitos de acesso ou equipamentos para os usuários em seu escopo. Os
        fluxos de trabalho permitem que você envie a solicitação às pessoas
        apropriadas para obter aprovação e/ou iniciar o processamento da
        solicitação o mais rápido possível.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/keep-safe.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Detectar mudanças em tempo real
      </h5>
      <p class="desc-features-netwrix-products">
        O Usercube detecta alterações nos repositórios de usuários ou recursos e
        aciona fluxos de trabalho para criar, modificar, arquivar ou excluir
        dados. Esta reconciliação pode ser feita em tempo real ou de forma
        programada.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/data-sensive.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Certificar direitos de acesso
      </h5>
      <p id="trial-usercube" class="desc-features-netwrix-products">
        O Usercube permite a verificação de conformidade dos direitos de acesso
        concedidos com base nas regras em vigor para sua organização. Os
        direitos de acesso concedidos anteriormente são recolhidos e analisados,
        o que lhe permite identificar imediatamente as lacunas entre as suas
        expectativas e a realidade.
      </p>
    </div>
  </div>
</div>

{% include site/trial.html title="Solicite uma demonstração"
id="change-tracker_form" %}

<style>
  html {
    scroll-behavior: smooth;
  }
  .change-tracker-background {
    background-color: #010a59;
    padding: 20vh 0 15vh 15vw;
  }
  .change-tracker-background h2 {
    font-size: 3.5em;
    color: white;
    font-weight: bold;
    margin-bottom: 10vh;
  }
  .title-netwrix-solution {
    font-size: 15px;
    color: white;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 2vh;
  }
  .icon-img-change {
    max-width: 4vw;
  }
  .img-home-change {
    margin-right: -5vw;
  }
  .btn-change-tracker {
    width: 15vw;
    height: 6vh;
    background-color: red;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    font-weight: 500;
  }
  .btn-change-tracker:hover {
    background-color: #0778f4;
    color: white;
    transition: 0.5s;
  }

  .title-secondary-netwrix {
    font-size: 2.5em;
  }
  .text-description-netwrix {
    color: gray;
    font-size: 1.1em;
  }
  .title-features-netwrix-products {
    font-size: 1em;
    letter-spacing: 1px;
  }
  .container-feature-netwrix-products {
    padding: 10vh 15vw;
  }

  .desc-features-netwrix-products {
    max-width: 18vw;
  }
  .icon-img-change {
    margin-bottom: 40px;
  }
  .img-customers-change {
    max-width: 8vw;
  }
  .small-title-customers {
    font-size: 13px;
    color: #0778f4;
    font-weight: 500;
    margin-bottom: 3vh;
  }
  .change-customers {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
  }
  .desc-change-customers {
  }

  @media only screen and (max-width: 990px) {
    .change-tracker-background {
      height: 100vh;
    }
    .change-tracker-background h2 {
      font-size: 2em;
      margin-bottom: 5vh;
    }
    .change-tracker-background {
      padding: 15vh 0 5vh 2vw;
    }
    .btn-change-tracker {
      width: 50vw;
      height: 5vh;
      font-size: 14px;
      padding: 9px;
    }
    .img-home-change {
      margin-top: 10vh;
    }
    .icon-img-change {
      max-width: 20vw;
    }
    .desc-features-netwrix-products {
      max-width: 80vw;
      margin-bottom: 10vh;
    }
    .title-secondary-netwrix {
      font-size: 2em;
    }
    .img-customers-change {
      max-width: 30vw;
    }
    .small-title-customers {
      margin-bottom: 1vh;
    }
  }
</style>
