---
layout: default
title: Segurança de Servidores e Endpoints
---

<head>
  <meta
    name="description"
    content="A Proxima Geração de Segurança de Servidores e Endpoints com a AIQON."
  />
</head>

<div class="container-fluid content-building">
  <div class="container text-center">
    <h1>Segurança de Servidores e Endpoints</h1>
    <br />
    <p>Proxima geração de cyber security com a AIQON</p>
  </div>

  <div class="container-fluid content-server">
    <div class="row justify-content-center">
      <div class="col-lg-2 card-server text-center">
        <img
          src="/assets/img/server-security/icons/economy.svg"
          class="img-fluid img-server"
          alt="Economia"
        />
        <p class="mt-5 text-teal"><b>Economia</b></p>
      </div>
      <div class="col-lg-2 card-server text-center">
        <img
          src="/assets/img/server-security/icons/efficiency.svg"
          class="img-fluid img-server"
          alt="Eficiência"
        />
        <p class="mt-5 text-teal"><b>Eficiência</b></p>
      </div>
      <div class="col-lg-2 card-server text-center">
        <img
          src="/assets/img/server-security/icons/disrup.svg"
          class="img-fluid img-server"
          alt="Disruptividade"
        />
        <p class="mt-5 text-teal"><b>Disruptividade</b></p>
      </div>
      <div class="col-lg-2 card-server text-center">
        <img
          src="/assets/img/server-security/icons/trust.svg"
          class="img-fluid img-server"
          alt="Segurança de Servidores e Endpoints"
        />
        <p class="mt-5 text-teal"><b>Confiabilidade</b></p>
      </div>
    </div>
  </div>
  <h2 class="text-center mb-5">
    Ofereça a melhor Segurança de Servidores e Endpoints <br />
    para a sua organização
  </h2>
  {% include site/server-security/menu.html %} {% include
  site/server-security/menu_mobile.html %}
</div>
<div class="container-fluid -solution content-scan py-5">
  <h2 class="text-center text-white">Scan de vulnerabilidades</h2>
  <p class="text-white text-center py-3">
    A Segurança de Servidores e Endpoints garantida com a eliminação de qualquer
    brecha que possa oferecer perigo para seus dispositivos
  </p>
  <div class="row mw-1200 mx-auto py-5">
    <div
      class="col-md-12 col-lg-4 justify-content-center align-items-center py-3"
    >
      <img
        src="/assets/img/server_security/icons/port.svg"
        style="width: 130px; padding: 15px"
        class="p-2 align-self-center"
        alt="Portas"
      />
      <h5 style="color: white">PORT SCANNERS</h5>
      <h6 class="text-white text-bolder p-2">
        Determine quais portas TCP / UDP estão abertas e conhecidas por explorar
        bugs no sistema operacional. Os resultados disso incluirão detalhes do
        CVE para as ameaças colocadas.
      </h6>
    </div>
    <div
      class="col-md-12 col-lg-4 justify-content-center align-items-center py-3"
    >
      <img
        src="/assets/img/server_security/icons/key.svg"
        style="width: 130px"
        class="p-2 align-self-center"
        alt="Chave"
      />
      <h5 style="color: white">ATAQUES DE FORÇA BRUTA</h5>
      <h6 class="text-white text-bolder p-2">
        Usando uma lista de senhas conhecidas, cada usuário local será
        verificado e marcado se alguma das contas de usuário tiver uma senha em
        branco ou uma da lista conhecida.
      </h6>
    </div>
    <div
      class="col-md-12 col-lg-4 justify-content-center align-items-center py-3"
    >
      <img
        src="/assets/img/server_security/icons/check.svg"
        style="width: 130px"
        class="p-2 align-self-center"
        alt="Alternativa"
      />
      <h5 style="color: white">POLÍTICAS DO USUÁRIO DO WINDOWS</h5>
      <h6 class="text-white text-bolder p-2">
        Tratado com uma lista de verificações executadas nas contas de usuário
        local para verificar se não existem vulnerabilidades conhecidas que
        possam ser expostas facilmente.
      </h6>
    </div>
    <div
      class="col-md-12 col-lg-4 justify-content-center align-items-center py-3"
    >
      <img
        src="/assets/img/server_security/icons/snmp.svg"
        style="width: 130px"
        class="p-2 align-self-center"
        alt="Segurança de Servidores e Endpoints"
      />
      <h5 style="color: white">PORTAS SNMP</h5>
      <h6 class="text-white text-bolder p-2">
        Veja quais portas SNMP estão abertas e conhecidas por explorar bugs no
        sistema operacional. Os resultados disso incluirão detalhes do CVE para
        as ameaças colocadas.
      </h6>
    </div>
    <div
      class="col-md-12 col-lg-4 justify-content-center align-items-center py-3"
    >
      <img
        src="/assets/img/server_security/icons/rpc.svg"
        style="width: 130px"
        class="p-2 align-self-center"
        alt="Segurança de Servidores e Endpoints"
        
      />
      <h5 style="color: white">SERVIÇOS RPC</h5>
      <h6 class="text-white text-bolder p-2">
        Descubra quais serviços RPC estão em execução e que são conhecidos por
        explorar bugs do SO. Os resultados incluirão detalhes do CVE para as
        ameaças determinadas.
      </h6>
    </div>
    <div
      class="col-md-12 col-lg-4 justify-content-center align-items-center py-3"
    >
      <img
        src="/assets/img/server_security/icons/compliance.svg"
        style="width: 130px"
        class="p-2 align-self-center"
        alt="Segurança de Servidores e Endpoints"
      />
      <h5 style="color: white">CONFORMIDADE</h5>
      <h6 class="text-white text-bolder p-2">
        Detecte elementos de segurança dos dispositivos que passam ou não nos
        requisitos do PCI DSS.
      </h6>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3 text-center">
      <a class="btn btn-security" href="/scan-de-vulnerabilidade/"
        >Saiba mais!</a
      >
    </div>
  </div>
</div>
{% include site/customers.html %}

<style>
  .content-scan {
    background: url("/assets/img/server-security/particle.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-building {
    background: url("/assets/img/server-security/background.webp") no-repeat
      center;
    background-size: cover;
    padding-top: 20vh;
    color: white;
  }
  .card-server {
    background-color: #19191a;
    margin: 10px;
    padding: 30px;
    width: 100%;
  }

  .content-server {
    padding-top: 30vh;
    padding-bottom: 11vh;
  }
</style>
