<div class="container-fluid margin-special">
  <div class="row">
    <div class="col-md-4 mb-3 mb-3">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front card-first">
            <p>Reduza mais de 90% das ameaças que sua equipe lida</p>
          </div>
          <div class="flip-card-back">
            <p>
              Interrompa as ameaças, independentemente do das habilidades e
              ferramentas sua equipe
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Isolamento do navegador</p>
          </div>
          <div class="flip-card-back">
            <p>Isolamento completo do navegador sem triagem de VMs</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Funciona mesmo em sistemas legados</p>
          </div>
          <div class="flip-card-back">
            <p>
              Sem pré-requisitos Sem reinicialização Sem tempo de inatividade
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4 mb-3">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Nunca pague resgate</p>
          </div>
          <div class="flip-card-back">
            <p>
              Totalmente automatizada, reduza drasticamente seu custo
              operacional de segurança
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Zero Touch</p>
          </div>
          <div class="flip-card-back">
            <p>Não seja o próximo</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>BYOB - Trabalhe em casa com segurança</p>
          </div>
          <div class="flip-card-back">
            <p>
              Proteção de endpoint sem instalação para dispositivos não
              gerenciados sem comprometer a privacidade dos usuários
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 150px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 8px;
    font-size: 18px;
    border-top: solid 15px #f05045;
    color: white;
  }

  .flip-card-front {
    background-color: #3b3b3b;
    color: white;
    padding: 35px;
    font-size: 20px;
    border-top: solid 15px #00adba;
  }

  .card-first {
    padding-top: 25px;
  }

  .flip-card-back {
    background-color: #3b3b3b;
    color: white;
    transform: rotateY(180deg);
  }
  .buttons-static{
    margin-left: -0.9vw !important;
  }

  @media screen and (max-width: 990px) {
    .margin-special {
     
    }
    .buttons-static{

      margin-left: 0 !important;

    }
  }
</style>
