---
layout: default
title: Gestão de Computação Distribuida
---

<head>
  <meta
    name="description"
    content="Gestão de Computação Distribuida em todos os seus sistemas e nos Clouds que você já confia."
  />
</head>

<div class="container-fluid content-dist">
  <div class="container">
    <h1 class="text-center text-white">Gestão de Computação Distribuida</h1>
  </div>
 
</div>
{% include site/comp_dist/tab_h.html %}
  {% include site/comp_dist/tab_h_mobile.html %}

{% include site/customers.html %}

<style>
  .content-dist {
    background: url("/assets/img/comp_dist/background_dist.webp") center
      no-repeat;
    background-size: cover;
    height: 50vh;
    padding-top: 15vh;
    color: gray;
  }
  .btn-security {
    border: 1px solid teal;
    color: teal;
  }
  .btn-security:hover {
    background-color: teal;
    color: white;
  }
</style>
