//brands
$obs: #0F89A2;
$teal: #0094a9;
$color-netwrix: rgb(209, 30, 30);
$color-cms: #0175ee;
$color-vpm: #57A674;
//extras
$darkblue: #0d72b9;
$lightblue: #dfeffc;
$gray: #666666;
$whitesmoke: #f9f9f9;