<div class="container-fluid -modulosreb py-5" id="mod">
    <div class="row pb-3">
        <div class="col text-center ">
            {% if page.title == 'Netwrix Auditor' %}
            <h3 class="text-blueobs">Nuvens de primeira linha. Segurança máxima</h3><br>
            {% else %}
            <h3 class="text-blueobs">Nuvens de primeira linha. Segurança máxima</h3><br>
            {% endif %}
            <p style="font-size: 18px; color: rgb(87, 87, 87);">O Reblaze está totalmente integrado aos 
                provedores de nuvem de primeira linha: AWS, Azure e Google. (Outras soluções em nuvem são 
                executadas em infraestrutura própria, que não pode corresponder aos níveis mais altos em 
                termos de desempenho e confiabilidade.) 
                <br>
                <br>
                Com o Reblaze, você pode processar e limpar seu tráfego exclusivamente 
                dentro de suas nuvens - as nuvens em que você já confia para seus outros 
                processos de negócios. (Outras soluções em nuvem descriptografam seus dados 
                para análise, processando-os e frequentemente armazenando-os em seus servidores.)</p>
        </div>
        <br>
        <br>
    </div>
    
    <div class="row row-datasourcereb">
        <a 
            class="col solution-datasourcereb d-flex align-items-center justify-content-between"style="height: 58px;">
            <img src="/assets/img/obsidian/modules/google.svg" class="align-self-center">
            <p>Portal Google</p>
        </a>
        <a 
        class="col solution-datasourcereb d-flex align-items-center justify-content-between" style="height: 58px;">
        <img src="/assets/img/obsidian/modules/aws.png" class="align-self-center">
        <p>Portal AWS</p>
    </a>
    <a class="col solution-datasourcereb d-flex align-items-center justify-content-between"style="height: 58px;">
        <img src="/assets/img/obsidian/modules/azure.svg" class="align-self-center">
        <p>Portal Azure</p>
    </a>
    </div>
   
</div>
<style>
    #mod{
        
        background-position: top;
    }
</style>
