<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title mb-5 text-center text-white"></h2>

          <div class="hori-timeline" dir="ltr">
            <ul class="list-inline events">
              <li class="list-inline-item event-list">
                <div class="px-1">
                  <img
                    class="img-fluid"
                    src="/assets/img/reblaze/trafic.webp"
                    alt=""
                  />
                  <h5 class="font-size-16 text-white">
                    Tráfego de entrada da Web
                  </h5>
                  <p class="text-white">
                    <br />
                    <br />
                  </p>
                </div>
              </li>
              <li class="list-inline-item event-list">
                <div class="px-1">
                  <img
                    class="img-fluid"
                    src="/assets/img/reblaze/cloud.webp"
                    alt=""
                  />
                  <h5 class="font-size-16 text-white">Cloud CDN</h5>
                  <p class="text-white">
                    acelera a entrega de conteúdo e a capacidade de resposta do
                    site
                  </p>
                </div>
              </li>
              <li class="list-inline-item event-list">
                <div class="px-1">
                  <img
                    class="img-fluid"
                    src="/assets/img/reblaze/cloudCharge.webp"
                    alt=""
                  />
                  <h5 class="font-size-16 text-white">
                    Balanceamento de carga da nuvem
                  </h5>
                  <p class="text-white">
                    Distribui auto-maticamente cargas de trabalho entre recursos
                  </p>
                </div>
              </li>
              <li class="list-inline-item event-list">
                <div class="px-1">
                  <img
                    class="img-fluid"
                    src="/assets/img/reblaze/reblaze_proxy.webp"
                    alt=""
                  />
                  <h5 class="font-size-16 text-white">Reblaze Proxy</h5>
                  <p class="text-white">
                    Bloqueia o tráfego hostil, com recursos redimensiona-dos
                    conforme necessário
                  </p>
                </div>
              </li>
              <li class="list-inline-item event-list">
                <div class="px-1">
                  <img
                    class="img-fluid"
                    src="/assets/img/reblaze/web_plataform.webp"
                    alt=""
                  />
                  <h5 class="font-size-16 text-white">Sua plataforma da Web</h5>
                  <p class="text-white">
                    <br />
                    <br />
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end card -->
    </div>
  </div>
</div>

<style>
  .img-fluid {
    margin-bottom: 20px;
  }

  .hori-timeline .events {
    border-top: 3px solid #e9ecef;
  }
  .hori-timeline .events .event-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
  }
  .hori-timeline .events .event-list:before {
    content: "";
    position: absolute;
    height: 50px;
    border-right: 2px dashed #dee2e6;
    top: 0;
  }

  @media (min-width: 1140px) {
    .hori-timeline .events .event-list {
      display: inline-block;
      width: 19%;
      padding-top: 45px;
    }
  }
  .bg-soft-primary {
    background-color: rgba(64, 144, 203, 0.3) !important;
  }
  .bg-soft-success {
    background-color: rgba(71, 189, 154, 0.3) !important;
  }
  .bg-soft-danger {
    background-color: rgba(231, 76, 94, 0.3) !important;
  }
  .bg-soft-warning {
    background-color: rgba(249, 213, 112, 0.3) !important;
  }
  .card {
    background-color: transparent;
    border: none;
    margin-bottom: 24px;
  }
</style>
