---
layout: default
title: Power Manager
---

<div class="container-fluid" 
style="
  background:linear-gradient(90deg, rgba(53,150,101,1) 1%, rgba(19,141,131,1) 91%);
  height: 500px; padding-top: 14vh; color: white;">
<canvas class="background"></canvas>
  <br />
  <br />
  <div class="row">
    <div
      class="col -solution-hero d-flex flex-column justify-content-center align-items-center text-center"
    >
      <h1>PC Power Manager</h1>
      <p>
        O jeito simples de eliminar o desperdício de energia elétrica com
        computadores
      </p>
      <br />
      <p>{% include site/modal_form.html title="Power Manager" id="power_form "%}</p>
    </div>
  </div>
</div>
<div class="container-fluid mb-5">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3></h3>
        <p class="text-secondary">
          Gerenciamento de energia de computadores e notebook com um software
          especializado no assunto. O mais avançado e sem interrupções do
          mercado. Possibilitamos que organizações reduzam os custos de energia
          com uma solução rápida de implantar e fácil de gerenciar. Usuários,
          clientes e especialistas do setor fizeram da nossa solução de
          gerenciamento de energia de PC a mais premiada.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid text-center">
  <div class="row text-center mb-5">
    <div class="col-lg-3 feature-body">
      <h5 class="title-body">Gestão da Cobertura do Agente</h5>
      <p class="desc-body">
        Gerenciamento dos computadores com um único arquivo MSI que contém todas
        as nossas funcionalidades, portanto, é fácil de implementar
      </p>
    </div>
    <div class="col-lg-3 feature-body">
      <h5 class="title-body">Cloud ou On-Premise</h5>
      <p class="desc-body">
        Instalação tradicional On-Premise ou uma versão em nuvem que não requer
        novos investimentos em infraestrutura
      </p>
    </div>
    <div class="col-lg-3 feature-body">
      <h5 class="title-body">Conscientização do usuário final</h5>
      <p class="desc-body">
        Além de manter os usuários finais informados sobre o andamento do
        gerenciamento de energia do computador, mas também pode compartilhar
        outras dicas de economia de energia, como desligar as luzes
      </p>
    </div>
    <div class="col-lg-3 feature-body">
      <h5 class="title-body">Vários fornecedores de energia</h5>
      <p class="desc-body">
        Projetado para oferecer suporte a vários fornecedores de energia, moedas
        e taxas de energia, não deixando nenhum modelo de fornecimento de
        energia de fora.
      </p>
    </div>
  </div>
  <div class="row text-center mb-5">
    <div class="col-lg-3 feature-body">
      <h5 class="title-body">Dynamic Efficiency</h5>
      <p class="desc-body">
        Possibilitamos que estações de trabalho e notebooks consumam menos
        energia durante as horas de operação, permanecendo 100% disponíveis
      </p>
    </div>
    <div class="col-lg-3 feature-body">
      <h5 class="title-body">Desligamento Seguro</h5>
      <p class="desc-body">
        Proteção a aplicativos e usuários contra ações de energia salvando
        documentos antes de desligar
      </p>
    </div>
    <div class="col-lg-3 feature-body">
      <h5 class="title-body">Integração com Active Directory</h5>
      <p class="desc-body">
        Aplicação de políticas e extração de relatórios considerando a estrutura
        do Active Directory
      </p>
    </div>
    <div class="col-lg-3 feature-body">
      <h5 class="title-body">PROTEÇÃO DE SOFTWARES CRÍTICOS</h5>
      <p class="desc-body">
        Mantenha computadores ligados enquanto houver algum software ou processo
        crítico em execução. Retorne as políticas de economia ao finalizar a
        execução crítica.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid content text-white">
  <div class="container">
    <h2 class="text-center mb-5 mt-5">
      Economia e eficiência só é possível com uma ferramenta dedicada
    </h2>
    <div class="row mb-5" style="padding-top: 100px;" >
      <div class="col-lg-6 ">
        <h3 class="mt-5">Planejamento de políticas visual</h3>
        <p>
          Agendador de tarefas estilo calendário Agendador único e unificado
          para todas as tarefas do servidor
        </p>
      </div>
      <div class="col-lg-6 "><img src="/assets/img/power-manager/visual.webp" class="img-fluid " alt=""></div>
    </div>
    <div class="row mb-5" style="padding-top: 100px;" >
      <div class="col-lg-6"><img src="/assets/img/power-manager/cost.webp" class="img-fluid" alt=""></div>
      <div class="col-lg-6">
        <h3 class="mt-5">Visualização de dados</h3>
        <p>
          Painéis personalizáveis e Dashboards com gadgets Relatórios de
          economia ($, kWh, cO2), projeção de economia e gerenciamento Gráficos
          de atividade dos computadores
        </p>
      </div>
    </div>
    <div class="row mb-5" style="padding-top: 100px;" >
      <div class="col-lg-6">
        <h3 class="mt-5">Políticas de economia</h3>
        <p>
          Crie planos de economia de acordo com as necessidades de cada
          departamento ou colaborador.
        </p>
      </div>
      <div class="col-lg-6"><img src="/assets/img/power-manager/politica.webp" class="img-fluid" alt=""></div>
    </div>
    <div class="row mb-5" style="padding-top: 100px;" >
      <div class="col-lg-6"><img src="/assets/img/vpm/precision.svg" class="img-fluid" alt=""></div>
      <div class="col-lg-6">
        <h3 class="mt-5">Precisão</h3>
        <p>
          98% de precisão nos dados extraídos (comprovados com wattímetros)
          Click aqui para acessar o relatório
        </p>
        <p ><a class="text-white"href="https://lps.aiqon.com.br/9f2d935a29ef93dce783" target="_blank"><b>Clique aqui</b></a>  para acessar o relatório</p>
      </div>
    </div>
    <div class="row mb-5" style="padding-top: 100px;" >
      <div class="col-lg-6">
        <h3 class="mt-5">Economia</h3>
        <p>
          Em média, atingimos 50% de economia de energia nos computadores de
          nossos clientes
        </p>
        
      </div>
      <div class="col-lg-6"><img src="/assets/img/vpm/economy.svg" class="img-fluid img-fluid-economy" alt=""></div>
    </div>
  </div>
</div>
<div class="container text-center">
  <h2 class="mb-5 mt-5">
    Solicite um teste grátis com duração de 45 dias em até <br />100
    computadores
  </h2>
  <div class="row">
    <div class="col-lg d-flex text-center" style="justify-content: center">
      {% include site/form2.html title="Power Manager"
      id="power_form" %}
    </div>
  </div>
</div>
<div class="container-fluid" style="padding: 0;">
    <h2 class="text-center text-teal text-bolder py-2 mt-5" style="color: gray">
      <br />
      Deseja melhorar o gerenciamento da T.I?
    </h2>
    <div class="image-block text-lightblue flex-column text-center">
      <a href="/hardware-software" class="btn btn-rms my-5" style="max-width: 300px">
        <img src="/assets/img/rms/inventory.png" alt="" />
        <p style="color: gray">
            Gerencie as instalações dos softwares da sua empresa de onde você estiver
        </p>
      </a>
    </div>
  </div>

<style>
    body{
        background-color: whitesmoke;
    }
   
    .img-fluid-economy{
        max-width: 300px;
        margin-left: 8vw;
        
    }
    .content{
        background: linear-gradient(180deg, rgba(53,150,101,1) 1%, rgba(19,141,131,1) 91%);
        padding-top: 50px ;
        padding-bottom: 30px ;
    }
    .title-body{
        text-transform: uppercase;
    }
  .feature-body {
    padding: 50px;
  }
</style>
