<div class="container-fluid -moduloslgpd py-5" id="mod">
  <h2 class="text-center text-white mb-5">O que você precisa?</h2>

  <div class="row row-datasourcelgpd justify-content-center">
    <a
      href="/auditoria-de-alteracoes/"
      class="col-md-3 solution-datasourcelgpd d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <p>Auditoria</p>
    </a>
    <a
      href="/compliance/"
      class="col-md-3 solution-datasourcelgpd d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <p>Compliance</p>
    </a>
    <a
      href="/mitigacao-de-risco/"
      class="col-md-3 solution-datasourcelgpd d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <p>Mitigação de risco</p>
    </a>
  </div>
  <div class="row row-datasourcelgpd justify-content-center">
    <a
      href="/classificacao-de-dados/"
      class="col-md-3 solution-datasourcelgpd d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <p>Classificação de dados</p>
    </a>
    <a
      href="/ameacas-internas/"
      class="col-md-3 solution-datasourcelgpd d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <p>Comportamentos anômalos</p>
    </a>
    <a
      href="/governancia-de-dados/"
      class="col-md-3 solution-datasourcelgpd d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <p>Proteção contra Ransomware</p>
    </a>
  </div>
  <div class="row row-datasourcelgpd justify-content-center">
    <a
      href="/remediation/"
      class="col-md-3 solution-datasourcelgpd d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <p>Remediação de dados</p>
    </a>
    <a
      href="/lgpd/"
      class="col-md-3 solution-datasourcelgpd d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <p>LGPD</p>
    </a>
    <a
      href="/dlp/"
      class="col-md-3 solution-datasourcelgpd d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <p>Data Loss Prevention - DLP</p>
    </a>
  </div>
</div>
<style>
  #mod {
    background-position: top;
    color: gray;
  }
  #mod h1,
  p {
    color: gray;
    font-weight: 400;
  }
</style>
