---
layout: default
title: Verismic Power Manager
---

<div class="container-fluid" style="background: linear-gradient(to right, #329564, #94c48e);  height: 700px; padding-top: 14vh; color: white;">
  <canvas class="background"></canvas>
  <div class="row">
    <div
      class="col -solution-hero d-flex flex-column justify-content-center align-items-center text-center"
    >
      <img src="/assets/img/vpm/vpm.webp"  style="max-width: 250px;"/>
      <h1>{{ page.title }}</h1>
      <p>
        Referência no mercado para gestão de uso de computadores.
      </p>
      <a
        href="https://lps.aiqon.com.br/verismic-power-manager"
        class="btn btn-trial my-4"
        >Inicie um teste</a
      >
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3>Economia e gestão com resultados imediatos</h3>
        <p class="text-secondary">
          Crie planos de monitoramento, extraia relatórios de utilização e
          gerencie as estações direto do seu navegador.
        </p>
        <p class="text-secondary">
          A instalação do Verismic Power Manager pode ser feita em um servidor
          local ou em nuvem, e leva menos de duas horas.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div
      class="col-xl-8 col-sm-12 customers d-flex align-items-center justify-content-around mx-auto py-5"
    >
      <img class="img-fluid" src="/assets/img/customers/castrolanda.webp" />
      <img class="img-fluid" src="/assets/img/customers/ccr.webp" />
      <img class="img-fluid" src="/assets/img/customers/grupoelo.webp" />
      <img class="img-fluid" src="/assets/img/customers/sebrae.webp" />
    </div>
  </div>
</div>

<div class="container solution-call">
  <div class="row py-5">
    <div class="col d-flex">
      <img src="/assets/img/vpm/economy.svg" class="img-fluid mx-auto" />
    </div>
    <div class="col">
      <h1>Economia de verdade.</h1>
      <h1>Imediatamente.</h1>
      <p>
        O Verismic Power Manager é pioneiro em gestão de uso e economia de
        energia em computadores.
      </p>
      <p>
        A ferramenta trabalha de acordo com as necessidades de cada usuário,
        resultando em economia de em média 50% sem interferir na rotina dos
        colaboradores.
      </p>
      <p>
        Os resultados são visíveis logo nos primeiros dias de teste da
        ferramenta, e a instalação do VPM leva menos de duas horas.
      </p>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
    <div class="col-md-6 col-sm-12 py-3">
      <div class="syxsense-feature-block">
         <div class="text" style="text-align: right;">
          <p> 20% dos computadores não são desligados no final de semana.</p>
         
        </div>
        <img src="/assets/img/vpm/week.webp" alt="" />
      </div>
    </div>
    <div class="col-md-6 col-sm-12 py-3">
      <div class="syxsense-feature-block">
        <img src="/assets/img/vpm/level.webp" alt="" />
        <div class="text">
          <p>40% é o nível de ociosidade de computadores na sua empresa durante o expediente.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 py-3">
      <div class="syxsense-feature-block" style="text-align: right;">
        
        <div class="text">
          <p>Computadores de mesa respondem por 39% do 
            CO2 emitido pela TI no mundo. Mesmo com sua 
            enorme necessidade de resfriamento, 
            os servidores vêm em segundo lugar.</p>
        </div>
        <img src="/assets/img/vpm/co2.webp" alt="" />
      </div>
    </div>
    <div class="col-md-6 col-sm-12 py-3">
      <div class="syxsense-feature-block">
        <img src="/assets/img/vpm/machine.webp" alt="" />
        <div class="text">
          <p>45% das máquinas não são desligadas ao fim do dia.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid -solution -vpm mt-5 ">
 
  {% include site/vpm/steps.html %}
    
  

 
  <div class="row mw-1200 mx-auto py-5 ">
    <div
      class="col-md-12 col-lg-4 d-flex justify-content-center align-items-center py-3"
    >
      <img
        src="/assets/img/vpm/savings.svg"
        style="width: 130px;"
        class="p-2 align-self-center"
      />
      <h6 class="text-white text-bolder p-2">
        A solução atinge em média 50% de economia de energia em computadores.
        Crie planos de economia de acordo com as necessidades de cada
        departamento ou colaborador.
      </h6>
    </div>
    <div
      class="col-md-12 col-lg-4 d-flex justify-content-center align-items-center py-3"
    >
      <img
        src="/assets/img/vpm/graph.svg"
        style="width: 130px;"
        class="p-2 align-self-center"
      />
      <h6 class="text-white text-bolder p-2">
        Além de economia, o Verismic Power Manager entrega dados reais sobre
        como seus computadores estão sendo utilizados. Tenha informações de
        ociosidade e muito mais!
      </h6>
    </div>
    <div
      class="col-md-12 col-lg-4 d-flex justify-content-center align-items-center py-3"
    >
      <img
        src="/assets/img/vpm/time-is-money.svg"
        style="width: 130px;"
        class="p-2 align-self-center"
      />
      <h6 class="text-white text-bolder p-2">
        Após a implantação seu ambiente imediatamente apresenta resultados
        positivos, e você tem total acompanhamento da nossa equipe até durante o
        período de testes.
      </h6>
    </div>
  </div>
</div>
<div class="container solution-call">
  <div class="row py-5">
    <div
      class="col-xs-12 col-md-6  py-5 d-flex justify-content-center flex-column"
    >
      <h1>Resultados reais.</h1>
      <h3 class="text-secondary">
        Veja o teste de precisão realizado com wattímetros
      </h3>
      <img
        src="/assets/img/power-manager/precision.svg"
        style="min-width: 340px;"
        class="img-fluid mx-auto align-self-center"
      />
      <a
        class="btn btn-download btn-lg btn-vpm"
        href="http://lps.aiqon.com.br/9f2d935a29ef93dce783"
        target="_blank"
      >
        Baixar PDF
      </a>
      <!-- <button
        class="btn btn-download btn-lg btn-vpm"
        onclick="downloadRequest(1)"
      >
        Baixar PDF
      </button> -->
    </div>
    <div
      class="col-xs-12 col-md-6  d-flex flex-column justify-content-center align-items-center py-5"
    >
      <p>
        O Software registrou com 98% de precisão o consumo de energia com
        computadores, além de refletir em média 50% de economia!
      </p>
      <p>
        Baixe o estudo em PDF para ver em detalhe os dados coletados durante o
        estudo, em diversas áreas da indústria e serviços.
      </p>
    </div>
  </div>
</div>
{% include site/modal.html documenttitle="Baixe agora!"%}
<div class="container solution-call">
  <div class="row">
    <div class="col">
      <h1 class="text-center">
        Saiba mais sobre o Verismic Power Manager
      </h1>
    </div>
  </div>
</div>
{% include site/download-row.html docs='
<div class="col">
  <div class="downloadblock">
    <img src="/docs/thumbs/005.png" />
    <p>Economia de verdade! Case Verismic Power Manager</p>
    <a
      href="http://lps.aiqon.com.br/8007a0f4192deb67cc6f"
      target="_blank"
      class="btn btn-small btn-lightblue"
    >
      Baixar PDF
    </a>
    <!-- <button onclick="downloadRequest(5)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
  </div>
</div>
<div class="col">
  <div class="downloadblock">
    <img src="/docs/thumbs/case_sebrae.jpg" />

    <p>
      São mais de 3 anos de sucesso com o Sebrae/PR! Veja o quanto eles
      economizaram.
    </p>
    <a
      href="https://lps.aiqon.com.br/vpm-case-sebrae"
      target="_blank"
      class="btn btn-small btn-lightblue"
    >
      Baixar PDF
    </a>
  </div>
</div>
' %} {% include site/vpm/cases.html %} {% include site/trial.html
title="Solicite uma demonstração" id="vpm_form"%}

<style>
   .version-block {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    margin: 0 auto;
    background-color: #fff;
    margin: 3em 0;
  }
  .version-block-header img {
    width: 100%;
  }
  .version-block-body {
    padding: 30px;
    text-align: center;
  }
  .syxsense-feature-block {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
   
    
  }

  .syxsense-feature-block img {
    padding: 10px;
    width: 130px;
  }
  .syxsense-feature-block .text {
    max-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }
  .-syxsense img {
    padding: 20px !important;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 15px #37104130;
  }
  .row.row-reverse {
    flex-direction: row-reverse;
    text-align: right;
  }
  .-syxsense-data .image-block {
    height: 100%;
  }
  .-syxsense-data .image-block p {
    font-size: 12px !important;
  }
  .-syxsense-dataobs .image-block {
    height: 100%;
    align-items: center;
  }
  .-syxsense-dataobs .image-block p {
    font-size: 12px !important;
    color: white;
    margin-left: 2mm;
  }

  @media (max-width: 990px) {
  #syxsense_logo{
    width: 170px;

  }
}
  
</style>