---
layout: default
title: Syxsense
---

<div
  class="container-fluid"
  style="
    background: linear-gradient(
      90deg,
      rgba(195, 64, 75, 1) 0%,
      rgba(128, 57, 120, 1) 88%
    );
    height: 700px;
    padding-top: 14vh;
    color: white;
  "
>
  <canvas class="background"></canvas>
  <div class="row">
    <div
      class="
        col
        -solution-hero
        d-flex
        flex-column
        justify-content-center
        align-items-center
        text-center
      "
    >
      <img id="syxsense_logo" src="/assets/img/syxsense/logo_white.webp" />
      <br /><br />
      <p>
        Gerencie a segurança dos seus computadores de qualquer lugar, a qualquer
        hora.
      </p>
      <a
        href="http://lps.aiqon.com.br/syxsense_trial"
        target="_blank"
        class="btn btn-trial my-4"
        >Inicie um teste</a
      >
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3>Segurança da TI a partir da nuvem</h3>
        <p class="text-secondary">
          A primeira solução de gerenciamento e segurança de TI do mundo que
          combina os recursos de verificação de vulnerabilidades, gerenciamento
          de patches e EDR.
        </p>
        <p class="text-secondary">
          Interrompa qualquer brecha de segurança com uma única ferramenta
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div
      class="
        col-xl-8 col-sm-12
        customers
        d-flex
        align-items-center
        justify-content-around
        mx-auto
        py-5
      "
    >
      <img class="img-fluid" src="/assets/img/customers/anbima.webp" />
      <img class="img-fluid" src="/assets/img/customers/dell.webp" />
      <img class="img-fluid" src="/assets/img/customers/tegra.webp" />
      <img class="img-fluid" src="/assets/img/customers/universal.webp" />
    </div>
  </div>
</div>
<div class="container">
  <div class="row mb-5">
    <div class="col">
      <h1 class="text-center mb-3">O que é o Syxsense</h1>
      <p class="text-center mb-5">
        O Syxsense reúne gerenciamento e segurança de endpoints para maior
        eficiência e colaboração entre as equipes de gerenciamento e segurança
        de TI responsáveis por proteger as empresas contra ataques cibernéticos.
        É a única solução que combina gerenciamento e segurança de endpoints em
        uma única oferta unificada.
      </p>
      <p class="text-center">
        Syxsense criou uma tecnologia inovadora e intuitiva que vê e sabe tudo.
        Com inteligência artificial (IA) e conhecimento do setor, ajudamos os
        clientes a prever e remover ameaças de segurança por meio de soluções
        simples e poderosas.
      </p>
    </div>
  </div>
</div>
<div
  class="container-fluid"
  style="
    background-image: url(/assets/img/syxsense/endopoint_bg.jpg);
    color: white;
    height: 50vh;
    padding-top: 5vh;
  "
>
  <div class="row py-2">
    <div class="col">
      <p style="text-transform: uppercase" class="text-center">
        ENDPOINT SECURITY
      </p>
      <h4 class="text-center text-bold">Não há dúvidas</h4>
      <p class="text-center">
        Quase 70% das violações se originam nas estações de trabalho. O desafio
        de gerenciar e proteger redes continua a aumentar em complexidade para
        profissionais de TI.
      </p>
    </div>
  </div>
  <div class="row mx-auto pb-3 -syxsense-data">
    <div class="col d-flex justify-content-around py-2">
      <div class="image-block flex-column text-center" style="color: white">
        <img src="/assets/img/syxsense/cash-flow.webp" />
        <h5>28% taxa de retorno</h5>
        <p>Probabilidade de uma violação recorrente dentro de dois anos</p>
      </div>
      <div class="image-block flex-column text-center" style="color: white">
        <img src="/assets/img/syxsense/money-bag.webp" />
        <h5>$3.86 BILHÕES</h5>
        <p>Custo médio por vazamento de dados</p>
      </div>
      <div class="image-block flex-column text-center" style="color: white">
        <img src="/assets/img/syxsense/fast.webp" />
        <h5>197 dias</h5>
        <p>Tempo médio para a TI identificar uma violação de segurança</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid support-plataform">
  <h5 class="text-center text-gray">SUPORTE PARA:</h5>
  <div class="row justify-content-center text-center">
    <div class="col-md-4">
      <img
        class="img-support"
        src="/assets/img/syxsense/win_support.png"
        alt="Syxsense para Windows"
      />
    </div>
    <div class="col-md-4">
      <img
        class="img-support"
        src="/assets/img/syxsense/apple_support.png"
        alt="Syxsense para Apple"
      />
    </div>
    <div class="col-md-4">
      <img
        class="img-support"
        src="/assets/img/syxsense/linux_support.png"
        alt="Syxsense para Linux"
      />
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color: white">
  <div class="container">
    <div class="row">
      <div
        class="
          col-lg-6 col-md-12
          p-2
          d-flex
          align-items-center
          justify-content-center
          flex-column
        "
      >
        <h1 style="width: 100%">SEGURANÇA COM IA</h1>
        <p>
          O Syxsense Secure usa inteligência artificial (IA) para ajudar as
          equipes de segurança a prever e eliminar ameaças. Experimente o
          monitoramento em tempo real de processos mal-intencionados, quarentena
          automatizada de dispositivos e dados em tempo real para obter
          informações sobre a integridade de todos os terminais da
          rede.SEGURANÇA
        </p>
      </div>
      <div class="col-lg-6 col-md-12 p-4 d-flex">
        <img
          src="/assets/img/syxsense/laptop-1.webp"
          style="max-width: 90%"
          class="mx-auto my-auto"
        />
      </div>
    </div>
  </div>
</div>

<div class="container-fluid content-syxsense-new">
  <div class="container">
    <h4 class="text-center text-teal mb-5">Funcionalidades</h4>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <img
              src="/assets/img/syxsense/update.webp"
              class="icon-syxsense-feature"
              alt=""
            />
          </div>
          <div class="col-md">
            <h5>Patch de S.O e de terceiros</h5>
            <p>
              Automatize as atualizações com patches previamente testados e
              aprovados por uma equipe especializada! Aplique em Win / Mac /
              Linux
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <img
              src="/assets/img/syxsense/alert.webp"
              class="icon-syxsense-feature"
              alt=""
            />
          </div>
          <div class="col-md">
            <h5>Alerta de ameaça e quarentena</h5>
            <p>
              Automaticamente interrompa um processo suspeito, deixe o
              dispositivo em quarentena para evitar mais infecções e as partes
              interessadas são notificadas por email.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <img
              src="/assets/img/syxsense/inventory.webp"
              class="icon-syxsense-feature"
              alt=""
            />
          </div>
          <div class="col-md">
            <p>
              de forma simples e completa. Todos os relatórios que você possa
              precisar gerados em poucos segundos!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <img
              src="/assets/img/syxsense/time.webp"
              class="icon-syxsense-feature"
              alt=""
            />
          </div>
          <div class="col-md">
            <h5>Gerenciamento em tempo real</h5>
            <p>
              Prever violações de segurança antes que elas aconteçam.
              Identifique, diagnostique e resolva violações rapidamente
              imediatamente com dados em tempo real.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <img
              src="/assets/img/syxsense/deploy.webp"
              class="icon-syxsense-feature"
              alt=""
            />
          </div>
          <div class="col-md">
            <h5>Distribuição de Software</h5>
            <p>
              Crie pacotes de software e faça a distribuição pelo seu parque
              rapidamente.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <img
              src="/assets/img/syxsense/mobile.webp"
              class="icon-syxsense-feature"
              alt=""
            />
          </div>
          <div class="col-md">
            <h5>Acesso de qualquer lugar</h5>
            <p>
              Utilize o Syxsense direto do seu navegador! Além de controlar o
              parque, agendar tarefas e gerar relatórios, você também pode
              utilizar da funcionalidade Acesso Remoto a partir de qualquer
              lugar.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5">
    <div class="row">
      <div
        class="
          col-md-6 col-sm-12
          p-2
          d-flex
          align-items-center
          justify-content-center
          flex-column
        "
      >
        <h1 style="width: 100%">GESTÃO INTUITIVA</h1>
        <p>
          Realize facilmente suas tarefas na TI e gerencie seu ambiente em
          qualquer lugar, a qualquer hora. O Syxsense Manage oferece uma visão
          completa da sua infraestrutura de TI com tecnologia poderosa, uma
          interface intuitiva e recursos com tudo incluído.
        </p>
      </div>
      <div class="col-md-6 col-sm-12 p-4 d-flex">
        <img
          src="/assets/img/syxsense/desktop_typing.png"
          style="max-width: 90%"
          class="mx-auto my-auto"
        />
      </div>
    </div>
  </div>
</div>
<div class="container-fluid content-cortex">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-lg-6">
        <img
          src="/assets/img/cortex/cortex_circle.png"
          class="img-fluid"
          alt="cortex"
        />
      </div>
      <div class="col-lg-6 py-4">
        <h2 class="py-5 text-white">
          Visual de TI de próxima geração e automação do processo de
          gerenciamento de segurança
        </h2>
        <h5 class="text-white text-light">
          O syxsense Cortex simplifica os processos complexos de TI e segurança
          com uma interface de “arrasta e solta”. Templates pré-definidos mantém
          as organizações seguras e em funcionamento sem a necessidade de
          grandes equipes e especialistas.
        </h5>
        <p>
          <a class="btn btn-cortex mt-4" href="/cortex/">Saiba mais</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row py-5">
    <div
      class="
        col-md-6 col-sm-12
        p-2
        d-flex
        align-items-center
        justify-content-center
        flex-column
      "
    >
      <h2 style="width: 100%">ENDPOINT. ONDE COMEÇA A SEGURANÇA.</h2>
      <p>
        Syxsense combina gerenciamento de endpoint, preditivo, proativo e em
        tempo real.
      </p>
    </div>
    <div class="col-md-6 col-sm-12 p-3">
      <img
        src="/assets/img/syxsense/endpoint_quote.webp"
        style="max-width: 90%"
        class="mx-auto my-auto"
      />
    </div>
  </div>
  <div class="row py-5 row-reverse">
    <div
      class="
        col-md-6 col-sm-12
        p-2
        d-flex
        align-items-center
        justify-content-center
        flex-column
      "
    >
      <h2 style="width: 100%; text-transform: uppercase">
        Pare de reagir e comece a prever
      </h2>
      <p>
        Segurança e gerenciamento de TI que podem ver vulnerabilidades a um
        quilômetro de distância. O Syxsense age para proteger seu ambiente antes
        mesmo que você saiba que há um problema.
      </p>
    </div>
    <div class="col-md-6 col-sm-12 p-3">
      <img
        src="/assets/img/syxsense/stop-reacting_quote.webp"
        style="max-width: 90%"
        class="mx-auto my-auto"
      />
    </div>
  </div>
  <div class="row py-5">
    <div
      class="
        col-md-6 col-sm-12
        p-2
        d-flex
        align-items-center
        justify-content-center
        flex-column
      "
    >
      <h2 style="width: 100%">PODEROSO E FÁCIL DE USAR</h2>
      <p>
        O Syxsense possui recursos poderosos que permitem que as equipes de TI e
        Segurança identifiquem, diagnostiquem e corrijam facilmente
        vulnerabilidades sempre que surgirem.
      </p>
    </div>
    <div class="col-md-6 col-sm-12 p-3">
      <img
        src="/assets/img/syxsense/powerful_quote.webp"
        style="max-width: 90%"
        class="mx-auto my-auto"
      />
    </div>
  </div>
</div>
<div class="container">
  <h2 class="text-center text-teal">Escolha a sua versão</h2>
  <div class="row text-center justify-content-center">
    <img
      src="/assets/img/syxsense/Syxsense Manage  - Logo.webp"
      class="img-syxsense-logo"
      alt=""
    />

    <img
      src="/assets/img/syxsense/Syxsense Secure  - Logo.webp"
      class="img-syxsense-logo"
      alt=""
    />
  </div>
</div>
{% include site/syxsense/table.html %} {% include site/download-row.html docs='
<div class="col">
  <h1 class="text-teal" style="text-align: center"><b>Conheça todo o poder do Syxsense</b></h1>
  <br />
  <div class="downloadblock">
    <img src="/docs/thumbs/syxsense_patch.png" />
    <p>Guia patch: Como montar uma estratégia</p>
    <a
      id="trial-syxsense"
      href="https://lps.aiqon.com.br/guia-patch"
      target="_blank"
      class="btn btn-small btn-lightblue"
    >
      Baixar PDF
    </a>
    <!-- <button onclick="downloadRequest(2)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
  </div>
</div>
'%} {% include site/cms/cases.html %} {% include site/trial.html title="Solicite
uma demonstração" id="syxsense_form" %}
<style>
  .content-cortex {
    background: url("/assets/img/cortex/cortex_background.jpg");
    background-repeat: no-repeat;
  }
  .support-plataform {
    background-color: rgb(228, 227, 227);
    padding-top: 5vh;
    min-height: 35vh;
  }
  .img-support {
    max-width: 350px;
  }
  .content-syxsense-new {
    background: url("/assets/img/syxsense/syxsense_waves.jpg");
    background-size: cover;
    padding-top: 10vh;
    background-position: 0% 90%;
  }
  .icon-syxsense-feature {
    max-width: 100px;
    padding: 10px;
  }
  .container-fluid.-syxsense-versions {
    background-image: url("../assets/img/syxsense/office.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .version-block {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    margin: 0 auto;
    background-color: #fff;
    margin: 3em 0;
  }
  .version-block-header img {
    width: 100%;
  }
  .version-block-body {
    padding: 30px;
    text-align: center;
  }
  .syxsense-feature-block {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: right;
  }
  .syxsense-feature-block img {
    padding: 10px;
    width: 130px;
  }
  .syxsense-feature-block .text {
    max-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .syxsense-feature-block.-right {
    flex-direction: row-reverse;
    text-align: left;
  }
  .container-fluid.-solution.-syxsense {
    background-image: url("../assets/img/syxsense/waves.webp"),
      linear-gradient(to right, #c03b4e, #802175);
    background-size: cover, cover;
    background-repeat: no-repeat;
  }
  .-syxsense img {
    padding: 20px !important;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 15px #37104130;
  }
  .row.row-reverse {
    flex-direction: row-reverse;
    text-align: right;
  }
  .-syxsense-data .image-block {
    height: 100%;
  }
  .-syxsense-data .image-block p {
    font-size: 12px !important;
  }
  .-syxsense-dataobs .image-block {
    height: 100%;
    align-items: center;
  }
  .-syxsense-dataobs .image-block p {
    font-size: 12px !important;
    color: white;
    margin-left: 2mm;
  }
  .btn-cortex {
    color: white;
    text-transform: uppercase;
    border-radius: 8mm;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    font-weight: lighter;
    background: linear-gradient(
      260deg,
      rgba(130, 34, 105, 1) 0%,
      rgba(172, 49, 77, 1) 100%
    );
  }
  .btn-cortex:hover {
    color: white;
    font-size: 18px;
    background: linear-gradient(
      94deg,
      rgba(130, 34, 105, 1) 0%,
      rgba(172, 49, 77, 1) 100%
    );
  }

  @media (max-width: 990px) {
    #syxsense_logo {
      max-width: 300px;
    }
  }
</style>
