

<div class="container" >
    <div class="row py-5">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed"   type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Seja notificado sobre padrões de ameaça interna de alto risco
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                 
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-left justify-content-left flex-column"
                  >
                  Certas atividades internas são claros sinais de que alguém 
                  está adulterando seus dados sensíveis. Configure alertas 
                  em eventos que você considera de alto risco e tenha noção 
                  das ameaças interna a tempo de responder de forma efetiva.
                    
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/ameacas/image1.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Habilite a detecção de ameaça com o descobrimento de comportamento suspeito com base no risco 
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column"
                  >
                  O informante costuma ser cuidadoso enquanto 
                  conduz o reconhecimento dos dados sensíveis. 
                  Tenha certeza que nenhum informante passe 
                  despercebido com uma visão completa do 
                  comportamento suspeito no seu ambiente.
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/ameacas/image2.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Veja quando os usuários estão acessando dados sensíveis de formas não usuais
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column">

                    Aprimore suas capacidades de detecção de ameaças com 
                    relatórios inteligentes. Encontre informantes malicioso 
                    com roubo de dados em mente detectando usuários acessando 
                    informações sensíveis que eles nunca tenham acessado antes.
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/ameacas/image3.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button id="btn" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Identifique quem está ativo quando todo mundo está off-line 
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column"
                  >
                  Analise a atividade do usuário fora do horário de 
                  expediente para detectar um informante que está 
                  vasculhando a sua rede antes que você sofra com o 
                  vazamento de dados.
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/ameacas/image29.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
        </div>
        
      </div>
     
  </div>
  </div>
  </div>
  <style>
    
  .card-body {
    background: linear-gradient(180deg, rgba(43,88,118,1) 0%, rgba(78,67,118,1) 84%);
  
  }
  #accordionExample {
    color: white;
    width: 150em;
    margin-bottom: 2mm;
    text-align: left;
  }
  
  @media only screen and (min-width: 1499px) {
  
  #accordionExample  {
   
    display: none;
   }
  }
  
  /*Content Animation*/
  @keyframes fadeInScale {
   30% {
       transform: scale(0.9);
       opacity: 0;
   }
   
   100% {
       transform: scale(1);
       opacity: 1;
   }
  }
  
  </style>