

<div class="container">
    <div class="row py-5">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingEleven">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed"   type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
            Fique de olho na atividade dos seus usuários privilegiados 
          </button>
        </h2>
      </div>
  
      <div id="collapseEleven" class="collapse show" aria-labelledby="headingEleven" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                 
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-left justify-content-left flex-column"
                  >
                  Se inscreva em relatórios sobre a atividade administrativa 
                  em um sistema em particular ou em todo o seu ambiente para 
                  detectar o abuso de privilégio e manter os seus usuários 
                  privilegiados em monitoramento constante. Crie alertas em 
                  padrões de comportamento críticos que ponham a segurança 
                  dos dados em risco imediato.
                    
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/ameacas/image10.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwelve"> 
    
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
            Detecte administradores mexendo com sistemas nos quais eles não são responsáveis 
          </button>
        </h2>
      </div>
      <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column"
                  >
                  Se inscreva em relatórios sobre a atividade administrativa 
                  em um sistema em particular ou em todo o seu ambiente para 
                  detectar o abuso de privilégio e manter os seus usuários 
                  privilegiados em monitoramento constante. Crie alertas em 
                  padrões de comportamento críticos que ponham a segurança 
                  dos dados em risco imediato.
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/ameacas/image11.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThirteen">  
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
            Tenha evidencia concreta em incidentes de abuso de privilégio
          </button>
        </h2>
      </div>
      <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column">

                    Proteja os seus recursos monitorando a atividade 
                    dos usuários privilegiados. Caso o usuário trabalhe 
                    em uma aplicação ou ferramenta que não produza logs, 
                    tenha certeza de reproduzir e procurar através da 
                    registro de atividade na tela.
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/ameacas/image12.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFourteen">
          <h2 class="mb-0">
            <button id="btn" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
              Fique em conformidade com as melhores práticas de gerenciamento de contas com privilégio
            </button>
          </h2>
        </div>
        <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column"
                  >
                  Direitos administrativos desordenados podem fazer 
                  com que você sequer saiba quem são seus usuários 
                  privilegiados. Cheque os seus riscos relacionados a
                   privilégios e garanta que a atribuição de direitos 
                   privilegiados estão transparentes na sua organização.
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/ameacas/image13.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
        </div>
        
      </div>
     
  </div>
  </div>
  </div>
  <style>
    
  .card-body {
    background: linear-gradient(180deg, rgba(43,88,118,1) 0%, rgba(78,67,118,1) 84%);
  
  }
  #accordionExample {
    color: white;
    width: 150em;
    margin-bottom: 2mm;
    text-align: left;
  }
  
  @media only screen and (min-width: 1499px) {
  
  #accordionExample  {
   
    display: none;
   }
  }
  
  /*Content Animation*/
  @keyframes fadeInScale {
   30% {
       transform: scale(0.9);
       opacity: 0;
   }
   
   100% {
       transform: scale(1);
       opacity: 1;
   }
  }
  
  </style>