

<div class="container">
    <div class="row py-5">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingEight">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed"   type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
            Impossibilite a exploração dos elos mais fracos no seu ambiente
          </button>
        </h2>
      </div>
  
      <div id="collapseEight" class="collapse show" aria-labelledby="headingEight" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                 
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-left justify-content-left flex-column"
                  >
                
                  Torne o mais difícil possível a entrada e o 
                  roubo de dados sensíveis vindo de pessoas 
                  maliciosas no seu ambiente remediando todos os 
                  vãos de segurança contidos nele. Nós calculamos 
                  os níveis de risco de forma automática para que 
                  você possa fortalecer os elos mais fracos primeiro.
                    
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/ameacas/image7.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingNine">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            Previna as tentativas de exfiltração de dados detectando alterações de permissão não autorizada
          </button>
        </h2>
      </div>
      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column"
                  >
                  Garanta que nenhum direito de acesso esteja concedido aos 
                  usuários sem uma necessidade legitima de negócio. Identifique 
                  prontamente as alterações inapropriadas que deram acesso aos 
                  usuários à informação sensível que eles não deveriam ter e 
                  remova essas permissões para prevenir o vazamento de dados.
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/ameacas/image8.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTen">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            Identifique os dados sensíveis mais expostos 
          </button>
        </h2>
      </div>
      <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column">

                    Realize atestações de privilégio regularmente 
                    para verificar que os seus usuários tenham 
                    apenas aos dados sensíveis que eles precisam 
                    para realizar suas tarefas. Identifique e 
                    revogue rapidamente permissões excessivas.
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/ameacas/image9.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>        </div>
      </div>
    </div>
    
     
  </div>
  </div>
  </div>
  <style>
    
  .card-body {
    background: linear-gradient(180deg, rgba(43,88,118,1) 0%, rgba(78,67,118,1) 84%);
  
  }
  #accordionExample {
    color: white;
    width: 150em;
    margin-bottom: 2mm;
    text-align: left;
  }
  
  @media only screen and (min-width: 1499px) {
  
  #accordionExample  {
   
    display: none;
   }
  }
  
  /*Content Animation*/
  @keyframes fadeInScale {
   30% {
       transform: scale(0.9);
       opacity: 0;
   }
   
   100% {
       transform: scale(1);
       opacity: 1;
   }
  }
  
  </style>