<script>
  var StackCards = function (element) {
    this.element = element;
    this.items = this.element.getElementsByClassName("card");
    this.scrollingListener = false;
    this.scrolling = false;
    initStackCardsEffect(this);
  };

  function initStackCardsEffect(element) {
    // use Intersection Observer to trigger animation
    var observer = new IntersectionObserver(stackCardsCallback.bind(element));
    observer.observe(element.element);
  }

  function stackCardsCallback(entries) {
    // Intersection Observer callback
    if (entries[0].isIntersecting) {
      // cards inside viewport - add scroll listener
      if (this.scrollingListener) return; // listener for scroll event already added
      stackCardsInitEvent(this);
    } else {
      // cards not inside viewport - remove scroll listener
      if (!this.scrollingListener) return; // listener for scroll event already removed
      window.removeEventListener("scroll", this.scrollingListener);
      this.scrollingListener = false;
    }
  }

  function stackCardsInitEvent(element) {
    element.scrollingListener = stackCardsScrolling.bind(element);
    window.addEventListener("scroll", element.scrollingListener);
  }

  function stackCardsScrolling() {
    if (this.scrolling) return;
    this.scrolling = true;
    window.requestAnimationFrame(animateStackCards.bind(this));
  }

  function animateStackCards() {
    var top = this.element.getBoundingClientRect().top;
    var offsetTop = 100,
      cardHeight = 300,
      marginY = 15;
    for (var i = 0; i < this.items.length; i++) {
      // cardTop/cardHeight/marginY are the css values for the card top position/height/Y offset
      var scrolling = offsetTop - top - i * (cardHeight + marginY);
      // debugger;
      if (scrolling > 0) {
        // card is fixed - we can scale it down
        this.items[i].setAttribute(
          "style",
          "transform: translateY(" +
            marginY * i +
            "px) scale(" +
            (cardHeight - scrolling * 0.05) / cardHeight +
            ");"
        );
      }
    }

    this.scrolling = false;
  }

  var stackCards = document.getElementsByClassName("card-deck-js");
  var intersectionObserverSupported =
    "IntersectionObserver" in window && "IntersectionObserverEntry" in window;

  if (stackCards.length > 0 && intersectionObserverSupported) {
    for (var i = 0; i < stackCards.length; i++) {
      new StackCards(stackCards[i]);
    }
  }
</script>

<div class="container-fluid card-deck-js">
  <h2 class="text-center mb-5" style="padding-top: 10vh;">Gerencie sua postura no SaaS</h2>
  <div class="card" style="transform: translateY(0px)">
    <div class="card-body">
      <div class="row">
        <div class="col-md-7">
          <img src="/assets/img/sspm/tabs/tab-1.png" class="img-tabs" alt="" />
        </div>
        <div class="col-md-5">
          <img
            src="/assets/img/sspm/tabs/icon-tab-1.svg"
            class="icon-tabs"
            alt=""
          />
          <h3 class="title-tabs">Postura SaaS por aplicativo</h3>
          <p class="txt-tabs">
            O Adaptive Shield pode se integrar a mais de 50 aplicativos e
            contextualizar todos os itens em risco para ajudar sua equipe de
            segurança a priorizar os pontos fracos da configuração e aumentar o
            tempo e a eficiência da correção.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-7">
          <img src="/assets/img/sspm/tabs/tab-2.png" class="img-tabs" alt="" />
        </div>
        <div class="col-md-5">
          <img
            src="/assets/img/sspm/tabs/icon-tab-2.svg"
            class="icon-tabs"
            alt=""
          />
          <h3 class="title-tabs">Postura SaaS por Domínio</h3>
          <p class="txt-tabs">
            Fatie e divida verificações de segurança por domínio, desde controle
            de acesso, gerenciamento de senhas, MFA até DLP, proteção contra
            malware, controle de privacidade, auditoria, segurança móvel,
            proteção de endpoint, proteção contra phishing, resiliência
            operacional, gerenciamento de chaves e muito mais.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-7">
          <img src="/assets/img/sspm/tabs/tab-3.png" class="img-tabs" alt="" />
        </div>
        <div class="col-md-5">
          <img
            src="/assets/img/sspm/tabs/icon-tab-3.svg"
            class="icon-tabs"
            alt=""
          />
          <h3 class="title-tabs">Postura SaaS por Conformidade</h3>
          <p class="txt-tabs">
            Compare suas verificações de segurança SaaS com os principais
            padrões do setor, como NIST, SOC2, ISO, para garantir a
            conformidade. Ou crie sua própria política de empresa personalizada.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .card-deck-js {
    padding: 0 10vw 0 10vw;
  }
  .card {
    position: sticky;
    top: 8em;
    transform-origin: center top;
    margin: 0.5em;
    height: 55vh;
    border: none;
    border-radius: 0.25rem;
    -webkit-box-shadow: 1px -1px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px -1px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 1px -1px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .card:nth-child(0) {
    transform: translateY(0px);
  }
  .card:nth-child(1) {
    transform: translateY(16px);
  }
  .card:nth-child(2) {
    transform: translateY(32px);
  }
  .card:nth-child(3) {
    transform: translateY(48px);
  }
  .card:nth-child(4) {
    transform: translateY(64px);
  }
  .card:nth-child(5) {
    transform: translateY(80px);
  }
  .card:nth-child(6) {
    transform: translateY(96px);
  }
  .card:nth-child(7) {
    transform: translateY(112px);
  }
  .card:nth-child(8) {
    transform: translateY(128px);
  }
  .card:nth-child(9) {
    transform: translateY(144px);
  }
  .card:nth-child(10) {
    transform: translateY(160px);
  }
  .card:nth-child(11) {
    transform: translateY(176px);
  }
  .card:nth-child(12) {
    transform: translateY(192px);
  }
  .card:nth-child(13) {
    transform: translateY(208px);
  }
  .card:nth-child(14) {
    transform: translateY(224px);
  }
  .card:nth-child(15) {
    transform: translateY(240px);
  }

  /*styles tabs */

  .tabs {
    border-radius: 0.25rem;
  }
  .tabs__nav {
    justify-content: space-around;
    margin-top: -15px;
  }
  .tabs__btn {
    position: relative;
    padding: 1rem 1.25rem;
    cursor: pointer;
    transition: opacity 0.3s;
    border-radius: 5px;
    margin: 0 5px 0 5px;
  }
  .tabs__btn:not(.is-active) {
    opacity: 0.6;
    border: none;
    outline: none;
  }
  .tabs__btn:not(.is-active):hover {
    opacity: 1;
    border: none;
    outline: none;
  }
  .tabs__btn.is-active {
    color: var(--color-accent);
    background-color: #fff;
    border: none;
    outline: none;
    color: rgb(180, 32, 168);
    -webkit-box-shadow: 1px -1px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px -1px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 1px -1px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .tabs__btn.is-active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #fff;
    border: none;
    outline: none;
  }
  .tabs__btn:first-child.is-active {
    border: none;
    outline: none;
  }
  .tabs__pane {
    z-index: 10000;
    display: none;
    padding: 2rem 1.25rem;
    background-color: white;
    -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .tabs__pane.is-visible {
    display: block;
  }

  h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  p + p {
    margin-top: 1rem;
  }
  .img-tabs {
    max-width: 800px;
  }
  .icon-tabs {
    max-width: 100px;
  }
  .title-tabs {
    font-weight: bold;
    padding-top: 5vh;
  }
  .txt-tabs {
    font-weight: lighter;
    color: gray;
    font-size: 20px;
  }
  .tabs__btn {
    font-weight: bold;
  }
</style>
