

<div class="container" >
    <div class="row py-5">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed"   type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Faça pesquisas de DSAR automáticas e mantenha o custo de operação baixo
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                 
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-left justify-content-left flex-column"
                  >
                  O custo para gerenciar as DSARs aumentou em 74% 
                  em 2019 de acordo com o relatório de segurança e risco de 
                  dados de 2020 da Netwrix Corp. Com o número de requisições 
                  aumentando, o custo para manuseá-los se torna rapidamente 
                  insustentáveis a não ser que você tome uma ação rápida. 
                  Libere parte do seu orçamento para os projetos estratégicos 
                  de longo prazo automatizando o processo de encontrar e exportar 
                  informação pessoal associada a um indivíduo.
                    
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/dsar/1-2.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Delegue os processos de requisição e faça com que a sua organização cumpra as obrigações de privacidade
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column"
                  >
                  Arme a sua equipe com uma maneira fácil e 
                 rápida de lidar com DSARs enquanto mantém lado a lado 
                 o progresso de cada caso você mesmo, assim será possivel 
                 assegurar que a sua organização satisfaça todos comitês 
                 de privacidade de dados. Veja o status de todos os casos 
                 e receba alertas sobre o progresso deles.
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/dsar/2-2.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <style>
    
  .card-body {
    background: linear-gradient(180deg, rgba(43,88,118,1) 0%, rgba(78,67,118,1) 84%);
  
  }
  #accordionExample {
    color: white;
    width: 150em;
    margin-bottom: 2mm;
    text-align: left;
  }
  
  @media only screen and (min-width: 1499px) {
  
  #accordionExample  {
   
    display: none;
   }
  }
  
  /*Content Animation*/
  @keyframes fadeInScale {
   30% {
       transform: scale(0.9);
       opacity: 0;
   }
   
   100% {
       transform: scale(1);
       opacity: 1;
   }
  }
  
  </style>