

<div class="container">
    <div class="row py-5">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingFive">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed"   type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
            Reduza o risco das violações da privacidade de dados assegurando a informação de forma proativa
          </button>
        </h2>
      </div>
  
      <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                 
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-left justify-content-left flex-column"
                  >
                  É essencial que você seja capaz de localizar 
                  os dados pessoais sempre que requisitado, mas isso não 
                  é suficiente para que você garanta a confidencialidade. 
                  E se um auditor encontrar uma informação exposta? 
                  Ou pior, e se a mídia descobrir e acabar com a reputação 
                  da sua empresa de forma irreparável? Não espere por um 
                  incidente para garantir que os dados pessoais sejam armazenados 
                  apenas em locais seguros. Ao invés disso, procure e tome uma 
                  ação sobre qualquer dado exposto com os fluxos de trabalho 
                  automatizados.
                    
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/ameacas/image4.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSix">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Ganhe a confiança do cliente e aprecie a boa reputação do seu negócio garantindo a segurança dos dados pessoais
          </button>
        </h2>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column"
                  >
                  Os indivíduos estão cada vez mais cientes dos seus 
                 direitos de privacidade. Caso eles não tenham certeza da sua 
                 capacidade de proteger a informação sensível deles, eles irão 
                 solicitar a remoção e leva-las para outro lugar que eles julgam 
                 ser mais seguros. Saiba exatamente onde a informação pessoal dos 
                 seus clientes, funcionários e outros indivíduos estão armazenados 
                 e esteja pronto para prover a informação a eles ou deletá-los em 
                 caso de requisição.
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/ameacas/image5.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <style>
    
  .card-body {
    background: linear-gradient(180deg, rgba(43,88,118,1) 0%, rgba(78,67,118,1) 84%);
  
  }
  #accordionExample {
    color: white;
    width: 150em;
    margin-bottom: 2mm;
    text-align: left;
  }
  
  @media only screen and (min-width: 1499px) {
  
  #accordionExample  {
   
    display: none;
   }
  }
  
  /*Content Animation*/
  @keyframes fadeInScale {
   30% {
       transform: scale(0.9);
       opacity: 0;
   }
   
   100% {
       transform: scale(1);
       opacity: 1;
   }
  }
  
  </style>