<style>
  .case_container {
    padding: 0 50px;
  }
  .case_text {
    padding: 5px;
    font-size: 0.85em;
    color: #7e7c7c;
    font-style: italic;
    max-width: 1000px;
    background-color: #f8f8f8;
    min-height: 190px;
    text-align: center;
    margin: 0 auto;
  }
  .case_author {
    text-align: right;
    font-size: 0.8em;
    font-weight: 500;
    padding-top: 10px;
    font-style: italic;
    margin-left: 25px;
    color: #aa9e9e;
    bottom: 20px;
    position: absolute;
    margin: 0 auto;
    width: 100%;
  }
  @media (max-width: 768px) {
    .case_container {
      padding: 0;
    }
    .case_text {
      min-height: 300px;
    }
    .case_author {
      width: auto;
    }
  }
</style>
<div
  class="
    container-fluid
    case_container
    d-flex
    justify-content-center
    align-items-center
    flex-column
  "
>
  <div class="row">
    <div class="col">
      <h3 class="text-teal text-center py-3">Palavras de nossos clientes</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="case_text">
        <img
          src="../../../assets/img/common/left-quote.svg"
          style="width: 35px; padding: 5px 5px 10px 5px; margin-top: -20px"
          alt="Quote start."
        />
        Temos a AIQON como grande parceira de tecnologia há mais de sete anos.
        Começamos nossos trabalhos com a solução Verismic Power Manager para
        reduzir o consumo de energia nos computadores dos colaboradores da
        Tegra. Há cerca de três anos, implementamos o gerenciamento de patches,
        e inventário com o Syxsense. E agora com a utilização do Netwrix Auditor
        temos todo o controle das alterações na TI que nos apoiará com as
        demandas da LGPD. Estamos muito satisfeitos com a qualidade do software
        e dos serviços da AIQON.
        <img
          src="../../../assets/img/common/right-quote.svg"
          style="width: 35px; padding: 5px"
          alt="Quote end."
        />
      </p>
      <h6 class="case_author">
        Maurício Baise, Gerente de TI e Processos na
        <strong>Tegra Incorporadora</strong>
      </h6>
    </div>
  </div>
</div>
