<div class="container-fluid -modulos py-5">
    <div class="row pb-3">
        <div class="col text-center ">
            {% if page.title == 'Netwrix Auditor' %}
            <h1 class="text-blue">Maior cobertura de ambientes suportados</h1>
            <p id="mobile-hide" class="text-secondary">Visibilidade e controle sobre todos os seus sistemas on-premise
                ou baseados em nuvem de
                forma unificada</p>
            {% else %}
            <h1 class="text-blue">Conheça os módulos</h1>
            {% endif %}
        </div>
    </div>
    <div class="row row-datasource">
        <a href="/netwrix/active-directory/index.html"
            class="col solution-datasource d-flex align-items-center justify-content-between ">
            <img src="/assets/img/netwrix/modulos/Asset 1AD.svg" class="align-self-center">
            <p>Active Directory</p>
        </a>
        <a href="/netwrix/azure" class="col solution-datasource d-flex align-items-center justify-content-between ">
            <img src="/assets/img/netwrix/modulos/Asset 11AZURE.svg" class="align-self-center">
            <p>Azure AD</p>
        </a>
        <a href="/netwrix/exchange" class="col solution-datasource d-flex align-items-center justify-content-between ">
            <img src="/assets/img/netwrix/modulos/Asset 5EXCHANGE.svg" class="align-self-center">
            <p>Exchange</p>
        </a>
        <a href="/netwrix/office-365"
            class="col solution-datasource d-flex align-items-center justify-content-between ">
            <img src="/assets/img/netwrix/modulos/Asset 13OFFICE.svg" class="align-self-center">
            <p>Office 365</p>
        </a>
    </div>
    <div class="row row-datasource">
        <a href="/netwrix/sql-server" class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/Asset 2SQL.svg" class="align-self-center">
            <p>SQL Server</p>
        </a>
        <a href="/netwrix/windows-server"
            class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/Asset 3WINDOWS SERVER.svg" class="align-self-center">
            <p>Windows Server</p>
        </a>
        <a href="/netwrix/sharepoint" class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/Asset 10SHARE.svg" class="align-self-center">
            <p>SharePoint</p>
        </a>
        <a href="/netwrix/oracle-database"
            class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/Asset 7ORACLE.svg" class="align-self-center">
            <p>Oracle Database</p>
        </a>
    </div>
    <div class="row row-datasource">
        <a href="/netwrix/file-server"
            class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/Asset 8FILE SERVER.svg" class="align-self-center">
            <p>Windows File Server</p>
        </a>
        <a href="/netwrix/emc" class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/Asset 4EMC.svg" class="align-self-center">
            <p>EMC</p>
        </a>
        <a href="/netwrix/netapp" class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/Asset 6NETAPP.svg" class="align-self-center">
            <p>NetApp</p>
        </a>
        <a href="/netwrix/vmware" class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/Asset 12VMWARE.svg" class="align-self-center">
            <p>VMware</p>
        </a>
    </div>
</div>