<div class="container-fluid mt-5" id="tabs-products-netwrix-desktop">
  <ul class="nav nav-pills">
    <li class="list-item-tab active">
      <a class="btn-link-tab active" href="#tab-1" data-toggle="tab"
        >Deseja mitigar o risco de violações devido a senhas fracas?</a
      >
    </li>
    <li class="list-item-tab">
      <a class="btn-link-tab" href="#tab-2" data-toggle="tab"
        >Precisa cumpri os requisitos reguladores para senhas de usuário?</a
      >
    </li>
    <li class="list-item-tab">
      <a class="btn-link-tab" href="#tab-3" data-toggle="tab"
        >Quer que todos possam se concentrar em seus trabalhos do que em
        senhas?</a
      >
    </li>
  </ul>

  <div class="tab-content well">
    <div class="tab-pane active" id="tab-1">
      <div class="row justify-content-center mt-5">
        <div class="col-md-4">
          <img
            src="/assets/img/policy-enforcer/tab-1jpg.jpg"
            class="img-tab-item"
            alt=""
          />
        </div>
        <div class="col-md-4">
          <h4
            class="title-tabs-netwrix-products"
            class="title-tabs-netwrix-products"
          >
            Aplique facilmente senhas fortes com políticas flexíveis e regras
            poderosas
          </h4>
          <p class="desc-tabs-netwrix-products">
            Escolha entre dezenas de políticas de senha fortes e detalhadas,
            tanto no local quanto na nuvem. Adapte rapidamente as políticas para
            atender às suas necessidades exclusivas com regras altamente
            personalizáveis, verificação de senha vazada e controle granular
            sobre o que constitui uma nova senha válida usando detecção de
            substituição de caracteres, análise bidirecional, análise de curinga
            e muito mais.
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab-2">
      <div class="row justify-content-center mt-5">
        <div class="col-md-4">
          <img
            src="/assets/img/policy-enforcer/tab-2.jpg"
            class="img-tab-item"
            alt=""
          />
        </div>
        <div class="col-md-4">
          <h4 class="title-tabs-netwrix-products">
            Atenda aos requisitos de hoje e esteja pronto para os de amanhã
          </h4>
          <p class="desc-tabs-netwrix-products">
            Facilite a conformidade com senhas usando modelos de política
            prontos para uso baseados em CIS, HIPAA, NERC CIP, NIST e PCI DSS.
            Igualmente importante, obtenha a agilidade necessária para garantir
            que você possa modificar rapidamente suas políticas para atender aos
            novos requisitos, testar minuciosamente as alterações para garantir
            que atendam às suas necessidades e implantá-las perfeitamente, tanto
            no local quanto na nuvem.
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab-3">
      <div class="row justify-content-center mt-5">
        <div class="col-md-4">
          <img
            src="/assets/img/policy-enforcer/tab-3.jpg"
            class="img-tab-item"
            alt=""
          />
        </div>
        <div class="col-md-4">
          <h4 class="title-tabs-netwrix-products">
            Pare de permitir que o gerenciamento de senhas reduza a
            produtividade das equipes de TI e dos usuários corporativos
          </h4>
          <p class="desc-tabs-netwrix-products">
            Reduza as dores de cabeça e a sobrecarga administrativa da aplicação
            de políticas de senha, capacitando os administradores de TI para
            aplicar facilmente várias políticas de senhas fortes para usuários
            regulares e privilegiados e dando-lhes agilidade para responder
            rapidamente a novos requisitos. Reduza a frustração do usuário e a
            sobrecarga do helpdesk ajudando os usuários a escolher novas senhas
            compatíveis, lembrando-os proativamente sobre a expiração iminente
            da senha e capacitando-os a realizar uma alteração de senha em um
            navegador da web.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="tabs-products-netwrix-desktop"></div>

<style>
  .tabs-container {
  }
  .nav-pills {
    display: flex;
    justify-content: center;
    background-color: transparent !important;
  }
  .list-item-tab {
    margin: 25px;
  }
  .btn-link-tab {
    width: 5vw;
    border-radius: 5px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    font-weight: 500;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  }

  .btn-link-tab.active {
    border-left: 3px solid red;
    color: gray;
  }
  .btn-link-tab:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    text-decoration: none;
  }

  .list-item-tab a {
    background-color: white;
  }
  .img-tab-item {
    max-width: 30vw;

    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.23);
  }
  .title-tabs-netwrix-products {
    font-size: 1.8em;
    font-weight: lighter;
    margin-bottom: 4vh;
    margin-top: 10vh;
  }
  .desc-tabs-netwrix-products {
    font-weight: lighter;
    line-height: 3vh;
  }

  @media only screen and (max-width: 990px) {
    #tabs-products-netwrix-desktop {
      display: none;
    }
  }
</style>
