<div  class="container-fluid content-selector-products">
  <div id="selector-solution" class="container selector-products">
    <p class="title-netwrix-solution" style="color: blue !important">
      ATENDA A CADA SETOR DO SEU AMBIENTE
    </p>
    <h2 class="title-tab-hall-netwrix">
      Obtenha a proteção abrangente que você precisa
    </h2>
    <p class="desc-selector-netwrix">
      Os ecossistemas de TI atuais são complexos, mas cada elemento do ambiente
      ainda precisa ser protegido e monitorado continuamente. Isso inclui todos
      os diferentes tipos de dados que você armazena e processa, os aplicativos
      que você usa e todas as suas estações de trabalho, servidores e
      dispositivos de rede. Netwrix fornece um conjunto de soluções integradas
      que abrange tudo.
    </p>
    <div class="row text-white mt-5 content-solution">
      <div class="row w-100 justify-content-center">
        <div class="col-md">
          <div class="wrap">
            <div class="card card-selector-netwrix">
              <div class="card-liner">
                <figure>
                  <img
                    src="/assets/img/netwrix-products/logos/auditor.svg"
                    alt=""
                  />
                </figure>
                <div class="card--social">
                  <ul>
                    <li class="twitter">
                      <a href="#0"><i class=""></i></a>
                    </li>
                    <li class="linkedin">
                      <a href="#0"><i class=""></i></a>
                    </li>
                  </ul>
                </div>
                <div class="card--title text-gray">
                  <h3>Netwrix Auditor</h3>
                  <p>Netwrix Corporation</p>
                </div>
                <div class="card--desc text-gray">
                  <hr />
                  <p>
                    Torna possivel o controle sobre alterações, configurações e
                    acessos em ambientes de TI híbridos.
                  </p>
                </div>
                <div class="card--btn">
                  <a href="/netwrix">
                    <span class="moreinfo"> Saiba Mais</span>
                    <span class="fullprof">Conheça o software</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="wrap">
            <div class="card card-selector-netwrix">
              <div class="card-liner">
                <figure>
                  <img
                    src="/assets/img/netwrix-products/logos/data-classification.svg"
                    alt=""
                  />
                </figure>
                <div class="card--social">
                  <ul>
                    <li class="twitter">
                      <a href="#0"><i class=""></i></a>
                    </li>
                    <li class="linkedin">
                      <a href="#0"><i class=""></i></a>
                    </li>
                  </ul>
                </div>
                <div class="card--title text-gray">
                  <h3>
                    Netwrix <br />
                    Data Classification
                  </h3>
                  <p>Netwrix Corporation</p>
                </div>
                <div class="card--desc text-gray">
                  <hr />
                  <p>
                    Identifica e classifica os dados sensiveis na estrutura de
                    TI e reduz a exposição.
                  </p>
                </div>
                <div class="card--btn">
                  <a href="/ndc/">
                    <span class="moreinfo"> Saiba mais</span>
                    <span class="fullprof">Conheça o software</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="wrap">
            <div class="card card-selector-netwrix">
              <div class="card-liner">
                <figure>
                  <img
                    src="/assets/img/netwrix-products/logos/change-tracker.svg"
                    alt=""
                    class=""
                  />
                </figure>
                <div class="card--social">
                  <ul>
                    <li class="twitter">
                      <a href="#0"><i class=""></i></a>
                    </li>
                    <li class="linkedin">
                      <a href="#0"><i class=""></i></a>
                    </li>
                  </ul>
                </div>
                <div class="card--title text-gray">
                  <h3>
                    Netwrix <br />
                    Change Tracker
                  </h3>
                  <p>Syxsense Inc</p>
                </div>
                <div class="card--desc text-gray">
                  <hr />
                  <p>
                    Gerenciamento e segurança de TI que combina os recursos de
                    verificação de vulnerabilidades, patches e EDR.
                  </p>
                </div>
                <div class="card--btn">
                  <a href="/change-tracker/">
                    <span class="moreinfo"> Saiba mais</span>
                    <span class="fullprof">Conheça o software</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row w-100 justify-content-center">
        <div class="col-md">
          <div class="wrap">
            <div class="card card-selector-netwrix">
              <div class="card-liner">
                <figure>
                  <img
                    src="/assets/img/netwrix-products/logos/password-policy-enforcer.svg"
                    alt=""
                  />
                </figure>
                <div class="card--social">
                  <ul>
                    <li class="twitter">
                      <a href="#0"><i class=""></i></a>
                    </li>
                    <li class="linkedin">
                      <a href="#0"><i class=""></i></a>
                    </li>
                  </ul>
                </div>
                <div class="card--title text-gray">
                  <h3>
                    Netwrix <br />
                    Password Policy <br />
                    Enforcer
                  </h3>
                  <br />
                </div>
                <div class="card--desc text-gray">
                  <hr />
                  <p>
                    Gerenciador de senha verdadeiramente eficaz sem todos os
                    aborrecimentos
                  </p>
                </div>
                <div class="card--btn">
                  <a href="/policy-enforcer/">
                    <span class="moreinfo"> Saiba Mais</span>
                    <span class="fullprof">Conheça o software</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="wrap">
            <div class="card card-selector-netwrix">
              <div class="card-liner">
                <figure>
                  <img
                    src="/assets/img/netwrix-products/logos/password-secure.svg"
                    class=""
                    alt=""
                  />
                </figure>
                <div class="card--social">
                  <ul>
                    <li class="twitter">
                      <a href="#0"><i class=""></i></a>
                    </li>
                    <li class="linkedin">
                      <a href="#0"><i class=""></i></a>
                    </li>
                  </ul>
                </div>
                <div class="card--title text-gray">
                  <h3>
                    Netwrix <br />
                    Password Secure
                  </h3>
                </div>
                <div class="card--desc text-gray">
                  <hr />
                  <p>
                    Resolva seus desafios de gerenciamento e proteção de
                    endpoint onde quer que os usuários trabalhem,
                  </p>
                </div>
                <div class="card--btn">
                  <a href="/password-secure/">
                    <span class="moreinfo"> Saiba Mais</span>
                    <span class="fullprof">Conheça o software</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="wrap">
            <div class="card card-selector-netwrix">
              <div class="card-liner">
                <figure>
                  <img
                    src="/assets/img/netwrix-products/logos/password-reset.svg"
                    alt=""
                  />
                </figure>
                <div class="card--social">
                  <ul>
                    <li class="twitter">
                      <a href="#0"><i class=""></i></a>
                    </li>
                    <li class="linkedin">
                      <a href="#0"><i class=""></i></a>
                    </li>
                  </ul>
                </div>
                <div class="card--title text-gray">
                  <h3>
                    Netwrix <br />
                    Password Reset
                  </h3>
                </div>
                <div class="card--desc text-gray">
                  <hr />
                  <p>
                    Permita aos usuários redefinir ou alterar com segurança suas
                    próprias senhas e desbloquear suas contas.
                  </p>
                </div>
                <div class="card--btn">
                  <a href="/password-reset/">
                    <span class="moreinfo"
                      ><i class="fa-il"></i> Saiba Mais</span
                    >
                    <span class="fullprof">Conheça o software</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row w-100 justify-content-center">
        <div class="col-md">
          <div class="wrap">
            <div class="card card-selector-netwrix">
              <div class="card-liner">
                <figure>
                  <img
                    src="/assets/img/netwrix-products/logos/policypak.svg"
                    class="py-5"
                    alt=""
                  />
                </figure>
                <div class="card--social">
                  <ul>
                    <li class="twitter">
                      <a href="#0"><i class=""></i></a>
                    </li>
                    <li class="linkedin">
                      <a href="#0"><i class=""></i></a>
                    </li>
                  </ul>
                </div>
                <div class="card--title text-gray">
                  <h3>Netwrix PolicyPak</h3>
                </div>
                <div class="card--desc text-gray">
                  <hr />
                  <p>
                    Permite que você resolva seus desafios de gerenciamento e
                    proteção de endpoint onde quer que os usuários trabalhem.
                  </p>
                </div>
                <div class="card--btn">
                  <a href="/policypak/">
                    <span class="moreinfo"
                      >| <i class="fa-il"></i> Saiba Mais</span
                    >
                    <span class="fullprof">Conheça o software</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="wrap">
            <div class="card card-selector-netwrix">
              <div class="card-liner">
                <figure>
                  <img
                    src="/assets/img/netwrix-products/logos/sbPAM.svg"
                    alt=""
                  />
                </figure>
                <div class="card--social">
                  <ul>
                    <li class="twitter">
                      <a href="#0"><i class=""></i></a>
                    </li>
                    <li class="linkedin">
                      <a href="#0"><i class=""></i></a>
                    </li>
                  </ul>
                </div>
                <div class="card--title text-gray">
                  <h3>Netwrix SbPAM</h3>
                  <p>Netwrix Corporation</p>
                </div>
                <div class="card--desc text-gray">
                  <hr />
                  <p>Gerencie o privilégio de administradores</p>
                </div>
                <div class="card--btn">
                  <a href="/sbpam/">
                    <span class="moreinfo"> Saiba Mais</span>
                    <span class="fullprof">Conheça o software</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="wrap">
            <div class="card card-selector-netwrix">
              <div class="card-liner">
                <figure>
                  <img
                    src="/assets/img/netwrix-products/logos/stealthAUDIT.svg"
                    alt=""
                  />
                </figure>
                <div class="card--social">
                  <ul>
                    <li class="twitter">
                      <a href="#0"><i class=""></i></a>
                    </li>
                    <li class="linkedin">
                      <a href="#0"><i class=""></i></a>
                    </li>
                  </ul>
                </div>
                <div class="card--title text-gray">
                  <h3>Netwrix StealthAUDIT</h3>
                  <p>Netwrix Corporation</p>
                </div>
                <div class="card--desc text-gray">
                  <hr />
                  <p>Obtenham facilmente informações de seus dados</p>
                </div>
                <div class="card--btn">
                  <a href="/stealthaudit/">
                    <span class="moreinfo"> Saiba Mais</span>
                    <span class="fullprof">Conheça o software</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row w-100 justify-content-center">
        <div class="col-md">
          <div class="wrap">
            <div class="card card-selector-netwrix">
              <div class="card-liner">
                <figure>
                  <img
                    src="/assets/img/netwrix-products/logos/stealthDEFEND.svg"
                    alt=""
                  />
                </figure>
                <div class="card--social">
                  <ul>
                    <li class="twitter">
                      <a href="#0"><i class=""></i></a>
                    </li>
                    <li class="linkedin">
                      <a href="#0"><i class=""></i></a>
                    </li>
                  </ul>
                </div>
                <div class="card--title text-gray">
                  <h3>Netwrix StealthDEFEND</h3>
                  <p>Netwrix Corporation</p>
                </div>
                <div class="card--desc text-gray">
                  <hr />
                  <p>
                    Proteção do AD e File Server respondendo automaticamente os
                    ataques sofisticados nos seus estágios iniciais.
                  </p>
                </div>
                <div class="card--btn">
                  <a href="/stealthdefend">
                    <span class="moreinfo"> Saiba Mais</span>
                    <span class="fullprof">Conheça o software</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="wrap">
            <div class="card card-selector-netwrix">
              <div class="card-liner">
                <figure>
                  <img
                    src="/assets/img/netwrix-products/logos/stealthINTERCEPT.svg"
                    alt=""
                  />
                </figure>
                <div class="card--social">
                  <ul>
                    <li class="twitter">
                      <a href="#0"><i class=""></i></a>
                    </li>
                    <li class="linkedin">
                      <a href="#0"><i class=""></i></a>
                    </li>
                  </ul>
                </div>
                <div class="card--title text-gray">
                  <h3>Netwrix StealthINTERCEPT</h3>
                  <p>Netwrix Corporation</p>
                </div>
                <div class="card--desc text-gray">
                  <hr />
                  <p>
                    Identifique ameaças de autenticação e sistemas de arquivos,
                    abuso de contas e alterações críticas na TI.
                  </p>
                </div>
                <div class="card--btn">
                  <a href="/stealthintercept">
                    <span class="moreinfo"> Saiba Mais</span>
                    <span class="fullprof">Conheça o software</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="wrap">
            <div class="card card-selector-netwrix">
              <div class="card-liner">
                <figure>
                  <img
                    src="/assets/img/netwrix-products/logos/usercube.svg"
                    class="py-5"
                    alt=""
                  />
                </figure>
                <div class="card--social">
                  <ul>
                    <li class="twitter">
                      <a href="#0"><i class=""></i></a>
                    </li>
                    <li class="linkedin">
                      <a href="#0"><i class=""></i></a>
                    </li>
                  </ul>
                </div>
                <div class="card--title text-gray">
                  <h3>Netwrix Usercube</h3>
                  <p>Netwrix Corporation</p>
                </div>
                <div class="card--desc text-gray">
                  <hr />
                  <p>
                    Automatizar, governar e controlar suas identidades
                    corporativas
                  </p>
                </div>
                <div class="card--btn">
                  <a href="/usercube/">
                    <span class="moreinfo"> Saiba Mais</span>
                    <span class="fullprof">Conheça o software</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row w-100">
        <div class="col-md">
          <div class="wrap">
            <div class="card card-selector-netwrix">
              <div class="card-liner">
                <figure>
                  <img
                    src="/assets/img/netwrix-products/logos/group-id.svg"
                    alt=""
                  />
                </figure>
                <div class="card--social">
                  <ul>
                    <li class="twitter">
                      <a href="#0"><i class=""></i></a>
                    </li>
                    <li class="linkedin">
                      <a href="#0"><i class=""></i></a>
                    </li>
                  </ul>
                </div>
                <div class="card--title text-gray">
                  <h3>Netwrix GroupID</h3>
                  <p>Netwrix Corporation</p>
                </div>
                <div class="card--desc text-gray">
                  <hr />
                  <p>
                    A base para o gerenciamento de segurança e identidade das
                    organizações.
                  </p>
                </div>
                <div class="card--btn">
                  <a href="/groupid/">
                    <span class="moreinfo"> Saiba Mais</span>
                    <span class="fullprof">Conheça o software</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="wrap">
            <div class="card card-selector-netwrix">
              <div class="card-liner">
                <figure>
                  <img
                    src="/assets/img/netwrix-products/logos/nwx-stealthRECOVER.svg"
                    alt=""
                  />
                </figure>
                <div class="card--social">
                  <ul>
                    <li class="twitter">
                      <a href="#0"><i class=""></i></a>
                    </li>
                    <li class="linkedin">
                      <a href="#0"><i class=""></i></a>
                    </li>
                  </ul>
                </div>
                <div class="card--title text-gray">
                  <h3>Netwrix Recovery for AD</h3>
                  <p>Netwrix Corporation</p>
                </div>
                <div class="card--desc text-gray">
                  <hr />
                  <p>
                    Minimize o tempo de inatividade e reduza o risco de violação
                    de dados
                  </p>
                </div>
                <div class="card--btn">
                  <a href="/stealth-recover/">
                    <span class="moreinfo"> Saiba Mais</span>
                    <span class="fullprof">Conheça o software</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid img-customers-hall py-5">
    <div class="row justify-content-center">
      <img
        id="form-netwrix-hall"
        class="img-customers-netwrix-hall"
        src="/assets/img/netwrix-products/customers/homepage_logoroll_lg.webp"
        alt=""
      />
    </div>
  </div>
</div>

<style>
  .img-customers-metwrix-hall {
    margin-top: 10vh;
  }
  .title-netwrix-solution {
    font-size: 15px;
    color: blue !important;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 2vh;
    text-align: center;
  }
  .content-selector-products {
    padding-top: 15vh;
    padding-bottom: 15vh;
    background: radial-gradient(
      circle,
      rgba(50, 0, 189, 1) 18%,
      rgba(50, 0, 189, 1) 68%,
      rgba(3, 0, 204, 1) 100%
    );
  }
  .selector-products {
    background-color: white;
    border-radius: 8px;
    padding-top: 10vh;
    padding-left: 10vh;
    padding-right: 10vh;
  }
  .desc-selector-netwrix {
    color: gray;
    margin-top: 5vh;
    text-align: center;
  }
  .aliancas-background {
    background: url("/assets/img/aliancas/partner.jpg") no-repeat top;
    height: 50vh;
    background-size: cover;
  }

  .content-job {
    padding-top: 15vh;
    color: white;
  }

  .edge-top {
    border-left: 2px solid white;
    border-top: 2px solid white;
  }

  .solution-content {
    padding: 5vh 10vw 0 10vw;
  }

  .fa-gatner {
    content: url("/assets/img/common/gatner_ico.png");
  }

  .col-content {
    padding-top: 10vh;
  }

  .fa-usa {
    content: url("/assets/img/aliancas/united-states-of-america.png");
    max-width: 15px;
  }

  .fa-il {
    content: url("/assets/img/aliancas/israel.svg");
    max-width: 15px;
  }

  .text-aiqon {
    font-weight: lighter;
    color: gray;
  }
</style>

<style>
  .wrap {
    max-width: 20em;
    margin: 3em auto;
  }

  .card {
    background: #fff;
    border: 1px solid #eee;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }

  .card:hover figure {
    -webkit-transform: scale(0.6) translateY(-1.4em);
    transform: scale(0.6) translateY(-1.4em);
  }

  .card:hover .card--title {
    -webkit-transform: translateY(-5em);
    transform: translateY(-5em);
  }

  .card:hover .card--desc {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  .card:hover .card--desc p {
    opacity: 1;
  }

  .card:hover .card--desc hr {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  .card:hover .card--social li {
    opacity: 1;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg);
  }

  .card:hover .card--btn a {
    background: #fbfbfb;
    border-color: #ddd;
  }

  .card:hover .card--btn .moreinfo {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  .card:hover .card--btn .fullprof {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .card figure {
    position: relative;
    width: 10em;
    height: 10em;
    margin: 0 auto 1em;
    border-radius: 2%;
    overflow: hidden;

    padding: 4px;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .card figure img {
    width: 100%;
    border-radius: 2%;
    padding: 30px;
  }

  .card-liner {
    position: relative;
    overflow: hidden;
    padding: 2em;
    height: 45vh;
  }

  .card--title {
    text-align: center;
    line-height: 1;
    -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .card--title h3 {
    margin: 0 0 0.4em;
    font-size: 1.4em;
  }

  .card--title p {
    margin: 0 0 5em;
    color: #a5a5a5;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2.2px;
  }

  .card--desc {
    position: absolute;
    top: 53.5%;
    left: 9%;
    width: 82%;
    text-align: center;
    padding-bottom: 0.8em;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(3em);
    transform: translateY(3em);
    -webkit-transition: all 0.02s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.02s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .card--desc p {
    margin: 0 0 0.5em;
    font-weight: 300;
    opacity: 0;
    -webkit-transition: all 0.55s ease 0.1s;
    transition: all 0.55s ease 0.1s;
  }

  .card--desc p span {
    text-decoration: line-through;
  }

  .card--desc hr {
    border: none;
    width: 3em;
    margin: 0 auto 0.75em;
    height: 3px;
    background: #0a9191;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.05s;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.05s;
  }

  .card--btn {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .card--btn a {
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
    color: #a5a5a5;
    padding: 1.4em 2em;
    border-top: 1px solid #eee;
    letter-spacing: 0.5px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .card--btn a .fullprof {
    display: block;
    opacity: 0;
    color: #0a9191;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .card--btn a .moreinfo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.4em;
    opacity: 1;
    -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .card--btn a .moreinfo i {
    margin-right: 5px;
  }

  .card--social {
    position: absolute;
    top: 3em;
    left: 0;
    width: 100%;
  }

  .card--social ul {
    list-style: none;
    margin: 0;
    padding: 2em;
    position: relative;
  }

  .card--social li {
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.02s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.02s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .card--social li.twitter {
    left: 72%;
    -webkit-transform: translate(-200%, 1em) scale(0.7);
    transform: translate(-200%, 1em) scale(0.7);
  }

  .card--social li.linkedin {
    right: 72%;
    -webkit-transform: translate(200%, 1em) scale(0.7);
    transform: translate(200%, 1em) scale(0.7);
  }

  .card--social a {
    line-height: 2.4;
    display: block;
    width: 2.3em;
    height: 2.3em;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: #fbfbfb;
    color: #0a9191;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 3px;
  }

  .card--social a:hover {
    background: #eee;
  }

  .cred {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: #fff;
    border-top: 1px solid #eee;
    text-decoration: none;
  }

  .cred a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #ccc;
    font-weight: 300;
    font-size: 0.9em;
    letter-spacing: 0.5px;
  }

  .cred a i {
    margin-left: 10px;
  }
  .card-selector-netwrix {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
  }
  .card-selector-netwrix:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  /** ICONS  **/

  .auditor-search {
    content: url(/assets/img/netwrix-products/icons/search.svg);
    width: 100%;
  }
  .auditor-alert {
    content: url(/assets/img/netwrix-products/icons/alerts.svg);
    width: 100%;
  }
  .ndc-lgpd {
    content: url(/assets/img/netwrix-products/icons/ndc-target.svg);
    width: 100%;
  }
  .ndc-remediation {
    content: url(/assets/img/netwrix-products/icons/ndc-remediation.svg);
  }
  @media only screen and (max-width: 768px) {
    .selector-products {
      padding: 6vh 8vw;
    }
    .title-tab-hall-netwrix {
      font-size: 2em !important;
    }
    .img-customers-netwrix-hall {
      width: 100vw;
      padding: 15px;
      margin-top: 10vh;
    }
  }
</style>
