---
layout: default
title: CDR
---

<div
  class="container-fluid"
  style="
    background: linear-gradient(to right, #0c173b, #5fb1f3);
    height: 500px;
    padding-top: 14vh;
    color: white;
  "
>
  <canvas class="background"></canvas>
  <br />
  <br />

  <div class="row">
    <div
      class="col -solution-hero d-flex flex-column justify-content-center align-items-center text-center"
    >
      <!--<img src="/assets/img/obsidian/logo.png" />-->
      <h1>Detecção e Resposta em Cloud (CDR)</h1>
      <br />
      <p>{% include site/modal_form.html title="CDR" id="cdr_form "%}</p>
    </div>
  </div>
</div>
<br />
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3>Proteção para as aplicações SaaS</h3>
        <p class="text-secondary">
          Detecte ameaças, corrija violações e reforce a segurança nos
          aplicativos SaaS rapidamente, com monitoramento e análise contínuos
          sem diminuir a velocidade dos negócios. Tudo isso em na única
          plataforma que oferece visibilidade unificada de usuários, privilégios
          e atividades no SaaS, permitindo detectar e investigar violações,
          descobrir ameaças internas e proteger aplicativos SaaS.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mb-5 mt-5">
  <div class="row mw-1200 mx-auto d-flex justify-content-center pt-5">
    <div class="col text-center">
      <img
        style="max-width: 150px"
        src="/assets/img/obsidian/account.webp"
        alt="Análise de performance"
      />
      <p class="py-3 p-160 mx-auto text-teal">Proteção de contas</p>
    </div>
    <div class="col text-center">
      <img
        style="max-width: 150px"
        src="/assets/img/obsidian/colaborate.webp"
        alt="Análise de performance"
      />
      <p class="py-3 p-160 mx-auto text-teal">Colaboração segura</p>
    </div>
    <div class="col text-center">
      <img
        style="max-width: 150px"
        src="/assets/img/obsidian/discovery.webp"
        alt="Análise de custo."
      />
      <p class="py-3 p-160 mx-auto text-teal">Descoberta e combate a ameaças</p>
    </div>
    <div class="col text-center">
      <img
        style="max-width: 150px"
        src="/assets/img/obsidian/detection.webp"
        alt="Dados de suprimentos."
      />
      <p class="py-3 p-160 mx-auto text-teal">Detecção de ameaça a internas</p>
    </div>
    <div class="col text-center">
      <img
        style="max-width: 150px"
        src="/assets/img/obsidian/incidents.webp"
        alt="Níveis de materiais."
      />

      <p class="py-3 p-160 mx-auto text-teal">Resposta a incidentes</p>
    </div>
  </div>
</div>
<div
  class="container-fluid -modulosobs py-5 mt-5 "
  style="background: linear-gradient(#388fc4, #c1ddf4, #cfdef3)"
>
  <div class="row pb-3">
    <div class="col text-center">
      {% if page.title == 'Netwrix Auditor' %}
      <h3 class="text-blueobs">Suporte aos principais serviços</h3>
      <br />
      {% else %}
      <h3 class="text-blueobs">Suporte aos principais serviços</h3>
      <br />
      {% endif %}
      <p style="font-size: 20px; color: rgb(87, 87, 87)">
        Integrações profundas com os principais serviços de SaaS, IaaS e
        provedores de identidade para fornecer proteção abrangente aos
        aplicativos de negócios atuais.
      </p>
    </div>
    <br />
    <br />
  </div>

  <div class="row row-datasourceobs">
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-between"
      style="height: 58px"
    >
      <img
        src="/assets/img/obsidian/modules/google.svg"
        class="align-self-center"
      />
      <p>Google</p>
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-between"
      style="height: 58px"
    >
      <img
        src="/assets/img/obsidian/modules/aws.webp"
        class="align-self-center"
      />
      <p>AWS</p>
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-between"
      style="height: 58px"
    >
      <img
        src="/assets/img/obsidian/modules/azure.svg"
        class="align-self-center"
      />
      <p>Azure</p>
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-between"
      style="height: 58px"
    >
      <img
        src="/assets/img/obsidian/modules/office.svg"
        class="align-self-center"
      />
      <p>Office 365</p>
    </a>
  </div>
  <div class="row row-datasourceobs">
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-between"
      style="height: 58px"
    >
      <img
        src="/assets/img/obsidian/modules/salesforce.svg"
        class="align-self-center"
      />
      <p>SalesForce</p>
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-between"
      style="height: 58px"
    >
      <img
        src="/assets/img/obsidian/modules/box.svg"
        class="align-self-center"
      />
      <p>Box</p>
    </a>

    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-between"
      style="height: 58px"
    >
      <img
        src="/assets/img/obsidian/modules/dropbox.svg"
        class="align-self-center"
      />
      <p>Dropbox</p>
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-between"
      style="height: 58px"
    >
      <img
        src="/assets/img/obsidian/modules/github.svg"
        class="align-self-center"
      />
      <p>Github</p>
    </a>
  </div>
  <div class="row row-datasourceobs">
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-between"
      style="height: 58px"
    >
      <img
        src="/assets/img/obsidian/modules/Okta_logo.svg"
        class="align-self-center"
      />
      <p>OKTA</p>
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-between"
      style="height: 58px"
    >
      <img
        src="/assets/img/obsidian/modules/duo.webp"
        class="align-self-center"
      />
      <p>Duo</p>
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-between"
      style="height: 58px"
    >
      <img
        src="/assets/img/obsidian/modules/slack.webp"
        class="align-self-center"
      />
      <p>Slack</p>
    </a>
    <a
      class="col solution-datasourceobs d-flex align-items-center justify-content-between"
      style="height: 58px"
    >
      <img
        src="/assets/img/obsidian/modules/workdays.webp"
        class="align-self-center"
      />
      <p>Work Days</p>
    </a>
  </div>
</div>

<div
  class="container-fluid -solution-highlight -obs"
  style="background-color: white;"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 p-4 d-flex">
        <img
          src="/assets/img/obsidian/account.webp"
          style="max-width: 50%"
          class="mx-auto my-auto"
        />
      </div>
      <div
        class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center flex-column"
      >
        <h1 style="width: 100%">Proteja as contas de usuários na nuvem</h1>
        <p>
          Proteja as contas de usuário e serviço contra aquisição e uso
          indevido. Mantenha seus ativos em nuvem seguros sem degradar a
          experiência de usuários legítimos.
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="container-fluid -solution-highlight -obs"
  style="background-color: #f6f6f6"
>
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 col-md-12 p-2 d-flex align-items-center justify-content-center flex-column"
      >
        <h1 style="width: 100%">Ativar colaboração segura</h1>
        <p>
          Descubra compartilhamento de arquivos com excesso de permissões,
          encaminhamento de email, aplicativos de terceiros com amplos
          privilégios e muito mais. Liberte o poder da colaboração enquanto
          protege os ativos do negócios.
        </p>
      </div>
      <div class="col-lg-6 col-md-12 p-4 d-flex">
        <img
          src="/assets/img/obsidian/colaborate.webp"
          style="max-width: 50%"
          class="mx-auto my-auto"
        />
      </div>
    </div>
  </div>
</div>

<div
  class="container-fluid -solution-highlight -obs"
  style="background-color: white"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 p-4 d-flex">
        <img
          src="/assets/img/obsidian/discovery.webp"
          style="max-width: 50%"
          class="mx-auto my-auto"
        />
      </div>
      <div
        class="col-lg-6 col-md-12 p-2 d-flex align-items-center justify-content-center flex-column"
      >
        <h1 style="width: 100%">Descobrir e combater ameaças</h1>
        <p>
          Descubra rapidamente indicadores de logons incomuns, persistência de
          SaaS, exfiltração de dados, movimento lateral, abuso de token OAuth e
          outras ameaças com visibilidade e análise unificadas.
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="container-fluid -solution-highlight -obs"
  style="background-color: #f6f6f6"
>
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 col-md-12 p-2 d-flex align-items-center justify-content-center flex-column"
      >
        <h1 style="width: 100%">Detectar ameaças internas</h1>
        <p>
          Descubra a exposição de dados, elevação de privilégios, contas de
          backdoor, compartilhamento inadequado e outros sinais de ameaças
          internas intencionais e acidentais e acesso indevido.
        </p>
      </div>
      <div class="col-lg-6 col-md-12 p-4 d-flex">
        <img
          src="/assets/img/obsidian/detection.webp"
          style="max-width: 50%"
          class="mx-auto my-auto"
        />
      </div>
    </div>
  </div>
</div>

<div
  class="container-fluid -solution-highlight -obs"
  style="background-color: white"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 p-4 d-flex">
        <img
          src="/assets/img/obsidian/incidents.webp"
          style="max-width: 50%"
          class="mx-auto my-auto"
        />
      </div>
      <br />
      <br />
      <br />
      <br />
      <div
        class="col-lg-6 col-md-12 p-2 d-flex align-items-center justify-content-center flex-column"
      >
        <h1 style="width: 100%">Investigue e responda a incidentes</h1>
        <p>
          Investigue rapidamente incidentes, identifique a causa raiz e avalie o
          impacto com uma visão consolidada e enriquecida de usuários,
          privilégios e atividades nos aplicativos SaaS.
        </p>
      </div>
    </div>
  </div>
</div>


<div
  class="container-fluid -solution-highlight"
  style="background: linear-gradient(#0485ad, #0987a8)"
  id="trial_obs"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 p-4 d-flex">
        <img
          src="/assets/img/obsidian/trial.webp"
          style="max-width: 80%"
          class="mx-auto my-auto"
        />
      </div>
      <div
        class="col-lg-6 col-md-12 p-2 d-flex align-items-center justify-content-center flex-column"
      >
        <h1 style="width: 100%; color: white">Faça o teste gratuito</h1>
        <h4 style="width: 100%; color: white">
          Tenha duas semanas para ficar frente a frente da solução CDR.
        </h4>
        <ul>
          <li style="color: white">
            Teste quantos serviços em cloud você desejar durante a avaliação
          </li>
          <li style="color: white">Número ilimitado de usuários monitorados</li>
          <li style="color: white">Todo o suporte da nossa equipe</li>
          <br />
          <a>
            <p>
              {% include site/modal_form.html title="CDR" id="cdr_form "%}
            </p></a
          >
        </ul>
      </div>
    </div>
  </div>
</div>

{% include site/js/collapsible.html %}

<style>
  @media only screen and (max-width: 768px) {
    #trial_obs {
      display: none;
    }
    #trial_obs p {
      display: none;
    }
  }

  @media only screen and (min-width: 500px) {
    #showOnlyMobile {
      display: none;
    }
    #colapse {
      display: none;
    }
    #formHidden {
      display: none;
    }

    /*Content Animation*/
    @keyframes fadeInScale {
      0% {
        transform: scale(0.9);
        opacity: 0;
      }

      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
</style>
