<script>
  class StickyNavigation {
    constructor() {
      this.currentId = null;
      this.currentTab = null;
      this.tabContainerHeight = 70;
      this.lastScroll = 0;
      let self = this;
      $(".sticky-nav-tab").click(function () {
        self.onTabClick(event, $(this));
      });
      $(window).scroll(() => {
        this.onScroll();
      });
      $(window).resize(() => {
        this.onResize();
      });
    }

    onTabClick(event, element) {
      event.preventDefault();
      let scrollTop =
        $(element.attr("href")).offset().top - this.tabContainerHeight + 1;
      $("html, body").animate({ scrollTop: scrollTop }, 600);
    }

    onScroll() {
      this.checkHeaderPosition();
      this.findCurrentTabSelector();
      this.lastScroll = $(window).scrollTop();
    }

    onResize() {
      if (this.currentId) {
        this.setSliderCss();
      }
    }

    checkHeaderPosition() {
      const headerHeight = 75;
      if ($(window).scrollTop() > headerHeight) {
        $(".spa-header").addClass("spa-header--scrolled");
      } else {
        $(".spa-header").removeClass("spa-header--scrolled");
      }
      let offset =
        $(".sticky-nav-tabs").offset().top +
        $(".sticky-nav-tabs").height() -
        this.tabContainerHeight -
        headerHeight;
      if (
        $(window).scrollTop() > this.lastScroll &&
        $(window).scrollTop() > offset
      ) {
        $(".spa-header").addClass("spa-header--move-up");
        $(".sticky-nav-tabs-container").removeClass(
          "sticky-nav-tabs-container--top-first"
        );
        $(".sticky-nav-tabs-container").addClass(
          "sticky-nav-tabs-container--top-second"
        );
      } else if (
        $(window).scrollTop() < this.lastScroll &&
        $(window).scrollTop() > offset
      ) {
        $(".spa-header").removeClass("spa-header--move-up");
        $(".sticky-nav-tabs-container").removeClass(
          "sticky-nav-tabs-container--top-second"
        );
        $(".sticky-nav-tabs-container").addClass(
          "sticky-nav-tabs-container--top-first"
        );
      } else {
        $(".spa-header").removeClass("spa-header--move-up");
        $(".sticky-nav-tabs-container").removeClass(
          "sticky-nav-tabs-container--top-first"
        );
        $(".sticky-nav-tabs-container").removeClass(
          "sticky-nav-tabs-container--top-second"
        );
      }
    }

    findCurrentTabSelector(element) {
      let newCurrentId;
      let newCurrentTab;
      let self = this;
      $(".sticky-nav-tab").each(function () {
        let id = $(this).attr("href");
        let offsetTop = $(id).offset().top - self.tabContainerHeight;
        let offsetBottom =
          $(id).offset().top + $(id).height() - self.tabContainerHeight;
        if (
          $(window).scrollTop() > offsetTop &&
          $(window).scrollTop() < offsetBottom
        ) {
          newCurrentId = id;
          newCurrentTab = $(this);
        }
      });
      if (this.currentId != newCurrentId || this.currentId === null) {
        this.currentId = newCurrentId;
        this.currentTab = newCurrentTab;
        this.setSliderCss();
      }
    }

    setSliderCss() {
      let width = 0;
      let left = 0;
      if (this.currentTab) {
        width = this.currentTab.css("width");
        left = this.currentTab.offset().left;
      }
      $(".sticky-nav-tab-slider").css("width", width);
      $(".sticky-nav-tab-slider").css("left", left);
    }
  }

  new StickyNavigation();

  var _gaq = _gaq || [];
  _gaq.push(["_setAccount", "UA-36251023-1"]);
  _gaq.push(["_setDomainName", "jqueryscript.net"]);
  _gaq.push(["_trackPageview"]);

  (function () {
    var ga = document.createElement("script");
    ga.type = "text/javascript";
    ga.async = true;
    ga.src =
      ("https:" == document.location.protocol ? "https://ssl" : "http://www") +
      ".google-analytics.com/ga.js";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>
<section class="sticky-nav-tabs">
  <div class="sticky-nav-tabs-container">
    <a class="sticky-nav-tab" href="#tab-react">Dados</a>
    <a class="sticky-nav-tab" href="#tab-angular">Identidade</a>
    <a class="sticky-nav-tab" href="#tab-cssscript">Soluções Enterprise</a>
    <a class="sticky-nav-tab" href="#tab-vue">EndPoint</a>
    <!-- <a class="sticky-nav-tab" href="#tab-last">E-mail</a>-->
    <span class="sticky-nav-tab-slider"></span>
  </div>
</section>

<main class="spa-main">
  <section class="spa-slide" id="tab-react">
    <div class="row">
      <div class="col-md-6 col-text-cyber">
        <h3 class="title-cyber-cards">Dados</h3>
        <p class="desc-cyber-cards">
          Soluções de proteção de dados são cruciais para garantir a segurança
          cibernética e proteger informações confidenciais contra ameaças
          externas. A AIQON oferece soluções para os diversos níveis de proteção
          de dados.
        </p>
        <ul>
          <li>
            <b>Mapeamento e Classificação de dados</b> minimize a probabilidade
            de uma violação de dados identificando seus dados mais críticos
          </li>
          <li>
            <b>Tokenização de dados</b> substitua as informações confidenciais
            por um valor aleatório e único, impedindo o acesso indevido até
            mesmo em casos de roubo de dados
          </li>
          <li>
            <b>Trilha de auditoria</b> obtenha rapidamente as informações
            exigidas pela gerência, auditores e outras partes interessadas, em
            vez de lutar com scripts, arquivos de log e planilhas.
          </li>
          <li>
            <b>Criptografia de e-mail</b> tenha certeza de que suas comunicações
            por e-mail estão seguras e protegidas contra invasões indesejadas,
            garantindo que apenas o destinatário pretendido possa ler o seu
            e-mail
          </li>
        </ul>
      </div>
      <div class="col-md-6 content-item-card">
        <!--
        <div class="row justify-content-end">
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/ad.svg"
              class="icon-cyber-cards"
              alt=""
            />
            <p>Active Directory</p>
          </div>
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/sql.svg"
              class="icon-cyber-cards"
              alt=""
            />
            <p>SQL Database</p>
          </div>
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/file-server.svg"
              class="icon-cyber-cards"
              alt=""
            />
            <p>File Server</p>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/email.svg"
              class="icon-cyber-cards"
              alt=""
            />
            <p>E-mail</p>
          </div>
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/oracle.svg"
              class="icon-cyber-cards"
              alt=""
            />
            <p>Oracle Database</p>
          </div>
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/365.svg"
              class="icon-cyber-cards"
              alt=""
            />
            <p>Office 365</p>
          </div>
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/google-drive.svg"
              class="icon-cyber-cards"
              alt=""
            />
            <p>Google Drive</p>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <section class="spa-slide" id="tab-angular">
    <div class="row">
      <div class="col-md-6 col-text-cyber">
        <h3 class="title-cyber-cards">Identidade</h3>
        <p class="desc-cyber-cards">
          Soluções de proteção de identidade permite o controle de quem pode
          acessar seus sistemas e dados e como esse acesso é concedido. Otimize
          também a prevenção de ataques hackers e invasores mal-intencionados.
        </p>
        <ul>
          <li>
            <b>Gestão de acesso a dados</b> Saiba quem tem acesso a quê, quando
            e porquê Gerenciamento de acesso privilegiado (PAM) <br />
            Crie usuários temporários para acessos temporários a servidores e
            ambientes.
          </li>
          <li>
            <b> MFA a ambientes legados e ferramentas</b> Leve o MFA para
            ambientes jamais pensados, como sistemas legados e ferramentas como
            powershell e cmd.
          </li>
          <li>
            <b>Permita o reset de senhas</b>Habilite aos usuários resetar a
            própria senha do AD ou Azure AD, reduzindo chamados para a TI
          </li>
          <li>
            <b>Force a política de senha</b>Garanta que senhas vazadas não seja
            utilizadas na rede, com dicionário de senha e políticas
            personalizadas
          </li>
        </ul>
      </div>
      <div class="col-md-6 content-item-card">

          {% include site/home/components/identify.html %}
        <!--
        <div class="row justify-content-end">
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/okta.svg"
              class="icon-cyber-cards"
              alt=""
            />
            <p>Okta</p>
          </div>
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/duo.svg"
              class="icon-cyber-cards"
              alt=""
            />
            <p>DUO</p>
          </div>
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/ad.svg"
              class="icon-cyber-cards"
              alt=""
            />
            <p>Active Directory</p>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/splunk.svg"
              class="icon-cyber-cards"
              alt=""
            />
            <p>Splunk</p>
          </div>
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/two-factor.svg"
              class="icon-cyber-cards"
              alt=""
            />
            <p>Autenticação de Dois Fatores</p>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <section class="spa-slide" id="tab-cssscript">
    <div class="row">
      <div class="col-md-6 col-text-cyber">
        <h3 class="title-cyber-cards">Soluções Enterprise</h3>
        <p class="desc-cyber-cards">
          Nossas soluções de cibersegurança foram projetadas para atender às
          necessidades de segurança complexas de grandes empresas. Com recursos
          avançados de proteção, detecção e resposta, nossa solução ajuda a
          garantir a segurança cibernética de sua organização, minimizando o
          risco de ataques e protegendo seus dados críticos.
        </p>
        <ul>
          <li>
            <b>Interceptação e Defesa contra ataques</b> detecte e responda a
            comportamento anormal e ataques avançados com alta precisão e
            velocidade.
          </li>
          <li>
            <b>Automatização de SOC</b> Automação low-code para a segurança do
            seu ambiente, capacite equipes para acompanhar os alertas, ameaças e
            processos de segurança complexos necessários para proteger sua
            organização
          </li>
          <li>
            <b>Tokenização de dados</b> substitua as informações confidenciais
            por um valor aleatório e único, impedindo o acesso indevido até
            mesmo em casos de roubo de dados
          </li>
        </ul>
      </div>
      <div class="col-md-6 content-item-card">
        {% include site/home/components/solution.html %}
        <!--
        <div class="row justify-content-end">
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/"
              class="icon-cyber-cards"
              alt=""
            />
          </div>
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/"
              class="icon-cyber-cards"
              alt=""
            />
          </div>
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/"
              class="icon-cyber-cards"
              alt=""
            />
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/"
              class="icon-cyber-cards"
              alt=""
            />
          </div>
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/"
              class="icon-cyber-cards"
              alt=""
            />
          </div>
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/"
              class="icon-cyber-cards"
              alt=""
            />
          </div>
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/"
              class="icon-cyber-cards"
              alt=""
            />
          </div>
        </div>-->
      </div>
    </div>
  </section>
  <section class="spa-slide" id="tab-vue">
    <div class="row">
      <div class="col-md-6 col-text-cyber">
        <h3 class="title-cyber-cards">EndPoint</h3>
        <p class="desc-cyber-cards">
          Proteja os endpoint e servidores contra ameaças cibernéticas,
          garantindo a segurança do ambiente e dados. Seja nos endpoints locais
          e remotos.
        </p>
        <ul>
          <li>
            <b>Patch Management</b>o automatize e simplifique o gerenciamento de
            patches, garantindo que seus sistemas estejam sempre atualizados e
            protegidos contra vulnerabilidades conhecidas.
          </li>
          <li>
            <b>Vulnerabilidades</b>o identifique e corrija vulnerabilidades de
            segurança em tempo hábil, reduzindo o risco de brechas de segurança
            e protegendo seus ativos de T.I.
          </li>
          <li>
            <b>Deploy de softwares</b>o Simplifique e automatize o processo de
            implantação de software em toda a organização, economizando tempo e
            recursos, enquanto garante que todos os dispositivos estejam
            atualizados e executando a versão mais recente dos seus aplicativos.
          </li>
          <li>
            <b>Proteção contra ransomware e malware</b>o Detecte e bloqueie
            ataques em tempo real, evite a perda de dados e mantenha a
            continuidade dos negócios com nossa solução baseada em deep learning
          </li>
          <li></li>
        </ul>
      </div>
      <div class="col-md-6 content-item-card">
        {% include site/home/components/endpoint.html %}

        <!--
        <div class="row justify-content-end">
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/"
              class="icon-cyber-cards"
              alt=""
            />
          </div>
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/"
              class="icon-cyber-cards"
              alt=""
            />
          </div>
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/"
              class="icon-cyber-cards"
              alt=""
            />
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/"
              class="icon-cyber-cards"
              alt=""
            />
          </div>
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/"
              class="icon-cyber-cards"
              alt=""
            />
          </div>
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/"
              class="icon-cyber-cards"
              alt=""
            />
          </div>
          <div class="col-2 item-card-cyber">
            <img
              src="/assets/img/home/icons/"
              class="icon-cyber-cards"
              alt=""
            />
          </div>
        </div>-->
      </div>
    </div>
  </section>
  <!--
  <section class="spa-slide" id="tab-last">
    <div class="row">
      <div class="col-md-6 col-text-cyber">
        <h3 class="title-cyber-cards">E-mail</h3>
        <p class="desc-cyber-cards">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima totam
          iure architecto dolorum. Maiores consequuntur ipsam veniam dicta quo
          cum expedita sed hic, voluptas, quaerat, at dolor iste porro. Quod?
        </p>
      </div>
      <div class="col-md-6">
        <div class="row justify-content-end">
          <div class="col-2 item-card-cyber">a</div>
          <div class="col-2 item-card-cyber">b</div>
          <div class="col-2 item-card-cyber">c</div>
        </div>
        <div class="row justify-content-end">
          <div class="col-2 item-card-cyber">e</div>
          <div class="col-2 item-card-cyber">f</div>
          <div class="col-2 item-card-cyber">g</div>
          <div class="col-2 item-card-cyber">h</div>
        </div>
      </div>
    </div>
  </section>-->
</main>

<style>
  .title-cyber-cards {
    font-size: 4em !important;
    color: teal;
    font-weight: bold;
    text-align: left;
  }
  .cyber-cards {
    text-align: left;
  }
  .cards-home-cyber {
    display: flex;
  }
  .item-card-cyber {
    background-color: white;
    margin: 8px;
    border-radius: 3px;
    height: 13vh;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
      rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  }
  .content-item-card{
    margin-top: 8vh;
  }
  .col-text-cyber {
    text-align: left;
  }
  .col-text-cyber li {
    list-style: none;
    margin-bottom: 1.5vh;
  }
  .icon-cyber-cards {
    padding-top: 2vh;
    max-width: 40px;
  }
  a {
    text-decoration: none;
  }

  .spa-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 5em;
    height: 75px;
    z-index: 2;
    -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .spa-header--scrolled {
    background: #fafafa;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  .spa-header--move-up {
    -webkit-transform: translateY(-75px);
    transform: translateY(-75px);
    -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .spa-header__logo {
    color: #000;
  }

  .spa-header__link {
    margin-left: 1em;
    color: #000;
  }
  .sticky-nav-tabs {
    height: 5vh !important;
  }
  .sticky-nav-tabs,
  .spa-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    background-image: url(/assets/img/home/bg-home-cyber.png);
    background-size: cover;
    position: relative;
    background-position: center;
    text-align: center;
    padding: 3vh 6vw;
  }
  .sticky-nav-tabs-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fafafa;
    z-index: 1;
    -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .sticky-nav-tabs-container--top-first {
    position: fixed;
    top: 100px;
    -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .sticky-nav-tabs-container--top-second {
    position: fixed;
    top: 100px;
  }

  .sticky-nav-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 0.8rem;
  }

  .sticky-nav-tab:hover {
    color: white;
    background: teal;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
  }

  .sticky-nav-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: teal;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }
  @media (min-width: 800px) {
    .sticky-nav-tabs h1,
    .spa-slide h1 {
      font-size: 3rem;
    }

    .sticky-nav-tabs h3,
    .spa-slide h3 {
      font-size: 1rem;
    }

    .sticky-nav-tab {
      font-size: 1rem;
    }
  }
  /* BOX BACKGROUND CSS */
</style>
