---
layout: default
title: Proteção SaaS
---

<div class="container-fluid"  style="background: linear-gradient(
  160deg,
  rgba(0, 0, 70, 1) 18%,
  rgba(28, 181, 224, 1) 100%
);  height: 500px; padding-top: 16vh; color: white;">
<canvas class="background"></canvas>
  <br />
  <br />
  <div class="row">
    <div
      class="col -solution-hero d-flex flex-column justify-content-center align-items-center text-center"
    >
      <h1>Proteção aplicativos em nuvem</h1>
      <br />
      <p>{% include site/modal_form.html title="SaaS" id="saas_form "%}</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3></h3>
        <p class="text-secondary">
          Visibilidade clara e consolidada de acesso, privilégios e atividades é
          a base da segurança para aplicativos SaaS.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mb-5" style="width: 80%">
  <div class="row">
    <div class="col-md text-body" style="color: gray">
      <h2 style="color: gray">Seus aplicativos em nuvem estão protegidos?</h2>
      <br />
      <p style="color: gray">
        Suas contas na nuvem estão em alvos sempre acessíveis.Para<b
          >proteger usuários e ativos,</b
        >
        você precisa ser capaz de ver quais
        <b>usuários têm acesso aos seus aplicativos SaaS,</b> quais privilégios
        eles têm e o que estão fazendo. Tenha visibilidade inigualável 24 horas
        por dia, 7 dias por semana, de acesso, privilégios e atividades em
        aplicativos SaaS em um só lugar. Quem tem privilégios excessivos? Uma
        conta mostra sinais de comprometimento? Os arquivos são compartilhados
        de maneira muito ampla?
      </p>
    </div>
    <div class="col-lg">
      <div class="row text-center">
        <div class="col-lg-12">
          <img
            src="/assets/img/obsidian/modules/google.svg"
            alt=""
            class="img-fluid module-icon"
          /><img
            src="/assets/img/obsidian/modules/aws.png"
            alt=""
            class="img-fluid module-icon"
          />
          <img
            src="/assets/img/obsidian/modules/azure.svg"
            alt=""
            class="img-fluid module-icon"
          />
          <img
            src="/assets/img/obsidian/modules/office.svg"
            alt=""
            class="img-fluid module-icon"
          />
        </div>
        <div class="col-lg-12">
          <img
            src="/assets/img/obsidian/modules/salesforce.svg"
            alt=""
            class="img-fluid module-icon"
          /><img
            src="/assets/img/obsidian/modules/box.svg"
            alt=""
            class="img-fluid module-icon"
          />
          <img
            src="/assets/img/obsidian/modules/dropbox.svg"
            alt=""
            class="img-fluid module-icon"
          />
          <img
            src="/assets/img/obsidian/modules/github.svg"
            alt=""
            class="img-fluid module-icon"
          />
        </div>
        <div class="col-lg-12">
          <img
            src="/assets/img/obsidian/modules/duo.png"
            alt=""
            class="img-fluid module-icon"
          /><img
            src="/assets/img/obsidian/modules/Okta_logo.svg"
            alt=""
            class="img-fluid module-icon"
          />
          <img
            src="/assets/img/saas/slack.svg"
            alt=""
            class="img-fluid module-icon"
          />
          <img
            src="/assets/img/saas/workdays.svg"
            alt=""
            class="img-fluid module-icon"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mb-5">
  <div class="row mb-4">
    <div class="row mw-1500 mx-auto d-flex justify-content-center pt-5">
      <div class="image-block-rms flex-column text-center">
        <img src="/assets/img/saas/inventory.webp" />
        <br />
        <h5 class="body-title">Inventário de usuário e acesso</h5>
      </div>
      <div class="image-block-rms flex-column text-center">
        <img src="/assets/img/saas/monitor.webp" />
        <br />
        <h5 class="body-title">Monitoramento de atividades</h5>
      </div>
      <div class="image-block-rms flex-column text-center">
        <img src="/assets/img/saas/map.webp" />
        <br />
        <h5 class="body-title">Mapeamento de funções e privilégios</h5>
      </div>
      <br />
      <br />
    </div>
  </div>
</div>

<div class="container-fluid a">
  <div class="container">
    <div class="row">
      <div class="col-md content-body text-white">
        <h2 style="margin-top: 7vh">INVENTÁRIO DE ACESSO</h2>
        <p>
          Obtenha uma lista de contas que um usuário possui em todos os
          aplicativos SaaS monitorados.
        </p>
      </div>
      <div class="col-md content-body image">
        <img
          class="img-fluid"
          src="/assets/img/saas/inventory_access.webp"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div class="container-fluid b">
  <div class="container">
    <div class="row">
      <div class="col-md content-body image">
        <img class="img-fluid" src="/assets/img/saas/number.webp" alt="" />
      </div>
      <div class="col-md content-body text-white">
        <h2 style="margin-top: 7vh">ENUMERAÇÃO DE PRIVILÉGIO</h2>
        <p>
          Obtenha um inventário de privilégios associados a usuários em cada
          aplicativo SaaS.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid c">
  <div class="container">
    <div class="row">
      <div class="col-md content-body text-white">
        <h2 style="margin-top: 7vh">RISCOS DE ACESSO E PRIVILÉGIO</h2>
        <p>
          Use análises avançadas integradas para descobrir riscos de acesso e
          identidade, como usuários com privilégios excessivos, contas sem MFA
          ou usando autenticação básica.
        </p>
      </div>
      <div class="col-md content-body image">
        <img class="img-fluid" src="/assets/img/saas/risk_access.webp" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="container-fluid d">
  <div class="container">
    <div class="row">
      <div class="col-md content-body image">
        <img class="img-fluid" src="/assets/img/saas/acconts.webp" alt="" />
      </div>
      <div class="col-md content-body text-white">
        <h2 style="margin-top: 7vh">CONTAS ATIVAS VS INATIVAS</h2>
        <p>
          Obtenha uma visão rápida das contas ativas e inativas por serviço, com
          mudanças históricas no nível de atividade. Limpe contas inativas para
          melhorar a higiene da identidade e reduzir custos.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid e">
  <div class="container">
    <div class="row">
      <div class="col-md content-body text-white">
        <h2 style="margin-top: 7vh">RISCOS DE COMPARTILHAMENTO DE DADOS</h2>
        <p>
          Identifique os riscos associados ao compartilhamento excessivo de
          dados, incluindo e-mail, arquivos e relatórios de negócios com painéis
          integrados.
        </p>
      </div>
      <div class="col-md content-body image">
        <img class="img-fluid" src="/assets/img/saas/risk_share.webp" alt="" />
      </div>
    </div>
  </div>
</div>
<div
  class="container-fluid -solution-highlight"
 >
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 p-4 d-flex">
        {% include site/form2.html title="SaaS" id="saas_form" color="whitesmoke" %}
      </div>
      <div
        class="col-lg-6 col-md-12 p-2 d-flex align-items-center justify-content-center flex-column"
      >
        <h2>Não perca mais tempo, proteja seus aplicativos em cloud</h2>
        <br />
        <ul>
          <li>
            Teste quantos serviços em cloud você desejar durante a avaliação
          </li>
          <li>Número ilimitado de usuários monitorados</li>
          <li>Todo o suporte da nossa equipe</li>
          <br />
        </ul>
      </div>
    </div>
  </div>
</div>

<style>

  .a {
      padding-bottom: 7vh;
      padding-top: 10vh;
      background: linear-gradient(
        180deg,
        rgba(8, 91, 199, 1) 65%,
        rgba(255, 255, 255, 0.19371498599439774) 100%
      ),url("/assets/img/saas/inventory_access.webp") no-repeat right;
      min-height: 500px;
    }
    .b {
      padding-bottom: 7vh;
      padding-top: 10vh;
      background: linear-gradient(
        0deg,
        rgba(8, 91, 199, 1) 65%,
        rgba(255, 255, 255, 0.19371498599439774) 100%
      ),url("/assets/img/saas/number.webp") no-repeat;
      min-height: 500px;
    }
    .c {
      padding-bottom: 7vh;
      padding-top: 10vh;
      background: linear-gradient(
        180deg,
        rgba(8, 91, 199, 1) 65%,
        rgba(255, 255, 255, 0.19371498599439774) 100%
      ), url("/assets/img/saas/risk_access.webp") no-repeat left;

      min-height: 500px;
    }
    .d {
      padding-bottom: 7vh;
      padding-top: 10vh;
      background: linear-gradient(
        0deg,
        rgba(8, 91, 199, 1) 65%,
        rgba(255, 255, 255, 0.19371498599439774) 100%
      ),
      url("/assets/img/saas/acconts.webp") no-repeat bottom;

      min-height: 500px;
    }
    .e {
      padding-bottom: 7vh;
      padding-top: 10vh;
      background: linear-gradient(
        180deg,
        rgba(8, 91, 199, 1) 65%,
        rgba(255, 255, 255, 0.19371498599439774) 100%
      ),url("/assets/img/saas/risk_share.webp") no-repeat right;

      min-height: 500px;
    }
  .text-body {
    margin-top: 8vh;
    font-size: 20px;
  }
  .module-icon {
    min-width: 60px;
    max-width: 60px;
    margin: 40px;
  }
  .module-icon:hover {
    opacity: 70%;
  }

  body {
    background-color: whitesmoke;
  }
  .left {
    padding-bottom: 7vh;
    padding-top: 10vh;
    background: linear-gradient(
      90deg,
      rgba(8, 91, 199, 1) 17%,
      rgba(255, 255, 255, 0.19371498599439774) 60%
    );
    min-height: 500px;
  }

  .body-title {
    width: 250px;
  }
  @media only screen and (max-width: 768px) {
    .a {
      padding-bottom: 7vh;
      padding-top: 10vh;
      background: linear-gradient(
        180deg,
        rgba(8, 91, 199, 1) 30%,
        rgba(255, 255, 255, 0.19371498599439774) 80%
      );
      min-height: 500px;
    }
    .b {
      padding-bottom: 7vh;
      padding-top: 10vh;
      background: linear-gradient(
        0deg,
        rgba(8, 91, 199, 1) 30%,
        rgba(255, 255, 255, 0.19371498599439774) 80%
      );
      min-height: 500px;
    }
    .c {
      padding-bottom: 7vh;
      padding-top: 10vh;
      background: linear-gradient(
        180deg,
        rgba(8, 91, 199, 1) 30%,
        rgba(255, 255, 255, 0.19371498599439774) 80%
      );

      min-height: 500px;
    }
    .d {
      padding-bottom: 7vh;
      padding-top: 10vh;
      background: linear-gradient(
        0deg,
        rgba(8, 91, 199, 1) 30%,
        rgba(255, 255, 255, 0.19371498599439774) 80%
      );

      min-height: 500px;
    }
    .e {
      padding-bottom: 7vh;
      padding-top: 10vh;
      background: linear-gradient(
        180deg,
        rgba(8, 91, 199, 1) 30%,
        rgba(255, 255, 255, 0.19371498599439774) 80%
      );

      min-height: 500px;
    }
  }
</style>
