---
layout: default
title: Otimização de armazenamento
---

<div class="container-fluid" 
style="
  background: linear-gradient(
      90deg,
      rgba(156, 236, 251, 1) 5%,
      rgba(101, 199, 247, 1) 43%,
      rgba(0, 82, 212, 0.9248074229691877) 94%
    );
    height: 500px; padding-top: 14vh; color: white;">
<canvas class="background"></canvas>
    <br>
    <br>
    <div class="row">
      <div
        class="col -solution-hero d-flex flex-column justify-content-center align-items-center text-center"
      >
        <!--<img src="/assets/img/obsidian/logo.png" />--> 
        <h1 id="solucao" style="font-size: 40px; ">Otimização de armazenamento</h1>
        <p id="text_secudary" style="font-size: 25px; margin-left: 1px;">
            Software de otimização de armazenamento que elimina o trabalho de adivinhação
        </p>
        <br>
        <p> {% include site/modal_form.html  title="Otimização de armazenamento" id="otomizacao_form "%}</p>
        
      </div>
    </div>
   </div>
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3>Armazenamento eficiente</h3>
        <p class="text-secondary">
          A otimização do armazenamento é o 
          processo de alinhar o armazenamento 
          eficiente às necessidades da empresa 
          ao menor custo possível. Embora o 
          espaço em disco fique mais barato a 
          cada dia, comprar constantemente mais 
          armazenamento de dados é uma drenagem 
          interminável do seu orçamento.
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container-fluid">
<div class="row mb-5" >
    <div class="row mw-1200 mx-auto d-flex justify-content-center pt-5">
      <div class="image-block-rms flex-column text-center">
        <img src="/assets/img/optimization/local_cloud.webp" />
        <h5></h5>
        <p><b>Armazenamento em cloud e local</b>
        </p>
      </div>
      <div class="image-block-rms flex-column text-center">
        <img src="/assets/img/optimization/data_duplicate.webp" />
        <h5></h5>
        <p>
          <b>Arquivos duplicados</b>
        </p>
      </div>
      <div class="image-block-rms flex-column text-center">
        <img  src="/assets/img/optimization/estruturaAsset 3.webp"/>
        <h5></h5>
        <p>
          ,<b>Organização da estrutura</b>
        </p>
      </div>
    </div>
      </div>
  <div class="container">
    <br>
    <h1 class="text-center mb-3" style="color: #707070;"> <b>Otimize o armazenamento limpando o conteúdo da sua empresa</b></h1>
    <p style="  color: #707070; font-size: 20px; "class="text-center mb-5">
      A otimização do armazenamento é impossível se você não 
      tiver visibilidade da sua infraestrutura de TI e das 
      tecnologias apropriadas disponíveis. Retome o controle 
      de seus dados, otimize seus armazenamentos e mantenha 
      tudo sob controle à medida que sua empresa cresce e 
      muda, para que você não precise justificar solicitações 
      de orçamento dolorosas.
    </p>
  </div>
</div>
</div>
{% include site/optimization/tab.html %}
<div class="container-fluid -features" 
style="background-color: #fdfcfc;" 
id="trial_obs">
<br>
<div class="container" id="trial_obs">
  {% include site/optimization/tabs.html %}
</div>
  </div>
  <div class="container" id="trial_obs">
    {% include site/optimization/tabss.html %}
    
    </div>
  
<div class="container-fluid -features" 
style="background: linear-gradient(90deg, rgba(0,82,212,0.9248074229691877) 5%, rgba(101,199,247,1)94%); height: 500px;" 
id="trial_obs">
    <div class="row">
      <div class="col col-xl-4 col-sm-12 mx-auto py-3">
        <h2 style="color: white; margin-top: 200px; "><b>Veja como ajudamos a otimizar seus repositórios de dados</b> </h2>
      </div>
      <div
        class="col col-xl-8 col-sm-12 d-flex justify-content-center align-items-center flex-column py-3 xs-hide"
      >
        <!-- <img src="/assets/img/netwrix/netwrix-auditor-screen.png" class="screenshot img-fluid">
              <p class="font-small font-weight-light text-secondary font-italic">Interface inicial do Netwrix Auditor</p> -->
              <iframe width="700" height="400" src="https://www.youtube.com/embed/6UmZFI9H1i8" 
              style="margin-left: 200px; margin-top: 30px;"
              frameborder="0" allow="accelerometer; autoplay; 
              encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen></iframe>
      </div>
    </div>
  </div>
<br>
<br>
<br>
<div class="container"  >
  <h2 style="color: #707070; text-align: center;" >Deseja saber mais sobre os registros do seu
  </br> ambiente? </h2>
  <div class="image-block text-lightblue flex-column text-center"  >
    <a href="#" class="btn btn-rms my-5" id="next_feature_b" >
      Há mais do que gerenciamento de registros na plataforma
      <img src="/assets/img/rms/inventory.png" alt="">
      
    </a>
    <a href="#" class="btn btn-rms my-5" id="next_feature" >
      <img src="/assets/img/rms/inventory.png" alt="">
      Há mais do que gerenciamento de registros na plataforma
    </a>
    <a href="#" class="btn btn-rms my-5" id="next_feature_a">
      Domestique seus dados não estruturados com a análise de arquivos
      <img src="/assets/img/rms/inventory.png" alt="">
           
    </a>
  </div>
</div>
<style>
 
  @media only screen and (max-width: 1500px) {
    #trial_obs{
      display: none;
    }
    #trial_obs p{
      display: none;
    } 
    #next_feature_a{
      width: 240px;
     
    }
    #next_feature{
      display: none;
      
     
    }#next_feature_b{
      width: 240px;
    }
    
  }

  @media only screen and (min-width: 1499px) {
  
    #showOnlyMobile{
 display: none;

}
#colapse{
  display: none;

}
#formHidden{
       display:none
    }
    #next_feature_b{
      width: 240px;
      display: none;
    }
 
  
 /*Content Animation*/
 @keyframes fadeInScale {
   0% {
     transform: scale(0.9);
     opacity: 0;
   }
   
   100% {
     transform: scale(1);
     opacity: 1;
   }
 }
}
 

</style>
      