<nav class="navbar navbar-expand-md sticky-top">
  <!-- One of the primary actions on mobile is to call a business - This displays a phone button on mobile only -->
  <a id="logo_aiq" class="navbar-brand" href="/"
    ><img
      class="logo logo-aiq justify-content-start"
      id="logo_default"
      src="/assets/img/common/aiqon.svg"
      alt="Logotipo AIQON."
  /></a>
  <div class="navbar-toggler-right">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
      id="button"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="40"
        height="40"
        viewBox="0 0 172 172"
        style="fill: #000000"
      >
        <g
          fill="none"
          fill-rule="nonzero"
          stroke="none"
          stroke-width="1"
          stroke-linecap="butt"
          stroke-linejoin="miter"
          stroke-miterlimit="10"
          stroke-dasharray=""
          stroke-dashoffset="0"
          font-family="none"
          font-weight="none"
          font-size="none"
          text-anchor="none"
          style="mix-blend-mode: normal"
        >
          <path d="M0,172v-172h172v172z" fill="none"></path>
          <g>
            <path d="M5.375,78.475h161.25v15.05h-161.25z" fill="#ffffff"></path>
            <path
              d="M165.55,79.55v12.9h-159.1v-12.9h159.1M167.7,77.4h-163.4v17.2h163.4v-17.2z"
              fill="#0094a9"
            ></path>
            <path d="M5.375,35.475h161.25v15.05h-161.25z" fill="#ffffff"></path>
            <path
              d="M165.55,36.55v12.9h-159.1v-12.9h159.1M167.7,34.4h-163.4v17.2h163.4v-17.2z"
              fill="#0094a9"
            ></path>
            <g>
              <path
                d="M5.375,121.475h161.25v15.05h-161.25z"
                fill="#ffffff"
              ></path>
              <path
                d="M165.55,122.55v12.9h-159.1v-12.9h159.1M167.7,120.4h-163.4v17.2h163.4v-17.2z"
                fill="#0094a9"
              ></path>
            </g>
          </g>
        </g>
      </svg>
    </button>
  </div>

  <div class="collapse navbar-collapse flex-column" id="navbar">
    <ul
      class="navbar-nav justify-content-end w-100 px-3 mb-1"
      id="nav-secondary"
    >
      <!--<li class="nav-item active">
      <a class="nav-link text-white" href="/">Recursos</a>
    </li>-->
      <li class="nav-item active">
        <a class="nav-link text-white" target="_blank" href="/blog">Blog</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white" href="/aliancas/"
          >Nossas alianças <span class="badge badge-danger">Novo</span></a
        >
      </li>

      <li class="nav-item active">
        <a
          class="nav-link text-white"
          href="https://aiqon.zendesk.com/hc/pt-br/requests/new"
          target="_blank"
          >Suporte para clientes</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white" href="/recursos/" target="_blank"
          >Recursos <span class="badge badge-danger">Novo</span></a
        >
      </li>

      <li class="nav-item active">
        <a class="nav-link text-white" href="/parcerias">Seja um parceiro</a>
      </li>
      <a href="https://www.facebook.com/AiqonIT" target="_blank"
        ><i
          style="color: white"
          class="fa fa-facebook-square social-media-fa"
          aria-hidden="true"
        ></i
      ></a>
      <a href="https://br.linkedin.com/company/aiqon-it" target="_blank">
        <i
          style="color: white"
          class="fa fa-linkedin-square social-media-fa"
          aria-hidden="true"
        ></i
      ></a>
      <a
        href="https://www.youtube.com/channel/UC9dpp9ZqqiHbyxDvub8B4Eg/featured?view_as=subscriber"
        target="_blank"
        ><i
          style="color: white"
          class="fa fa-youtube-play social-media-fa"
          aria-hidden="true"
        ></i
      ></a>
      <a href="https://www.instagram.com/aiqon_it/" target="_blank"
        ><i style="color: white" class="fa fa-instagram" aria-hidden="true"></i
      ></a>
      <a href="https://twitter.com/aiqonIT" target="_blank"
        ><i
          style="color: white"
          class="fa fa-twitter-square social-media-fa"
          aria-hidden="true"
        ></i
      ></a>
    </ul>

    <ul class="navbar-nav w-100 justify-content-end px-3">
      <ul class="navbar-nav w-100 justify-content-start px-3">
        <li class="nav-item active">
          <a class="navbar-brand" href="/"
            ><img
              class="logo logo-aiq justify-content-start"
              id="logo_default-base"
              src="/assets/img/common/aiqon.svg"
              alt="Logotipo AIQON."
          /></a>
        </li>
      </ul>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          href="navbarDropdownMenuLink"
        >
          Destaques
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="nav-link" href="/lgpd">LGPD </a>
          <a class="nav-link" href="/classificacao-de-dados"
            >Descoberta e Classificação de Dados
            <span class="badge badge-success">LGPD</span></a
          >
          <a class="nav-link" href="/criptografia-de-email"
            >Criptografia de arquivos e e-mail
            <span class="badge badge-primary">Novo</span></a
          >

          <a class="nav-link" href="/auditoria-de-alteracoes"
            >Auditoria de alterações
          </a>
          <!--<a class="nav-link" href="/bot">Bot Management</a>-->
          <a class="nav-link" href="/minerva"
            >Endpoint Detection and Response - EDR</a
          >
          <a class="nav-link" href="/cdr">Cloud Detection and Response - CDR</a>
          <a class="nav-link" href="/dlp">Data Loss Prevention - DLP</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href=""
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Segurança de TI
          <span class="badge badge-primary">Novo</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="nav-link" href="/comforte"
            >Criptografia de Dados
            <span class="badge badge-primary">Novo</span></a
          >
          <a class="nav-link" href="/stealthdefend"
            >Detecção e resposta a ameaças em <br />
            tempo real</a
          >
          <a class="nav-link" href="/stealthdefend"
            >SSPM - Segurança para o SaaS</a
          >
          <a class="nav-link" href="/stealthintercept"
            >Prevenção de atividades
            <span class="badge badge-primary">Novo</span></a
          >

          <a class="nav-link" href="/criptografia-de-email"
            >Criptografia de arquivos e e-mail
            <span class="badge badge-primary">Novo</span></a
          >
          <a class="nav-link" href="/remediation"
            >Remediação de dados
            <span class="badge badge-success">LGPD</span></a
          >
          <a class="nav-link" href="/ameacas-internas">Ameaças internas </a>
          <a class="nav-link" href="/dsar"
            >Solicitações do titular do dado
            <span class="badge badge-success">LGPD</span></a
          >
          <!--<a class="nav-link" href="/waf">Web Application Firewall - WAF </a>--> 
          <a class="nav-link" href="/edr">Alertas de Ameaças em Tempo Real</a>
          <a class="nav-link" href="/protecao-saas"
            >Proteção de aplicações SaaS</a
          >
          <!--<a class="nav-link" href="/ddos">Proteção de DDoS </a>-->
          <!--<a class="nav-link" href="/bot">BOT Management</a>-->
          <a class="nav-link" href="/governancia-de-dados"
            >Governança de acesso a dados</a
          >
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href=""
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Gerenciamento de TI
          <span class="badge badge-primary">Novo</span></a
        >
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="nav-link" href="/auditoria-de-alteracoes"
            >Auditoria de alterações
            <span class="badge badge-success">LGPD</span></a
          >
          <a class="nav-link" href="/optimization">Otimização de storage</a>
          <a class="nav-link" href="/patch-manager">Gerenciamento de patch</a>
          <a class="nav-link" href="/stealthaudit/"
            >Governança de dados
            <span class="badge badge-primary">Novo</span></a
          >
          <a class="nav-link" href="/stealth-recover/"
            >Restauração do AD <span class="badge badge-primary">Novo</span></a
          >
          <a class="nav-link" href="/sbpam/"
            >Gerenciamento de acesso - PAM
            <span class="badge badge-primary">Novo</span></a
          >
          <a class="nav-link" href="/cortex/"> Automação de TI inteligente</a>
          <!--<a class="nav-link" href="#">Deploy de Software</a>-->
          <a class="nav-link" href="/hardware-software"
            >Inventário de HW - SW
          </a>
          <!-- <a class="nav-link" href="#">Acesso remoto</a>
						<a class="nav-link" href="#">Gerenciamento de eventos </a>-->
          <a class="nav-link" href="/scan-de-vulnerabilidade"
            >Scanner de vulnerabilidades</a
          >
          <a class="nav-link" href="/power-manager">PC Power Manager</a>
          <a class="nav-link" href="/mitigacao-de-risco"
            >Avaliação e Mitigação de Risco</a
          >
          <a class="nav-link" href="/distribuicao-de-software"
            >Deploy de Software</a
          >
          <a class="nav-link" href="/rms">Gerenciamento de registros (RMS) </a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/ajuda">Contato</a>
      </li>
      <!--<li class="nav-item active">
        <a class="nav-link btn-demo mt-1 text-white" href="/ajuda"
          >Avaliação Gratuita</a
        >
      </li>-->
    </ul>
    <div class="row text-center service-nav mt-5">
      <!--<div class="col-2 mt-3"><a href="">Recursos</a></div>-->
      <div class="col-2 mt-4"><a class="text-white" href="/blog">Blog</a></div>
      <div class="col">
        <a class="text-white" href="/recursos/"
          ><span class="badge badge-danger">Novo</span> Recursos</a
        >
      </div>
      <div class="col mt-2">
        <a class="text-white" href="/aliancas">Nossas alianças</a>
      </div>
      <div class="col mt-2">
        <a class="text-white" href="/parcerias">Seja um parceiro</a>
      </div>
    </div>
  </div>
</nav>

<style>
  .navbar {
    padding: 0rem;
    z-index: 10;
  }
  .navbar .navbar-nav {
    margin-top: 0;
  }
  .navbar .nav-item {
    padding: 0;
    margin: 0 20px 0 20px;
  }
  #nav-secondary {
    font-size: 14px;
    background: linear-gradient(
      90deg,
      rgba(0, 149, 169, 1) 0%,
      rgba(12, 182, 171, 1) 61%
    );
    top: 0;

    color: white;
  }
  .logo-aiq {
    max-width: 100px;
  }
  .btn-demo {
    background-color: teal;
    border-radius: 1mm;
    color: teal;
  }
  .btn-demo:hover {
    border: 1px solid teal;
    background-color: transparent;
    color: teal;
  }
  .fa {
    margin-top: 0.8vh;
    margin-right: 20px;
    font-size: 25px;
  }
  .fa-facebook-square:hover {
    color: #4267b3;
  }
  .fa-linkedin-square:hover {
    color: #0077b5;
  }
  .fa-youtube-play:hover {
    color: #e62117;
  }

  .dropdown .dropdown-menu {
    border-radius: 0;
    margin-top: -6px;
    padding: 10px;
    position: sticky;
  }
  .service-nav {
    background: linear-gradient(
      90deg,
      rgba(0, 149, 169, 1) 0%,
      rgba(12, 182, 171, 1) 61%
    );
    color: white;
    height: 10vh;
    padding: 5px;
  }

  /* Medium devices (tablets, 768px and up) 
The navbar toggle appears at this breakpoint */
  @media (max-width: 768px) {
    .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
      border-radius: 0;
    }
    .nav-secondary {
      float: left;
    }
  }
  @media (max-width: 990px) {
    .social-media-fa {
      display: none;
    }
  }
  @media (max-width: 767px) {
    #nav-secondary {
      display: none;
    }
  }
  @media (min-width: 768px) {
    #logo_aiq {
      display: none;
    }
    .service-nav {
      display: none;
    }
  }
  @media (max-width: 768px) {
    #logo_default-base {
      display: none;
    }
  }
</style>
<script>
  $(document).ready(function () {
    // executes when HTML-Document is loaded and DOM is ready

    // breakpoint and up
    $(window).resize(function () {
      if ($(window).width() >= 100) {
        // when you hover a toggle show its dropdown menu
        $(".navbar .dropdown-toggle").hover(function () {
          $(this).parent().toggleClass("show");
          $(this).parent().find(".dropdown-menu").toggleClass("show");
        });

        // hide the menu when the mouse leaves the dropdown
        $(".navbar .dropdown-menu").mouseleave(function () {
          $(this).removeClass("show");
        });

        // do something here
      }
    });

    // document ready
  });
</script>
{% include site/particle-js/particle-js.html %}
