---
layout: default
title: Governancia de Dados
---

<div class="container-fluid"
style="
  background:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(48,43,99,1) 46%, rgba(15,12,41,1) 80%);
  height: 500px; padding-top: 18vh; color: white;">
<canvas class="background"></canvas>
  <br />
  <br />
  <div class="row">
    <div
      class="col -solution-hero d-flex flex-column justify-content-center align-items-center text-center"
    >
      <h1>Governança de acesso a dados</h1>
      <p class="mt-5">
        {% include site/modal_form.html title="Governança de acesso a dados"
        id="governanca_form "%}
      </p>
    </div>
  </div>
</div>
<br />
<br />
<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-md">
      <div class="banner mx-auto text-center">
        <h3>Descoberta e classificação de dados</h3>
        <p class="text-secondary">
          Com muita frequência, as organizações levam a sério o controle do
          acesso a seus dados somente depois de experimentar uma violação de
          dados. Mas não há razão para esperar. Ajudamos a habilitar uma forte
          governança de acesso a dados (DAG) em seus servidores de arquivos, bem
          como sistemas de colaboração como SharePoint e SharePoint Online,
          fornecendo uma visão profunda de seus dados não estruturados,
          incluindo informações sobre possíveis lacunas de segurança, permissões
          efetivas e padrões de acesso a dados.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5 mb-2 py-5">
  <h2 class="text-center text-gray">
    Inicie seu programa DAG Riscos de TI que colocam em risco seus dados
    confidenciais
  </h2>
  <br />
</div>
<div class="container mb-5">
  <div class="row text-gray">
    <div class="col-md">
      <h5>
        Obtenha uma visão panorâmica dos riscos de TI associados à governança de
        dados não estruturados
      </h5>
      <p>
        Detecte rapidamente todos os dados em seus servidores de arquivos que
        são expostos a todos ou que possuem direitos de acesso atribuídos de
        maneira inadequada.
      </p>
      <h5>Encontre dados confidenciais fora de um local seguro</h5>
      <p>
        Entenda onde exatamente seus dados confidenciais são mantidos e quanto
        desses dados são armazenados fora de um local dedicado e seguro. Essa
        clareza o ajudará a priorizar seus esforços de governança de acesso a
        dados.
      </p>
      <h5>Descubra facilmente quais dados confidenciais estão em risco</h5>
      <p>
        Identifique informações confidenciais que podem ser acessadas por grupos
        de usuários que não deveriam ter acesso a elas, por exemplo, o grupo
        "Todos".
      </p>
    </div>
    <div class="col-md">
      <img
        src="/assets/img/governanca/sensitive.webp"
        class="img-fluid"
        alt=""
      />
    </div>
  </div>
</div>
<div class="container mt-5 mb-3 py-5">
  <h2 class="text-center text-gray mb-5">
    Revise continuamente as permissões para dados confidenciais e garanta uma
    governança de acesso eficaz
  </h2>
  <p class="text-center text-gray">
    Certifique-se de que apenas usuários qualificados tenham acesso a dados
    confidenciais em seus servidores de arquivos e no SharePoint, revisando
    regularmente as permissões efetivas e envolvendo os proprietários dos dados
    para verificar se essas permissões são apropriadas.
  </p>
</div>
<div class="container">
  <div class="row text-gray">
    <div class="col-md">
      <img
        src="/assets/img/governanca/permissions.webp"
        class="img-fluid"
        alt=""
      />
    </div>
    <div class="col-md">
      <h5>Saiba quem tem acesso a quais dados nos servidores de arquivos</h5>
      <p>
        Valide regularmente se todos os direitos de acesso a dados confidenciais
        em seus armazenamentos de arquivos estão alinhados com os regulamentos
        de proteção de dados aplicáveis, descrições de funções de RH e funções
        de funcionários na empresa e revogue todos os direitos de acesso
        excessivos ou inadequados. Envolva os proprietários de dados no atestado
        de privilégios, inscrevendo-os nos relatórios apropriados.
      </p>
      <h5>Desembarace a estrutura de permissão complexa do SharePoint</h5>
      <p>
        Veja através do layout de permissões emaranhadas no SharePoint e
        descubra rapidamente as permissões efetivas dos usuários para dados
        importantes em seus sites, como essas permissões foram concedidas e se a
        herança foi interrompida, para que você possa garantir que os dados
        corporativos não sejam tocados por pessoal não autorizado.
      </p>
    </div>
  </div>
</div>
<div class="container mt-5 mb-3 py-5">
  <h2 class="text-center text-gray">
    Detectar tentativas de escalonamento de privilégios em seu ambiente de TI
    híbrido
  </h2>
  <p class="text-center mt-3 text-gray">
    Monitore alterações nos direitos de acesso em servidores de arquivos e sites
    do SharePoint, bem como alterações no compartilhamento e segurança no
    SharePoint Online, para garantir que cada alteração seja autorizada e não
    prejudique seus esforços de segurança de dados.
  </p>
</div>
<div class="container">
  <div class="row text-gray">
    <div class="col-md">
      <h5>
        Fique por dentro do escalonamento de privilégios em armazenamentos de
        arquivos
      </h5>
      <p>
        Monitore continuamente quais direitos de acesso são modificados, quem
        fez a alteração e quando e onde aconteceu, para que você possa detectar
        incidentes de escalonamento de privilégios em seus servidores de
        arquivos e responder antes que qualquer dano seja feito.
      </p>
      <h5>
        Fique atento a alterações não autorizadas nas permissões do SharePoint
      </h5>
      <p>
        Garanta a conformidade com as políticas internas de governança de acesso
        a dados e regulamentações externas, observando todas as alterações nas
        permissões do SharePoint, pois elas podem resultar em vazamentos de
        dados confidenciais e críticos para os negócios armazenados em seus
        sites.
      </p>
    </div>
    <div class="col-md">
      <img src="/assets/img/governanca/changes.webp" class="img-fluid" alt="" />
    </div>
  </div>
</div>
<div class="container mt-5 mb-5 py-5">
  <h2 class="text-center text-gray">
    Garanta que suas políticas de governança de acesso a dados sejam seguidas,
    mantendo os eventos de acesso a dados sob controle
  </h2>
  <p class="text-center mt-3 text-gray">
    Ter processos de gerenciamento de acesso escritos em papel é diferente de
    exercer controle de acesso em sua rede. Obtenha o poder de detectar e
    investigar prontamente as tentativas de acessar seus dados não estruturados
    em servidores de arquivos, SharePoint, SharePoint Online e OneDrive for
    Business que não estão em conformidade com suas políticas de gerenciamento
    de acesso.
  </p>
</div>
<div class="container">
  <div class="row text-gray">
    <div class="col-md">
      <img src="/assets/img/governanca/access.webp" class="img-fluid" alt="" />
    </div>
    <div class="col-md">
      <h5>
        Identifique picos suspeitos nas tentativas de acesso a dados rapidamente
      </h5>
      <p>
        Obtenha estatísticas consolidadas sobre os padrões de uso de dados em
        seus servidores de arquivos, SharePoint e Office 365. Identifique
        rapidamente picos de atividade que podem ser um sinal de atividade
        maliciosa e analise para ver os detalhes críticos.
      </p>
      <h5>Controle todas as tentativas de acesso a dados confidenciais</h5>
      <p>
        Saiba exatamente quem está tentando acessar arquivos e pastas
        confidenciais em seus compartilhamentos de arquivos. Preste muita
        atenção aos eventos de falha de acesso, que podem indicar invasores
        externos ou usuários internos mal-intencionados tentando colocar as mãos
        em seus dados confidenciais.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid mt-5 content-trial py-5">
  <div class="container text-center text-white">
    <h3>
      Experimente realizar a governança de acesso aos<br />
      dados com uma ferramenta apropriada.
    </h3>
  </div>
  <div class="col-md d-flex mt-5 text-center" style="justify-content: center">
    {% include site/form2.html title="Governança e Acesso a Dados"
    id="risk_form" %}
  </div>
</div>
<div class="container-fluid" style="background-color: #f6f6f6; padding: 0">
  <h2 class="text-center text-teal text-bolder py-2" style="color: gray">
    <br />
    Deseja saber mais sobre os dados do seu ambiente?
  </h2>
  <div class="image-block text-lightblue flex-column text-center">
    <a
      href="/auditoria-de-alteracoes/"
      class="btn btn-rms my-5"
      style="max-width: 300px"
    >
      <img src="/assets/img/rms/inventory.png" alt="" />
      <p style="color: gray">
        Audite tudo o que acontece com os seus arquivos e evite extração de
        informações sensíveis
      </p>
    </a>
  </div>
</div>

<style>
  .text-gray {
    color: gray;
  }
  .content-trial {
    background: linear-gradient(
      133deg,
      rgba(36, 36, 62, 1) 16%,
      rgba(189, 195, 199, 1) 87%
    );
  }
  .img-fluid {
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.11);
  }
</style>
