<!-- Botão para acionar modal -->
<button type="button" class="btn btn-obsidian" data-toggle="modal" data-target="#ExemploModalCentralizado">
    Teste grátis
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        
        <div class="modal-body">
          {% include site/optimization/form.html title="Otimização de armazenamento" id="optimization_form" %}
        </div>
        <div class="modal-footer">
          <div class="row"><img src="/assets/img/common/aiqon.svg"  alt="" style="max-width: 100px; margin-right: 108px;"></div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  <style>
    .modal-content{
      height: auto;
    }
    .modal-footer{
      border-color: transparent;
      height: 200px;
      margin-top: 50px;
      
      
      
    }
  
  </style>