

<div class="container">
    <div class="row py-5">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed"   type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Entenda seu armazenamento de dados
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                 
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-left justify-content-left flex-column"
                  >
                  A primeira etapa é entender os tipos de dados 
                  em suas várias soluções de armazenamento, 
                  como armazenamentos em várias nuvens e servidores 
                  locais. Obtenha informações detalhadas sobre os 
                  tipos de dados armazenados em seu ambiente, incluindo 
                  informações pessoais e propriedade intelectual, e 
                  exatamente onde eles estão localizados. Com essas 
                  informações em mãos, você poderá priorizar melhor 
                  seus esforços de gerenciamento de dados e colocar 
                  seu plano de otimização no caminho certo.
                    
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/rms/image1_1.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Reduza o custo de armazenamento limpando informações de baixo valor
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column"
                  >
                  Muitas organizações dedicam tanto dinheiro 
                  e esforço ao armazenamento e manutenção de 
                  dados duplicados, obsoletos e triviais quanto 
                  ao conteúdo de alto valor. Encontre e livre-se 
                  automaticamente de todos os arquivos de baixa 
                  qualidade ou baixo valor, como duplicatas ou 
                  versões antigas de documentos, para que você 
                  possa investir seu tempo e esforço nos dados 
                  que realmente importam e economizar em despesas 
                  de armazenamento.
                    
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/rms/duplicate_1_2.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Arquive dados desnecessários para economizar espaço em disco e orçamento de TI
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column"
                  >
                  Muitos especialistas em TI subestimam 
                  como grandes volumes de informações 
                  afetam o desempenho do sistema. 
                  Em vez de tentar reduzir a quantidade 
                  de dados, eles compram unidades baratas 
                  e adicionam novos hardwares de armazenamento 
                  como se tivessem orçamentos ilimitados ou 
                  armazenamento não utilizado em seu data center. 
                  Descubra automaticamente o conteúdo com o qual 
                  os usuários não trabalham mais, onde quer que 
                  esteja. Dessa forma, você pode garantir um desempenho 
                  estável de seus armazenamentos principais, mantendo 
                  os dados necessários para fins de comprovação, 
                  legais, comerciais e de conformidade.
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/rms/image1_3.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button id="btn" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Melhore a produtividade do usuário com a estrutura de pastas organizada
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column"
                  >
                  Se as informações da sua empresa estiverem 
                  caoticamente espalhadas pelo ambiente de TI, 
                  os funcionários perderão tempo pesquisando por 
                  conteúdo específico ou recriando-o. Permita 
                  que os usuários criem uma estrutura de pastas 
                  lógica e gerenciável para facilitar o acesso, 
                  o uso e o gerenciamento de dados, enquanto 
                  consome a menor quantidade de espaço. Com 
                  dados bem organizados, os usuários serão 
                  mais produtivos e a equipe de TI não receberá 
                  reclamações sobre a falta de documentos
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/optimization/produtividade.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
        </div>
      </div>
  </div>
  </div>
  </div>
  <style>
    
  .card-body {
    background-image: linear-gradient(rgba(95,44,130,0.9416141456582633), rgba(73,160,157,0.9780287114845938));
  
  }
  #accordionExample {
    color: white;
    width: 150em;
    margin-bottom: 2mm;
    text-align: left;
  }
  
  @media only screen and (min-width: 1499px) {
  
  #accordionExample  {
   
    display: none;
    
  
   }
  
   
  
  
  }
  
  /*Content Animation*/
  @keyframes fadeInScale {
   30% {
       transform: scale(0.9);
       opacity: 0;
   }
   
   100% {
       transform: scale(1);
       opacity: 1;
   }
  }
  
  </style>