---
layout: default
title: StealthIntercept®
---

<div
  class="container-fluid"
  style="
   background: linear-gradient(90deg, #0f2027 19%, #2c5364 100%);
    height: 700px;
    padding-top: 14vh;
    color: white;
  "
>
  <canvas class="background"></canvas>
  <br />
  <br />
  <div class="row">
    <div
      class="
        col
        -solution-hero
        d-flex
        flex-column
        justify-content-center
        align-items-center
        text-center text-white
        background
      "
    >
      <img
        src="/assets/img/stealth_bits/intercept/logo_intercept.svg"
        style="width: 200px"
      />
      <h1>StealthINTERCEPT®</h1>
      <p>Aplicação da política em tempo real</p>
    </div>
  </div>
</div>
<br />
<br />
<div class="container-fluid mb-5">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3>
          Audite e bloqueie qualquer alteração de anúncio, autenticação ou
          pedidos
        </h3>
        <p class="text-secondary">
         Identifique ameaças de autenticação e sistemas de arquivos, abuso de contas e alterações críticas na TI.
         Controles preventivos bloqueio antes de ser explorado.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5 mb-5 text-center">
  <h2 class="text-teal">Por que StealthINTERCEPT?</h2>
  <div class="row text-center mt-5">
    <div class="col-md-4">
      <h5>95M</h5>
      <img
        src="/assets/img/stealth_bits/intercept/icons/95m.webp"
        class="img-fluid mb-3"
        alt="contas do AD"
      />
      <p>
        A Microsoft informa que 95 milhões de contas do AD estão sob ataque
        todos os dias.
      </p>
    </div>
    <div class="col-md-4">
      <h5>56%</h5>
      <img
        src="/assets/img/stealth_bits/intercept/icons/calendar.webp"
        class="img-fluid mb-3"
        alt="56 porcento"
      />
      <p>
        56% das violações em 2018 levaram um mês ou mais para serem descobertas.
      </p>
    </div>
    <div class="col-md-4">
      <h5>US$8,19 MILHÕES</h5>
      <img
        src="/assets/img/stealth_bits/intercept/icons/money.webp"
        class="img-fluid mb-3"
        alt="8 milhoes de dolares"
      />
      <p>
        O custo médio de uma violação de dados nos Estados Unidos em 2019 é de
        US $ 8,19 milhões.
      </p>
    </div>
  </div>
</div>
<div class="container text-center mb-5">
  <p>
    Durante anos, as organizações lutaram para obter inteligência contextual e
    acionável á sua infraestrutura crítica da Microsoft para atender aos
    requisitos de segurança, conformidade e operacionais. Mesmo depois de
    preencher o SIEM e outras tecnologias de agregação de log com todos os
    eventos possíveis, os detalhes críticos se perdem no ruído ou desaparecem
    completamente. À medida que os invasores continuam a utilizar métodos mais
    sofisticados para evitar a detecção, a necessidade de uma maneira melhor de
    detectar e controlar as alterações e atividades que violam a política é
    vital para a segurança e a conformidade.
  </p>
  <p>
    Sem qualquer dependência de registro nativo, o StealthINTERCEPT é capaz de
    detectar e, opcionalmente, impedir qualquer alteração, autenticação ou
    solicitação no Active Directory em tempo real e com precisão cirúrgica. De
    complexidade e restrições de senha a solicitações LDAP, injeção de processo
    de baixo nível a autenticações cruzadas, objetos, atributos, Política de
    Grupo e DNS, o StealthINTERCEPT combina tecnologia de ponta e práticas
    recomendadas recomendadas para responder a quem? O que? Onde? Quando? ™ da
    segurança do Active Directory
  </p>
</div>
<div class="container-fluid gray-half text-center">
  <img
    src="/assets/img/stealth_bits/intercept/imac.webp"
    class="img-fluid img-keys"
    alt="Principais caracteristicas"
  />
  <h2 class="mb-5 py-5 text-teal">Principais caracteristicas</h2>
</div>

<div class="container-fluid bg-gray">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-4">
        <img src="/assets/img/stealth_bits/intercept/icons/audit.webp" alt="" />
        <h4>Auditoria Granular do Active Directory</h4>
        <p>
          Capture todas as alterações sem a necessidade de logs de eventos
          nativos, centralize a coleta, pesquisa e análise de eventos usando
          menos armazenamento.
        </p>
      </div>
      <div class="col-md-4">
        <img
          src="/assets/img/stealth_bits/intercept/icons/monitor.webp"
          alt=""
        />
        <h4>Monitore as autenticações para ameaças</h4>
        <p>
          Detecte o uso de criptografia ou protocolo fraco e evite autenticações
          não autorizadas para fortalecer a segurança.
        </p>
      </div>
      <div class="col-md-4">
        <img
          src="/assets/img/stealth_bits/intercept/icons/password.webp"
          alt=""
        />
        <h4>Restrição e complexidade de senha aprimoradas</h4>
        <p>
          Aplique uma política de senha rigorosa além dos controles nativos e
          evite senhas fracas e já conhecidas por meio da integração direta com
          o banco de dados Have I Been Pwned .
        </p>
      </div>
      <div class="col-md-4">
        <img src="/assets/img/stealth_bits/intercept/icons/block.webp" alt="" />
        <h4>Bloquear consultas LDAP maliciosas</h4>
        <p>
          Monitore e restrinja consultas não autorizadas, nefastas e até
          onerosas contra o AD para detectar e prevenir atividades de
          reconhecimento em estágio inicial e paralisação operacional.
        </p>
      </div>
      <div class="col-md-4">
        <img
          src="/assets/img/stealth_bits/intercept/icons/object.webp"
          alt=""
        />
        <h4>Proteção de Objetos do AD</h4>
        <p>
          Bloqueie alterações indesejadas e mal-intencionadas em objetos do AD,
          atributos, objetos de política de grupo, configurações de DNS e muito
          mais para impor políticas operacionais e de segurança
        </p>
      </div>
      <div class="col-md-4">
        <img src="/assets/img/stealth_bits/intercept/icons/alert.webp" alt="" />
        <h4>Integrações e alertas</h4>
        <p>
          Defina alertas com base em praticamente qualquer parâmetro, utilize
          extensões do PowerShell e, opcionalmente, encaminhe eventos para
          plataformas SIEM e UBA como Splunk, ArcSight, QRadar e muito mais.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid gartner-content text-center text-white">
  <img
    src="/assets/img/stealth_bits/intercept/gartner_review.png"
    class="mt-5 logo_gartner"
    alt="g2_logo"
  />
  <div class="transparent-bg">
    <h4 style="padding-top: 6vh">
      “Great platform to improve security & data governance”
    </h4>
    <p>(Ótima plataforma para melhorar a segurança e governança de dados)</p>
    <p><i>-Director of Infrastructure & Security in the Finance Industry</i></p>
    <img
      src="/assets/img/stealth_bits/defend/start.webp"
      class="mb-3 logo_gartner"
      alt="Estrelas de avaliação"
    />
    <p>5 de 5</p>
    <a
      class="btn btn-gartner mb-5"
      target="_blank"
      href="https://www.gartner.com/reviews/market/file-analysis-software/vendor/stealthbits/product/stealthaudit-management-platform/review/view/693098"
      >Análise Completa</a
    >
  </div>
</div>
<div class="container-fluid py-5 slide-report">
  <div class="container">
    <div class="row justify-content-center text-center">
      <h2>Relatórios StealthINTERCEPT</h2>
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-interval="false"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <button
              type="button"
              class="btn btn-img"
              data-toggle="modal"
              data-target="#modal-1"
            >
              <img
                class="w-50"
                src="/assets/img/stealth_bits/intercept/slide/1.png"
                alt="icon"
              />
            </button>
            <!--Modal -->
            <div
              class="modal fade"
              id="modal-1"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <img
                    src="/assets/img/stealth_bits/intercept/slide/1.png"
                    class="img-modal-stealth"
                    alt="icon"
                  />
                </div>
              </div>
            </div>
            <div class="carousel-caption">
              <h5>PREVENÇÃO DE MUDANÇA E ACESSO</h5>
              <p>
                Evite alterações e acesso a objetos críticos como grupos de
                segurança confidenciais e GPOs, configurações de UAC,
                configurações de DNS e permissões de objeto, restrinja
                autenticações não autorizadas e protocolos de autenticação, bem
                como consultas LDAP suspeitas ou tributárias.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <button
              type="button"
              class="btn btn-img"
              data-toggle="modal"
              data-target="#modal-2"
            >
              <img
                class="w-50"
                src="/assets/img/stealth_bits/intercept/slide/2.png"
                alt="icon"
              />
            </button>
            <!--Modal -->
            <div
              class="modal fade"
              id="modal-2"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <img
                    src="/assets/img/stealth_bits/intercept/slide/2.png"
                    class="img-modal-stealth"
                    alt="icon"
                  />
                </div>
              </div>
            </div>
            <div class="carousel-caption">
              <h5>DETECTAR E EVITAR AMEAÇAS DE ANÚNCIO</h5>
              <p>
                Evite tentativas de comprometer a segurança do AD, como injeção
                não autorizada de LSASS, extração de banco de dados NTDS.dit e
                modificação de direitos de contêiner AdminSDHolder.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <button
              type="button"
              class="btn btn-img"
              data-toggle="modal"
              data-target="#modal-3"
            >
              <img
                class="w-50"
                src="/assets/img/stealth_bits/intercept/slide/3.png"
                alt="icon"
              />
            </button>
            <!--Modal -->
            <div
              class="modal fade"
              id="modal-3"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <img
                    src="/assets/img/stealth_bits/intercept/slide/3.png"
                    class="img-modal-stealth"
                    alt="icon"
                  />
                </div>
              </div>
            </div>
            <div class="carousel-caption">
              <h5>INTEGRAÇÃO DE SIEM</h5>
              <p>
                Alimente eventos de segurança relevantes no SIEM em tempo real
                para uma visão prática.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <button
              type="button"
              class="btn btn-img"
              data-toggle="modal"
              data-target="#modal-4"
            >
              <img
                class="w-50"
                src="/assets/img/stealth_bits/intercept/slide/4.png"
                alt="icon"
              />
            </button>
            <!--Modal -->
            <div
              class="modal fade"
              id="modal-4"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <img
                    src="/assets/img/stealth_bits/intercept/slide/4.png"
                    class="img-modal-stealth"
                    alt="icon"
                  />
                </div>
              </div>
            </div>
            <div class="carousel-caption">
              <h5>SUPORTE DE BANCO DE DADOS “Já fui Pwned”</h5>
              <p>
                Mantenha sua lista de senhas restritas atualizada por meio da
                integração com o banco de dados Have I Been Pwned, que contém
                mais de 570+ milhões de senhas violadas conhecidas.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <button
              type="button"
              class="btn btn-img"
              data-toggle="modal"
              data-target="#modal-5"
            >
              <img
                class="w-50"
                src="/assets/img/stealth_bits/intercept/slide/5.png"
                alt="icon"
              />
            </button>
            <!--Modal -->
            <div
              class="modal fade"
              id="modal-5"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <img
                    src="/assets/img/stealth_bits/intercept/slide/5.png"
                    class="img-modal-stealth"
                    alt="icon"
                  />
                </div>
              </div>
            </div>
            <div class="carousel-caption">
              <h5>ALERTA EM TEMPO REAL</h5>
              <p>
                Alerte o público sobre eventos críticos instantaneamente em
                níveis globais ou de política.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <button
              type="button"
              class="btn btn-img"
              data-toggle="modal"
              data-target="#modal-6"
            >
              <img
                class="w-50"
                src="/assets/img/stealth_bits/intercept/slide/6.png"
                alt="icon"
              />
            </button>
            <!--Modal -->
            <div
              class="modal fade"
              id="modal-6"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <img
                    src="/assets/img/stealth_bits/intercept/slide/6.png"
                    class="img-modal-stealth"
                    alt="icon"
                  />
                </div>
              </div>
            </div>
            <div class="carousel-caption">
              <h5>DETECÇÃO DE ALTERAÇÃO E ACESSO</h5>
              <p>
                Detecte consultas LDAP suspeitas, atividades de acesso e
                alterações em objetos e permissões.
              </p>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
{% include site/download-row.html docs='
<div class="col">
  <div class="downloadblock">
    <img src="/docs/thumbs/dataseet_intercept.webp" />
    <p>
      Ficha técnica
      INTERCEPT® </p>
    <a
      href="https://lps.aiqon.com.br/stealthintercept-datasheet"
      target="_blank"
      class="btn btn-small btn-lightblue"
    >
      Baixar PDF
    </a>
    <!-- <button onclick="downloadRequest(2)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
  </div>
</div>
'%}

{% include site/trial.html title="Solicite uma demonstração" id="form_stealth_D"
%}

<style>
  html {
    scroll-behavior: smooth;
  }
  .btn-stealth-d {
    background: transparent;
    border: 2px solid rgb(179, 18, 152);
    border-radius: 50px;
    font-weight: bolder;
    color: rgb(179, 18, 152);
  }
  .btn-stealth-d:hover {
    -webkit-box-shadow: 3px 7px 47px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 7px 47px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 7px 47px -15px rgba(0, 0, 0, 0.75);
    transition: 5ms;
  }
  .gray-half {
    padding-top: 10vh;
  }
  .bg-gray {
    padding-top: 7vh;
  }
  .gartner-content {
    background-color: black;
    background-size: cover;
    height: 60vh;
    padding: 0;
  }
  .transparent-bg {
    background: url("/assets/img/stealth_bits/intercept/green-transparent-review-bg-f05f1b31.png")
      no-repeat;
    padding: 0;
    height: 45vh;
    background-position: 390px 30px !important;
    background-size: 80%;
  }
  .btn-gartner {
    border: 2px solid white;
    text-transform: uppercase;
    font-weight: bolder;
    background: transparent;
    color: white;
    border-radius: 60px;
    font-size: 12px;
  }
  .btn-gartner:hover {
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
  }
  .content-black {
    background-color: #212121;
    height: 30vh;
    padding-top: 8vh;
  }
  .btn-purple {
    text-transform: uppercase;
    font-weight: bolder;
    background: rgb(179, 18, 152);
    color: white;
    border-radius: 60px;
    font-size: 12px;
  }
  .btn-purple:hover {
    background-color: transparent;
    border-color: white;
    color: white;
  }
  .img-keys {
    max-width: 1150px;
  }
  .logo_gartner {
    max-width: 400px;
  }

  /* MODAL*/
  .carousel-item h5 {
    color: black;
  }
  .slide-report {
    background-color: rgb(197, 197, 197);
    max-height: 65vh;
  }
  .carousel-caption {
    position: unset;
  }
  .modal-dialog {
    max-width: 80vw;
  }
  .img-modal-stealth {
    width: 80vw;
  }
  .carousel-item p {
    color: black;
    padding: 0 10vw 0 10vw;
    justify-items: center;
  }

  @media screen and (max-width: 1024px) {
    .img-keys {
      max-width: 500px;
    }
    .img-partner {
      max-width: 150px;
    }
    .transparent-bg {
      background: transparent;
    }
    .gartner-content {
      max-height: 40vh;
    }
  }

  @media screen and (max-width: 990px) {
    .img-modal-stealth {
      width: 96vw;
    }
    .modal-dialog {
      max-width: 96vw;
    }
    .logo_gartner {
      max-width: 250px;
    }
    .img-keys {
      max-width: 350px;
      margin-top: -30px;
    }
    .transparent-bg {
      background: transparent;
    }
    .gartner-content {
      min-height: 65vh;
      padding: 0 2vw 0 2vw;
    }
    .content-black {
      min-height: 47vh;
    }
  }
</style>
