---
layout: default
title: Netwrix PolicyPak
---

<div class="container-fluid change-tracker-background">
  <div class="row justify-content-between">
    <div class="col-md-6">
      <h1 class="title-netwrix-solution">NETWRIX POLICYPAK</h1>
      <h2>GERENCIAMENTO DE ENDPOINT PARA FERRAMENTAS MODERNAS</h2>
      <a href="#trial-policypak" class="btn btn-change-tracker"
        >Solicitar Demonstração</a
      >
    </div>
    <div class="col-md">
      <img
        class="img-home-change img-fluid"
        src="/assets/img/policypak/policypak-home.png"
        alt="cloud-security"
      />
    </div>
  </div>
</div>
<div class="container text-center py-5">
  <h2 class="title-secondary-netwrix py-5">
    Proteja os usuários finais onde quer que eles trabalhem e torne-os mais
    produtivos com o software de gerenciamento de endpoint Netwrix
  </h2>
  <p class="text-description-netwrix py-4">
    No ambiente de trabalho híbrido atual, os usuários precisam acessar seus
    desktops, laptops e outros dispositivos do escritório, em casa, durante
    viagens, por meio de quiosques e virtualmente. Mas muitas organizações estão
    lutando para gerenciar e proteger seu ecossistema de TI pois nem todos os
    sistemas de software de gerenciamento de endpoint do Windows foram
    projetados para cenários distribuídos modernos. O Netwrix PolicyPak permite
    que você resolva seus desafios de gerenciamento e proteção de endpoint onde
    quer que os usuários trabalhem, modernizando e ampliando o poder de seus
    ativos de tecnologia empresarial existentes.
  </p>
</div>
{% include site/policypak/tabs.html %}

<div class="container-fluid container-feature-netwrix-products mt-5">
  <h2 class="title-secondary-netwrix text-center mb-5">
    Atenda aos seus requisitos de segurança, conformidade e <br />
    gerenciamento com um software abrangente de controle de endpoint
  </h2>
  <p class="text-description-netwrix py-4">
    Você precisa de uma maneira centralizada de gerenciar e proteger endpoints,
    independentemente de como eles são associados ao domínio? Você tem
    requisitos de conformidade para segurança de endpoint Windows que sua
    solução de mobilidade empresarial atual não atende? Você prefere aproveitar
    sua infraestrutura de política existente para preencher a lacuna ou começar
    do zero? O Netwrix PolicyPak fornece uma poderosa estrutura de criação,
    gerenciamento e implantação de políticas que estende os recursos de
    gerenciamento de políticas, segurança, automação e geração de relatórios das
    tecnologias de gerenciamento de terminais que você já usa.
  </p>
</div>
<div class="container-fluid content-retangle-netwrix">
  <div class="row justify-content-center">
    <div class="col-md-2 retangle-netwrix-products">
      <img
        class="img-retangle"
        src="/assets/img/policypak/retangle/least_privilege_security.svg"
        alt=""
      />
      <p>Segurança de menor privilégio</p>
    </div>
    <div class="col-md-2 retangle-netwrix-products">
      <img
        class="img-retangle"
        src="/assets/img/policypak/retangle/manager.svg"
        alt=""
      />
      <p>Gerenciamento de dispositivos removíveis</p>
    </div>
    <div class="col-md-2 retangle-netwrix-products">
      <img
        class="img-retangle"
        src="/assets/img/policypak/retangle/windows.svg"
        alt=""
      />
      <p>
        Gerenciamento <br />
        Windows 10
      </p>
    </div>
    <div class="col-md-2 retangle-netwrix-products">
      <img
        class="img-retangle"
        src="/assets/img/policypak/retangle/policy.svg"
        alt=""
      />
      <p>Conformidade com a Política de Grupo</p>
    </div>
    <div class="col-md-2 retangle-netwrix-products">
      <img
        class="img-retangle"
        src="/assets/img/policypak/retangle/web.svg"
        alt=""
      />
      <p>Aplicativo, navegador e segurança Java</p>
    </div>
    <div class="col-md-2 retangle-netwrix-products">
      <img
        class="img-retangle"
        src="/assets/img/policypak/retangle/patch.svg"
        alt=""
      />
      <p>Entrega de aplicativos e aplicação de patches</p>
    </div>
    <div class="col-md-2 retangle-netwrix-products">
      <img
        class="img-retangle"
        src="/assets/img/policypak/retangle/automation.svg"
        alt=""
      />
      <p>Automação de Área de Trabalho</p>
    </div>
    <div class="col-md-2 retangle-netwrix-products">
      <img
        class="img-retangle"
        src="/assets/img/policypak/retangle/user.svg"
        alt=""
      />
      <p>Gerenciamento de políticas de grupo</p>
    </div>
  </div>
</div>
<div class="container-fluid container-feature-netwrix-products mb-5">
  <h2 class="title-secondary-netwrix text-center mb-5">
    Proteja endpoints e aumente a produtividade com software de <br />
    controle de endpoint que moderniza sua rede Windows
  </h2>
  <div class="row mt-5 py-5">
    <div class="col-md-4">
      <img
        src="/assets/img/policypak/retangle/shield.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Remova os direitos de administrador local sem afetar a produtividade
      </h5>
      <p class="desc-features-netwrix-products">
        Reduza o risco de ransomware e outras ameaças enquanto atende aos
        requisitos de conformidade, fornecendo aos usuários apenas as permissões
        de que precisam, não os direitos de administrador local.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/policypak/retangle/pen-drive.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Reduza o risco controlando o uso de unidades removíveis
      </h5>
      <p class="desc-features-netwrix-products">
        Evite a infecção por malware e a perda de dados corporativos controlando
        rigorosamente o uso de dispositivos USB, CD-ROM e DVD.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/policypak/retangle/block.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Bloqueie aplicativos, navegadores e configurações Java
      </h5>
      <p class="desc-features-netwrix-products">
        Atenda aos requisitos de segurança e conformidade para controle de
        aplicativos regulando rigorosamente as configurações de Java, navegador
        e aplicativo.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/policypak/retangle/file.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Baseie e valide sua política de grupo em escala
      </h5>
      <p class="desc-features-netwrix-products">
        Alcance a conformidade e reduza as vulnerabilidades obtendo a certeza de
        que as configurações da Diretiva de Grupo estão definidas corretamente e
        funcionando corretamente.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/policypak/retangle/windows-file.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Configure, gerencie e implemente configurações personalizadas de SO e
        desktop
      </h5>
      <p class="desc-features-netwrix-products">
        Personalize o espaço de trabalho digital de seus funcionários
        personalizando associações de arquivos, telas iniciais, barras de
        tarefas e conjunto de recursos do sistema operacional.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/policypak/retangle/circle.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Reduza e consolide objetos de Diretiva de Grupo
      </h5>
      <p class="desc-features-netwrix-products">
        Elimine a expansão de GPO para tornar seu ambiente Windows mais limpo,
        mais fácil de gerenciar e mais seguro.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid customers-squad-netwrix-products py-5 mb-5 mt-5">
  <h2 class="title-secondary-netwrix text-center mb-5">
    Veja como organizações iguais a sua estão usando o Netwrix PolicyPak <br />
    para proteger e gerenciar seus dispositivos Windows
  </h2>
  <div class="row justify-content-center">
    <div class="col-md-2 change-customers">
      <p class="small-title-customers">Seguradora</p>
      <img
        class="img-customers-change"
        src="/assets/img/policypak/canal_Insurance_logo.png"
        alt=""
      />
      <p class="text-gray desc-change-customers">
        A Canal Insurance alcançou 100% de ROI em apenas seis meses, reduzindo o
        tempo necessário para administrar as políticas e configurações do
        navegador.
      </p>
    </div>
    <div class="col-md-2 change-customers">
      <p class="small-title-customers">Governo</p>
      <img
        class="img-customers-change img-customers-change-svg"
        src="/assets/img/policypak/department_of_veterans_affairs.svg"
        alt=""
      />
      <p class="text-gray desc-change-customers">
        O Departamento de Assuntos de Veteranos cumpre os requisitos de
        conformidade com menos esforço e despesas.
      </p>
    </div>
    <div class="col-md-2 change-customers">
      <p class="small-title-customers">Educação</p>
      <img
        class="img-customers-change"
        src="/assets/img/policypak/university_of_wisconsin.png"
        alt=""
      />
      <p class="text-gray desc-change-customers">
        A University of Wisconsin consolidou seus GPOs e simplificou o
        gerenciamento de diretivas de grupo com o Netwrix PolicyPak.
      </p>
    </div>
    <div class="col-md-2 change-customers">
      <p class="small-title-customers">Tecnologia</p>
      <img
        class="img-customers-change"
        src="/assets/img/policypak/crutchfield_logo.png"
        alt=""
      />
      <p class="text-gray desc-change-customers" id="trial-policypak">
        A Crutchfield reduziu os SLAs para tarefas de TI e recebe índices de
        satisfação mais altos dos usuários finais.
      </p>
    </div>
  </div>
</div>
{% include site/download-row.html docs='
<div class="col">
  <div class="downloadblock">
    <img src="/assets/img/policypak/policy-pak-ebook.png" />
    <p>Netwrix PolicyPak: Conheça a plataforma</p>
    <a
      href="https://lps.aiqon.com.br/netwrix-policypak"
      target="_blank"
      class="btn btn-small btn-lightblue"
    >
      Baixar PDF
    </a>
    <!-- <button onclick="downloadRequest(4)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
  </div>
</div>
'%} 
{% include site/trial.html title="Solicite uma demonstração"
id="change-tracker_form" %}

<style>
  html {
    scroll-behavior: smooth;
  }
  .change-tracker-background {
    background-color: #010a59;
    padding: 20vh 0 15vh 15vw;
  }
  .change-tracker-background h2 {
    font-size: 3.5em;
    color: white;
    font-weight: bold;
    margin-bottom: 10vh;
  }
  .title-netwrix-solution {
    font-size: 15px;
    color: white;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 2vh;
  }
  .icon-img-change {
    max-width: 4vw;
  }
  .img-home-change {
    margin-right: -5vw;
  }
  .btn-change-tracker {
    background-color: red;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    font-weight: 500;
  }
  .btn-change-tracker:hover {
    background-color: #0778f4;
    color: white;
    transition: 0.5s;
  }

  .title-secondary-netwrix {
    font-size: 2.5em;
  }
  .text-description-netwrix {
    color: gray;
    font-size: 1.1em;
  }
  .title-features-netwrix-products {
    font-size: 1em;
    letter-spacing: 1px;
  }
  .container-feature-netwrix-products {
    padding: 0 15vw;
  }

  .desc-features-netwrix-products {
    max-width: 18vw;
  }
  .icon-img-change {
    margin-bottom: 40px;
  }
  .img-customers-change-svg {
    max-width: 3vw !important;
  }
  .img-customers-change {
    max-width: 8vw;
    margin-bottom: 2vh;
  }
  .small-title-customers {
    font-size: 13px;
    color: #0778f4;
    font-weight: 500;
    margin-bottom: 3vh;
  }
  .change-customers {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
  }
  .desc-change-customers {
  }
  .content-retangle-netwrix {
    padding: 0 10vw;
    margin-bottom: 10vw;
  }
  .retangle-netwrix-products {
    font-size: 15px;
    display: flex;
    border-radius: 6px;
    margin: 15px 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 14%);
  }
  .retangle-netwrix-products p {
    padding-top: 14px;
  }
  .img-retangle {
    max-width: 2vw;
    padding: 5px;
    margin-right: 10px;
  }
  @media only screen and (max-width: 990px) {
    .change-tracker-background {
      height: 100vh;
    }
    .change-tracker-background h2 {
      font-size: 2em;
      margin-bottom: 5vh;
    }
    .change-tracker-background {
      padding: 15vh 0 5vh 2vw;
    }
    .btn-change-tracker {
      width: 50vw;
      height: 5vh;
      font-size: 14px;
      padding: 9px;
    }
    .img-home-change {
      margin-top: 10vh;
    }
    .icon-img-change {
      max-width: 20vw;
    }
    .desc-features-netwrix-products {
      max-width: 80vw;
      margin-bottom: 10vh;
    }
    .title-secondary-netwrix {
      font-size: 2em;
    }
    .img-customers-change {
      max-width: 30vw;
    }
    .small-title-customers {
      margin-bottom: 1vh;
    }
    .img-retangle {
      max-width: 10vw;
    }
    .img-customers-change-svg {
      max-width: 15vw !important;
    }
  }
</style>
