---
layout: default
title: Netwrix PolicyPak
---

<div class="container-fluid change-tracker-background">
  <div class="row justify-content-between">
    <div class="col-md-6">
      <h1 class="title-netwrix-solution">NETWRIX POLICYPAK</h1>
      <h2>GERENCIAMENTO DE ENDPOINT PARA FERRAMENTAS MODERNAS</h2>
      <a href="#trial-change-tracker" class="btn btn-change-tracker"
        >Solicitar Demonstração</a
      >
    </div>
    <div class="col-md">
      <img
        class="img-home-change img-fluid"
        src="/assets/img/policypak/policypak-home.png"
        alt="cloud-security"
      />
    </div>
  </div>
</div>
<div class="container text-center py-5">
  <h2 class="title-secondary-netwrix py-5">
    Proteja os usuários finais onde quer que eles trabalhem e torne-os mais
    produtivos com o software de gerenciamento de endpoint Netwrix
  </h2>
  <p class="text-description-netwrix py-4">
    No ambiente de trabalho híbrido atual, os usuários precisam acessar seus
    desktops, laptops e outros dispositivos no escritório, em casa, durante
    viagens, por meio de quiosques e virtualmente. Mas muitas organizações estão
    lutando para gerenciar e proteger seu ecossistema de TI porque nem todos os
    sistemas de software de gerenciamento de endpoint do Windows foram
    projetados para cenários distribuídos modernos. O Netwrix PolicyPak permite
    que você resolva seus desafios de gerenciamento e proteção de endpoint onde
    quer que os usuários trabalhem, modernizando e ampliando o poder de seus
    ativos de tecnologia empresarial existentes.
  </p>
</div>
{% include site/policypak/tabs.html %}

<div class="container-fluid container-feature-netwrix-products">
  <h2 class="title-secondary-netwrix text-center mb-5">
    Atenda aos seus requisitos de segurança, conformidade e <br />
    gerenciamento com um software abrangente de controle de endpoint
  </h2>
  <p class="text-description-netwrix py-4">
    Você precisa de uma maneira centralizada de gerenciar e proteger endpoints,
    independentemente de como eles são associados ao domínio? Você tem
    requisitos de conformidade para segurança de endpoint do Windows que sua
    solução de mobilidade empresarial atual não atende? Você prefere aproveitar
    sua infraestrutura de política existente para preencher a lacuna ou começar
    do zero? O Netwrix PolicyPak fornece uma poderosa estrutura de criação,
    gerenciamento e implantação de políticas que estende os recursos de
    gerenciamento de políticas, segurança, automação e geração de relatórios das
    tecnologias de gerenciamento de terminais que você já usa.
  </p>
</div>
<div class="container-fluid content-retangle-netwrix">
  <div class="row justify-content-center">
    <div class="col-md-2 retangle-netwrix-products">
      <img
        class="img-retangle"
        src="/assets/img/policypak/retangle/least_privilege_security.svg"
        alt=""
      />
      <p>Segurança de menor privilégio</p>
    </div>
    <div class="col-md-2 retangle-netwrix-products">
      <img
        class="img-retangle"
        src="/assets/img/policypak/retangle/manager.svg"
        alt=""
      />
      <p>Gerenciamento de dispositivos removíveis</p>
    </div>
    <div class="col-md-2 retangle-netwrix-products">
      <img
        class="img-retangle"
        src="/assets/img/policypak/retangle/windows.svg"
        alt=""
      />
      <p>Gerenciamento do Windows 10</p>
    </div>
    <div class="col-md-2 retangle-netwrix-products">
      <img
        class="img-retangle"
        src="/assets/img/policypak/retangle/policy.svg"
        alt=""
      />
      <p>Conformidade com a Política de Grupo</p>
    </div>
    <div class="col-md-2 retangle-netwrix-products">
      <img
        class="img-retangle"
        src="/assets/img/policypak/retangle/web.svg"
        alt=""
      />
      <p>Aplicativo, navegador e segurança Java</p>
    </div>
    <div class="col-md-2 retangle-netwrix-products">
      <img
        class="img-retangle"
        src="/assets/img/policypak/retangle/patch.svg"
        alt=""
      />
      <p>Entrega de aplicativos e aplicação de patches</p>
    </div>
    <div class="col-md-2 retangle-netwrix-products">
      <img
        class="img-retangle"
        src="/assets/img/policypak/retangle/automation.svg"
        alt=""
      />
      <p>Automação de Área de Trabalho</p>
    </div>
    <div class="col-md-2 retangle-netwrix-products">
      <img
        class="img-retangle"
        src="/assets/img/policypak/retangle/user.svg"
        alt=""
      />
      <p>Gerenciamento de políticas de grupo</p>
    </div>
  </div>
</div>
<div class="container-fluid customers-squad-netwrix-products mb-5">
  <h2 class="title-secondary-netwrix text-center mb-5">
    Explore como o Netwrix Change Tracker está capacitando organizações como a
    <br />
    sua a fortalecer seus sistemas, melhorar a resposta de segurança <br />
    e comprovar a conformidade
  </h2>
  <div class="row justify-content-center">
    <div class="col-md-2 change-customers">
      <p class="small-title-customers">Prestador de Serviço</p>
      <img
        class="img-customers-change"
        src="/assets/img/change-tracker/customers/accenture.png"
        alt=""
      />
      <p class="text-gray desc-change-customers">
        A Accenture usa o Change Tracker para fornecer gerenciamento proativo de
        riscos e garantir conformidade contínua para seus clientes.
      </p>
    </div>
    <div class="col-md-2 change-customers">
      <p class="small-title-customers">Telecomunicações</p>
      <img
        class="img-customers-change"
        src="/assets/img/change-tracker/customers/vodafone.png"
        alt=""
      />
      <p class="text-gray desc-change-customers">
        A Vodafone está em conformidade com o PCI DSS e protege as PII do
        cliente com o Netwrix Change Tracker.
      </p>
    </div>
    <div class="col-md-2 change-customers">
      <p class="small-title-customers">Serviços Financeiros</p>
      <img
        class="img-customers-change"
        src="/assets/img/change-tracker/customers/paypoint.png"
        alt=""
      />
      <p class="text-gray desc-change-customers">
        O PayPoint mantém a conformidade com o PCI DSS, apesar da escassez de
        habilidades de segurança cibernética com o Netwrix Change Tracker.
      </p>
    </div>
    <div class="col-md-2 change-customers">
      <p class="small-title-customers">Tecnologia</p>
      <img
        class="img-customers-change"
        src="/assets/img/change-tracker/customers/DXC Technology.png"
        alt=""
      />
      <p class="text-gray desc-change-customers" id="trial-change-tracker">
        A DXC Technology permite que seus clientes atinjam a conformidade com o
        PCI DSS e reduzam sua área de superfície de ataque com o Change Tracker.
      </p>
    </div>
  </div>
</div>
{% include site/trial.html title="Solicite uma demonstração"
id="change-tracker_form" %}

<style>
  html {
    scroll-behavior: smooth;
  }
  .change-tracker-background {
    background-color: #010a59;
    padding: 20vh 0 15vh 15vw;
  }
  .change-tracker-background h2 {
    font-size: 3.5em;
    color: white;
    font-weight: bold;
    margin-bottom: 10vh;
  }
  .title-netwrix-solution {
    font-size: 15px;
    color: white;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 2vh;
  }
  .icon-img-change {
    max-width: 4vw;
  }
  .img-home-change {
    margin-right: -5vw;
  }
  .btn-change-tracker {
    width: 15vw;
    height: 6vh;
    background-color: red;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    font-weight: 500;
  }
  .btn-change-tracker:hover {
    background-color: #0778f4;
    color: white;
    transition: 0.5s;
  }

  .title-secondary-netwrix {
    font-size: 2.5em;
  }
  .text-description-netwrix {
    color: gray;
    font-size: 1.1em;
  }
  .title-features-netwrix-products {
    font-size: 1em;
    letter-spacing: 1px;
  }
  .container-feature-netwrix-products {
    padding: 10vh 15vw;
  }

  .desc-features-netwrix-products {
    max-width: 18vw;
  }
  .icon-img-change {
    margin-bottom: 40px;
  }
  .img-customers-change {
    max-width: 8vw;
  }
  .small-title-customers {
    font-size: 13px;
    color: #0778f4;
    font-weight: 500;
    margin-bottom: 3vh;
  }
  .change-customers {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
  }
  .desc-change-customers {
  }
  .content-retangle-netwrix{
    padding: 0 10vw;
  }
  .retangle-netwrix-products {
    
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: 2px;
    margin: 15px 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  }
  .img-retangle {
    max-width: 3vw;
    padding: 5px;
    margin-right: 10px;
    
  }
  @media only screen and (max-width: 990px) {
    .change-tracker-background {
      height: 100vh;
    }
    .change-tracker-background h2 {
      font-size: 2em;
      margin-bottom: 5vh;
    }
    .change-tracker-background {
      padding: 15vh 0 5vh 2vw;
    }
    .btn-change-tracker {
      width: 50vw;
      height: 5vh;
      font-size: 14px;
      padding: 9px;
    }
    .img-home-change {
      margin-top: 10vh;
    }
    .icon-img-change {
      max-width: 20vw;
    }
    .desc-features-netwrix-products {
      max-width: 80vw;
      margin-bottom: 10vh;
    }
    .title-secondary-netwrix {
      font-size: 2em;
    }
    .img-customers-change {
      max-width: 30vw;
    }
    .small-title-customers {
      margin-bottom: 1vh;
    }
  }
</style>
