---
layout: default
title: Minerva
---

<div
  class="container-fluid minerva_home"
  style="height: 600px; padding-top: 14vh; color: white"
>
  <br />
  <br />
  <div class="row">
    <div
      class="col -solution-hero d-flex flex-column justify-content-center align-items-center text-center text-white"
    >
      <img
        src="/assets/img/minerva/logo_white.svg"
        style="max-width: 500px"
        alt="Minerva Logo"
      />
      <br />
      <p>
        <b
          >EPR de nível militar, atuando na pré-execução de ameaças conhcecidas
          ou não, incluindo ransomware, <br />
          file less e não necessáriamente baseados em malware</b
        >
      </p>
      <a href="#form-minerva" class="btn btn-minerva">Teste agora!</a>
    </div>
  </div>
</div>
<br />
<br />
<div class="container-fluid mb-5">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3></h3>
        <p class="text-secondary">
          Plataforma de nível militar, atuando na pré-execução de ameaças
          cibernéticas conhecidas e desconhecidas, incluindo prevenção de
          ataques ransomware, ataques sem arquivos e não necessariamente
          baseados em malware. Para dispositivos gerenciados e não gerenciados
          (Zero-Trust e BYOPC).
        </p>
      </div>
    </div>
  </div>
</div>

{%include site/minerva/tabs_hover.html %}

<div class="container-fluid bg_secondary py-5">
  <div class="container text-center">
    <h2 class="orange-minerva py-5">Plataforma Minerva</h2>
    <h5 class="text-white">
      Minerva bloqueia o acesso, abordando a mais ampla variedade de cenários de
      ataque
    </h5>
    <br />
    <h5 class="text-white">
      A plataforma de prevenção de ameaças patenteada é composta por vários
      módulos que funcionam em conjunto para bloquear ameaças desconhecidas que
      empregam técnicas evasivas não convencionais
      <br />
    </h5>
  </div>
</div>
<div class="container-fluid text-center p-0 content-bg">
  <img src="/assets/img/minerva/flow_minerva.gif" class="flow_minerva" alt="" />
</div>
<div class="container-fluid text-center" style="background-color: white">
  <img
    src="/assets/img/minerva/icon_minerva.png"
    class="icon-badge-secondary"
    alt=""
  />
  <div class="row justify-content-center">
    <div class="badge-secondary text-center">
      <p>
        A plataforma anti-evasão da Minerva interrompeu com <br />
        sucesso ataques de RAT, Qbot, Kraken e até mesmo o menos <br />
        conhecido ransomware Sekhmet.
      </p>
    </div>
  </div>
  <h5 class="text-teal mt-5 pb-5">
    Não espere mais, <a href="#form-minerva">clique aqui</a> e solicite um teste
    agora mesmo e se surpreenda!
  </h5>
  {% include site/download-row.html docs='

  <div class="col">
    <div class="downloadblock">
      <img src="/assets/img/minerva/thumb/thumb_ransomware_minerva.webp" />
      <p>Como Escolher a Solução Certa de Segurança na Web em 2022</p>
      <a
        href="https://lps.aiqon.com.br/minerva-prevencao-ransomware"
        target="_blank"
        class="btn btn-small btn-lightblue"
      >
        Baixar PDF
      </a>
      <!-- <button onclick="downloadRequest(4)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
    </div>
  </div>

  '%}
</div>
<div class="container-fluid text-center bg-square-secondary">
  <h2 class="orange-minerva py-5 mb-3 text-center" style="margin-left: -2vw">
    Benefícios
  </h2>
  <div class="container text-center mb-5">
    {% include site/minerva/button_hover.html %}
  </div>
  <h4 class="text-center text-white mt-5 mb-5">
    Somente a plataforma da Minerva protegerá completamente todos os <br />
    endpoints da sua organização até mesmo das ameaças mais avançadas
  </h4>
  <div class="container-fluid">
    <div class="row justify-content-center buttons-static">
      <div class="col-md-2 badge-simple">
        <p class="orange-minerva text-bg-simple py-2">Ínicio Rápido</p>
        <br />
        <p class="text-white">
          Agente sem pré-requisitos, sem tempo de inatividade e sem
          reinicializações
        </p>
      </div>
      <div class="col-md-2 badge-simple">
        <p class="orange-minerva text-bg-simple py-2">Ultraleve</p>
        <br />
        <p class="text-white">Não afeta o desempenho do endpoint</p>
      </div>
      <div class="col-md-2 badge-simple">
        <p class="orange-minerva text-bg-simple py-2">Fácil de usar</p>
        <br />
        <p class="text-white">
          Libere quantidades significativas de mão de obra e recursos
        </p>
      </div>
    </div>
  </div>
  <h2 class="text-center text-white py-5">
    A plataforma da Minerva substitui seu <br />
    EPP e EDR
  </h2>
  <a class="btn btn-minerva mb-5" href="#form-minerva">Teste agora!</a>
</div>
{% include site/minerva/slider_awards.html %}
<div class="container-fluid content-form-minerva py-5">
  <div
    class="row justify-content-center -about row-minerva"
    style="height: auto"
    id="form-minerva"
  >
    <div class="col-md-5 d-flex" style="justify-content: flex-end">
      {% include site/form2.html title="Minerva" id="minerva_form" %}
    </div>
    <div class="col-md-5 mt-5">
      <br />
      <p class="text-center form-text-init text-white">
        <img
          src="/assets/img/minerva/logo_white.svg"
          class="minerva-logo-form"
          alt=""
        />
      </p>
      <h3 class="text-center text-white" style="font-size: 30px">
        A superioridade de Minerva é esclarecida por <br />
        Eric Cole Ph.D. nesta recente análise do produto SANS
      </h3>
      <div class="row justify-content-center">
        <img
          src="/assets/img/minerva/sans-ico.jpg"
          class="sans-icon mb-3"
          alt=""
        />
        <blockquote>
          Nesta revisão, executamos uma série de tipos de ataque contra o
          Minerva,<br />
          incluindo malware que exibiu as seguintes características:
          <br />
          •Prevenção de sandbox <br />
          • Ataques de injeção de memória <br />
          • Uso de documentos maliciosos <br />
          • Destruição de arquivos Em todos os casos, a solução do Minerva
          <br />
          bloqueou com precisão as tentativas de infecção e relatou nestas
          instâncias. A proteção foi eficaz mesmo quando os terminais não tinham
          acesso à Internet.
        </blockquote>
      </div>

      <br />
    </div>
  </div>
</div>

<style>
  html {
    scroll-behavior: smooth;
  }

  .minerva_home {
    background: url("/assets/img/minerva/bg_minerva.png") no-repeat;
    background-size: cover;
  }

  .btn-minerva {
    color: white;
    list-style: none;
    background-color: #16aaa7;
    margin-top: 10vh;
    height: 7vh;
    width: 10vw;
    font-size: 20px;
    padding-top: 1.5vh;
  }

  .btn-minerva:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
  }

  .bg_secondary {
    background-color: black;
    min-height: 5vh;
    margin-top: 10vh;
  }

  .flow_minerva {
    max-width: 70vw;
    margin-left: -1.4vw;
  }

  .content-bg {
    background-color: black;
  }

  .orange-minerva {
    color: #faa931;
  }

  .badge-secondary {
    background-color: #faa931;
    padding: 25px;
    min-height: 15vh;
    margin-top: 10vh;
    min-width: 50%;
    font-size: 20px;
    font-style: italic;

    border-radius: 20px;
  }

  .icon-badge-secondary {
    max-width: 500px;
    transform: rotate(-23deg);
    z-index: 100;
    margin-bottom: -25vh;
    margin-left: -47.5vw;
  }

  .bg-square-secondary {
    background: url("/assets/img/minerva/bg-square-black.png");
    background-size: cover;
    min-height: 150vh;
  }

  .badge-simple {
    background: linear-gradient(
      180deg,
      rgba(26, 24, 24, 1) 25%,
      rgba(58, 58, 58, 1) 25%
    );
    height: 20vh;
    margin: 10px;
  }

  .text-bg-simple {
    font-size: 20px;
    font-weight: bold;
  }

  .content-form-minerva {
    background: url("/assets/img/minerva/bg_form_minerva.png");
    margin-top: 10vh;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .row-minerva {
    margin-left: -15vw;
  }

  .minerva-logo-form {
    max-width: 300px;
  }

  .sans-icon {
    max-width: 200px;
    margin-top: 5vh;
  }

  blockquote {
    position: relative;
    padding-left: 50px;
    font-family: "Georgia", serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    quotes: "\201C""\201D""\2018""\2019";
    text-align: center;
  }

  blockquote::before,
  blockquote::after {
    color: #c6c6c6;
    font-size: 4em;
    font-weight: 400;
    line-height: 0.1em;
  }

  blockquote::before {
    position: absolute;
    left: 2;
    content: open-quote;
    vertical-align: -0.15em;
  }

  blockquote::after {
    content: close-quote;
    vertical-align: -0.7em;
  }

  @media screen and (max-width: 900px) {
    .icon-badge-secondary {
      margin-bottom: -18vh;
      margin-left: -70vw;
    }

    .minerva-logo-form {
      margin-left: -5vw;
    }

    blockquote {
      padding-top: 5vh;
      padding-left: 0;
    }

    .btn-minerva {
      height: 7vh;
      width: 40vw;
      font-size: 20px;
      padding-top: 1.5vh;
    }

    .flow_minerva {
      max-width: 95vw;
    }
  }
</style>
