---
layout: default
title: EDR
---

<div class="container-fluid" 
style="
  background:linear-gradient(
      135deg,
      rgba(102, 125, 182, 1) 37%,
      rgba(68, 127, 188, 1) 48%,
      rgba(102, 125, 182, 1) 58%
    );
    height: 500px; padding-top: 14vh; color: white;">
<canvas class="background"></canvas>
  <br />
  <br />
  <div class="row">
    <div
      class="col -solution-hero d-flex flex-column justify-content-center align-items-center text-center"
    >
      <h1>
        EDR <br />
        Alerta de ameaças em tempo real
      </h1>
      <br />
      <p>{% include site/modal_form.html title="EDR" id="edr_form "%}</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3></h3>
        <p class="text-secondary">
          Nossa solução de EDR te possibilita alertar e colocar um dispositivo
          em quarentena para detectar, isolar e prevenir brechas. Tenha
          visibilidade total e controle dos seus desktops, notebooks e
          dispositivos que fazem parte da sua infraestrutura de TI.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mb-5">
  <div class="row mb-4">
    <div class="row mw-1500 mx-auto d-flex justify-content-center pt-5">
      <div class="image-block-rms flex-column text-center">
        <img src="/assets/img/mitigacao/protect.png" />
        <br />
        <h5>Proteção automatizada</h5>
        <p style="min-width: 250px">
          Um único e leve agente gerencia e monitora continuamente a atividade
          dos endpoints e os protegem automatizado a resposta as brechas de
          segurança cibernética.
        </p>
      </div>
      <div class="image-block-rms flex-column text-center">
        <img src="/assets/img/mitigacao/detection.png" />
        <br />
        <h5>Detecção instantânea</h5>
        <p style="min-width: 250px">
          No instante em que a atividade suspeito de um processo malicioso for
          detectada, o dispositivo é prontamente colocado em quarentena para
          prevenir mais infecções e então, as partes interessadas são
          notificadas<br />por e-mail.
        </p>
      </div>
      <div class="image-block-rms flex-column text-center">
        <img src="/assets/img/mitigacao/acess.png" />
        <br />
        <h5>Acessibilidade</h5>
        <p style="min-width: 250px">
          Com o conhecimento de que os ataques tenham sido contidos, os
          administradores podem logar no nosso console na nuvem segura de
          qualquer navegador para entender e responder melhor a ameaça
        </p>
      </div>
      <br />
      <br />
    </div>
  </div>
</div>
<div class="container-fluid content">
  <div class="container-fluid blue">
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md content-body text-white">
          <h2 style="margin-top: 7vh">Reduza o risco da sua segurança</h2>
          <p>
            Minimize a sua exposição configurando monitoramentos para parar
            processos maliciosos de forma automática e isolar os casos. Nossa
            detecção e resposta de Endpoint (EDR) procura por processos
            maliciosos, hashes e softwares numa lista negra em todos os
            dispositivos. Configure o quão frequente será a checagem, quem deve
            receber o e-mail, se o dispositivo deve ser colocado em quarentena
            automaticamente e se o processo deve ser terminado.
          </p>
        </div>
        <div class="col-md content-body image">
          <img
            class="img-fluid"
            src="/assets/img/mitigacao/reduze.webp"
            alt=""
          />
        </div>
      </div>
    </div>
    <br />
    <br />
  </div>
  <div class="container-fluid gray">
    <br />
    <br />
    <div class="container">
      <h3 class="text-center">Alertas instantâneos</h3>
      <br />
      <p class="text-center">
        Uma notificação de e-mail imediata é enviada se um evento ativamente
        monitorado ou uma brecha é descoberta em qualquer dispositivo da
        organização. Para cada alerta, um incidente em aberto é criado com
        detalhes de onde, o que e quem foi impactado.
      </p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md">
          <img
            class="img-fluid"
            src="/assets/img/mitigacao/alert_a.webp"
            alt=""
          />
        </div>
        <div class="col-md">
          <img
            class="img-fluid"
            src="/assets/img/mitigacao/alert_b.webp"
            alt=""
          />
        </div>
      </div>
    </div>
    <br />
    <br />
  </div>
  <div class="container-fluid blue">
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md content-body text-white">
          <h2 style="margin-top: 10vh">Quarentena</h2>
          <p>
            A quarentena isola os dispositivos para parar as infecções. Enquanto
            o dispositivo contaminado não puder se comunicar com os dispositivos
            da rede ou a internet, nossa solução se mantém em comunicação direta
            para responder em tempo real a ameaça. Inicie tarefas para remover
            softwares, investigar a atividade da ameaça ou usar o controle
            remoto
          </p>
        </div>
        <div class="col-md content-body image">
          <img
            class="img-fluid"
            src="/assets/img/mitigacao/danger.webp"
            alt=""
          />
        </div>
      </div>
    </div>
    <br />
    <br />
  </div>
</div>
<div
  class="container-fluid -footer"
  style="background-color: transparent; border: none"
>
  <div class="row mx-auto py-5 -about" style="height: auto">
    <div class="col-md">
      <br />
      <h3 class="text-center" style="color: gray; margin-top: 100px">
        Não perca mais tempo, identifique e minimize os riscos no seu ambiente
        de T.I. - Fale com um de nossos especialistas
      </h3>
      <br />
    </div>
    <div class="col-md d-flex form" style="justify-content: flex-end">
      {% include site/form2.html title="EDR" id="edr_form" %}
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color: #f6f6f6; padding: 0">
  <h2 class="text-center text-teal text-bolder py-2" style="color: gray">
    <br />
    Precisa mapear os dados sensíveis no seu ambiente?
  </h2>
  <div class="image-block text-lightblue flex-column text-center">
    <a
      href="/patch-manager"
      class="btn btn-rms my-5"
      style="max-width: 320px"
    >
      <img src="/assets/img/rms/inventory.png" alt="" />
      <p style="color: gray">
        Mantenha seus ativos de TI seguros com uma solução simples e eficaz de
        gerenciamento de patches.
      </p>
    </a>
  </div>
</div>

<style>
  body{
    background-color: whitesmoke;
  }
  .blue {
    background-color: rgba(0, 129, 199, 0.7);
  }
  .gray {
    background-color: #ececec8e;
  }
  .content {
    background: url("/assets/img/edr/back.jpg") no-repeat left;
    background-size: cover;
    padding: 0;
  }
</style>
