---
layout: default
title: Cloud Management Suite
---

<div class="container-fluid -solution -cms">
  <div class="row">
    <div
      class="col -solution-hero d-flex flex-column justify-content-center align-items-center text-center"
    >
      <img src="/assets/img/cms/cms.png" />
      <h1>Cloud Management Suite</h1>
      <p>
        Controle todo seu parque de workstations de qualquer lugar, a qualquer
        hora.
      </p>
      <a href="#trial-container" class="btn btn-trial my-4">Inicie um teste</a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3>Gerenciamento de TI a partir da nuvem</h3>
        <p class="text-secondary">
          Gestão de patches, controle remoto, distribuição de software e
          inventário.
        </p>
        <p class="text-secondary">
          Tudo isso à poucos cliques, direto do navegador.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div
      class="col-xl-8 col-sm-12 customers d-flex align-items-center justify-content-around mx-auto py-5"
    >
      <img class="img-fluid" src="/assets/img/customers/anbima.png" />
      <img class="img-fluid" src="/assets/img/customers/dell.png" />
      <img class="img-fluid" src="/assets/img/customers/tegra.png" />
      <img class="img-fluid" src="/assets/img/customers/universal.png" />
    </div>
  </div>
</div>
<div class="container-fluid -features">
  <div class="row">
    <div class="col col-xl-4 col-sm-12 mx-auto py-3">
      <div class="image-block">
        <img src="/assets/img/common/softwaredeploy.svg" />
        <p>
          Crie pacotes de software e faça a distribuição pelo seu parque muito
          mais rapidamente. Automatize tarefas de atualização com patches
          previamente testados e aprovados por uma equipe especializada!
        </p>
      </div>
      <div class="image-block">
        <img src="/assets/img/common/clipboard.svg" />
        <p>
          Inventário de Hardware e Software feitos de forma simples e completa.
          Todos os relatórios que você possa precisar facilmente ajustáveis e
          gerados em poucos segundos!
        </p>
      </div>
      <div class="image-block">
        <img src="/assets/img/common/cmsbrowser.svg" />
        <p>
          Utilize o Cloud Management Suite direto do seu navegador! Além de
          controlar o parque, agendar tarefas e gerar relatórios, você também
          pode utilizar da funcionalidade Acesso Remoto a partir de qualquer
          lugar.
        </p>
      </div>
    </div>
    <div
      class="col col-xl-8 col-sm-12 d-flex justify-content-center align-items-center flex-column py-3 xs-hide"
    >
      <div class="embed-container">
        <iframe
          src="https://www.youtube.com/embed/4kPEgvuU57c"
          frameborder="0"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </div>
</div>
<div class="container -features -cms">
  <div class="row mx-auto ">
    <div class="col py-5">
      <h1 class="text-bolder text-cms pt-2">
        O que é o Cloud Management Suite?
      </h1>
      <p class="text-secondary text-bolder">
        O CMS é uma suite de ferramentas para gestão de parques de computadores
        à partir da nuvem.
      </p>
      <p class="text-secondary text-bolder">
        Direto do seu navegador você pode realizar tarefas de atualização,
        reiniciar máquinas, extrair relatórios, instalar pacotes de software,
        acessar qualquer máquina remotamente e muito mais!
      </p>
      <p class="text-secondary text-bolder">
        São quatro pacotes de ferramentas diferentes, assim você só paga pelo
        que for utilizar. Temos um plano perfeito para o seu ambiente!
      </p>
    </div>
  </div>
</div>
{% include site/cms/features.html %}
<div class="container-fluid -solution-highlight -real-time">
  <div class="row mx-auto">
    <div class="col-lg-3 col-md-6 justify-content-center align-items-center">
      <div
        class="image-block image-block-large mt-4 flex-column justify-content-center align-items-center"
      >
        <img src="/assets/img/cms/cms-standard.png" />
        <h4 class="text-center text-bolder text-white">
          CMS
        </h4>
        <h6>
          O Cloud Management Suite é tudo que você precisa para gerenciar seu
          parque de computadores de qualquer lugar, à qualquer hora e de
          qualquer computador. Distribuição de software, gestão de atualizações
          e mais!
        </h6>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 justify-content-center align-items-center">
      <div
        class="image-block image-block-large mt-4 flex-column justify-content-center align-items-center"
      >
        <img src="/assets/img/cms/cms-plus.png" />
        <h4 class="text-center text-bolder text-white">
          CMS Plus
        </h4>
        <h6>
          A solução completa com serviços para reduzirem o risco, dificuldade e
          gastos com gestão de patches. Fique tranquilo sabendo que seus
          endpoints estão protegidos e de acordo com os mais diversos
          compliances.
        </h6>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 justify-content-center align-items-center">
      <div
        class="image-block image-block-large mt-4 flex-column justify-content-center align-items-center"
      >
        <img src="/assets/img/cms/css-standard.png" />
        <h4 class="text-center text-bolder text-white">
          Cyber Security Suite
        </h4>
        <h6>
          Instantaneamente responda a alertas e previna brechas de segurança.
          Receba dados em tempo real de milhares de dispositivos em poucos
          segundos! Localização em tempo real, linha do tempo dos dispositivos,
          descoberta de dispositivos IoT e mais!
        </h6>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 justify-content-center align-items-center">
      <div
        class="image-block image-block-large mt-4 flex-column justify-content-center align-items-center"
      >
        <img src="/assets/img/cms/css-plus.png" />
        <h4 class="text-center text-bolder text-white">
          Cyber Security Suite Plus
        </h4>
        <h6>
          O Cyber Security Plus providencia respostas instantâneas a eventos de
          segurança assim como serviços gerenciados com cobertura 24h. Reduza a
          responsabilidade da sua equipe interna e aprimore sua estratégia de
          segurança.
        </h6>
      </div>
    </div>
  </div>
  {% include site/cms/comparison.html %}
</div>

<!-- INCLUDE COMPARISON  -->
{% include site/cms/cases.html %} {% include site/trial.html title="Solicite uma
demonstração" %} {% include site/js/collapsible.html %}
