---
layout: default
title: CrashTest Security
---

<div class="container-fluid home-crash">
  <div class="row">
    <div class="col-md-6">
      <h2>Ferramenta de teste de penetração automatizada</h2>
      <ul>
        <li>
          Diminua sua exposição a riscos de segurança e mitigue descobertas de
          vulnerabilidades críticas e importantes
        </li>
        <li>
          Integre o pentesting automatizado em sua pilha de desenvolvimento
          atual
        </li>
        <li>
          Configure e comece a verificar seus aplicativos da Web, JavaScript ou
          API em minutos
        </li>
        <li>Economize tempo e orçamento em pentesting de caixa preta</li>
        <li>Teste de penetração SaaS online</li>
      </ul>

      <a class="btn btn-crash-home" target="_blank" href="https://lps.aiqon.com.br/crashtest-trial">
        <div class="row">
          <div class="col-2">
            <img
              src="/assets/img/crashtest/features/trial-crash.svg"
              class="img-trial-crash img-fluid"
              alt=""
            />
          </div>
          <div class="col">
            <b>Execute o seu primeiro teste</b> <br />
            14 dias grátis
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <img
        src="/assets/img/crashtest/homepage_illustration.svg"
        class="img-fluid desktop-crash"
        alt=""
      />
    </div>
  </div>
</div>
<div class="container-fluid crash-system text-center">
  <h3>Confiável por equipes de desenvolvimento modernas</h3>
  <div class="row justify-content-center">
    <div class="col-md-2">
      <img src="/assets/img/crashtest/system/logo5-1.webp" alt="" />
    </div>
    <div class="col-md-2">
      <img src="/assets/img/crashtest/system/logo2-1.png" alt="" />
    </div>
    <div class="col-md-2">
      <img src="/assets/img/crashtest/system/logo3-1.png" alt="" />
    </div>
    <div class="col-md-2">
      <img src="/assets/img/crashtest/system/netfonds_white.svg" alt="" />
    </div>
    <div class="col-md-2">
      <img src="/assets/img/crashtest/system/acrolinx_white.svg" alt="" />
    </div>
    <div class="col-md-2">
      <img src="/assets/img/crashtest/system/logo1-1.png" alt="" />
    </div>
  </div>
</div>
<div class="container mt-5">
  <p class="text-category text-center">Benefícios</p>
  <h2 class="mt-5 mb-5">
    Lide com os aspectos mais importantes da segurança de sua ferramenta com
    nossa ferramenta de teste de penetração
  </h2>
  <div class="row justify-content-center mt-5 row-square">
    <div class="col-md-4 mg-right">
      <a class="btn btn-square-crash" href="">
        <h5>Eliminar pontos cegos de segurança</h5>
        <p>
          Analise todos os seus aplicativos da Web, JavaScript, Ajax, HTML5,
          aplicativos de várias páginas únicas e APIs
        </p>
      </a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-square-crash mt-2" href="">
        <h5>Concentre-se em uma ótima saída</h5>
        <p>
          Automatize seus testes de vulnerabilidade enquanto economiza tempo e
          se concentra no desenvolvimento de APIs e Web Apps seguros, incorpore
          a segurança no processo de desenvolvimento
        </p>
      </a>
    </div>
    <div class="col-md-4 mg-left">
      <a class="btn btn-square-crash" href="">
        <h5>Confiança de digitalização aprimorada</h5>
        <p>
          Implemente um scanner de vulnerabilidade em sua compilação em que você
          possa confiar, baixo indice de "falso-positivo" obtenha relatórios
          precisos com conselhos de correção
        </p>
      </a>
    </div>
  </div>
  <div class="row justify-content-center mt-1 row-square">
    <div class="col-md-4 mg-right">
      <a class="btn btn-square-crash" href="">
        <h5>Avaliação de segurança</h5>
        <p>
          Agregue valor imediato ao trabalho de sua equipe com o benchmark de
          verificações de aplicativos da Web em relação Top 10 da OWASP e
          melhorando a sua segurança
        </p>
      </a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-square-crash mt-2" href="">
        <h5>Reduza o risco de ser hackeado</h5>
        <p>
          Identifique o risco de segurança antes que os hackers o façam. Evite
          ataques modernos e possíveis problemas de segurança explorados
        </p>
      </a>
    </div>
    <div class="col-md-4 mg-left">
      <a class="btn btn-square-crash" href="">
        <h5>Relatórios de vulnerabilidade acionáveis</h5>
        <p>
          Baixe relatórios de varredura úteis em PDF JSON/XML e CSV e
          compartilhe-os facilmente com membros de equipe, executivos e
          clientes.
        </p>
      </a>
    </div>
  </div>
</div>
<div class="container-fluid trial-crash">
  <div class="row">
    <div class="col-md-5 m-5">
      <img
        src="/assets/img/crashtest/home_illustration_scanner.svg"
        class="img-fluid"
        alt=""
      />
    </div>
    <div class="col-md-6">
      <h2>Comece o pentesting automatizado hoje</h2>
      <h5>
        Detecte facilmente vulnerabilidades em seus aplicativos da web e APIs
        antes de apertar o botão de liberação.
      </h5>
      <a
        target="_blank"
        href="https://lps.aiqon.com.br/crashtest-trial"
        class="btn btn-crash-trial"
        >Experimente o pentesting automatizado</a
      >
    </div>
  </div>
</div>
<div class="container-fluid setup-project mb-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h2>Configure seu projeto de pentesting em minutos</h2>
      <p>
        Digitalize automaticamente e integre o pentesting ao seu fluxo de
        trabalho com facilidade.
      </p>
      <p>
        Nossa excelente equipe de suporte de consultores de segurança está a um
        clique de ajudá-lo a configurar, verificar e entender suas verificações.
      </p>
    </div>
    <div class="col-md-2">
      <ul>
        <li class="list-project" style="display: inline-flex">
          <img
            class="project-img"
            src="/assets/img/crashtest/system/eyes.svg"
            alt=""
          />
          <p class="txt-project">Defina o alvo de digitalização</p>
        </li>
        <li class="list-project" style="display: inline-flex">
          <img
            class="project-img"
            src="/assets/img/crashtest/system/check.svg"
            alt=""
          />
          <p class="txt-project">Verifique</p>
        </li>
        <br />
        <li class="list-project" style="display: inline-flex">
          <img
            class="project-img"
            src="/assets/img/crashtest/system/time.svg"
            alt=""
          />
          <p class="txt-project">Digitalizar e agendar</p>
        </li>
      </ul>
    </div>
  </div>
</div>

{% include site/crashtest/modules.html %}
<div class="container-fluid crash-features">
  <p class="text-category">Quem atendemos</p>
  <h2>
    O Crashtest Security é usado por DevOps, equipes de segurança e
    gerenciamento de C-level
  </h2>

  <p>
    Organizações de todos os tamanhos confiam em nós para testar seus
    aplicativos e sites para manter seus clientes seguros.
  </p>
  <div class="row cases-reverse">
    <div class="col-md-6">
      <a class="btn btn-crash-features"
        >DevOps
        <img
          src="/assets/img/crashtest/features/devops.svg"
          class="img-features-crash"
          alt=""
      /></a>
      <a class="btn btn-crash-features"
        >Serviços Financeiros
        <img
          src="/assets/img/crashtest/features/finance.svg"
          class="img-features-crash"
          alt=""
      /></a>
      <a class="btn btn-crash-features"
        >CISO & CTO
        <img
          src="/assets/img/crashtest/features/cto.svg"
          class="img-features-crash"
          alt=""
      /></a>
      <a class="btn btn-crash-features"
        >Hospitalar
        <img
          src="/assets/img/crashtest/features/healthcare.svg"
          class="img-features-crash"
          alt=""
      /></a>
      <a class="btn btn-crash-features"
        >Ciber/DevSecOps
        <img
          src="/assets/img/crashtest/features/devops team.svg"
          class="img-features-crash"
          alt=""
      /></a>
      <a class="btn btn-crash-features"
        >SaaS
        <img
          src="/assets/img/crashtest/features/saas.svg"
          class="img-features-crash"
          alt=""
      /></a>
      <a class="btn btn-crash-features"
        >Compliance
        <img
          src="/assets/img/crashtest/features/compliance.svg"
          class="img-features-crash"
          alt=""
      /></a>
      <a class="btn btn-crash-features"
        >Segurança Continua
        <img
          src="/assets/img/crashtest/features/security-conti.svg"
          class="img-features-crash"
          alt=""
      /></a>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/crashtest/use_case.svg"
        class="img-fluid img-cases"
        alt=""
      />
    </div>
  </div>
</div>
{% include site/trial.html title="Solicite uma demonstração" id="crashtest_form"
%}

<style>
  body {
    background-color: white;
  }
  .home-crash {
    padding: 15vh 10vw 0 10vw;
  }
  .home-crash h2 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 5vh;
  }
  .home-crash ul {
    list-style: none;
  }
  .home-crash ul li::before {
    color: yellow;
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  .home-crash li {
    margin-bottom: 2vh;
    max-width: 25vw;
    font-size: 1.3em;
    color: gray;
  }
  .btn-crash-home {
    border-radius: 0;
    background-color: blue;
    color: white;
    width: 18vw;
    padding: 10px;
    margin-left: 2vw;
    margin-top: 2vh;
    text-align: left;
    -webkit-box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 1);
    box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 1);
  }
  .btn-crash-home:hover {
    box-shadow: none;
    transition: 3ms;
    color: white;
  }
  .img-trial-crash {
    width: 30px;
    padding-top: 0.5vw;
    margin-right: 0.3vw;
    
  }
  .desktop-crash{
    margin-top: 20vh;
  }
  .crash-system {
    padding: 5vh 5vw 5vh 5vw;
    background-color: black;
    color: white;
  }
  .btn-square-crash {
    text-align: left;
    border: 1px solid black;
    -webkit-box-shadow: -4px 5px 0px 0px rgba(21, 0, 184, 1);
    -moz-box-shadow: -4px 5px 0px 0px rgba(21, 0, 184, 1);
    box-shadow: -4px 5px 0px 0px rgba(21, 0, 184, 1);
    height: 14vw;
    border-radius: 0;
    padding: 30px;
  }
  .btn-square-crash:hover {
    box-shadow: none;
    transition: 0.3ms;
  }
  .mg-right {
    margin-right: -18px;
  }
  .mg-left {
    margin-left: -18px;
  }
  .trial-crash {
    background-color: #f5f5f5;
    padding: 10vh 8vw 10vh 8vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .trial-crash h5 {
    font-size: 2em;
    margin-top: 5vh;
    color: gray;
  }
  .btn-crash-trial {
    background-color: white;
    color: black;
    height: 5vh;
    padding: 10px;
    font-weight: bold;
    -webkit-box-shadow: -4px 5px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: -4px 5px 0px 0px rgba(0, 0, 0, 1);
    box-shadow: -4px 5px 0px 0px rgba(0, 0, 0, 1);
    border: 1px solid black;
    margin-top: 5vh;
    border-radius: 0;
  }
  .btn-crash-trial:hover {
    box-shadow: none;
    transition: 1ms;
  }
  .trial-crash h2 {
    font-size: 3.5em;
    font-weight: bold;
  }
  .setup-project h2 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 5vh;
  }
  .setup-project p {
    color: gray;
    font-size: 1.3rem;
  }

  .list-project {
    margin-bottom: 40px;
    list-style: none;
  }
  .project-img {
    max-width: 50px;
    margin-right: 10px;
  }
  .txt-project {
    padding-top: 2vh;
    font-weight: bold;
    font-size: 1.5em !important;
    color: black !important;
  }
  .crash-features {
    padding: 5vh 14vw 8vh 14vw;
  }
  .crash-features h2 {
    font-size: 3em;
    font-weight: bold;
  }
  .crash-features p {
    font-size: 1.2em;
    margin-top: 4vh;
    margin-bottom: 3vh;
  }
  .text-category {
    background-color: yellow;
    color: black;
    max-width: 9vw;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px !important;
  }
  .btn-crash-features {
    border: 1px solid black;
    border-radius: 0;
    width: 13vw;
    height: 20vh;
    margin: 10px;
    text-align: left;
    font-weight: bolder;
    padding: 2vh 0 0 1vw;
    font-size: 1.2rem;
    -webkit-box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 1);
    box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 1);
  }
  .btn-crash-features:hover {
    box-shadow: none;
    transition: 2ms;
  }
  .img-features-crash {
    max-width: 1.5vw;
    margin: 10vh 0 0 9.5vw;
  }
  .img-cases {
    max-width: 800px;
    margin-top: 15vh;
    margin-left: 5vw;
  }
  @media only screen and (max-width: 1024px) {
    .home-crash {
      padding-top: 5vh;
      padding-bottom: 0;
    }
    .desktop-crash{
      margin-top: 0;
    }
    .home-crash h2 {
      font-size: 2.5em;
    }
    .home-crash li {
      font-size: 1em;
      max-width: 100vw;
    }
    .btn-crash-home {
      width: 75vw;
      margin-left: 0;
      margin-bottom: 10vh;
    }
    .text-category {
      max-width: 100vw;
    }
    .row-square {
      padding: 10px;
    }
    .btn-square-crash {
      height: 30vh;
    }
    .trial-crash {
      margin-top: 10vh;
      padding-top: 2vh;
      margin-bottom: 1vh;
    }
    .trial-crash h2 {
      font-size: 1.9em;
    }
    .btn-crash-trial {
      height: 9vh;
    }
    .setup-project h2 {
      font-size: 2.5em;
      margin-top: 5vh;
    }
    .-moduloscrashtest {
      background-size: cover;
    }
    .crash-features {
      padding: 20px;
    }
    .crash-features h2 {
      font-size: 2em;
    }
    .btn-crash-features {
      height: 15vh;
      width: 35vw;
      font-size: 0.8em;
      padding: 10px;
    }
    .img-features-crash {
      display: none;
    }
    .img-cases {
      max-width: 300px;
      margin-top: 5vh;
    }
    .cases-reverse {
      flex-direction: column-reverse;
    }
  }
</style>
