<div class="container-fluid -customers">
  <div class="row mx-auto">
    <div class="col d-flex justify-content-center py-2">
      <h1 class="text-center text-secondary">
        Essas e outras empresas confiam na
        <span class="text-bolder text-teal">AIQON</span>
      </h1>
    </div>
  </div>

  <div class="row mx-auto justify-content-around d-flex">
    <div class="col-xs-3">
      <img
        src="/assets/img/customers/tegra.webp"
        alt="Logotipo do cliente Tegra Incorporadora."
      />
    </div>
    <div class="col-xs-3">
      <img
        src="/assets/img/customers/seguradora-lider.webp"
        alt="Logotipo do cliente Seguradora Lider."
      />
    </div>
    <div class="col-xs-3">
      <img
        src="/assets/img/customers/mutant.webp"
        alt="Logotipo do cliente Mutant."
      />
    </div>
    <div class="col-xs-3">
      <img
        src="/assets/img/customers/mpt.webp"
        alt="Logotipo do cliente Ministério Público do Trabalho."
      />
    </div>
  </div>
  <div class="row mx-auto justify-content-around d-flex">
    <div class="col-xs-3">
      <img
        src="/assets/img/customers/suncoke.webp"
        alt="Logotipo do cliente Sun Coke."
      />
    </div>
    <div class="col-xs-3">
      <img
        src="/assets/img/customers/camil.webp"
        alt="Logotipo do cliente Camil."
      />
    </div>
    <div class="col-xs-3">
      <img
        src="/assets/img/customers/sebrae.webp"
        alt="Logotipo do cliente Sebrae."
      />
    </div>
    <div class="col-xs-3">
      <img
        src="/assets/img/customers/unimed-metropolitana.webp"
        alt="Logotipo do cliente Unimed Metropolitana."
      />
    </div>
  </div>
  <div class="row mx-auto justify-content-around d-flex">
    <div class="col-xs-3">
      <img
        src="/assets/img/customers/Laterza.webp"
        alt="Logotipo do cliente Laterza"
      />
    </div>
    <div class="col-xs-3">
      <img
        src="/assets/img/customers/maringa-turismo.webp"
        alt="Logotipo do cliente Maringá Turismo."
      />
    </div>
    <div class="col-xs-3">
      <img
        src="/assets/img/customers/modal.webp"
        alt="Logotipo do cliente Modal."
      />
    </div>

    <div class="col-xs-3">
      <img
        src="/assets/img/customers/pacifico.webp"
        alt="Logotipo do cliente Pacífico."
      />
    </div>
  </div>
  <div class="row mx-auto justify-content-around d-flex">
    <div class="col-xs-3">
      <img
        src="/assets/img/customers/ecomac.webp"
        alt="Logotipo do cliente Eco Mac."
      />
    </div>
    <div class="col-xs-3">
      <img
        src="/assets/img/customers/imcd.webp"
        alt="Logotipo do cliente IMCD"
      />
    </div>

    <div class="col-xs-3">
      <img
        src="/assets/img/customers/seprosp.webp"
        alt="Logotipo do cliente Seprosp."
      />
    </div>
    <div class="col-xs-3">
      <img
        src="/assets/img/customers/synchro.webp"
        alt="Logotipo do cliente Synchro."
      />
    </div>
  </div>
  <div class="row mx-auto justify-content-around d-flex">
    <div class="col-xs-3">
      <img
        src="/assets/img/customers/Morelli.webp"
        alt="Logotipo do cliente Morelli"
      />
    </div>
    <div class="col-xs-3">
      <img
        src="/assets/img/customers/Paranapanema.webp"
        alt="Logotipo do cliente Paranapanema"
      />
    </div>

    <div class="col-xs-3">
      <img
        src="/assets/img/customers/sharecare.webp"
        alt="Logotipo do cliente Sharecare"
      />
    </div>
    <div class="col-xs-3">
      <img
        src="/assets/img/customers/TESC.webp"
        alt="Logotipo do cliente Terminal SC"
      />
    </div>
  </div>
</div>
