<style>
.questionCategory{
  transition: 300ms;
  padding: 15px 20px;
  border-radius: 3px;
  border: 1px solid #dfdbdb;
  margin: 10px 0;
  color: #0094a9;
  display: block;
}
.questionCategory img {
    padding: 5px;
    width: 40px;
}
a.questionCategory:hover {
    background-color: #32c0d327;
    border-color: #0dadc2;
    color: #0094a9;
}
.questionTitle {
  margin-left: 10px;
  color: #0094a9;
}
.questionTitle:hover {
  color: #047483;
}
.questionAnswer {
  padding: 0 20px;
  font-size: 0.9em;
  background-color: #f4f4f4;
  color: #666;
}
.ajuda-content-item { 
  padding: 10px 0;
  background-color: #f9f9f9;
}
@media (max-width: 768px) {
  .questionCategory {
    font-size: 1em;
  }
}
</style>
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="text-teal py-3">Perguntas frequentes</h3>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <div class="ajuda-content">
              <div class="ajuda-content-item">
                <p>
                    <a class="questionCategory" href="#categoryID" data-toggle="collapse" role="group" aria-expanded="false"
                        aria-controls="categoryID">
                        <img src="/assets/img/common/favicon.png" alt="AIQON">
                        Sobre a AIQON
                    </a>
                    <div class="collapse" id="categoryID">
                      <p>
                          <a class="questionTitle" href="#questionID" data-toggle="collapse" role="group" aria-expanded="false"
                              aria-controls="questionID">
                             Question
                          </a>
                          <div class="questionAnswer collapse" id="questionID">
                             Question Answer
                          </div>
                      </p>              
                      <p>
                          <a class="questionTitle" href="#questionID2" data-toggle="collapse" role="group" aria-expanded="false"
                              aria-controls="questionID2">
                             Question
                          </a>
                          <div class="questionAnswer collapse" id="questionID2">
                             Question Answer
                          </div>
                      </p>              
                    </div>
                  </p>        
              </div>
              <div class="ajuda-content-item">
                  <p>
                      <a class="questionCategory" href="#categoryID2" data-toggle="collapse" role="group" aria-expanded="false"
                          aria-controls="categoryID2">
                          <img src="/assets/img/netwrix/netwrix.png" alt="AIQON">
                          Sobre o Netwrix Auditor
                      </a>
                      <div class="collapse" id="categoryID2">
                        <p>
                            <a class="questionTitle" href="#questionID3" data-toggle="collapse" role="group" aria-expanded="false"
                                aria-controls="questionID3">
                               Question
                            </a>
                            <div class="questionAnswer collapse" id="questionID3">
                               Question Answer
                            </div>
                        </p>              
                        <p>
                            <a class="questionTitle" href="#questionID4" data-toggle="collapse" role="group" aria-expanded="false"
                                aria-controls="questionID4">
                               Question
                            </a>
                            <div class="questionAnswer collapse" id="questionID4">
                               Question Answer
                            </div>
                        </p>              
                      </div>
                    </p>        
                </div>
                <div class="ajuda-content-item">
                    <p>
                        <a class="questionCategory" href="#categoryID3" data-toggle="collapse" role="group" aria-expanded="false"
                            aria-controls="categoryID3">
                            <img src="/assets/img/cms/cms.png" alt="AIQON">
                            Sobre o Cloud Management Suite
                        </a>
                        <div class="collapse" id="categoryID3">
                          <p>
                              <a class="questionTitle" href="#questionID5" data-toggle="collapse" role="group" aria-expanded="false"
                                  aria-controls="questionID5">
                                 Question
                              </a>
                              <div class="questionAnswer collapse" id="questionID5">
                                 Question Answer
                              </div>
                          </p>              
                          <p>
                              <a class="questionTitle" href="#questionID6" data-toggle="collapse" role="group" aria-expanded="false"
                                  aria-controls="questionID6">
                                 Question
                              </a>
                              <div class="questionAnswer collapse" id="questionID6">
                                 Question Answer
                              </div>
                          </p>              
                        </div>
                      </p>        
                  </div>
                  <div class="ajuda-content-item">
                      <p>
                          <a class="questionCategory" href="#categoryID4" data-toggle="collapse" role="group" aria-expanded="false"
                              aria-controls="categoryID4">
                              <img src="/assets/img/vpm/vpm.webp" alt="AIQON">
                              Sobre o Verismic Power Manager
                          </a>
                          <div class="collapse" id="categoryID4">
                            <p>
                                <a class="questionTitle" href="#questionID7" data-toggle="collapse" role="group" aria-expanded="false"
                                    aria-controls="questionID7">
                                   Question
                                </a>
                                <div class="questionAnswer collapse" id="questionID7">
                                   Question Answer
                                </div>
                            </p>              
                            <p>
                                <a class="questionTitle" href="#questionID8" data-toggle="collapse" role="group" aria-expanded="false"
                                    aria-controls="questionID8">
                                   Question
                                </a>
                                <div class="questionAnswer collapse" id="questionID8">
                                   Question Answer
                                </div>
                            </p>              
                          </div>
                        </p>        
                    </div>
          </div>
      </div>
    </div>
    </div>