<script>
  $(document).ready(function () {
    // append plus symbol to every list item that has children
    $("#mobile-nav .parent").append(
      '<span class="open-menu fa fa-plus"></span>'
    );

    // fix non-scrolling overflow issue on mobile devices
    $("#mobile-nav > ul").wrap('<div class="overflow"></div>');
    $(window).on("load resize", function () {
      var vph = $(window).height() - 57; // 57px - height of #mobile-nav
      $(".overflow").css("max-height", vph);
    });

    // global variables
    var menu = $(".overflow > ul");
    var bg = $("html, body");

    // toggle background scrolling
    function bgScrolling() {
      // if menu has toggled class... *
      if (menu.hasClass("open")) {
        // * disable background scrolling
        bg.css({
          "overflow-y": "hidden",
          height: "auto",
        });
        // if menu does not have toggled class... *
      } else {
        // * enable background scrolling
        bg.css({
          "overflow-y": "visible",
          height: "100%",
        });
      }
    }

    // menu button click events
    $(".menu-button").on("click", function (e) {
      e.preventDefault();
      // activate toggles
      menu.slideToggle(250);
      menu.toggleClass("open");
      $(this).children().toggleClass("fa-reorder fa-remove");
      bgScrolling();
    });

    // list item click events
    $(".open-menu").on("click", function (e) {
      e.preventDefault();
      $(this).prev("ul").slideToggle(250);
      $(this).toggleClass("rotate");
    });
  });
</script>
<div id="mobile-nav">
  <div class="logo"></div>
  <div class="menu-button"><span class="fa fa-reorder"></span></div>
  <ul>
    <li>
      <a href="/">
        <img
          class="logo logo-aiq justify-content-start"
          id="logo_default"
          src="/assets/img/common/aiqon.svg"
          alt="Logotipo AIQON."
      /></a>
    </li>
    <li class="parent">
      <a href="#">Serviços</a>
      <ul>
        <li class="parent">
          <a href="#">AIQON - Active Manage</a>
          <ul>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
              soluta quis omnis facere tempore corporis corrupti saepe ex quod
              sit perferendis esse ipsam, sed culpa. In aliquam illum veritatis
              eveniet?<a href="#">Saiba Mais</a>
            </li>
          </ul>
        </li>
        <li class="parent">
          <a href="#">AIQON - Active Secure</a>
          <ul>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
              magni explicabo, officia aperiam doloribus placeat neque, hic
              pariatur est dicta nostrum quos? Ipsum odio vel possimus sed,
              soluta dolore cupiditate.<a href="#">Saiba Mais</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="parent">
      <a href="#">Produtos</a>
      <ul>
        <li class="parent">
          <a href="#">Destaques</a>
          <ul>
            <li class="parent">
              <a href="#">Netwrix Corporation</a>
              <ul>
                <li><a href="/netwrix/">Netwrix Auditor</a></li>
                <li><a href="/ndc/">Netwrix Data Classification</a></li>
                <li><a href="/sbpam/">Netwrix SbPAM</a></li>
                <li><a href="/sbpam/">Netwrix Change Tracker</a></li>
                <li><a href="/sbpam/">Netwrix Password Policy Enforce</a></li>
                <li><a href="/sbpam/">Netwrix Password Secure</a></li>
                <li><a href="/sbpam/">Netwrix Password Reset</a></li>
                <li><a href="/sbpam/">Netwrix PolicyPak</a></li>
                <li><a href="/stealthaudit/">Netwrix StealthAUDIT</a></li>
                <li><a href="/stealthdefend/">Netwrix StealthDEFEND</a></li>
                <li>
                  <a href="/stealthintercept/">Netwrix StealthINTERCEPT</a>
                </li>
                <li><a href="/stealth-recover/">Netwrix StealthRECOVER</a></li>
                <li><a href="/">Netwrix Usercube</a></li>
                <li><a href="/">Netwrix Netwrix GroupID</a></li>
              </ul>
            </li>
            <li><a href="/syxsense/">Syxsense</a></li>
            <li><a href="/deep-instinct/">Deep Instinct</a></li>
          </ul>
        </li>
        <li class="parent">
          <a href="#">Por Tecnologia</a>
          <ul>
            <li class="parent">
              <a href="#">Active Directory</a>
              <ul>
                <li><a href="#">Netwrix Auditor</a></li>
                <li><a href="#">Netwrix Password Policy Enforcer</a></li>
                <li><a href="#">Netwrix Password Reset</a></li>
                <li><a href="#">Netwrix PolicyPak</a></li>
                <li><a href="#">Netwrix SbPAM</a></li>
                <li><a href="#">Netwrix StealthAUDIT</a></li>
                <li><a href="#">Netwrix StealthDEFEND</a></li>
                <li><a href="#">Netwrix StealthINTERCEPT</a></li>
                <li><a href="#">Netwrix StealthRECOVER</a></li>
                <li><a href="#">Silverfort</a></li>
                <li><a href="#">Swimlane</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Amazon Web Server</a>
              <ul>
                <li><a href="#">Netwrix Change Tracker</a></li>
                <li><a href="#">Netwrix StealthAUDIT</a></li>
                <li><a href="#">Swimlane</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Banco de Dados</a>
              <ul>
                <li><a href="#">Comforte</a></li>
                <li><a href="#">Netwrix Auditor</a></li>
                <li><a href="#">Netwrix Change Tracker</a></li>
                <li><a href="#">Netwrix Data Classification</a></li>
                <li><a href="#">Netwrix StealthAUDIT</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Dispositivo de Rede</a>
              <ul>
                <li><a href="#">Adaptative Shield</a></li>
                <li><a href="#">Netwrix Auditor</a></li>
                <li><a href="#">Netwrix Change Tracker</a></li>
                <li><a href="#">Netwrix SbPAM</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">E-mail</a>
              <ul>
                <li><a href="#">Swimlane</a></li>
                <li><a href="#">Virtru</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Google Drive</a>
              <ul>
                <li><a href="#">Netwrix Data Classification</a></li>
                <li><a href="#">Netwrix StealthAUDIT</a></li>
                <li><a href="#">Obsidian</a></li>
                <li><a href="#">Virtru</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Microsoft 365</a>
              <ul>
                <li><a href="#">Adaptative Shield</a></li>
                <li><a href="#">Netwrix Auditor</a></li>
                <li><a href="#">Netwrix Change Tracker</a></li>
                <li><a href="#">Netwrix GroupID</a></li>
                <li><a href="#">Netwrix StealthAUDIT</a></li>
                <li><a href="#">Netwrix Usercube</a></li>
                <li><a href="#">Obsidian</a></li>
                <li><a href="#">Virtru</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Mobile</a>
              <ul>
                <li><a href="#">Netwrix Auditor</a></li>
                <li><a href="#">Syxsense</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Sistemas de Arquivos</a>
              <ul>
                <li><a href="#">Netwrix Auditor</a></li>
                <li><a href="#">Netwrix Data Classification</a></li>
                <li><a href="#">Netwrix StealthAUDIT</a></li>
                <li><a href="#">Netwrix StealthDEFEND</a></li>
                <li><a href="#">Netwrix Usercube</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Sistemas Operacionais</a>
              <ul>
                <li><a href="#">Deep Instinct</a></li>
                <li><a href="#">Netwrix Auditor</a></li>
                <li><a href="#">Netwrix Change Tracker</a></li>
                <li><a href="#">Netwrix SbPAM</a></li>
                <li><a href="#">Netwrix StealthAUDIT</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">WebApp</a>
              <ul>
                <li><a href="#">Comforte</a></li>
                <li><a href="#">CrashTest</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Ambientes Legados</a>
              <ul>
                <li><a href="#">Silverfort</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Outros</a>
              <ul>
                <li class="parent">
                  <a href="#">Salesforce</a>
                  <ul>
                    <li><a href="#">Netwrix Change Tracker</a></li>
                    <li><a href="#">Netwrix StealthAUDIT</a></li>
                    <li><a href="#">Swimlane</a></li>
                  </ul>
                </li>
                <li class="parent">
                  <a href="#">Github</a>
                  <ul>
                    <li><a href="#">Netwrix Change Tracker</a></li>
                    <li><a href="#">Netwrix StealthAUDIT</a></li>
                    <li><a href="#">Swimlane</a></li>
                  </ul>
                </li>
                <li class="parent">
                  <a href="#">Crowdstrike</a>
                  <ul>
                    <li><a href="#">Netwrix Change Tracker</a></li>
                    <li><a href="#">Netwrix StealthAUDIT</a></li>
                    <li><a href="#">Swimlane</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="parent">
          <a href="#">Por Compliance</a>
          <ul>
            <li class="parent">
              <a href="#">GDPR - LGPD</a>
              <ul>
                <li><a href="#">Adaptive Shield</a></li>
                <li><a href="#">Comforte</a></li>
                <li><a href="#">Netwrix Auditor</a></li>
                <li><a href="#">Netwrix Data Classification</a></li>
                <li><a href="#">Netwrix StealthAUDIT</a></li>
                <li><a href="#">Virtru</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">ISO</a>
              <ul>
                <li><a href="#">Adaptive Shield</a></li>
                <li><a href="#">Comforte</a></li>
                <li><a href="#">Netwrix Auditor</a></li>
                <li><a href="#">Netwrix Data Classification</a></li>
                <li><a href="#">Netwrix StealthAUDIT</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">HIPPA</a>
              <ul>
                <li><a href="#">Netwrix Auditor</a></li>
                <li><a href="#">Netwrix Data Classification</a></li>
                <li><a href="#">Netwrix StealthAUDIT</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">PCI</a>
              <ul>
                <li><a href="#">Adaptive Shield</a></li>
                <li><a href="#">Comforte</a></li>
                <li><a href="#">Netwrix Auditor</a></li>
                <li><a href="#">Netwrix Data Classification</a></li>
                <li><a href="#">Netwrix StealthAUDIT</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="parent">
          <a href="#">Por Necessidade</a>
          <ul>
            <li class="parent">
              <a href="#">Dados</a>
              <ul>
                <li><a href="#">Netwrix Auditor</a></li>
                <li><a href="#">Netwrix Data Classification</a></li>
                <li><a href="#">Netwrix StealthAUDIT</a></li>
                <li><a href="#">Comforte</a></li>
                <li><a href="#">Virtru</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Identidade</a>
              <ul>
                <li><a href="#">Silverfort</a></li>
                <li><a href="#">Netwrix SbPAM</a></li>
                <li><a href="#">Netwrix PolicyPak</a></li>
                <li><a href="#">Netwrix Password Reset</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">SecOps</a>
              <ul>
                <li><a href="#">Syxsense</a></li>
                <li><a href="#">Reblaze</a></li>
                <li><a href="#">Netwrix StealthINTERCEPT</a></li>
                <li><a href="#">Netwrix StealthDEFEND</a></li>
                <li><a href="#">Minerva</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Gerenciamento de Dispositivos</a>
              <ul>
                <li><a href="#">Syxsense</a></li>
                <li><a href="#">Easy Inventory</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">DevOps</a>
              <ul>
                <li><a href="#">Syxsense</a></li>
                <li><a href="#">Reblaze</a></li>
                <li><a href="#">Obsidian</a></li>
                <li><a href="#">Netwrix Auditor</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Ameaças</a>
              <ul>
                <li><a href="#">Netwrix Auditor</a></li>
                <li><a href="#">Syxsense</a></li>
                <li><a href="#">Minerva</a></li>
                <li><a href="#">Netwrix StealthDEFEND</a></li>
                <li><a href="#">Netwrix StealthINTERCEPT</a></li>
                <li><a href="#">Silverfort</a></li>
                <li><a href="#">Reblaze</a></li>
                <li><a href="#">Netwrix PolicyPak</a></li>
                <li><a href="#">Obsidian</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Riscos</a>
              <ul>
                <li><a href="#">Netwrix Auditor</a></li>
                <li><a href="#">Netwrix Data Classification</a></li>
                <li><a href="#">Syxsense</a></li>
                <li><a href="#">Obsidian</a></li>
                <li><a href="#">Netwrix StealthAUDIT</a></li>
                <li><a href="#">Comforte</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="parent">
      <a href="#">Soluções</a>
      <ul>
        <li class="parent">
          <a href="#">Gerenciamento de TI</a>
          <ul>
            <li><a href="#">Criptografia de Dados</a></li>
            <li>
              <a href="#">Detecção e resposta a ameaças em tempo real</a>
            </li>
            <li><a href="#">SSPM - Segurança para o SaaS</a></li>
            <li><a href="#">Prevenção de atividades</a></li>
            <li><a href="#">Criptografia de arquivos e e-mail</a></li>
            <li><a href="#">Remediação de dados</a></li>
            <li><a href="#">Ameaças internas</a></li>
            <li><a href="#">Solicitações do titular do dado</a></li>
            <li><a href="#">Alertas de Ameaças em Tempo Real</a></li>
            <li><a href="#">Proteção de aplicações SaaS</a></li>
            <li><a href="#">Governança de acesso a dados</a></li>
            <li><a href="#">Netwrix Data Classification</a></li>
            <li><a href="#">Netwrix Data Classification</a></li>
          </ul>
        </li>
        <li class="parent">
          <a href="#">Segurança de TI</a>
          <ul>
            <li><a href="#">Auditoria de alterações</a></li>
            <li><a href="#">Otimização de storage</a></li>
            <li><a href="#">Gerenciamento de patch</a></li>
            <li><a href="#">Governança de dados</a></li>
            <li><a href="#">Restauração do AD</a></li>
            <li><a href="#">Gerenciamento de acesso - PAM</a></li>
            <li><a href="#">Automação de TI inteligente</a></li>
            <li><a href="#">Inventário de HW - SW</a></li>
            <li><a href="#">Scanner de vulnerabilidades</a></li>
            <li><a href="#">PC Power Manager</a></li>
            <li><a href="#">Avaliação e Mitigação de Risco</a></li>
            <li><a href="#">Deploy de Software</a></li>
            <li><a href="#">Gerenciamento de registros (RMS)</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#">Contato</a></li>
    <li><a href="#">Suporte</a></li>
  </ul>
</div>

<style>
  /* Menu Controls */

  .logo {
    color: gray;
    font-size: 2.1rem;
    padding: 0.65rem 1rem;
    position: absolute;
  }

  .menu-button {
    color: gray;
    cursor: pointer;
    font-size: 2rem;
    padding: 0.75rem 1.55rem;
    position: fixed;
    right: 0;
  }

  .open-menu {
    color: gray;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 250ms ease;
  }

  .rotate {
    transform: rotate(135deg);
  }

  /* Generated Overflow Element */

  .overflow {
    margin-top: 57px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* Menu Styles */

  #mobile-nav ::before {
    background-color: transparent;
  }
  #mobile-nav {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  #mobile-nav ul {
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    margin: 0 1rem;
    padding: 0;
    position: relative;
  }

  #mobile-nav ul:first-child {
    background-color: transparent;
  }

  #mobile-nav ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.075);
    list-style: none;
    margin-bottom: 0;
    position: relative;
  }

  #mobile-nav ul li a {
    color: gray;
    display: inline-block;
    font-size: 1rem;
    padding: 1rem 0;
    text-decoration: none;
    width: 100%;
  }

  #mobile-nav ul ul {
    margin: 0;
  }

  #mobile-nav ul ul li {
    border-top: none;
    padding-left: 1rem;
  }
  @media only screen and (min-width: 1024px) {
    #mobile-nav {
      display: none;
    }
  }
</style>
