<script>
  $(document).ready(function () {
    // append plus symbol to every list item that has children
    $("#mobile-nav .parent").append(
      '<span class="open-menu fa fa-plus"></span>'
    );

    // fix non-scrolling overflow issue on mobile devices
    $("#mobile-nav > ul").wrap('<div class="overflow"></div>');
    $(window).on("load resize", function () {
      var vph = $(window).height() - 57; // 57px - height of #mobile-nav
      $(".overflow").css("max-height", vph);
    });

    // global variables
    var menu = $(".overflow > ul");
    var bg = $("html, body");

    // toggle background scrolling
    function bgScrolling() {
      // if menu has toggled class... *
      if (menu.hasClass("open")) {
        // * disable background scrolling
        bg.css({
          "overflow-y": "hidden",
          height: "auto",
        });
        // if menu does not have toggled class... *
      } else {
        // * enable background scrolling
        bg.css({
          "overflow-y": "visible",
          height: "100%",
        });
      }
    }

    // menu button click events
    $(".menu-button").on("click", function (e) {
      e.preventDefault();
      // activate toggles
      menu.slideToggle(250);
      menu.toggleClass("open");
      $(this).children().toggleClass("fa-reorder fa-remove");
      bgScrolling();
    });

    // list item click events
    $(".open-menu").on("click", function (e) {
      e.preventDefault();
      $(this).prev("ul").slideToggle(250);
      $(this).toggleClass("rotate");
    });
  });
</script>
<div id="mobile-nav">
  <div class="logo">
    <img
      class="logo logo-aiq justify-content-start"
      src="/assets/img/common/aiqon.svg"
      alt="Logotipo AIQON."
    />
  </div>
  <div class="menu-button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      x="0px"
      y="0px"
      width="40"
      height="40"
      viewBox="0 0 172 172"
      style="fill: #000000"
    >
      <g
        fill="none"
        fill-rule="nonzero"
        stroke="none"
        stroke-width="1"
        stroke-linecap="butt"
        stroke-linejoin="miter"
        stroke-miterlimit="10"
        stroke-dasharray=""
        stroke-dashoffset="0"
        font-family="none"
        font-weight="none"
        font-size="none"
        text-anchor="none"
        style="mix-blend-mode: normal"
      >
        <path d="M0,172v-172h172v172z" fill="none"></path>
        <g>
          <path d="M5.375,78.475h161.25v15.05h-161.25z" fill="#ffffff"></path>
          <path
            d="M165.55,79.55v12.9h-159.1v-12.9h159.1M167.7,77.4h-163.4v17.2h163.4v-17.2z"
            fill="#0094a9"
          ></path>
          <path d="M5.375,35.475h161.25v15.05h-161.25z" fill="#ffffff"></path>
          <path
            d="M165.55,36.55v12.9h-159.1v-12.9h159.1M167.7,34.4h-163.4v17.2h163.4v-17.2z"
            fill="#0094a9"
          ></path>
          <g>
            <path
              d="M5.375,121.475h161.25v15.05h-161.25z"
              fill="#ffffff"
            ></path>
            <path
              d="M165.55,122.55v12.9h-159.1v-12.9h159.1M167.7,120.4h-163.4v17.2h163.4v-17.2z"
              fill="#0094a9"
            ></path>
          </g>
        </g>
      </g>
    </svg>
  </div>
  <ul>
    <li>
      <a href="/"> </a>
    </li>
    <li class="parent">
      <a href="#">Serviços</a>
      <ul>
        <li class="parent">
          <a href="#">AIQON - Active Manage</a>
          <ul>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
              soluta quis omnis facere tempore corporis corrupti saepe ex quod
              sit perferendis esse ipsam, sed culpa. In aliquam illum veritatis
              eveniet?<a href="#">Saiba Mais</a>
            </li>
          </ul>
        </li>
        <li class="parent">
          <a href="#">AIQON - Active Secure</a>
          <ul>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
              magni explicabo, officia aperiam doloribus placeat neque, hic
              pariatur est dicta nostrum quos? Ipsum odio vel possimus sed,
              soluta dolore cupiditate.<a href="#">Saiba Mais</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="parent">
      <a href="#">Produtos</a>
      <ul>
        <li class="parent">
          <a href="#">Destaques</a>
          <ul>
            <li class="parent">
              <a href="#">Netwrix Corporation</a>
              <ul>
                <li><a href="/netwrix/">Netwrix Auditor</a></li>
                <li><a href="/ndc/">Netwrix Data Classification</a></li>
                <li><a href="/sbpam/">Netwrix SbPAM</a></li>
                <li><a href="/sbpam/">Netwrix Change Tracker</a></li>
                <li><a href="/sbpam/">Netwrix Password Policy Enforce</a></li>
                <li><a href="/sbpam/">Netwrix Password Secure</a></li>
                <li><a href="/sbpam/">Netwrix Password Reset</a></li>
                <li><a href="/sbpam/">Netwrix PolicyPak</a></li>
                <li><a href="/stealthaudit/">Netwrix StealthAUDIT</a></li>
                <li><a href="/stealthdefend/">Netwrix StealthDEFEND</a></li>
                <li>
                  <a href="/stealthintercept/">Netwrix StealthINTERCEPT</a>
                </li>
                <li><a href="/stealth-recover/">Netwrix StealthRECOVER</a></li>
                <li><a href="/">Netwrix Usercube</a></li>
                <li><a href="/">Netwrix Netwrix GroupID</a></li>
              </ul>
            </li>
            <li><a href="/syxsense/">Syxsense</a></li>
            <li><a href="/deep-instinct/">Deep Instinct</a></li>
          </ul>
        </li>
        <li class="parent">
          <a href="#">Por Tecnologia</a>
          <ul>
            <li class="parent">
              <a href="#">Active Directory</a>
              <ul>
                <li><a href="/netwrix/">Netwrix Auditor</a></li>
                <li><a href="#">Netwrix Password Policy Enforcer</a></li>
                <li><a href="#">Netwrix Password Reset</a></li>
                <li><a href="#">Netwrix PolicyPak</a></li>
                <li><a href="/sbpam/">Netwrix SbPAM</a></li>
                <li><a href="/stealthaudit/">Netwrix StealthAUDIT</a></li>
                <li><a href="/stealthdefend/">Netwrix StealthDEFEND</a></li>
                <li>
                  <a href="/stealthintercept/">Netwrix StealthINTERCEPT</a>
                </li>
                <li><a href="/stealth-recover/">Netwrix StealthRECOVER</a></li>
                <li><a href="/silverfort/">Silverfort</a></li>
                <li><a href="/swimlane/">Swimlane</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Amazon Web Server</a>
              <ul>
                <li><a href="#">Netwrix Change Tracker</a></li>
                <li><a href="/stealthaudit/">Netwrix StealthAUDIT</a></li>
                <li><a href="/swimlane/">Swimlane</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Banco de Dados</a>
              <ul>
                <li><a href="/comforte/">Comforte</a></li>
                <li><a href="/netwrix/">Netwrix Auditor</a></li>
                <li><a href="#">Netwrix Change Tracker</a></li>
                <li><a href="/ndc/">Netwrix Data Classification</a></li>
                <li><a href="/stealthaudit/">Netwrix StealthAUDIT</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Dispositivo de Rede</a>
              <ul>
                <li><a href="/adaptiveshield/">Adaptative Shield</a></li>
                <li><a href="netwrix/">Netwrix Auditor</a></li>
                <li><a href="#">Netwrix Change Tracker</a></li>
                <li><a href="/sbpam/">Netwrix SbPAM</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">E-mail</a>
              <ul>
                <li><a href="/swimlane/">Swimlane</a></li>
                <li><a href="/virtru/">Virtru</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Google Drive</a>
              <ul>
                <li><a href="/ndc/">Netwrix Data Classification</a></li>
                <li><a href="/stealthaudit/">Netwrix StealthAUDIT</a></li>
                <li><a href="/obsidian/">Obsidian</a></li>
                <li><a href="/virtru/">Virtru</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Microsoft 365</a>
              <ul>
                <li><a href="/adaptiveshield/">Adaptative Shield</a></li>
                <li><a href="/netwrix/">Netwrix Auditor</a></li>
                <li><a href="#">Netwrix Change Tracker</a></li>
                <li><a href="#">Netwrix GroupID</a></li>
                <li><a href="/stealthaudit/">Netwrix StealthAUDIT</a></li>
                <li><a href="#">Netwrix Usercube</a></li>
                <li><a href="/obsidian/">Obsidian</a></li>
                <li><a href="/virtru/">Virtru</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Mobile</a>
              <ul>
                <li><a href="/netwrix/">Netwrix Auditor</a></li>
                <li><a href="/syxsense/">Syxsense</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Sistemas de Arquivos</a>
              <ul>
                <li><a href="/netwrix/">Netwrix Auditor</a></li>
                <li><a href="/ndc/">Netwrix Data Classification</a></li>
                <li><a href="/stealthaudit/">Netwrix StealthAUDIT</a></li>
                <li><a href="/stealthdefend/">Netwrix StealthDEFEND</a></li>
                <li><a href="#">Netwrix Usercube</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Sistemas Operacionais</a>
              <ul>
                <li><a href="/deep-instinct/">Deep Instinct</a></li>
                <li><a href="/netwrix/">Netwrix Auditor</a></li>
                <li><a href="#">Netwrix Change Tracker</a></li>
                <li><a href="/sbpam/">Netwrix SbPAM</a></li>
                <li><a href="/stealthaudit/">Netwrix StealthAUDIT</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">WebApp</a>
              <ul>
                <li><a href="/comforte/">Comforte</a></li>
                <li><a href="/crashtest/">CrashTest</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Ambientes Legados</a>
              <ul>
                <li><a href="/silverfort/">Silverfort</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Outros</a>
              <ul>
                <li class="parent">
                  <a href="#">Salesforce</a>
                  <ul>
                    <li><a href="#">Netwrix Change Tracker</a></li>
                    <li><a href="/stealthaudit/">Netwrix StealthAUDIT</a></li>
                    <li><a href="/swimlane/">Swimlane</a></li>
                  </ul>
                </li>
                <li class="parent">
                  <a href="#">Github</a>
                  <ul>
                    <li><a href="#">Netwrix Change Tracker</a></li>
                    <li><a href="/stealthaudit/">Netwrix StealthAUDIT</a></li>
                    <li><a href="/swimlane/">Swimlane</a></li>
                  </ul>
                </li>
                <li class="parent">
                  <a href="#">Crowdstrike</a>
                  <ul>
                    <li><a href="#">Netwrix Change Tracker</a></li>
                    <li><a href="/stealthaudit/">Netwrix StealthAUDIT</a></li>
                    <li><a href="/swimlane/">Swimlane</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="parent">
          <a href="#">Por Compliance</a>
          <ul>
            <li class="parent">
              <a href="#">GDPR - LGPD</a>
              <ul>
                <li><a href="/adaptiveshield/">Adaptive Shield</a></li>
                <li><a href="/comforte/">Comforte</a></li>
                <li><a href="/netwrix/">Netwrix Auditor</a></li>
                <li><a href="/ndc/">Netwrix Data Classification</a></li>
                <li><a href="/stealthaudit/">Netwrix StealthAUDIT</a></li>
                <li><a href="/virtru/">Virtru</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">ISO</a>
              <ul>
                <li><a href="adaptive-shield/">Adaptive Shield</a></li>
                <li><a href="/comforte/">Comforte</a></li>
                <li><a href="/netwrix/">Netwrix Auditor</a></li>
                <li><a href="/ndc">Netwrix Data Classification</a></li>
                <li><a href="/stealthaudit/">Netwrix StealthAUDIT</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">HIPPA</a>
              <ul>
                <li><a href="/netwrix/">Netwrix Auditor</a></li>
                <li><a href="/ndc/">Netwrix Data Classification</a></li>
                <li><a href="/stealthaudit/">Netwrix StealthAUDIT</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">PCI</a>
              <ul>
                <li><a href="/adaptiveshield/">Adaptive Shield</a></li>
                <li><a href="/comforte/">Comforte</a></li>
                <li><a href="/netwrix/">Netwrix Auditor</a></li>
                <li><a href="/ndc/">Netwrix Data Classification</a></li>
                <li><a href="/stealthaudit/">Netwrix StealthAUDIT</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="parent">
          <a href="#">Por Necessidade</a>
          <ul>
            <li class="parent">
              <a href="#">Dados</a>
              <ul>
                <li><a href="/netwrix/">Netwrix Auditor</a></li>
                <li><a href="/ndc/">Netwrix Data Classification</a></li>
                <li><a href="/stealthaudit/">Netwrix StealthAUDIT</a></li>
                <li><a href="/comforte/">Comforte</a></li>
                <li><a href="/virtru/">Virtru</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Identidade</a>
              <ul>
                <li><a href="/silverfort/">Silverfort</a></li>
                <li><a href="/sbpam/">Netwrix SbPAM</a></li>
                <li><a href="#">Netwrix PolicyPak</a></li>
                <li><a href="#">Netwrix Password Reset</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">SecOps</a>
              <ul>
                <li><a href="/syxsense/">Syxsense</a></li>
                <li><a href="/reblaze/">Reblaze</a></li>
                <li>
                  <a href="/stealthintercept/">Netwrix StealthINTERCEPT</a>
                </li>
                <li><a href="/stealthdefend/">Netwrix StealthDEFEND</a></li>
                <li><a href="/minerva/">Minerva</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Gerenciamento de Dispositivos</a>
              <ul>
                <li><a href="/syxsense/">Syxsense</a></li>
                <li><a href="/hardware-software/">Easy Inventory</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">DevOps</a>
              <ul>
                <li><a href="/syxsense/">Syxsense</a></li>
                <li><a href="/reblaze/">Reblaze</a></li>
                <li><a href="/obsidian/">Obsidian</a></li>
                <li><a href="/netwrix/">Netwrix Auditor</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Ameaças</a>
              <ul>
                <li><a href="/netwrix/">Netwrix Auditor</a></li>
                <li><a href="/syxsense/">Syxsense</a></li>
                <li><a href="/minerva/">Minerva</a></li>
                <li><a href="/stealthdefend/">Netwrix StealthDEFEND</a></li>
                <li>
                  <a href="/stealthintercept/">Netwrix StealthINTERCEPT</a>
                </li>
                <li><a href="/silverfort/">Silverfort</a></li>
                <li><a href="/reblaze/">Reblaze</a></li>
                <li><a href="#">Netwrix PolicyPak</a></li>
                <li><a href="/obsidian/">Obsidian</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href="#">Riscos</a>
              <ul>
                <li><a href="/netwrix/">Netwrix Auditor</a></li>
                <li><a href="/ndc/">Netwrix Data Classification</a></li>
                <li><a href="/syxsense/">Syxsense</a></li>
                <li><a href="/obsidian/">Obsidian</a></li>
                <li><a href="stealthaudit/">Netwrix StealthAUDIT</a></li>
                <li><a href="/comforte/">Comforte</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="parent mb-2">
      <a href="#">Soluções</a>
      <ul>
        <li class="parent">
          <a href="#">Gerenciamento de TI</a>
          <ul>
            <li><a href="/comforte/">Criptografia de Dados</a></li>
            <li>
              <a href="/stealthdefend/"
                >Detecção e resposta a ameaças em tempo real</a
              >
            </li>
            <li><a href="//stealthdefend">SSPM - Segurança para o SaaS</a></li>
            <li><a href="/stealthintercept/">Prevenção de atividades</a></li>
            <li>
              <a href="/criptografia-de-email"
                >Criptografia de arquivos e e-mail</a
              >
            </li>
            <li><a href="/remediation/">Remediação de dados</a></li>
            <li><a href="/ameacas-internas/">Ameaças internas</a></li>
            <li><a href="/dsar/">Solicitações do titular do dado</a></li>
            <li><a href="/edr/">Alertas de Ameaças em Tempo Real</a></li>
            <li><a href="/protecao-saas">Proteção de aplicações SaaS</a></li>
            <li>
              <a href="/governancia-de-dados">Governança de acesso a dados</a>
            </li>
          </ul>
        </li>
        <li class="parent">
          <a href="#">Segurança de TI</a>
          <ul>
            <li>
              <a href="/auditoria-de-alteracoes">Auditoria de alterações</a>
            </li>
            <li><a href="/optimization">Otimização de storage</a></li>
            <li><a href="/patch-manager">Gerenciamento de patch</a></li>
            <li><a href="/stealthaudit/">Governança de dados</a></li>
            <li><a href="/stealth-recover/">Restauração do AD</a></li>
            <li><a href="/sbpam/">Gerenciamento de acesso - PAM</a></li>
            <li><a href="/cortex/">Automação de TI inteligente</a></li>
            <li><a href="/hardware-software">Inventário de HW - SW</a></li>
            <li>
              <a href="/scan-de-vulnerabilidade">Scanner de vulnerabilidades</a>
            </li>
            <li><a href="/power-manager">PC Power Manager</a></li>
            <li>
              <a href="/mitigacao-de-risco">Avaliação e Mitigação de Risco</a>
            </li>
            <li><a href="/distribuicao-de-software">Deploy de Software</a></li>
            <li><a href="/rms">Gerenciamento de registros (RMS)</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="/ajuda/">Contato</a></li>

    <div class="row mobi-secondary justify-content-between text-center">
      <div class="col">
        <a class="secondary-social" href="https://aiqon.com.br/blog/">Blog</a>
      </div>
      <div class="col">
        <a class="secondary-social" href="/recursos/">Recursos</a>
      </div>
      <div class="col">
        <a class="secondary-social" href="/parcerias/">Seja um Parceiro</a>
      </div>
      <div class="col">
        <a
          class="secondary-social"
          target="_blank"
          href="https://aiqon.zendesk.com/hc/pt-br/requests/new"
          >Suporte</a
        >
      </div>
    </div>
    
  </ul>
</div>

<style>
  /* Menu Controls */

  .logo {
    color: gray;
    font-size: 2.1rem;
    padding: 10px;
    position: absolute;
    margin-left: -0.2vw !important;
  }

  .menu-button {
    color: gray;
    cursor: pointer;
    font-size: 2rem;
    padding: 5px;
    position: fixed;
    right: 4%;
  }

  .open-menu {
    color: gray;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 250ms ease;
  }

  .rotate {
    transform: rotate(135deg);
  }

  /* Generated Overflow Element */

  .overflow {
    margin-top: 57px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* Menu Styles */

  #mobile-nav ::before {
    background-color: transparent;
  }
  #mobile-nav {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 8vh;
    z-index: 10000;
  }

  #mobile-nav ul {
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    padding: 0;
    position: relative;
  }
  #mobile-nav ul:first-child {
    background-color: white;
  }

  #mobile-nav ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.075);
    list-style: none;
    margin-bottom: 0;
    position: relative;
  }

  #mobile-nav ul li a {
    color: gray;
    display: inline-block;
    font-size: 1rem;
    padding: 1rem 0 3vh 5vw;
    text-decoration: none;
    width: 100%;
  }

  #mobile-nav ul ul {
    margin: 0;
  }

  #mobile-nav ul ul li {
    border-top: none;
    padding-left: 1rem;
  }
  .mobi-secondary {
    background: linear-gradient(
      90deg,
      rgba(0, 164, 143, 1) 0%,
      rgba(10, 87, 54, 1) 100%
    );
    width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    position: absolute;
    bottom: 0;
   
  }
  .secondary-social {
    color: white;
  }
  @media only screen and (min-width: 1024px) {
    #mobile-nav {
      display: none;
    }
  }
</style>
