---
layout: default
title: Avaliação e Mitigação de Risco
---

<div
  class="container-fluid"
 
  style="
    background: linear-gradient(
      140deg,
      rgba(30, 60, 114, 1) 26%,
      rgba(42, 82, 152, 1) 100%
    );
    height: 500px; padding-top: 14vh; color: white;">
<canvas class="background"></canvas>
  <br />
  <br />
  <div class="row">
    <div
      class="col -solution-hero d-flex flex-column justify-content-center align-items-center text-center"
    >
      <h1>Avaliação e Mitigação de Risco</h1>
      <p>Aprimore a postura de segurança da sua TI reduzindo os seus riscos</p>
      <br />
      <p>
        {% include site/modal_form.html title="Mitigação de Risco" id="risk_form
        "%}
      </p>
    </div>
  </div>
</div>
<br />
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <p class="text-secondary">
          Os relatórios de avaliação de risco da TI da nossa solução de
          auditoria e mitigação de riscos ajuda você a identificar as fraquezas
          de segurança na política e nas práticas de segurança da sua TI para
          que você possa aprimorar continuamente a sua postura de segurança.
          Encontre rapidamente os riscos que necessitam da sua atenção imediata
          e detalhe as ações permitidas para permitir a mitigação prontamente.
        </p>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<div class="container">
  <br />
  <h2 class="text-center mb-3" style="color: #707070">
    <b
      >Identifique e lide com as falhas de segurança com uma<br />avaliação de
      risco continua</b
    >
  </h2>
  <br />
  <p style="color: #707070; font-size: 20px" class="text-center mb-5">
    A avaliação de risco da TI te ajuda a identificar vulnerabilidades que põe a
    informação dos seus ativos e a continuidade dos seus negócios em risco. Nós
    facilitamos a compreensão do seu perfil de risco atual com a nossa solução
    de auditoria e mitigação de riscos para que você possa; priorizar a sua
    resposta, saber quais passos tomar para remediar cada problema, ajustar os
    níveis de risco para o seu ambiente em particular e então rever o novo
    perfil de risco para avaliar o sucesso dos seus esforços. Repetindo esse
    processo você pode aprimorar a s sua postura de segurança continuamente
    assim como ter provas para gerentes ou auditores que você está em
    conformidade com as políticas internas e regulações externas.
  </p>
</div>

<div class="container-fluid content-right-b">
  <div class="container text-center">
    <div class="row">
      <div class="col-md content-body text">
        <h3>Ganhe uma visão ampla da sua postura de segurança</h3>
        <p>
          Entenda a postura da sua segurança nas principais áreas em um piscar
          de olhos. O Monitoramento automatizado e a pontuação permite que você
          priorize facilmente seus esforços na mitigação de risco. Além de
          permitir checagem antes da execução de um programa de monitoramento de
          segurança, esse painel também permite que a avaliação e aprimoramento
          continuo em três das principais áreas: Permissões, dados e usuário e
          suas contas no computador. Comece em uma área onde o risco seja maior
          e vá fundo nos fatores de risco específicos que demandam a sua
          atenção.
        </p>
      </div>
      <div class="col-md content-body image">
        <img class="img-fluid" src="/assets/img/mitigacao/risk.webp" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="container-fluid content-left-a">
  <div class="container text-center">
    <div class="row">
      <div class="col-md content-body image">
        <img class="img-fluid" src="/assets/img/mitigacao/account.webp" alt="" />
      </div>
      <div class="col-md content-body text">
        <h3>Tenha dados sobre como reduzir os riscos identificados</h3>
        <p>
          Veja nos relatórios detalhados quais configurações de política,
          permissões ou práticas de segurança precisam ser ajustadas para
          reduzir cada risco a um nível aceitável. Por exemplo, os relatórios
          que identificam quais pastas compartilhadas são acessíveis por todo
          mundo, quais contas de usuários estão inativas mas não desabilitadas,
          quais arquivos contém dados sensíveis em seus nomes ou quais contas
          podem acessar sua rede sem autenticação.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid content-right-d">
  <div class="container text-center">
    <div class="row">
      <div class="col-md content-body text">
        <h3>Adapte os níveis de risco ao seu ambiente de TI</h3>
        <p>
          Ninguém conhece a sua organização melhor do que você. Caso você ache
          que os princípios para diversos riscos não refletem as prioridades da
          sua organização e a tolerância a risco, ajuste-os para que sejam
          redefinidos assim que cada fator de risco seja considerado baixo,
          moderado ou alto. Esse ajuste te ajudará a ficar de olho nos riscos
          que são mais importantes para o seu negócio e remove outros fatores do
          seu radar.
        </p>
      </div>
      <div class="col-md content-body image">
        <img
          class="img-fluid"
          src="/assets/img/mitigacao/overview.webp"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div class="container-fluid content-left-c">
  <div class="container text-center">
    <div class="row">
      <div class="col-md content-body image">
        <img
          class="img-fluid"
          src="/assets/img/mitigacao/risk_assessment.webp"
          alt=""
        />
      </div>
      <div class="col-md content-body text">
        <h3>Avalie a sua postura de segurança continuamente</h3>
        <p>
          Após você ter remediado os principais fatores de risco para os dados,
          permissões e usuários e suas contas, avalie se a sua postura de
          segurança foi aprimorada e repita a avaliação de risco e o processo de
          mitigação continuamente. Apresente o relatório de Avaliação de Risco
          da TI para o seus gerentes e auditores para provar que você tem um
          programa de mitigação de risco em execução.
        </p>
      </div>
    </div>
  </div>
</div>
<div
  class="container-fluid -footer"
  style="background-color: transparent; border: none"
>
  <div class="row mx-auto py-5 -about" style="height: auto">
    <div class="col-md">
      <br />
      <h3 class="text-center" style="color: gray; margin-top: 100px">
        Não perca mais tempo, identifique e minimize os riscos no seu ambiente
        de T.I. - Fale com um de nossos especialistas
      </h3>
      <br />
    </div>
    <div class="col-md d-flex" style="justify-content: flex-end">
      {% include site/form2.html title="Mitigação de Risco" id="risk_form" %}
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: #f6f6f6; padding: 0">
  <h2 class="text-center text-teal text-bolder py-2" style="color: gray">
    <br />
    Precisa mapear os dados sensíveis no seu ambiente?
  </h2>
  <div class="image-block text-lightblue flex-column text-center">
    <a href="/classificacao-de-dados" class="btn btn-rms my-5" id="btn-page">
      <img src="/assets/img/rms/inventory.png" alt="" />
      <p style="color: gray">
        Faça o mapeamento de dados sensíveis da sua T.I,<br />
        seja dados locais ou em nuvem.
      </p>
    </a>
  </div>
</div>

<style>
  body {
    background-color: whitesmoke;
  }
  .content-left-a {
    background: linear-gradient(
        280deg,
        rgba(30, 60, 114, 0.09007352941176472) 13%,
        rgba(30, 60, 114, 0.9724264705882353) 57%,
        #1e3c72 100%
      ),
      url("/assets/img/mitigacao/data.webp") no-repeat center;
    background-size: cover;
  }
  .content-right-b {
    background: linear-gradient(
        90deg,
        rgba(30, 60, 114, 0.09007352941176472) 13%,
        rgba(30, 60, 114, 0.9724264705882353) 57%,
        #13284e 100%
      ),
      url("/assets/img/mitigacao/vision.webp") no-repeat center;
    background-size: cover;
  }

  .content-left-c {
    background: linear-gradient(
        280deg,
        rgba(30, 60, 114, 0.09007352941176472) 13%,
        rgba(30, 60, 114, 0.9724264705882353) 57%,
        rgba(30, 60, 114, 1) 100%
      ),
      url("/assets/img/mitigacao/level.webp") no-repeat center;
    background-size: cover;
  }
  .content-right-d {
    background: linear-gradient(
        90deg,
        rgba(30, 60, 114, 0.09007352941176472) 13%,
        rgba(30, 60, 114, 0.9724264705882353) 57%,
        #13284e 100%
      ),
      url("/assets/img/mitigacao/security.webp") no-repeat center;
    background-size: cover;
  }
  .content-body {
    padding: 30px;
  }
  .text {
    color: white;
    text-align: left;
  }
  #btn-page {
    max-width: 300px;
  }
</style>
