---
layout: default
title: Proteção DDoS
---

<div class="container-fluid" style="background: linear-gradient(
  160deg,
  rgba(0, 0, 70, 1) 18%,
  rgba(28, 181, 224, 1) 100%
); height: 500px; padding-top: 14vh; color: white;">
<canvas class="background"></canvas>
    <br>
    <br>
  <div class="row">
    <div class="col -solution-hero d-flex flex-column justify-content-center align-items-center text-center">
        <h1>Proteção DDoS</h1>
        <br>
           <p> {% include site/modal_form.html  title="Proteção DDos" id="ddos_form "%}</p>
      </div>
  </div>
</div>
<div class="container-fluid" >
    <div class="row">
      <div class="col">
        <div class="banner mx-auto text-center">
          <h3></h3>
          <p class="text-secondary">
            Mantenha suas aplicações web totalmente responsivos aos usuários com a uma proteção DDoS multicamadas<br>
            Proteção DoS e DDoS completa, derrotando ataques nas camadas 3, 4 e 7: rede, transporte e aplicativo. (Muitas soluções  dedicadas a combater ataques DDoS não protegem totalmente a camada 7.)
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row mb-4"  >
        <div class="row mw-1500 mx-auto d-flex justify-content-center pt-5">
          <div class="image-block-rms flex-column text-center">
            <img src="/assets/img/ddos/detection.png" />
            <h5></h5>
            <p style="width: 200px;">A detecção multivariada de ameaças identifica e bloqueia com precisão o tráfego de ataque
            </p>
           
          </div>
          <div class="image-block-rms flex-column text-center">
            <img src="/assets/img/ddos/resource.png" />
            <h5></h5>
            <p style="width: 250px;">Os recursos são dimensionados automaticamente conforme necessário
            </p>
          </div>
          <div class="image-block-rms flex-column text-center">
            <img src="/assets/img/ddos/try.png" />
            <h5></h5>
            <p style="width: 200px;">
              Também derrota tentativas de hacking, bots e muito mais
            </p>
           </div>
                    <br>
                <br>
        </div>
    </div>
    <div class="row mb-5"  >
        <div class="row mw-1500 mx-auto d-flex justify-content-center pt-5">
        
          <div class="image-block-rms flex-column text-center" >
            <img src="/assets/img/ddos/width.png" />
            <h5></h5>
            <p style="width: 250px;">Lide com atividades de largura de banda maiores do que a maioria dos ISPs</p>
          </div>
          
          <div class="image-block-rms flex-column text-center">
            <img src="/assets/img/ddos/total.png" />
            <h5></h5>
            <p style="width: 250px;">
              Totalmente gerenciado (nada para instalar ou manter) e sempre atualizado
            </p>
          </div>
          <div class="image-block-rms flex-column text-center">
            <img  src="/assets/img/ddos/support.png"/>
            <h5></h5>
            <p style="width: 250px;">
              Suporte para incidentes 24 horas
            </p>
           </div>
        </div>
      </div>
</div>
    <div class="container-fluid" style="margin-top: 200px;"> 
      <div class="container-fluid text-center" style="width:90%" >
        <h2 style="color: gray; font-size: 40px;">Como protegemos os seus ativos web contra DoS / DDoS</h2>
        <div class="row py-5">
           <div
            class="col-md-6 col-sm-12 p-2 d-flex align-items-end justify-content-center flex-column dns"
            >
            <h2 style="width: 100%; font-size: 25px; color:gray"><b>Alocação dinâmica de DNS</b></h2>
            <p class="desc-list">
                Torna impossível para os invasores 
                enviarem tráfego DDoS para o seu 
                servidor. Em vez disso, todo o tráfego 
                (DDoS e outros) deve passar pelo sistema 
                de proteção para análise primeiro.
            </p>
            
           
          </div>
          <div class="col-md-6 col-sm-12 p-3 text-center charge" >
            <h2 style="width: 100%; font-size: 25px; color:gray"><b>Balanceamento de carga elástica</b></h2>
            <p class="desc-list">
                Distribui ataques em clusters globais. 
                Isso elimina o estresse no site de destino 
                e em seu ISP, de modo que o ISP não tem motivo 
                para restringir o tráfego, mesmo durante um ataque 
                em grande escala.
            </p>
            
          </div>
          
        </div>
        <div class="row py-5 row-reverse">
          <div class="col-md-6 col-sm-12 p-3 ddos">
            <h2 style="width: 100%; font-size: 25px; color:gray"><b>O tráfego DDoS é filtrado</b></h2>
            <p class="desc-list">
                Por mecanismos avançados de detecção 
                humana e de comportamento. Visitantes 
                legítimos têm permissão para acessar 
                seu site, enquanto o tráfego DDoS é 
                bloqueado.
          </div>
          <div
            class="col-md-6 col-sm-12 p-2 d-flex align-items-center justify-content-center flex-column domain"
          >
            <h2 style="width: 100%; font-size: 25px; color:gray"><b>Seu domínio pode absorver</b></h2>
            <p class="desc-list">
                até mesmo os maiores ataques DDoS, 
                porque o sistema de proteção é uma 
                rede distribuída, que é alocado em 
                vários provedores para diversidade 
                e robustez. Aproveitamos a nuvem 
                para fornecer grandes quantidades 
                de largura de banda, maior do que 
                a maioria dos ISPs pode fornecer.
            </p>
          </div>
          
        </div>
        <div class="row py-5 row-reverse">
            <div class="col-md-6 col-sm-12 p-3 atack">
              <h2 style="width: 100%; font-size: 25px; color:gray"><b>Conforme os ataques aumentam</b></h2>
              <p class="desc-list">
                … a sua proteção também. Os incidentes 
                DDoS modernos geralmente ocorrem em estágios, 
                com os invasores implantando cada vez mais 
                recursos na tentativa de dominar o alvo. 
                Nosso sistema de proteção corresponde a 
                esse passo a passo, trazendo recursos 
                adicionais online de forma instantânea e 
                automática, sem a necessidade de intervenção 
                do usuário.
            </div>
            <div
              class="col-md-6 col-sm-12 p-2 d-flex align-items-center justify-content-center flex-column advanced"
            >
              <h2 style="width: 100%; font-size: 25px; color:gray"><b>Ataques mais avançados</b></h2>
              <p class="desc-list">
                … Resultam em defesas mais avançadas. 
                Por isso, tenha mecanismos adaptativos 
                únicos que aprendem com o tempo. Mesmo 
                com o DDoS e outras formas de ataque cada 
                vez mais sofisticadas, os nossos especialistas 
                em segurança web estão um passo à frente, 
                implementando contramedidas em toda a rede. 
                Sua equipe não precisa ficar em dia com o 
                ambiente de ameaças em constante mudança na 
                web, porque os nossos especialistas fazem 
                isso por você.
              </p>
            </div>
            
          </div>
        
        <div class="container-fluid -footer " style="background-color: transparent; margin-top: 50px; border:none" >
            <div class="row mx-auto py-5 -about" style="height: auto;">
          <div class="col-md ">
              <p class="text-center" style="margin-top:120px ;">Tenha o controle</p>
              <br>
              <h3 class="text-center" style="color: gray;">
                Experimente o melhor modo de proteção contra DDoS de forma gratuita
              </h3>
                <br>
            </div>
          <div class="col-md d-flex" style="justify-content: flex-end;" >
              {% include site/form2.html title="Proteção DDoS" id="ddos_form" %}
            </div>
        </div>
      </div>
       </div>
    </div>
    <div class="container-fluid" style="background-color:#f6f6f6 ;padding: 0;">
      <h2 class="text-center text-teal text-bolder py-2" style="color: gray;">
        <br>
        Você também pode precisar:
    </h2>
      <div class="image-block text-lightblue flex-column text-center"  >
        <a href="/waf" class="btn btn-rms my-5" id="next_feature_b">
          <img src="/assets/img/ddos/firewall.png" alt="">
          <p style="color: gray;">WAF de próxima geração</br>
            Proteja suas aplicações web de forma completa</p>
        </a>
      </div>
    </div>
   
    <style>
        .dns{
            background: linear-gradient(rgba(241, 245, 248,.6), rgba(241, 245, 248,.6)), url("/assets/img/ddos/dns.png")no-repeat center ;
            
        }
       
        .charge{
            background: linear-gradient(rgba(241, 245, 248,.6), rgba(241, 245, 248,.6)), url("/assets/img/ddos/charge.png")no-repeat center;
                        
        }
        .ddos{
            background: linear-gradient(rgba(241, 245, 248,.6), rgba(241, 245, 248,.6)), url("/assets/img/ddos/filter_ddos.png")no-repeat center;
                        
        }
        .domain{
            background:linear-gradient(rgba(241, 245, 248,.6), rgba(241, 245, 248,.6)), url("/assets/img/ddos/domain.png")no-repeat center;
                        
        }
        .atack{
            background:linear-gradient(rgba(241, 245, 248,.6), rgba(241, 245, 248,.6)), url("/assets/img/ddos/atack.png") no-repeat center;
                        
        }
        .advanced{
            background:linear-gradient(rgba(241, 245, 248,.6), rgba(241, 245, 248,.6)), url("/assets/img/ddos/advanced.png") no-repeat center; 
           
            
        }
        body{
            background-color: rgb(241, 245, 248);
        }
        .desc-list{
        padding: 1vw 3vw 2vw 3vw;
        color: gray;
        }
        .tittle-desc{
            width: 150px;
            margin-top: 1vw;
        }
        #line-features{
            margin-top: 3vw;
        }

        @media only screen and (min-width: 1500px) {
  
            #showOnlyMobile{
            display: none;

            }
        }
        @media only screen and (max-width: 1499px) {
            #line-features{
            margin-top: 1vw;
            }
            .content{
           
             
             
            }
        @media only screen and (max-width: 991px){
          .content{
           
        }
        }
       
        
    #trial_obs{
      display: none;
    }
    #next_feature_b{
      width: 240px;
    }
    #bt{
      margin-right: auto;
    }
  }
    </style>






