---
layout: default
title: DLP
---

<div
  class="container-fluid"
  style="
    background: linear-gradient(
      144deg,
      rgba(149, 169, 238, 1) 11%,
      rgba(83, 155, 217, 1) 51%,
      rgba(94, 176, 241, 1) 90%
    );
    height: 500px;
    padding-top: 14vh;
    color: white;
  "
>
  <canvas class="background"></canvas>
  <br />
  <br />
  <div class="row">
    <div
      class="col -solution-hero d-flex flex-column justify-content-center align-items-center text-center"
    >
      <h1>Prevenção a perda de dados - DLP</h1>
      <br />
      <p>{% include site/modal_form.html title="DLP" id="dlp_form "%}</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3></h3>
        <p class="text-secondary">
          As principais funcionalidades das nossas soluções que atenderão a sua
          demanda de DLP. São três piláres principais: Proteção a sistemas e
          endpoint, proteção online e monitoramento e auditoria
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="text-center mt-5">Proteção de sistemas e endpoint</h2>
  <div class="col-lg">
    <div class="row text-center">
      <div class="col-lg-12">
        <img
          src="/assets/img/dlp/windows.svg"
          alt=""
          class="img-fluid module-icon"
        /><img
          src="/assets/img/dlp/linux.svg"
          alt=""
          class="img-fluid module-icon"
        />
        <img
          src="/assets/img/dlp/macos.svg"
          alt=""
          class="img-fluid module-icon"
        />
        <img
          src="/assets/img/dlp/android.svg"
          alt=""
          class="img-fluid module-icon"
        />
        <img
          src="/assets/img/dlp/ios.svg"
          alt=""
          class="img-fluid module-icon"
        />
      </div>
    </div>
  </div>
</div>
<div class="container content">
  <h2 class="text-center mb-5">Proteção online</h2>
  <div class="row">
    <div class="col-md-6 col-sm-12 py-3">
      <div class="syxsense-feature-block">
        <img src="/assets/img/dlp/update.svg" alt="" />
        <div class="text" style="text-align: right">
          <p>
            Mantenha o seu ambiente sempre atualizado, protegendo contra ataques
            e posteriormente extração de dados.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 py-3">
      <div class="syxsense-feature-block">
        <div class="text">
          <p>
            Detecção e análise em tempo real de qualquer tipo de ameaça nos
            computadores, seja executáveis, scripts, acesso a páginas mal
            intencionadas.
          </p>
        </div>
        <img src="/assets/img/dlp/detect.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 py-3">
      <div class="syxsense-feature-block" style="text-align: right">
        <img src="/assets/img/dlp/locked.svg" alt="" />
        <div class="text">
          <p>
            Identifique e corrija as vulnerabilidades do ambiente. Tenha
            informações de criticidade para ajudar na tomada de decisão por
            prioridades nas correções.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 py-3">
      <div class="syxsense-feature-block">
        <div class="text">
          <p>
            Adicione uma camada de proteção para o acesso dos seus usuários.
            Faça análise de todas as requisições de acesso em qualquer parte da
            estrutura de T.I com MFA next-gen.
          </p>
        </div>
        <img src="/assets/img/dlp/key.svg" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="container-fluid content" style="width: 80%">
  <div class="row">
    <div class="col-lg">
      <div class="row text-center">
        <div class="col-lg-12">
          <img
            src="/assets/img/obsidian/modules/google.svg"
            alt=""
            class="img-fluid module-icon"
          /><img
            src="/assets/img/obsidian/modules/aws.svg"
            alt=""
            class="img-fluid module-icon"
          />
          <img
            src="/assets/img/obsidian/modules/azure.svg"
            alt=""
            class="img-fluid module-icon"
          />
          <img
            src="/assets/img/obsidian/modules/office.svg"
            alt=""
            class="img-fluid module-icon"
          />
          <img
            src="/assets/img/obsidian/modules/salesforce.svg"
            alt=""
            class="img-fluid module-icon"
          />
          <img
            src="/assets/img/obsidian/modules/box.svg"
            alt=""
            class="img-fluid module-icon"
          />
        </div>
        <div class="col-lg-12">
          <img
            src="/assets/img/obsidian/modules/dropbox.svg"
            alt=""
            class="img-fluid module-icon"
          />
          <img
            src="/assets/img/obsidian/modules/github.svg"
            alt=""
            class="img-fluid module-icon"
          />
          <img
            src="/assets/img/obsidian/modules/duo.webp"
            alt=""
            class="img-fluid module-icon"
          />
          <img
            src="/assets/img/obsidian/modules/Okta_logo.svg"
            alt=""
            class="img-fluid module-icon"
          />
          <img
            src="/assets/img/saas/slack.svg"
            alt=""
            class="img-fluid module-icon"
          />
          <img
            src="/assets/img/saas/workdays.svg"
            alt=""
            class="img-fluid module-icon"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid content content-features">
  <div class="container text-center pt-5">
    <h2 style="color: gray">Monitoramento e Auditoria</h2>
    <div class="container mt-2 mb-3">
      <div class="row">
        <div class="col-lg">
          <div class="row text-center">
            <div class="col-lg-12">
              <img
                src="/assets/img/netwrix/modulos/Asset 8FILE SERVER.svg"
                alt=""
                class="img-fluid module-icon"
              /><img
                src="/assets/img/netwrix/modulos/Asset 14nutanix.svg"
                alt=""
                class="img-fluid module-icon"
              />
              <img
                src="/assets/img/netwrix/modulos/Asset 10SHARE.svg"
                alt=""
                class="img-fluid module-icon"
              />
              <img
                src="/assets/img/netwrix/modulos/Asset 5EXCHANGE.svg"
                alt=""
                class="img-fluid module-icon"
              />
              <img
                src="/assets/img/netwrix/modulos/Asset 4EMC.svg"
                alt=""
                class="img-fluid module-icon"
              />
            </div>
            <div class="col-lg-12">
              <img
                src="/assets/img/netwrix/modulos/Asset 6NETAPP.svg"
                alt=""
                class="img-fluid module-icon"
              />
              <img
                src="/assets/img/netwrix/modulos/Asset 16googleDrive.svg"
                alt=""
                class="img-fluid module-icon"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 mb-5 mt-5">
        <img src="/assets/img/dlp/monitor.svg" class="img-fluid mb-3" alt="" />
        <p>
          Monitore tudo o que acontece com os seus arquivos locais e em cloud.
        </p>
      </div>
      <div class="col-md-4 mb-5 mt-5">
        <img src="/assets/img/dlp/message.svg" class="img-fluid mb-3" alt="" />
        <p>Seja alertado de qualquer extração em massa em tempo real.</p>
      </div>
      <div class="col-md-4 mb-5 mt-5">
        <img src="/assets/img/dlp/folder.svg" class="img-fluid mb-3" alt="" />
        <p>
          Aumente a proteção de pastas críticas com o monitoramento por gravação
          de tela
        </p>
      </div>
      <div class="col-md-4 mb-5 mt-5">
        <img src="/assets/img/dlp/acess.svg" class="img-fluid mb-3" alt="" />
        <p>Monitore as permissões e falhas de acesso.</p>
      </div>
      <div class="col-md-4 mb-5 mt-5">
        <img src="/assets/img/dlp/search.svg" class="img-fluid mb-3" alt="" />
        <p>
          Localize onde estão armazenados arquivos com dados sensíveis e
          proteja-os movendo para local mais seguro.
        </p>
      </div>
      <div class="col-md-4 mb-5 mt-5">
        <img src="/assets/img/dlp/choice.svg" class="img-fluid mb-3" alt="" />
        <p>
          Ajuste as permissões de acesso dos arquivos sensíveis e insira uma
          máscara na informação sensível.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="padding-top: 70px; background-color: white; padding-bottom: 70px">
  <h2 class="text-center">
    Tudo isso e muito outras funções para a <br />prevenção a perda dos seus
    dados.
  </h2>
  {% include site/download-row.html docs='
  <div class="col">
    <div class="downloadblock">
      <img src="/assets/img/dlp/facilitando_solucoes.png" />
      <p>Facilitando a prevenção de perda de dados</p>
      <a
        href="https://lps.aiqon.com.br/ebook-facilitando-a-prevencao-de-perda-de-dados"
        target="_blank"
        class="btn btn-small btn-lightblue"
      >
        Baixar PDF
      </a>
      <!-- <button onclick="downloadRequest(2)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
    </div>
  </div>

  '%}
</div>
<div class="container-fluid content-contact">
  <div class="container text-center text-white">
    <h2>Proteja se agora com a AIQON</h2>
    <p class="mb-5">
      Você pode solicitar um teste das ferramentas de DLP da AIQON, basta
      preencher o formúlario abaixo
    </p>
    <div class="row">
      <div class="col-lg-6 col-md-12 p-4 d-flex">
        {% include site/form2.html title="DLP" id="dlp_form" %}
      </div>
    </div>
  </div>
</div>

<style>
  .module-icon {
    min-width: 60px;
    max-width: 60px;
    margin: 40px;
  }
  .module-icon:hover {
    opacity: 70%;
  }
  .version-block-body {
    padding: 30px;
    text-align: center;
  }
  .syxsense-feature-block {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .syxsense-feature-block img {
    padding: 10px;
    width: 130px;
  }
  .syxsense-feature-block .text {
    max-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .content-features {
    background-color: #e6e7f3;
  }
  .content-contact {
    padding-bottom: 7vh;
    padding-top: 10vh;
    background: linear-gradient(
        90deg,
        #539bd9 45%,
        rgba(255, 255, 255, 0.19371498599439774) 99%
      ),
      url("/assets/img/dlp/contact.jpg") no-repeat right;

    min-height: 500px;
  }
  .content {
    margin-top: 150px;
  }
  .module-icon {
    min-width: 60px;
    max-width: 60px;
    margin: 40px;
  }
  .module-icon:hover {
    opacity: 70%;
  }
</style>
