---
layout: default
title: Netwrix Data Classification
---

<div class="container-fluid" style="background: linear-gradient(to right, #260669, #260669); height: 700px; padding-top: 14vh; color: white;">
  <canvas class="background"></canvas>
    <br>
    <br>
  <div class="row">
    <div
      class="col -solution-hero d-flex flex-column justify-content-center align-items-center text-center text-white background"
    >
      <img src="/assets/img/ndc/NDC_logo.svg"  style="max-width: 200px;"/>
      <h1>Netwrix Data Classification</h1>
      <p class="mt-3">
       Identifique os dados sensíveis na estrutura de TI e reduza a exposição.
      <br> Diminua o esforço para estar em conformidade
      </p>
      <a
        href="https://lps.aiqon.com.br/netwrix_data_classification_trial"
        class="btn btn-trial my-4"
        >Inicie um teste</a
      >
    </div>
  </div>
</div>
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3>Descoberta e classificação de dados</h3>
        <p class="text-secondary">
            O Netwrix Data Classification identifica os dados 
            sensiveis na estrutura de TI e reduz a exposição.
            Resolva seus desafios relacionados aos dados, 
            como mitigar o risco de violações de dados, 
            aumentar a produtividade da equipe e diminuir 
            o esforço para estar
            em conformidade com auditorias.
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="row mx-auto pb-3 -syxsense-data">
    <div class="col d-flex justify-content-around py-2">
      <div class="image-block flex-column text-center">
        <img src="/assets/img/ndc/descoberta.svg" />
        <h5>Descoberta e Classificação</h5>
        <p>
            A ferramenta analisa os arquivos armazenados 
            buscando por padrões de informação.
        </p>
      </div>
      <div class="image-block flex-column text-center">
        <img src="/assets/img/ndc/identify_and_classify_ico.svg" />
        <h5>Análise de Dados</h5>
        <p>
            O NDC vai identificar padrões dentro 
            dos arquivos, como números de CPF, 
            cartões de crédito e outros dados sensíveis.
        </p>
      </div>
      <div class="image-block flex-column text-center">
        <img src="/assets/img/ndc/chart.svg" />
        <h5>Categorização por Compliance</h5>
        <p>
            Os arquivos analisados que exibirem
            dados sigiliosos serão categorizados 
            de acordo com os protocolos de compliance 
            aplicáveis.
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<h1 style="text-align: center; font-size: 45px;"> <b>Flexibilidade e Segurança na Gestão </br>
    de<strong> Dados Pessoais</strong> </b></h1>
<br>
    <div class="container">
        <div class="row py-5">
            
            <div class="col-md-6 col-sm-12 p-3">
                <img
                  src="/assets/img/ndc/indentifique.png"
                  style="max-width: 100%;"
                  class="mx-auto my-auto"
                />
              </div>
              
          <div
            class="col-md-6 col-sm-12 p-2 d-flex align-items-center justify-content-center flex-column"
          >
            <h1 style="width: 100%; font-size: 25px;"><b>Identifique informações confidenciais e reduza sua exposição</b></h1>
            <p>
                Encontre conteúdo confidencial, como dados pessoais, financeiros, registros médicos 
                e outras PII, tanto em servidores locais quanto na nuvem. Coloque em quarentena
                 automaticamente dados críticos ou sensíveis armazenados em locais não seguros ou 
                 acessíveis por grandes grupos de usuários para minimizar sua exposição até que você 
                 possa tomar uma decisão cuidadosa sobre a correção.
            </p>
            <br>
            <h1 style="width: 100%; font-size: 25px;"><b>Atenda a solicitações legais sem parar a empresa</b></h1>
            <p>
                Minimize as interrupções nos negócios durante o litígio, armando sua equipe
                 com o Netwrix Data Classification. Garanta que eles possam encontrar rapidamente
                  os dados que devem ser colocados em espera e proteger sua reputação mantendo
                   dados irrelevantes, como versões antigas de contratos, fora do processo.
            </p>
          </div>
          
        </div>
        <div class="row py-5 row-reverse">
          <div
            class="col-md-6 col-sm-12 p-2 d-flex align-items-center justify-content-center flex-column"
          >
            <h1 style="width: 100%; font-size: 25px;"><b>Categorize os dados com apenas alguns cliques</b></h1>
            <p>
                Comece sua descoberta em minutos com regras prontas para uso que identificam 
                dados protegidos por GDPR, PCI DSS, HIPAA e outros regulamentos.
            </p>
            <br>
            <h1 style="width: 100%; font-size: 25px;"><b>Personalize as regras de classificação</b></h1>
            <p>
                Localize e Classifique os dados que são sensíveis para o seu negócio. O Netwrix Data Classification
                 é flexível para combinar diferentes padrões de dados, reduzindo falsos positivos e permitindo
                maior assertividade na classificação de dados pessoais.
            </p>
          </div>
          <div class="col-md-6 col-sm-12 p-3">
            <img
              src="/assets/img/ndc/categorize.png"
              style="max-width: 100%;"
              class="mx-auto my-auto"
            />
          </div>
        </div>
        
      </div>
      <div class="container-fluid -modulos py-5">
        <div class="row pb-3">
            <div class="col text-center ">
                {% if page.title == 'Netwrix Auditor' %}
                <h1 class="text-blue">Conheça os módulos</h1>
                {% else %}
                <h1 class="text-blue">Conheça os módulos</h1>
                {% endif %}
            </div>
            <br>
        </div>
        <div class="row row-datasource">
            <a 
                class="col solution-datasource d-flex align-items-center justify-content-between">
                <img src="/assets/img/netwrix/modulos/fileserver.png" class="align-self-center">
                <p>Windows File Server</p>
            </a>
            <a 
            class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/Asset 14nutanix.svg" class="align-self-center">
            <p>Nutanix</p>
        </a>
        <a class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/emc.png" class="align-self-center">
            <p>EMC</p>
        </a>
        <a class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/netapp.png" class="align-self-center">
            <p>NetApp</p>
        </a>
        <a class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/sharepoint.png" class="align-self-center">
            <p>SharePoint</p>
        </a>
        </div>
        <div class="row row-datasource">
            <a class="col solution-datasource d-flex align-items-center justify-content-between ">
                <img src="/assets/img/netwrix/modulos/exchange.png" class="align-self-center">
                <p>Exchange</p>
            </a>

            <a 
            class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/Asset 16googleDrive.svg" class="align-self-center">
            <p> Google Drive</p>
        </a>
            <a class="col solution-datasource d-flex align-items-center justify-content-between">
                <img src="/assets/img/netwrix/modulos/sql.png" class="align-self-center">
                <p>SQL Server</p>
            </a>
            <a 
                class="col solution-datasource d-flex align-items-center justify-content-between">
                <img src="/assets/img/netwrix/modulos/Asset 20PostGreSql.svg" class="align-self-center">
                <p>Postgresql</p>
            </a>
            <a 
                class="col solution-datasource d-flex align-items-center justify-content-between">
                <img src="/assets/img/netwrix/modulos/oracle.png" class="align-self-center">
                <p>Oracle Database</p>
            </a>
        </div>
    </div>
    



{% include site/js/collapsible.html %} 
{% include site/download-row.html docs='
<div class="col">
  <div class="downloadblock">
    <img src="/docs/thumbs/lgpd_netwrix.jpg" />
    <p>LGPD com o Netwrix</p>
    <a
      href="https://lps.aiqon.com.br/ebook_lgpd_auditoria_e_identificacao_de_dados_aiqon"
      target="_blank"
      class="btn btn-small btn-lightblue"
    >
      Baixar PDF
    </a>
    <!-- <button onclick="downloadRequest(2)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
  </div>
</div>
<div class="col">
  <div class="downloadblock">
    <img src="/docs/thumbs/netwrix_knowdata.png" />
    <p>Data Classification: Conheça seus dados</p>
    <a
      href="https://lps.aiqon.com.br/ea45f3610d4c1ca233ae"
      target="_blank"
      class="btn btn-small btn-lightblue"
    >
      Baixar PDF
    </a>
    <!-- <button onclick="downloadRequest(3)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
  </div>
</div>

'%} {% include site/modal.html documenttitle="Baixe agora!"%}  
{% include site/trial.html title="Solicite uma
demonstração" id="form_ndc" %}
