
<div class="container" id="container">
       <div class="row">
               <div class="vertical-tab" role="tabpanel" >
                   <!-- Nav tabs -->
                   <ul class="nav nav-tabs" role="tablist">
                       <li role="presentation"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Você pode confiar nos seus usuários para fazer a classificação correta?</a></li>
                       <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">A busca pelos dados certos atrasa a todos?</a></li>
                       <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Os registros inativos desperdiçam um espaço valioso e atrapalham?</a></li>
                   </ul>
                   <!-- Tab panes -->
                   <div class="tab-content tabs"  style="border-left: 3px solid #1e3799;">
                       <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                        <h5>Pedir aos funcionários que classifiquem 
                        dados e declarem registros por conta própria 
                        não é uma abordagem prática - eles inevitavelmente 
                        classificam alguns arquivos incorretamente e perdem 
                        registros importantes enquanto trabalham em suas 
                        tarefas principais, e você sofrerá as consequências. 
                        Temos os recursos que você precisa. Identifique 
                        automaticamente os registros, tanto no local 
                        quanto na nuvem, e mascare-os com precisão e 
                        consistência.</h5>                     
      <img src="/assets/img/rms/image1_1.webp" alt="">
                            
                       </div>
                       <div role="tabpanel" class="tab-pane fade" id="Section2">
                        <h5>Se o seu software de gerenciamento de registros 
                           eletrônicos estiver repleto de informações desnecessárias, 
                           como duplicatas ou versões antigas de documentos eletrônicos, 
                           todos na sua organização perderão tempo procurando registros 
                           ou documentos específicos de que precisam. Com o software de 
                           classificação de dados da Netwrix, você pode automatizar o 
                           processo de identificação de não registros para facilitar 
                           sua limpeza, para que todos possam ser mais produtivos no 
                           trabalho</h5>
                              <img src="/assets/img/rms/duplicate_1_2.webp" alt="">
                              
                       </div>
                       <div role="tabpanel" class="tab-pane fade" id="Section3">
                        <h5>Muitas organizações, independentemente do setor, 
                           não sabem quais registros armazenados em seu ambiente 
                           estão inativos e não têm uma maneira fácil de descobrir. 
                           A Classificação de dados do Netwrix permite descobrir 
                           automaticamente os registros com os quais os usuários 
                           comerciais não trabalham mais e movê-los para o seu 
                           arquivo morto. Dessa forma, você pode manter registros 
                           inativos, garantindo uma recuperação rápida para 
                           solicitações legais ou investigações históricas e liberar 
                           armazenamento para criar novos registros.</h5>
                              <img src="/assets/img/rms/image1_3.webp" alt="">
                       </div>
                     </div>
                </div>
            </div>
<div class="row" >
  <div class="vertical-tab" role="tabpanel">
    <div class="tab-content tabs" style="border-right: 3px solid #1e3799;">
                                <div role="tabpanel" class="tab-pane fade in active" id="SectionOne">
                              <h5>Você precisa garantir que todos os registros 
                                 sejam descartados corretamente no final de seu 
                                 ciclo de vida. Caso contrário, você poderá ser 
                                 responsabilizado por falhas de conformidade ou 
                                 problemas legais e multas quando dados irrelevantes, 
                                 como versões antigas de contratos, surgirem durante 
                                 um processo de litígio. Ao atribuir códigos de retenção 
                                 específicos a diferentes tipos de dados, elimine o 
                                 trabalho árduo de rastrear a disposição dos documentos 
                                 - mesmo que os registros estejam espalhados por toda a 
                                 organização - e ajuda a garantir o descarte oportuno, 
                                 para reduzir riscos legais e cumprir as regulamentações.</h5>
                                    <img src="/assets/img/rms/time2_1.webp" alt="">
                                     
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="SectionTwo">
                                 <h5>Quando sua solução de gerenciamento de registros está 
                                    cheia de dados irrelevantes ou carece de registros necessários, 
                                    sua organização corre um risco maior de danos à reputação, 
                                    penalidades financeiras e risco legal. Ao alimentar o software 
                                    do sistema de gerenciamento de registros eletrônicos com as 
                                    informações mais relevantes, você pode recuperar o controle, 
                                    atender aos requisitos legais e regulatórios, manter a reputação 
                                    da sua empresa em excelente forma e economizar tempo corrigindo 
                                    registros incorretos.</h5>
                                   <img src="/assets/img/rms/image2_4.webp" alt="">
                                </div>
                            </div>
                      <ul class="nav nav-tabs" role="tablist">
                          <li role="presentation" ><a href="#SectionOne" aria-controls="home" role="tab" data-toggle="tab">Os registros regulamentados são descartados de acordo com seus horários?</a></li>
                          <li role="presentation"><a href="#SectionTwo" aria-controls="profile" role="tab" data-toggle="tab">Seu software de gerenciamento de registros está colocando você em risco desnecessário?</a></li>
                      </ul>
               </div>
          </div>
      </div>
   <style>

a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
.vertical-tab{
    font-family: 'Lato', sans-serif;
    display: table;
   
   
}
.vertical-tab .nav-tabs{
    display: table-cell;
    width: 50%;
    vertical-align: top;
    border: none;
}
.vertical-tab .nav-tabs li{
   float: none;
   vertical-align: top;
   width: 465px;
   margin-right: 1px;
}
.vertical-tab .nav-tabs li a{
    color: #555;
    background: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: left;
    padding: 13px 10px 10px;
    margin: 0 9px 9px 0;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.15);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0.1s;
}
.vertical-tab .nav-tabs li a:hover,
.vertical-tab .nav-tabs li.active a,
.vertical-tab .nav-tabs li.active a:hover{
    color: #1e3799;
    background: #fff;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.15);
    border-radius: 10px 0 0 0;
}
.vertical-tab .nav-tabs li a:before,
.vertical-tab .nav-tabs li a:after{
    content: '';
    background: #1e3799;
    height: 100%;
    width: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
.vertical-tab .nav-tabs li a:after{
    opacity: 0;
    left: auto;
    right: 25px;
    transition: all 0.3s ease-in 0.2s;
}
.vertical-tab .nav-tabs li a:hover:before,
.vertical-tab .nav-tabs li.active a:before,
.vertical-tab .nav-tabs li.active a:hover:before{
    width: 50%;
    opacity: 0;
}
.vertical-tab .nav-tabs li a:hover:after,
.vertical-tab .nav-tabs li.active a:after,
.vertical-tab .nav-tabs li.active a:hover:after{
    opacity: 1;
    right: 0
}
.vertical-tab .tab-content{
    color: #555;
    background: #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 25px;
    padding: 0px 5px 10px;
    margin-top: 10px;
    
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    display: table-cell;
    position: relative;
}
.vertical-tab .tab-content img{
    max-width: 600px;
}

.vertical-tab .tab-content h5{
    color: #555;
    font-size: 15px;
   
    margin: 0 0 7px 0;
    font-family: 'Lato', sans-serif;
    padding: 10px;
}
@media only screen and (max-width: 768px){

    #container{
        display: none;

    }
    .vertical-tab .nav-tabs{
        width: 100%;
        display: block;
        border: none;
    }
    .vertical-tab .nav-tabs li a{ margin: 0 0 10px; }
    .vertical-tab .tab-content{
        padding: 25px 20px;
        display: block;
    }
    .vertical-tab .tab-content h3{ font-size: 18px; }
}
   </style>
   <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   