---
layout: default
title: Virtru
---

<div
  class="container-fluid"
  style="
    background: linear-gradient(to right, #082453, #4286f4);
    min-height: 65vh;
    padding-top: 14vh;
    color: white;
  "
>
  <canvas class="background"></canvas>
  <br />
  <br />
  <div class="row">
    <div
      class="
        col
        -solution-hero
        d-flex
        flex-column
        justify-content-center
        align-items-center
        text-center text-white
        background
      "
    >
      <img src="/assets/img/virtru/logo.svg" class="logo-virtru" />
      <h1 class="mt-5">
        São os SEUS dados <br />
        Vamos mantê-los dessa forma.
      </h1>
      <p class="mt-3">
        Você quer se comunicar com sua rede corporativa de forma segura? <br />
        Proteja suas informações confidenciais com a criptografia de dados
        Virtru.
      </p>
    </div>
  </div>
</div>
<br />
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3>Criptografia de e-email e arquivos ponto a ponto</h3>
        <p class="text-secondary">
          Proteção de e-mail completa, com criptografia, controles de acesso,
          gerenciamento de chaves e auditoria persistente para clientes que
          precisam atender aos requisitos de privacidade e conformidade.
        </p>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<div class="container-fluid" style="padding: 0 100px 0 100px">
  <div class="row text-center">
    <div class="col-md mb-5">
      <img
        src="/assets/img/virtru/icons/reader.svg"
        class="img-fluid icon-virtru"
        alt=""
      />
      <h5 class="blue-virtru">Leitor Seguro</h5>
      <p class="desc-virtru">
        Uma experiência contínua baseada na web que permite o acesso a mensagens
        e arquivos protegidos para destinatários e colaboradores externos.
      </p>
    </div>
    <div class="col-md mb-5">
      <img
        src="/assets/img/virtru/icons/audit.svg"
        class="img-fluid icon-virtru"
        alt=""
      />
      <h5 class="blue-virtru">Auditoria e Controle</h5>
      <p class="desc-virtru">
        Recursos para manter o controle verificável sobre e-mail e arquivos com
        visibilidade persistente, mesmo quando são compartilhados em ambientes
        desconhecidos.
      </p>
    </div>
    <div class="col-md mb-5">
      <img
        src="/assets/img/virtru/icons/key.svg"
        class="img-fluid icon-virtru"
        alt=""
      />
      <h5 class="blue-virtru">Gestão de Chaves</h5>
      <p class="desc-virtru">
        Divida a arquitetura de conhecimento que armazena conteúdo criptografado
        separadamente das chaves de criptografia que o protegem, oferecendo
        suporte a uma estrutura Zero-Trust.
      </p>
    </div>
    <div class="col-md mb-5">
      <img
        src="/assets/img/virtru/icons/tdf.svg"
        class="img-fluid icon-virtru"
        alt=""
      />
      <h5 class="blue-virtru">Formato de dados confiáveis</h5>
      <p class="desc-virtru">
        Um padrão aberto para criptografia em nível de objeto que mantém os
        dados protegidos e sob o controle do proprietário dos dados, onde quer
        que sejam compartilhados.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid content-mail-demo mt-5">
  <div class="row text-white">
    <div class="col-md-6">
      <div class="container">
        <h2>
          Trabalhe em conjunto com segurança, permaneça produtivo e capacite os
          <br />
          funcionários em qualquer lugar
        </h2>
        <p style="font-size: 18px; margin-top: 3vh">
          Os produtos de criptografia de e-mail e arquivo da Virtru facilitam o
          compartilhamento de dados confidenciais e a colaboração com
          consumidores, parceiros de negócios, pacientes, equipes distribuídas e
          outras partes interessadas.
        </p>
        <a href="/criptografia-de-email" class="btn btn-virtru-white mt-5 mb-5"
          >Saiba mais</a
        >
      </div>
    </div>
    <div class="col-md-6">
      <img
        src="/assets/img/virtru/icons/mail_demo.webp"
        class="virtru-img text-center"
        alt=""
      />
    </div>
  </div>
</div>

<div class="container-fluid mb-5">
  <div class="row text-center justify-content-center row-partner">
    <div class="col-lg-5 bandle-content">
      <h3 class="py-5">Criptografia e controle para e-mail e arquivos</h3>
      <p>
        Soluções de privacidade de dados que se integram de forma transparente
        aos aplicativos mais usados, fornecendo segurança automática e controle
        total.
      </p>
      <a href="https://lps.aiqon.com.br/virtru-outlook" target="_blank" class="btn btn-virtru-blue mt-5"
        >Saiba mais</a
      >
      <div class="row py-5">
        <div class="col-md">
          <img
            src="/assets/img/virtru/icons/google_work.svg"
            alt=""
            class="icon-google-small mt-4"
          />
        </div>
        <div class="col-md">
          <img
            src="/assets/img/virtru/icons/sales_force.svg"
            alt=""
            class="icon-small"
          />
        </div>
        <div class="col-md">
          <img
            src="/assets/img/virtru/icons/microsoft.svg"
            alt=""
            class="icon-microsoft-small mt-3"
          />
        </div>
      </div>
    </div>
    <div class="col-lg-5 bandle-content">
      <h3 class="py-5">
        Uma plataforma comprovada para proteção de dados em nível de objeto
      </h3>
      <p>
        Um conjunto de ferramentas de desenvolvedor que integram o controle
        persistente de dados em qualquer aplicativo, dispositivo ou plataforma
        de infraestrutura.
      </p>
      <a href="/criptografia-de-email" class="btn btn-virtru-blue mt-4"
        >Saiba mais</a
      >
      <div class="row py-5">
        <div class="col-md">
          <img
            src="/assets/img/virtru/icons/spark.svg"
            alt=""
            class="icon-small mt-3"
          />
        </div>
        <div class="col-md">
          <img
            src="/assets/img/virtru/icons/kuber.webp"
            alt=""
            class="icon-small"
          />
        </div>
        <div class="col-md">
          <img
            src="/assets/img/virtru/icons/mqtt.svg"
            alt=""
            class="icon-small"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid content-padding mt-5 mb-5">
  <div class="row">
    <div class="col-md-5 google-workspace">
      <img
        src="/assets/img/virtru/icons/google_combo.svg"
        class="img-google-kit"
        alt="google"
      />
    </div>
    <div class="col-md">
      <h3 class="blue-virtru mb-4 py-4">
        Sua chave para desbloquear privacidade e segurança
      </h3>
      <h4 class="mb-4 text-gray">
        Apresentando o Virtru Key Management para o Google <br />
        Workspace Client-Side Encryption
      </h4>
      <p>
        Virtru foi selecionado como um provedor de gerenciamento principal para
        ajudar os <br />
        clientes do Google Workspace a melhorar a privacidade e a
        confidencialidade.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid content-microsoft">
  <div class="container-fluid content-padding text-center text-white">
    <h2 class="mt-5 mb-3">Fortaleça sua segurança. Diminua riscos.</h2>
    <h5>
      Descubra o novo suplemento para <b>Microsoft 365 Outlook</b>, uma camada
      adicional de segurança.
    </h5>
    <div class="row mt-5">
      <div class="col-md mt-5">
        <img
          src="/assets/img/virtru/icons/devices.webp"
          class="img-fluid img-devices"
          alt="devices"
        />
      </div>
      <div class="col-md">
        <img
          src="/assets/img/virtru/icons/microsoft_white.svg"
          class="img-microsoft-white"
          alt="icon-microsoft"
        />
        
      </div>
    </div>
  </div>
</div>
<div class="container-fluid content virtru-compliance">
  <div class="container-fluid content-padding text-center text-white">
    <h2 class="py-5">VIRTRU PARA COMPLIANCE</h2>
    <div class="row">
      <div class="col-md-4 mt-2 mb-5">
        <img
          src="/assets/img/virtru/icons/lgpd.svg"
          alt=""
          class="icon-compliance"
        />
        <p class="mt-4"><b>LGPD</b></p>
      </div>
      <div class="col-md-4 mb-5">
        <img
          src="/assets/img/virtru/icons/gdpr.svg"
          alt=""
          class="icon-compliance"
        />
        <p class="mt-3"><b>GDPR</b></p>
      </div>
      <div class="col-md-4 mb-5">
        <img
          src="/assets/img/virtru/icons/hippa.svg"
          alt=""
          class="icon-compliance"
        />
        <p class="mt-3"><b>HIPPA</b></p>
      </div>
    </div>
    <div class="row mb-5 mt-4">
      <div class="col-md">
        <h5>
          O Virtru ajuda nossos clientes a atender a uma ampla gama de
          requisitos de conformidade para proteger informações confidenciais e
          privadas. Saiba como podemos ajudá-lo a cumprir os regulamentos como
          LGPD, GDPR, CCPA e outros.
        </h5>
      </div>
      <div class="col-md-4">
        <a href="/compliance/" class="btn btn-virtru-green mb-5">Saiba mais</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid text-center mb-5">
  <h3 class="mt-5 blue-virtru">Reconhecimento internacional</h3>
  <img
    src="/assets/img/virtru/icons/forbes-black.svg"
    alt=""
    class="icons-news"
  />
  <img
    src="/assets/img/virtru/icons/yahoo-news-logo.webp"
    alt=""
    class="icons-news"
  />
  <img
    src="/assets/img/virtru/icons/MSNBC-horiz-color.webp"
    alt=""
    class="icons-news"
  />
  <img src="/assets/img/virtru/icons/ft.webp" alt="" class="icons-news" />
  <img src="/assets/img/virtru/icons/fast.webp" alt="" class="icons-news" />
</div>
{% include site/download-row.html docs='
<div class="col">
  <div class="downloadblock">
    <img src="/docs/thumbs/virtru_google.webp" />
    <p>Proteção completa de dados em todo o ecossistema do Google</p>
    <a
      href="https://lps.aiqon.com.br/virtru-gmail"
      target="_blank"
      class="btn btn-small btn-lightblue"
    >
      Baixar PDF
    </a>
    <!-- <button onclick="downloadRequest(2)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
  </div>
</div>
<div class="col">
  <div class="downloadblock">
    <img src="/docs/thumbs/virtru_outlook.webp" />
    <p>Proteção de Dados para Outlook no Microsoft 365</p>
    <a
      href="https://lps.aiqon.com.br/virtru-outlook"
      target="_blank"
      class="btn btn-small btn-lightblue"
    >
      Baixar PDF
    </a>
    <!-- <button onclick="downloadRequest(3)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
  </div>
</div>
<div class="col">
  <div class="downloadblock">
    <img src="/assets/img/virtru/ebook/thumb_guia_data_cloud.webp" />
    <p>Checklist Proteção de Dados</p>
    <a
      href="https://lps.aiqon.com.br/virtru-checklist-protecao-de-dados"
      target="_blank"
      class="btn btn-small btn-lightblue"
    >
      Baixar PDF
    </a>
    <!-- <button onclick="downloadRequest(3)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
  </div>
</div>

'%}

<div
  class="container-fluid -footer py-5"
  style="background-color: #3668ff; border: none"
>
  <div
    class="row mx-auto py-5 -about"
    style="height: auto"
    id="content-form-virtru"
  >
    <div class="col-md d-flex" style="justify-content: flex-end">
      {% include site/form2.html title="Virtru" id="virtru_form" %}
    </div>
    <div class="col-md mt-5">
      <br />
      <p class="text-center form-text-init text-white">
        Solicite uma demonstração
      </p>
      <h3 class="text-center text-white" style="font-size: 50px">
        Veja você mesmo como a criptografia de dados Virtru pode proteger os
        e-mails
      </h3>
      <br />
    </div>
  </div>
</div>

<style>
  .logo-virtru {
    width: 400px;
  }

  .icon-virtru {
    margin: 0 0 2vh 0;
    max-width: 120px;
  }

  .blue-virtru {
    color: #3668ff;
  }

  .desc-virtru {
    padding: 0 50px 0 50px;
    text-align: center;
  }

  .virtru-img {
    max-width: 300px;
  }

  .content-mail-demo {
    padding: 10vh 0 10vh 20vw;
    background-color: #072452;
  }

  .btn-virtru-white {
    background-color: white;
    border-radius: 100px;
    width: 150px;
    height: 50px;
    color: #3668ff;
    padding-top: 1.3vh;
    font-weight: bold;
  }

  .btn-virtru-white:hover {
    background-color: transparent;
    border: solid 2px white;
    color: white;
  }

  .bandle-content {
    margin: 10vh 0.5vw 5vh 0.5vw;
    min-height: 60vh;
    max-width: 35vw;
    border-radius: 5px;
    padding: 2vh 3vw 0 3vw;
    flex-direction: column;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
  }

  .bandle-content:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .icon-small {
    max-width: 150px;
  }

  .btn-virtru-blue {
    background-color: #3668ff;
    border-radius: 100px;
    width: 150px;
    height: 50px;
    color: white;
    padding-top: 1.3vh;
    font-weight: bold;
  }

  .btn-virtru-blue:hover {
    background-color: transparent;
    border: solid 2px #3668ff;
    color: #3668ff;
  }

  .content-google-kit {
    padding: 2vh 3vw 0 3vw;
  }

  .content-google-kit img {
    max-width: 400px;
  }

  .content-microsoft {
    background-color: #3668ff;
    min-height: 50vh;
  }

  .content-padding {
    padding: 2vh 3vw 0 3vw;
  }

  .virtru-compliance {
    background-color: #072452;
    min-height: 63vh;
  }

  .btn-virtru-green {
    background-color: #80cc28;
    border-radius: 100px;
    width: 150px;
    height: 50px;
    color: white;
    padding-top: 1.3vh;
    font-weight: bold;
    border: 2px solid white;
  }

  .btn-virtru-green:hover {
    background-color: transparent;
    border: solid 2px white;
    color: white;
  }

  .icons-news {
    max-width: 300px;
    padding: 50px;
  }

  .img-devices {
    width: 700px;
  }

  .google-workspace {
    padding-left: 15vw;
  }

  .form-text-init {
    margin-top: 20vh;
  }

  .img-microsoft {
    max-width: 300px;
    padding-top: 13vh;
  }

  .img-microsoft-white {
    width: 400px;
    padding-top: 18vh;
  }
  .icon-compliance {
    max-width: 150px;
  }
  @media screen and (max-width: 1024px) {
    .content-microsoft {
      min-height: 50vh;
    }
    .img-microsoft-white {
      width: 400px;
      padding-top: 8vh;
    }
    .bandle-content {
      min-height: 45vh;
    }
    .icon-small {
      vertical-align: middle;
    }
    .virtru-img {
      margin-top: 5vh;
      margin-left: 7vw;
    }
  }

  @media screen and (max-width: 990px) {
    #content-form-virtru {
      flex-direction: column-reverse;
    }

    .content-mail-demo {
      padding: 30px;
    }

    .img-microsoft-white {
      width: 200px;
      padding-top: 7vh;
      margin-bottom: 10vh;
    }

    .img-devices {
      max-width: 300px;
    }

    .img-microsoft {
      max-width: 200px;
      padding-top: 0;
      margin: 5vh 0 20vh 0;
    }

    .virtru-img {
      max-width: 250px;
    }

    .logo-virtru {
      max-width: 250px;
    }

    .row-partner {
      flex-direction: column;
      max-width: 90vw;
    }

    .bandle-content {
      max-width: 90vw;
      -webkit-box-shadow: -1px 0px 11px -1px rgba(0, 0, 0, 0.55);
      -moz-box-shadow: -1px 0px 11px -1px rgba(0, 0, 0, 0.55);
      box-shadow: -1px 0px 11px -1px rgba(0, 0, 0, 0.55);
    }

    .icon-sales-small {
      margin-top: 45px;
    }

    .icon-google-small {
      width: 200px;
    }

    .icon-microsoft-small {
      margin-top: 50px !important;
    }

    .icon-small {
      margin-top: 30px;
      max-width: 100px;
    }

    .google-workspace {
      padding: 0 5vw 0 5vw;
    }

    .form-text-init {
      margin-top: 0;
      color: white;
    }

    .desc-virtru {
      padding: 0;
      text-align: center;
    }
  }
</style>
