<div
  class="container-fluid pb-5 py-5"
  style="background: rgba(128, 128, 128, 0.26)"
>
  <h2 class="text-center text-white">Reconhecimento Internacional</h2>
  <div class="container mt-5 pt-5">
    <div class="row text-center mb-5">
      <div class="col-md mb-5">
        <img
          src="/assets/img/obsidian/crn_obsidian.webp"
          class="img-fluid img-award"
          alt=""
        />
        <h5>2020</h5>
      </div>
      <div class="col-md mb-5">
        <img src="/assets/img/obsidian/ai_100.webp" class="img-fluid" alt="" />
        <h5>2018</h5>
      </div>
      <div class="col-md mb-5">
        <img src="/assets/img/obsidian/rsac.webp" class="img-fluid" alt="" />
        <h5>2020</h5>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md mb-5">
        <img
          src="/assets/img/obsidian/top_100.webp"
          class="img-fluid img-award"
          alt=""
        />
        <h5>2020</h5>
      </div>
      <div class="col-md mb-5">
        <img src="/assets/img/obsidian/cnbc.webp" class="img-fluid" alt="" />
        <h5>2019</h5>
      </div>
    </div>
  </div>
</div>

<style>
  .img-fluid {
    max-width: 200px;

    margin-bottom: 15px;
  }
  .img-award {
    max-width: 100px;
  }
</style>
