<div class="container-fluid -modulosobs py-5">
    <div class="row pb-3">
        <div class="col text-center ">
            {% if page.title == 'Netwrix Auditor' %}
            <h3 class="text-blueobs">Suporte aos principais serviços</h3><br>
            {% else %}
            <h3 class="text-blueobs">Suporte aos principais serviços</h3><br>
            {% endif %}
            <p style="font-size: 20px; color: rgb(87, 87, 87);">A Obsidian criou integrações profundas com os principais
                 serviços de SaaS, IaaS e provedores de identidade para 
                 fornecer proteção abrangente aos aplicativos de negócios 
                 atuais.</p>
        </div>
        <br>
        <br>
    </div>
    
    <div class="row row-datasourceobs">
        <a 
            class="col solution-datasourceobs d-flex align-items-center justify-content-between"style="height: 58px;">
            <img src="/assets/img/obsidian/modules/google.svg" class="align-self-center">
            <p>Google</p>
        </a>
        <a 
        class="col solution-datasourceobs d-flex align-items-center justify-content-between" style="height: 58px;">
        <img src="/assets/img/obsidian/modules/aws.webp" class="align-self-center">
        <p>AWS</p>
    </a>
    <a class="col solution-datasourceobs d-flex align-items-center justify-content-between"style="height: 58px;">
        <img src="/assets/img/obsidian/modules/azure.svg" class="align-self-center">
        <p>Azure</p>
    </a>
    <a class="col solution-datasourceobs d-flex align-items-center justify-content-between"style="height: 58px;">
        <img src="/assets/img/obsidian/modules/office.svg" class="align-self-center">
        <p>Office 365</p>
    </a>
    
    </div>
    <div class="row row-datasourceobs">
        <a class="col solution-datasourceobs d-flex align-items-center justify-content-between"style="height: 58px;">
            <img src="/assets/img/obsidian/modules/salesforce.svg" class="align-self-center">
            <p>SalesForce</p>
        </a>
        <a class="col solution-datasourceobs d-flex align-items-center justify-content-between "style="height: 58px;">
            <img src="/assets/img/obsidian/modules/box.svg" class="align-self-center">
            <p>Box</p>
        </a>

        <a 
        class="col solution-datasourceobs d-flex align-items-center justify-content-between" style="height: 58px;">
        <img src="/assets/img/obsidian/modules/dropbox.svg" class="align-self-center">
        <p> Dropbox</p>
    </a>
    <a 
    class="col solution-datasourceobs d-flex align-items-center justify-content-between" style="height: 58px;">
    <img src="/assets/img/obsidian/modules/github.svg" class="align-self-center">
    <p>Github</p>
    </a>
    </div>
    <div class="row row-datasourceobs">
        <a 
            class="col solution-datasourceobs d-flex align-items-center justify-content-between" style="height: 58px;">
            <img src="/assets/img/obsidian/modules/Okta_logo.svg" class="align-self-center">
            <p>OKTA</p>
        </a>
        <a 
        class="col solution-datasourceobs d-flex align-items-center justify-content-between" style="height: 58px;">
        <img src="/assets/img/obsidian/modules/duo.webp" class="align-self-center">
        <p>Duo</p>
    </a>
    <a 
    class="col solution-datasourceobs d-flex align-items-center justify-content-between" style="height: 58px;">
    <img src="/assets/img/obsidian/modules/slack.webp" class="align-self-center">
    <p>Slack</p>
    </a>
    <a 
    class="col solution-datasourceobs d-flex align-items-center justify-content-between" style="height: 58px;">
    <img src="/assets/img/obsidian/modules/workdays.webp" class="align-self-center">
    <p>Work Days</p>
    </a>
</div>
</div>
