<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-link"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Visibilidade
        </button>
      </h2>
    </div>

    <div
      id="collapseOne"
      class="collapse show"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="container">
          <div class="row py-5">
            <div
              class="col-md-6 col-sm-12 p-10 d-flex align-items-left justify-content-left flex-column"
            >
              <h1 style="width: 100%"><b>Visibilidade</b></h1>
              <br />

              Tenha uma visão consolidada de usuários, dados e aplicativos na
              nuvem pela primeira vez: quem está usando aplicativos SaaS? Eles
              deveriam ter acesso? Eles estão fazendo a coisa certa? Você pode
              monitorar continuamente o que os usuários e as contas de serviço
              estão fazendo e ser alertado sobre ameaças.
              <ul>
                <li>Inventário de acesso e privilégios para cada serviço</li>
                <li>Atividade privilegiada do usuário</li>
                <li>Monitoramento de atividade em aplicativos SaaS</li>
                <li>
                  Modelo de dados normalizado disponível para download via API
                </li>
              </ul>
            </div>
            <div class="col-md-6 col-sm-12 p-3">
              <img
                src="/assets/img/obsidian/visibillity.webp"
                style="max-width: 100%"
                class="mx-auto my-auto"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button
          class="btn btn-link collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Alertas
        </button>
      </h2>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="container">
          <div class="row py-5">
            <div
              class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column"
            >
              <h1 style="width: 100%; font-size: 44px"><b>Alertas</b></h1>
              <br />
              <p>
                Receba alertas sobre violações, comportamentos de risco e
                violações de políticas com base em gatilhos baseados em regras e
                aprendizado de máquina. Descubra indicadores de persistência de
                SaaS, abuso de token OAuth e outras ameaças. Priorize e atue nos
                alertas na plataforma Obsidian ou aproveite a integração com as
                soluções de gerenciamento de serviços e SOAR para padronizar os
                fluxos de trabalho.
              </p>

              <ul>
                <li>
                  Regras internas para alertar sobre comportamentos de risco,
                  violações de políticas e atividades anômalas
                </li>
                <li>
                  Modelos de aprendizado de máquina que sinalizam comportamentos
                  inesperados ou outlier
                </li>
                <li>
                  Alertas priorizados para reduzir a fadiga de alerta para
                  equipes de segurança sobrecarregadas
                </li>
                <li>Integrações com SOAR e gerenciamento de serviços</li>
              </ul>
            </div>
            <div class="col-md-6 col-sm-12 p-3">
              <img
                src="/assets/img/obsidian/alert.webp"
                style="max-width: 100%"
                class="mx-auto my-auto"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button
          class="btn btn-link collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Relatórios
        </button>
      </h2>
    </div>
    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="container">
          <div class="row py-5">
            <div
              class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column"
            >
              <h1 style="width: 100%; font-size: 44px"><b>Relatórios</b></h1>
              <br />
              <p>
                Obtenha relatórios regulares com informações exclusivas sobre o
                uso de aplicativos, ameaças emergentes e comportamento de risco,
                adaptados às diferentes funções da organização. Reunir
                evidências para apoiar os esforços de resposta a incidentes e
                provar a aplicação de políticas de acesso do usuário, como SoD
                (separação de tarefas) para conformidade e governança.
              </p>

              <ul>
                <li>
                  Relatórios e painéis adaptados às necessidades de diferentes
                  funções na organização
                </li>
                <li>Capacidade de exportar dados em vários formatos</li>
              </ul>
              <br />
            </div>
            <div class="col-md-6 col-sm-12 p-3">
              <img
                src="/assets/img/obsidian/report.webp"
                style="max-width: 100%"
                class="mx-auto my-auto"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button
          id="btn"
          class="btn btn-link collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          Ação
        </button>
      </h2>
    </div>
    <div
      id="collapseFour"
      class="collapse"
      aria-labelledby="headingFour"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <div class="container">
          <div class="row py-5">
            <div
              class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column"
            >
              <h1 style="width: 100%; font-size: 44px"><b>Ação</b></h1>
              <br />
              <p>
                Investigue possíveis violações e ameaças internas de forma
                rápida e eficiente com uma visualização em painel único da
                atividade do usuário e da conta. Rastreie o movimento lateral de
                indivíduos rastreando o compartilhamento de contas ou o upload
                de arquivos e o histórico de acesso. Interrompa a exfiltração de
                dados e use incorretamente a conta com a correção automática
                incorporada à plataforma.
              </p>

              <ul>
                <li>
                  Fluxo de tempo de atividade consolidado com contexto rico para
                  investigar violações e ameaças
                </li>
                <li>Ações recomendadas para orientar respostas e melhorias</li>
              </ul>
              <br />
            </div>
            <div class="col-md-6 col-sm-12 p-3">
              <img
                src="/assets/img/obsidian/action.webp"
                style="max-width: 100%"
                class="mx-auto my-auto"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .card-body {
    background-image: linear-gradient(#0f89a2, rgba(255, 255, 255, 0.027));
  }
  #accordionExample {
    background-image: linear-gradient(#0f89a2, rgba(255, 255, 255, 0.027));
    width: 150em;
    margin-bottom: 2mm;
    text-align: left;
  }

  @media only screen and (min-width: 768px) {
    #accordionExample {
      display: none;
    }
  }

  /*Content Animation*/
  @keyframes fadeInScale {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
</style>
