---
layout: default
title: Gerenciamento de Registros
---

<div class="container-fluid"  style="background:linear-gradient(
  90deg,
  rgba(73, 160, 157, 0.9780287114845938) 5%,
  rgba(95, 44, 130, 0.9416141456582633) 66%
);  height: 500px; padding-top: 15vh; color: white;">
<canvas class="background"></canvas>
    <br>
    <br>
    <div class="row">
      <div
        class="col -solution-hero d-flex flex-column justify-content-center align-items-center text-center"
      >
        <!--<img src="/assets/img/obsidian/logo.png" />--> 
        <h1 id="solucao" style="font-size: 40px; ">Gerenciamento de registros (RMS)</h1>
        <p id="text_secudary" style="font-size: 25px; margin-left: 1px;">
            Há mais no software de gerenciamento de registros do que apenas na plataforma
        </p>
        <p> {% include site/modal_form.html  title="Gerenciamento de Registros" id="rms_form "%}</p>
        
      </div>
    </div>
   </div>
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3>Gerencie de maneira correta</h3>
        <p class="text-secondary">
            Esteja você adotando um novo software de 
            gerenciamento de registros ou procurando 
            aprimorar o atual, você está enfrentando 
            alguns desafios comuns. Em particular, 
            você precisa garantir que o seu RMS não 
            armazene informações incorretas e que 
            nenhum registro esteja faltando. 
            Caso contrário, as auditorias de 
            conformidade serão um pesadelo.
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container-fluid">
<div class="row mb-5" >
    <div class="row mw-1200 mx-auto d-flex justify-content-center pt-5">
         <div class="image-block-rms flex-column text-center">
            <img src="/assets/img/rms/cloudData.webp" />
            <h5></h5>
            <p><b>Registros em cloud e local</b>
            </p>
          
                <br>
                <br>
          </div>
          <div class="image-block-rms flex-column text-center">
            <img src="/assets/img/rms/data_classification.webp" />
            <h5></h5>
            <p>
              <b>Classificação dos dados</b>
            </p>
           
                <br>
                <br>
          </div>
          <div class="image-block-rms flex-column text-center">
            <img  src="/assets/img/rms/inative.webp"/>
            <h5></h5>
            <p>
              <b>Dados inativos</b>
            </p>
            
                <br>
                <br>
          </div>
        </div>
      </div>
      </div>
  <div class="container">
    <br>
    <h1 class="text-center mb-3" style="color: #707070;"> <b>Faça o gerenciamento de registros eletrônicos corretamente, em toda a empresa</b></h1>
    <p style="  color: #707070; font-size: 20px; "class="text-center mb-5">
        À medida que sua organização cresce, seus dados também crescem 
        - mas não a equipe que os gerencia.
        Mas exigir que os usuários 
        classifiquem dados e declarem registros manualmente não é uma 
        saída para esse problema. </br>Você será constantemente forçado a 
        lidar com as conseqüências dos usuários apenas escolhendo a 
        primeira opção no menu suspenso e não terá como garantir que 
        os registros sejam arquivados ou eliminados de acordo com as 
        políticas e procedimentos necessários. Você precisa de uma 
        maneira melhor, e estamos aqui para ajudar.
    </p>
  </div>
</div>
</div>
{% include site/rms/tab.html %}
<div class="container-fluid -features" 
style="background-color: #fdfcfc;" 
id="trial_obs">
<br>
<br>
<div class="container" id="trial_obs">
  {% include site/rms/tabs.html %}
</div>
  </div>
  <br>
<br>
<div class="container" id="trial_obs">
  {% include site/rms/tabss.html %}
  
  </div>

<div class="container-fluid -features" 
style="background: linear-gradient(90deg, rgba(73,160,157,0.9780287114845938) 5%, rgba(95,44,130,0.9416141456582633) 66%); height: 500px;" 
id="trial_obs">
    <div class="row">
      <div class="col col-xl-4 col-sm-12 mx-auto py-3">
        <h2 style="color: white; margin-top: 200px;"><b>Veja como você pode gerenciar os seus dados</b> </h2>
      </div>
      <div
        class="col col-xl-8 col-sm-12 d-flex justify-content-center align-items-center flex-column py-3 xs-hide"
      >
        <!-- <img src="/assets/img/netwrix/netwrix-auditor-screen.png" class="screenshot img-fluid">
              <p class="font-small font-weight-light text-secondary font-italic">Interface inicial do Netwrix Auditor</p> -->
              <iframe width="700" height="400" src="https://www.youtube.com/embed/2YB4Ky4izUE" 
              style="margin-left: 200px; margin-top: 30px;"
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen></iframe> 
      </div>
    </div>
  </div>
<br>
<br>
<br>
<div class="container">
    <h2 style="color: #707070; text-align: center;" >Deseja saber mais sobre os registros do seu
    </br> ambiente? </h2>
    <div class="image-block text-lightblue flex-column text-center" >
      <a href="#" class="btn btn-rms my-5" id="next_feature">
        <img src="/assets/img/rms/inventory.png" alt="">
             Domestique seus dados não estruturados com a análise de arquivos
      </a>
    </div>
</div>
<style>
 
  @media only screen and (max-width: 1080px) {
    #trial_obs{
      display: none;
    }
    #trial_obs p{
      display: none;
    } 
    #next_feature{
      width: 240px;
    }
    
  }

  @media only screen and (min-width: 500px) {
  
    #showOnlyMobile{
 display: none;

}
#colapse{
  display: none;

}
#formHidden{
       display:none
    }
  
 /*Content Animation*/
 @keyframes fadeInScale {
   0% {
     transform: scale(0.9);
     opacity: 0;
   }
   
   100% {
     transform: scale(1);
     opacity: 1;
   }
 }
}
 

</style>
      