---
layout: default
title: Netwrix GroupID
---

<div class="container-fluid group-id-background">
  <div class="row justify-content-between">
    <div class="col-md-6">
      <h1 class="title-netwrix-solution">NETWRIX USERCUBE</h1>
      <h2>
        SIMPLIFIQUE E PROTEJA O ACTIVE DIRECTORY, AZURE AD E MS365 POR MEIO DO
        GERENCIAMENTO AUTOMATIZADO DE GRUPOS
      </h2>
      <a href="#trial-groupid" class="btn btn-change-tracker"
        >Solicitar Demonstração</a
      >
    </div>
    <div class="col-md">
      <img
        class="img-home-change img-fluid"
        src="/assets/img/groupid/home-groupid.png"
        alt="cloud-security"
      />
    </div>
  </div>
</div>
<div class="container text-center py-5">
  <h2 class="title-secondary-netwrix py-5">
    O Netwrix GroupID simplifica o gerenciamento de identidade e acesso,
    fornecendo recursos automatizados de gerenciamento de grupos, usuários e
    direitos.
  </h2>
  <p class="text-description-netwrix py-4">
    Os grupos do Active Directory e do Azure AD são a base para o gerenciamento
    de segurança e identidade das organizações, pois são usados ​​para controlar
    o acesso a recursos corporativos e dados confidenciais. Manter os membros do
    grupo atualizados manualmente, enquanto os funcionários entram e saem,
    representa um desafio para os departamentos de TI e uma ameaça à segurança
    dos dados — grupos vagamente controlados tornam-se um alvo fácil para
    criminosos cibernéticos.
    <br />
    Com o software de gerenciamento de grupos e usuários da Netwrix, Você pode
    eliminar o desperdício de tempo com o gerenciamento de tarefas manuais do
    Active Directory e Azure AD.
  </p>
</div>

{% include site/groupid/tabs.html %}

<div class="container-fluid container-feature-netwrix-products">
  <h2 class="title-secondary-netwrix text-center mb-5"></h2>
  <div class="row mt-5 py-5">
    <div class="col-md-4">
      <img
        src="/assets/img/groupid/circuit.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Definir a propriedade do grupo no Active Directory e no Azure AD
      </h5>
      <p class="desc-features-netwrix-products">
        Implemente verificações rigorosas para garantir que cada grupo tenha um
        proprietário. O Netwrix também suporta proprietários adicionais e
        proprietários temporários prontos para uso. Esses proprietários também
        devem atestar periodicamente a associação e os atributos do grupo no
        Active Directory e no Azure AD para justificar sua existência.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/groupid/circle.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Sincronizar sistemas de RH e AD
      </h5>
      <p class="desc-features-netwrix-products">
        Automatize uma sincronização bidirecional de dados de sistemas de RH,
        incluindo SQL e Oracle, para AD em minutos, atualizando assim os
        atributos do usuário; em seguida, atualize automaticamente a associação
        ao grupo com base nos atributos atualizados.
      </p>
    </div>
    <div class="col-md-4">
      <img src="/assets/img/groupid/acess.svg" class="icon-img-change" alt="" />
      <h5 class="title-features-netwrix-products">
        Fácil Onboarding e Offboarding
      </h5>
      <p class="desc-features-netwrix-products">
        Elimine tarefas demoradas e torne os novos funcionários produtivos
        rapidamente com provisionamento ou desprovisionamento atualizado de
        contas de funcionários de sua rede.
      </p>
    </div>
    <div class="col-md-4">
      <img src="/assets/img/groupid/arow.svg" class="icon-img-change" alt="" />
      <h5 class="title-features-netwrix-products">
        Fluxos de trabalho que funcionam
      </h5>
      <p class="desc-features-netwrix-products">
        Utilize fluxos de trabalho integrados e personalizados como uma rota
        para verificar e aprovar solicitações de acesso antes que sejam
        confirmadas no diretório.
      </p>
    </div>
    <div class="col-md-4">
      <img src="/assets/img/groupid/flux.svg" class="icon-img-change" alt="" />
      <h5 class="title-features-netwrix-products">
        Solução completa do ciclo de vida do grupo
      </h5>
      <p class="desc-features-netwrix-products">
        Um grande problema de delegar a criação de grupos aos usuários é a
        proliferação de grupos desnecessários ou expirados, algo que chamamos de
        superabundância de grupos. O ciclo de vida do grupo com Netwrix fornece
        controle sobre a criação, uso, expiração e exclusão de grupos, tapando
        uma brecha de segurança que agentes mal-intencionados usam com
        frequência.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/groupid/check-list.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">Atestado de acesso</h5>
      <p id="trial-groupid" class="desc-features-netwrix-products">
        Direitos desatualizados representam um risco de segurança em qualquer
        organização. O GroupID da Netwrix oferece recursos como Validação de
        perfil para usuários que obriga cada funcionário a validar seus detalhes
        de identidade no diretório. As contas desatualizadas são excluídas,
        mantendo intacta a integridade do diretório.
      </p>
    </div>
  </div>
</div>

{% include site/trial.html title="Solicite uma demonstração" id="group-id_form"
%}

<style>
  html {
    scroll-behavior: smooth;
  }
  .group-id-background {
    background-color: #251144;
    padding: 20vh 0 15vh 15vw;
  }
  .group-id-background h2 {
    font-size: 3.5em;
    color: white;
    font-weight: bold;
    margin-bottom: 10vh;
  }
  .title-netwrix-solution {
    font-size: 15px;
    color: white;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 2vh;
  }
  .icon-img-change {
    max-width: 4vw;
  }
  .img-home-change {
    margin-right: -5vw;
  }
  .btn-change-tracker {
    
    background-color: red;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    font-weight: 500;
  }
  .btn-change-tracker:hover {
    background-color: #0778f4;
    color: white;
    transition: 0.5s;
  }

  .title-secondary-netwrix {
    font-size: 2.5em;
  }
  .text-description-netwrix {
    color: gray;
    font-size: 1.1em;
  }
  .title-features-netwrix-products {
    font-size: 1em;
    letter-spacing: 1px;
  }
  .container-feature-netwrix-products {
    padding: 10vh 15vw;
  }

  .desc-features-netwrix-products {
    max-width: 18vw;
  }
  .icon-img-change {
    margin-bottom: 40px;
  }
  .img-customers-change {
    max-width: 8vw;
  }
  .small-title-customers {
    font-size: 13px;
    color: #0778f4;
    font-weight: 500;
    margin-bottom: 3vh;
  }
  .change-customers {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
  }
  .desc-change-customers {
  }

  @media only screen and (max-width: 990px) {
    .change-tracker-background {
      height: 100vh;
    }
    .change-tracker-background h2 {
      font-size: 2em;
      margin-bottom: 5vh;
    }
    .change-tracker-background {
      padding: 15vh 0 5vh 2vw;
    }
    .btn-change-tracker {
      width: 50vw;
      height: 5vh;
      font-size: 14px;
      padding: 9px;
    }
    .img-home-change {
      margin-top: 10vh;
    }
    .icon-img-change {
      max-width: 20vw;
    }
    .desc-features-netwrix-products {
      max-width: 80vw;
      margin-bottom: 10vh;
    }
    .title-secondary-netwrix {
      font-size: 2em;
    }
    .img-customers-change {
      max-width: 30vw;
    }
    .small-title-customers {
      margin-bottom: 1vh;
    }
  }
</style>
