---
layout: default
title: Obsidian Security
---

<div class="container-fluid" style="background: linear-gradient(to right, #0c173b, #5fb1f3); height: 700px; padding-top: 18vh; color: white;">
  <canvas class="background"></canvas>
    <br>
    <br>
   
    <div class="row">
      <div
        class="col -solution-hero d-flex flex-column justify-content-center align-items-center text-center"
      >
        <!--<img src="/assets/img/obsidian/logo.webp" />--> 
        <h1 style="font-size: 90px; ">Obsidian Security</h1>
        <p  style="font-size: 30px; margin-left: 1px;">
          Detecção e Resposta em Cloud (CDR)
        </p>
        <br>
        <p> {% include site/modal_form.html  title="Obsidian Security" id="obsidian_form "%}</p>
        
      </div>
    </div>
   </div>
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3>Segurança sem dificuldades para SaaS</h3>
        <p class="text-secondary">
          Detecte ameaças, corrija 
          violações e reforce a 
          segurança nos aplicativos 
          SaaS rapidamente, com monitoramento 
          e análise contínuos sem diminuir 
          a velocidade dos negócios..
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
<div class="row py-5 row-reverse">
    <div
      class="col-md-6 col-sm-12 p-2 d-flex align-items-center justify-content-center flex-column"
    >
      <h1 style="width: 100%; font-size: 40px;"><b>Do SaaS para o SaaS seguro</b></h1>
      <p>
        As empresas estão mudando seus principais sistemas 
        de negócios para SaaS. As equipes de segurança 
        não têm a visibilidade unificada necessária 
        para detectar e responder a ameaças rapidamente. 
        Perguntas básicas acabam ficando sem respostas, 
        como: quem pode acessar os aplicativos SaaS? 
        Quais são os usuários privilegiados? 
        Quais contas estão comprometidas? 
        Quem está compartilhando arquivos 
        externamente? Os aplicativos são configurados 
        de acordo com as melhores práticas? 75% da 
        nuvem é SaaS. É hora de aumentar a segurança do SaaS.
      </p>
    </div>
    <div class="col-md-6 col-sm-12 p-3">
      <img
        src="/assets/img/obsidian/banner-home.webp"
        style="max-width: 100%;"
        class="mx-auto my-auto"
      />
    </div>
  </div>
</div>
<div  style="background-image: linear-gradient(#388FC4,#C1DDF4, #CFDEF3);"class="container-fluid">
<div class="row mb-5">
  <div class="container">
    <br>
    <h1 class="text-center mb-3"> <b>Detecção e Resposta em Cloud (CDR)</b></h1>
    <p style="  color: black; font-size: 23px; "class="text-center mb-5">
      Obsidian é a primeira solução de detecção e resposta em nuvem. O Obsidian 
      é a única plataforma que oferece visibilidade unificada de usuários, 
      privilégios e atividades no SaaS, permitindo detectar e investigar 
      violações, descobrir ameaças internas e proteger aplicativos SaaS sem 
      afetar a produtividade.
    </p>
  </div>
</div>
  
<div class="row mw-1200 mx-auto d-flex justify-content-center pt-5">
  
    
  <div class="col text-center">
    
    <img
      style="max-width:150px;"
      src="/assets/img/obsidian/account.webp"
      alt="Análise de performance"
    />
    <p class="py-3 p-160 mx-auto text-teal">
      Proteção de contas
    </p>
  </div>
  <div class="col text-center">
    
    <img
      style="max-width:150px;"
      src="/assets/img/obsidian/colaborate.webp"
      alt="Análise de performance"
    />
    <p class="py-3 p-160 mx-auto text-teal">
      Colaboração segura
    </p>
  </div>
  <div class="col text-center">
    
    <img
      style="max-width:150px;"
      src="/assets/img/obsidian/discovery.webp"
      alt="Análise de custo."
    />
    <p class="py-3 p-160 mx-auto text-teal">
      Descoberta e combate a ameaças
    </p>
  </div>
  <div class="col text-center">
    
    <img
      style="max-width:150px;"
      src="/assets/img/obsidian/detection.webp"
      alt="Dados de suprimentos."/>
    <p class="py-3 p-160 mx-auto text-teal">
      Detecção de ameaça a internas
    </p>
  </div>
  <div class="col text-center">
    
    <img
      style="max-width:150px;"
      src="/assets/img/obsidian/incidents.webp"
      alt="Níveis de materiais."/>

    <p class="py-3 p-160 mx-auto text-teal">
      Resposta a incidentes
    </p>
  </div>
</div>
{% include site/obsidian/modulos.html %}
</div>

<div class="container-fluid -solution-highlight -obs" style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 p-4 d-flex">
        <img
          src="/assets/img/obsidian/account.webp"
          style="max-width: 50%;"
          class="mx-auto my-auto"/>
      </div>
      <div
        class="col-lg-6 col-md-12 p-2 d-flex align-items-center justify-content-center flex-column"
      >
        <h1 style="width: 100%;">Proteja as contas de usuários na nuvem</h1>
        <p>
          Proteja as contas de usuário e serviço contra aquisição e uso 
          indevido. Mantenha seus ativos em nuvem seguros sem degradar a 
          experiência de usuários legítimos.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid -solution-highlight -obs" style="background-color: #f6f6f6;">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 col-md-12 p-2 d-flex align-items-center justify-content-center flex-column"
      >
        <h1 style="width: 100%;">Ativar colaboração segura</h1>
        <p>
          Descubra compartilhamento de arquivos com excesso de permissões, 
          encaminhamento de email, aplicativos de terceiros com amplos 
          privilégios e muito mais. Liberte o poder da colaboração enquanto 
          protege os ativos do negócios.
        </p>
      </div>
      <div class="col-lg-6 col-md-12 p-4 d-flex">
        <img
          src="/assets/img/obsidian/colaborate.webp"
          style="max-width: 50%;"
          class="mx-auto my-auto"
        />
      </div>
      
    </div>
  </div>
</div>

<div class="container-fluid -solution-highlight -obs" style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 p-4 d-flex">
        <img
          src="/assets/img/obsidian/discovery.webp"
          style="max-width: 50%;"
          class="mx-auto my-auto"
        />
      </div>
      <div
        class="col-lg-6 col-md-12 p-2 d-flex align-items-center justify-content-center flex-column"
      >
        <h1 style="width: 100%;">Descobrir e combater ameaças</h1>
        <p>
          Descubra rapidamente indicadores de logons incomuns, 
          persistência de SaaS, exfiltração de dados, movimento 
          lateral, abuso de token OAuth e outras ameaças com 
          visibilidade e análise unificadas.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid -solution-highlight -obs" style="background-color: #f6f6f6;">
  <div class="container">
    <div class="row">
      <div
      class="col-lg-6 col-md-12 p-2 d-flex align-items-center justify-content-center flex-column"
    >
      <h1 style="width: 100%;">Detectar ameaças internas</h1>
      <p>
        Descubra a exposição de dados, elevação de privilégios, 
        contas de backdoor, compartilhamento inadequado e outros 
        sinais de ameaças internas intencionais e acidentais e 
        acesso indevido.
      </p>
    </div>
      <div class="col-lg-6 col-md-12 p-4 d-flex">
        <img
          src="/assets/img/obsidian/detection.webp"
          style="max-width: 50%;"
          class="mx-auto my-auto"
        />
      </div>
   </div>
  </div>
</div>

<div class="container-fluid -solution-highlight -obs" style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 p-4 d-flex">
        <img
          src="/assets/img/obsidian/incidents.webp"
          style="max-width: 50%; "
          class="mx-auto my-auto"
        />
       
      </div>
      <br>
      <br>
      <br>
      <br>
      <div 
        class="col-lg-6 col-md-12 p-2 d-flex align-items-center justify-content-center flex-column"
      >
        <h1 style="width: 100%; ">Investigue e responda a incidentes</h1>
        <p>
          Investigue rapidamente incidentes, identifique a causa 
          raiz e avalie o impacto com uma visão consolidada e 
          enriquecida de usuários, privilégios e atividades 
          nos aplicativos SaaS.
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<h1 style="text-align: center; color: teal;"> <b>Recursos da plataforma </b></h1>
    <div class="container" >
        <div class="row py-5">
          {% include site/obsidian/tabs.html %}
          {% include site/obsidian/tabs_responsive.html %}    
        </div>
    </div>

    {% include site/obsidian/award.html %}
    {% include site/download-row.html docs='
<div class="col">
  <div class="downloadblock">
    <img src="/assets/img/recursos/obsidian/e_book_obsidian.png" />
    <p>Obsidian Security - Cloud Detection and Response [OVERVIEW]</p>
    <a
      href="http://aiqon.rds.land/e-book-obsidian-security-overview"
      target="_blank"
      class="btn btn-small btn-lightblue"
    >
      Baixar PDF
    </a>
    <!-- <button onclick="downloadRequest(2)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
  </div>
</div>
<div class="col">
  <div class="downloadblock">
    <img src="/assets/img/recursos/obsidian/e_book_homeoffice.png" />
    <p>Obsidian Security - Segurança Essencial do SaaS para o Trabalho Remoto</p>
    <a
      href="https://lps.aiqon.com.br/obsidian-segurnca-essencial-do-saas-para-o-trabalho-remoto"
      target="_blank"
      class="btn btn-small btn-lightblue"
    >
      Baixar PDF
    </a>
    <!-- <button onclick="downloadRequest(2)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
  </div>
</div>
<div class="col">
  <div class="downloadblock">
    <img src="/assets/img/recursos/obsidian/tumb/the_brief.webp" />
    <p>Obsidian Security - <br/> The Brief</p>
    <a
      href="http://aiqon.rds.land/obsidian-para-deteccao-de-ameacas-na-nuvem"
      target="_blank"
      class="btn btn-small btn-lightblue"
    >
      Baixar PDF
    </a>
    <!-- <button onclick="downloadRequest(2)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
  </div>
</div>


'%}
    
<div class="container-fluid -solution-highlight" style="background: linear-gradient(#0485ad, #0987a8);"id="trial_obs">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12 p-4 d-flex">
              <img
                src="/assets/img/obsidian/trial.webp"
                style="max-width: 80%;"
                class="mx-auto my-auto"
              />
            </div>
            <div
              class="col-lg-6 col-md-12 p-2 d-flex align-items-center justify-content-center flex-column"
            >
              <h1 style="width: 100%; color: white;">Faça o teste gratuito</h1>
              <h4 style="width: 100%; color: white;">Tenha duas semanas para ficar a frente do Obsidian no seu ambiente.</h4>
               <ul>
                 <li style="color: white;">Teste quantos serviços em cloud você desejar durante a avaliação</li>
                 <li style="color: white;">Número ilimitado de usuários monitorados</li>
                 <li style="color: white;">Todo o suporte da nossa equipe</li>
                 <br>
                     <a>
                   <p><p> {% include site/modal_form.html  title="Obsidian Security" id="obsidian_form "%}</p></p></a>
               </ul>
            </div>
          </div>
        </div>
</div>
  
{% include site/js/collapsible.html %}
  
<style>
  @media only screen and (max-width: 768px) {
    #trial_obs{
      display: none;
    }
    #trial_obs p{
      display: none;
    }
  }

  @media only screen and (min-width: 500px) {
    #showOnlyMobile{
 display: none;

}
#colapse{
  display: none;

}
#formHidden{
       display:none
    }
  
 /*Content Animation*/
 @keyframes fadeInScale {
   0% {
     transform: scale(0.9);
     opacity: 0;
   }
   
   100% {
     transform: scale(1);
     opacity: 1;
   }
 }
}
 

</style>
      