---
layout: default
title: StealthDefend®
---

<div
  class="container-fluid"
  style="
    background: linear-gradient(90deg, #0f2027 19%, #2c5364 100%);
    height: 600px;
    padding-top: 14vh;
    color: white;
    height: 700px;
    padding-top: 14vh;
    color: white;
  "
>
  <canvas class="background"></canvas>
  <br />
  <br />
  <div class="row">
    <div
      class="col -solution-hero d-flex flex-column justify-content-center align-items-center text-center text-white background"
    >
      <img
        src="/assets/img/stealth_bits/defend/logo.svg"
        style="width: 200px"
      />
      <h1>StealthDEFEND®</h1>
      <p>Detecção e resposta a ameaças em tempo real</p>
      <a
        href="https://lps.aiqon.com.br/netwrix_data_classification_trial"
        class="btn btn-trial my-4"
        >Inicie um teste</a
      >
    </div>
  </div>
</div>
<br />
<br />
<div class="container-fluid mb-5">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3>Informações instantâneas sobre atividades suspeitas</h3>
        <p class="text-secondary">
          Proteção ao AD e File Server respondendo automaticamente os ataques
          sofisticados nos seus estágios iniciais.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5 mb-5 text-center">
  <h2 class="text-teal">Por que StealthDEFEND?</h2>
  <div class="row text-center mt-5">
    <div class="col-md-4">
      <h5>80%</h5>
      <img
        src="/assets/img/stealth_bits/defend/icons/80.webp"
        class="img-fluid mb-3"
        alt="icon_80_porcento"
      />
      <p>
        Ataques baseados em autenticação fatorados em 4 de cada 5 violações
        envolvendo hacking.
      </p>
    </div>
    <div class="col-md-4">
      <h5>197 Dias</h5>
      <img
        src="/assets/img/stealth_bits/defend/icons/days.webp"
        class="img-fluid mb-3"
        alt="197 dias"
      />
      <p>O tempo médio para identificar (MTTI) um ataque é de 197 dias.</p>
    </div>
    <div class="col-md-4">
      <h5>$1.000,000</h5>
      <img
        src="/assets/img/stealth_bits/defend/icons/cash.webp"
        class="img-fluid mb-3"
        alt="um milhão de dolares"
      />
      <p>
        As empresas que contiveram uma violação em menos de 30 dias economizaram
        mais de US $ 1 milhão.
      </p>
    </div>
  </div>
</div>
<div class="container text-center mb-5">
  <p>Todo invasor está atrás de duas coisas; <b>credenciais e dados.</b></p>
  <p>
    Uma vez lá dentro, os invasores visam descobrir seu ambiente, encontrar e
    comprometer credenciais privilegiadas e aproveitar essas credenciais para
    acessar, exfiltrar ou destruir dados.
  </p>
  <p class="mb-5">
    StealthDEFEND é a
    <b>única solução de detecção e resposta de ameaças em tempo real</b> criada
    com o propósito de proteger esses dois denominadores comuns em cada cenário
    de violação.
  </p>
  <div class="row text-center mt-5">
    <div class="col-md-6 mb-5">
      <img
        src="/assets/img/stealth_bits/defend/icons/active_directory.webp"
        alt="active_directory"
        class="icon-modules"
      />
      <p>
        para<br />
        <b>Active Direcotry</b>
      </p>
      <a class="btn btn-stealth-d" href="/stealthdefend/ad">Saiba mais</a>
    </div>
    <div class="col-md-6 mb-5">
      <img
        src="/assets/img/stealth_bits/defend/icons/file_server.gif"
        alt="File Server"
        class="icon-modules"
      />
      <p>
        para<br />
        <b>Sistemas de Arquivos</b>
      </p>
      <a class="btn btn-stealth-d" href="/stealthdefend/file-server"
        >Saiba mais</a
      >
    </div>
  </div>
</div>
<div class="container-fluid content-stealth_partner">
  <div class="row">
    <div class="col-md-5 partner_description">
      <h3 class="text-teal">Integre com os ambientes que você já conhece</h3>
      <p>
        Na Stealthbits, temos orgulho da interoperabilidade. Queremos nos
        integrar com os outros investimentos em tecnologia que você fez, e é por
        isso que mantemos parcerias de tecnologia certificadas com muitos dos
        principais fornecedores do setor e uma arquitetura aberta que permite a
        integração com praticamente qualquer coisa que você desejar.
      </p>
    </div>
    <div class="col-md">
      <img
        src="/assets/img/stealth_bits/defend/stealthbits_partner.gif"
        class="img-fluid"
        alt="Parceiros StealthBits"
      />
    </div>
  </div>
</div>

<div class="container-fluid gray-half text-center">
  <h2 class="mb-5 text-teal">Principais Funcionalidades</h2>
  <img
    src="/assets/img/stealth_bits/defend/key_features.webp"
    class="img-fluid img-keys"
    alt="Principais caracteristicas"
  />
</div>

<div class="container-fluid bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-5">
        <div class="row">
          <div class="col-sm-2">
            <img
              src="/assets/img/stealth_bits/defend/icons/detect.webp"
              class="defend-features"
              alt="detecao"
            />
          </div>
          <div class="col-sm">
            <h5>Detecção de Ataque Avançada em Tempo Real</h5>
            <p>
              Detecte e responda às táticas, técnicas e procedimentos
              específicos (TTPs) que os invasores estão aproveitando ao tentar
              comprometer os dados do Active Directory e do sistema de arquivos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-5">
        <div class="row">
          <div class="col-sm-2">
            <img
              src="/assets/img/stealth_bits/defend/icons/ad_risk.webp"
              class="defend-features"
              alt="risco"
            />
          </div>
          <div class="col-sm">
            <h5>Autoajuste para comportamentos de risco</h5>
            <p>
              A marcação automática de usuários, grupos, dados e recursos
              privilegiados ajusta adequadamente as classificações de risco
              associadas a comportamentos anormais ou nefastos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-5">
        <div class="row">
          <div class="col-sm-2">
            <img
              src="/assets/img/stealth_bits/defend/icons/manual.webp"
              class="defend-features"
              alt="manual"
            />
          </div>
          <div class="col-sm">
            <h5>Manuais de resposta</h5>
            <p>
              O StealthDEFEND fornece opções de resposta automatizada quando as
              ameaças são identificadas e pode acionar respostas de
              acompanhamento com base no sucesso ou fracasso inicial do manual
              de instruções. O StealthDEFEND também pode ser configurado para se
              integrar com seus próprios processos de negócios e fornecer dados
              de ameaças para onde suas equipes de segurança precisam:
              <b>ServiceNow, Slack, Microsoft Teams</b> e uma ampla variedade de
              plataformas <b>SIEM.</b>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-5">
        <div class="row">
          <div class="col-sm-2">
            <img
              src="/assets/img/stealth_bits/defend/icons/search.webp"
              class="defend-features"
              alt="busca"
            />
          </div>
          <div class="col-sm">
            <h5>Investigações Abrangentes</h5>
            <p>
              Frequentemente, um ataque é uma coleção de atividades relacionadas
              que contam uma história mais ampla. StealthDEFEND reúne todos os
              eventos relacionados para simplificar as investigações e a
              compilação de arquivos de casos digitais.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-5">
        <div class="row">
          <div class="col-sm-2">
            <img
              src="/assets/img/stealth_bits/defend/icons/brain.webp"
              class="defend-features"
              alt="aprendizagem"
            />
          </div>
          <div class="col-sm">
            <h5>
              Aprendizado de máquina e análise de comportamento do usuário (UBA)
            </h5>
            <p>
              O StealthDEFEND foi criado para detectar e responder tanto a
              técnicas de ataque específicas quanto a comportamentos geralmente
              anormais ou suspeitos de indivíduos específicos. Podemos analisar
              uma grande quantidade de eventos e elevar comportamentos incomuns
              ou suspeitos para serem revisados ​​imediatamente.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-5">
        <div class="row">
          <div class="col-sm-2">
            <img
              src="/assets/img/stealth_bits/defend/icons/danger_user.webp"
              class="defend-features"
              alt="usuarios malicioso"
            />
          </div>
          <div class="col-sm">
            <h5>Ameaças definidas pelo usuário</h5>
            <p>
              Defina as ameaças e seus parâmetros de acordo com as necessidades
              e requisitos específicos de sua organização. Reduza falsos
              positivos com regras revisadas, lógica e critérios dedicados a
              lidar com exclusões com facilidade.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-5">
        <div class="row">
          <div class="col-sm-2">
            <img
              src="/assets/img/stealth_bits/defend/icons/apps.webp"
              class="defend-features"
              alt="apps"
            />
          </div>
          <div class="col-sm">
            <h5>Ferramentas de engano</h5>
            <p>
              Atraia proativamente os invasores para que tomem uma atitude
              errada com os recursos integrados de implantação, gerenciamento e
              detecção do Honey Token, que são fáceis de administrar e simples
              de implantar.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-5">
        <div class="row">
          <div class="col-sm-2">
            <img
              src="/assets/img/stealth_bits/defend/icons/console.webp"
              class="defend-features"
              alt="console"
            />
          </div>
          <div class="col-sm">
            <h5>Segurança do console</h5>
            <p>
              Aproveite qualquer solução MFA de senha única (OTP) de terceiros
              com suporte para RADIUS para acesso ao console e atividades de
              configuração.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid gartner-content text-center text-white">
  <img
    src="/assets/img/stealth_bits/defend/g2.webp"
    class="mt-5"
    alt="g2_logo"
  />
  <div class="transparent-bg">
    <h4 style="padding-top: 6vh">“Insights I didn’t even know I needed”</h4>
    <p>(Detalhes que eu nem sabia que precisava)</p>
    <img
      src="/assets/img/stealth_bits/defend/start.webp"
      class="mb-3"
      alt="Estrelas de avaliação"
    />
    <p>5 de 5</p>
    <a
      class="btn btn-gartner"
      target="_blank"
      href="https://www.gartner.com/reviews/market/file-analysis-software/vendor/stealthbits/product/stealthaudit-management-platform/review/view/693098"
      >Análise Completa</a
    >
  </div>
</div>
<div class="container-fluid content-black">
  <div class="container text-center text-white">
    <h3>
      Veja a mais avançada plataforma de detecção e resposta a ameaças do
      mercado para ataques de Active Directory e File System em ação.
    </h3>
    <a class="btn btn-purple mt-4" href="#form">Solicitar demo</a>
  </div>
</div>

<div class="container text-center mt-5">
  <h2>Interoperabilidade incluída</h2>
  <p>
    StealthDEFEND fornece opções de resposta programáticas e automatizadas
    quando ameaças são identificadas. Além de um extenso catálogo de ações de
    resposta pré-configuradas, StealthDEFEND pode ser configurado para se
    integrar com seus próprios processos de negócios usando PowerShell integrado
    ou recursos de webhook.
  </p>
  <br />
  <p>
    O StealthDEFEND também pode fornecer dados de ameaças aos administradores em
    seus aplicativos preferidos, incluindo Microsoft Teams, Slack, ServiceNow e
    uma ampla variedade de plataformas SIEM.
  </p>
</div>
<div class="container mt-4">
  <div class="row justify-content-center text-center">
    <div class="row mb-3">
      <div class="col-md-4">
        <img
          src="/assets/img/stealth_bits/partner/ibm.webp"
          class="img-partner"
          alt=""
        />
      </div>
      <div class="col-md-4">
        <img
          src="/assets/img/stealth_bits/partner/splunk.webp"
          class="img-partner"
          alt=""
        />
      </div>
      <div class="col-md-4">
        <img
          src="/assets/img/stealth_bits/partner/logrhythm.webp"
          class="img-partner"
          alt=""
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <img
          src="/assets/img/stealth_bits/partner/micro-focus.webp"
          class="img-partner"
          alt=""
        />
      </div>
      <div class="col-md-3">
        <img
          src="/assets/img/stealth_bits/partner/rsa-tech.webp"
          class="img-partner"
          alt=""
        />
      </div>
      <div class="col-md-3">
        <img
          src="/assets/img/stealth_bits/partner/alienvault.webp"
          class="img-partner"
          alt=""
        />
      </div>
      <div class="col-md-3">
        <img
          src="/assets/img/stealth_bits/partner/intel-security.webp"
          class="img-partner"
          alt=""
        />
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-4">
        <img
          src="/assets/img/stealth_bits/partner/service-now.webp"
          class="img-partner"
          alt=""
        />
      </div>
      <div class="col-md-4">
        <img
          src="/assets/img/stealth_bits/partner/slack.webp"
          class="img-partner"
          alt=""
        />
      </div>
      <div class="col-md-4">
        <img
          src="/assets/img/stealth_bits/partner/microsoft-teams.webp"
          class="img-partner"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
{% include site/download-row.html docs='
<div class="col">
  <div class="downloadblock">
    <img src="/docs/thumbs/defend_ad.webp" />
    <p>
      DEFEND® para <br />
      Active Directory
    </p>
    <a
      href="https://lps.aiqon.com.br/stealthbits-stealthdefend-para-ad"
      target="_blank"
      class="btn btn-small btn-lightblue"
    >
      Baixar PDF
    </a>
    <!-- <button onclick="downloadRequest(2)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
  </div>
</div>
<div class="col">
  <div class="downloadblock">
    <img src="/docs/thumbs/datashet_defend.png" />
    <p>Ficha técnica do Netwrix StealthDefend®</p>
    <a
      href="https://lps.aiqon.com.br/stealthdefend-datasheet"
      target="_blank"
      class="btn btn-small btn-lightblue"
    >
      Baixar PDF
    </a>
    <!-- <button onclick="downloadRequest(2)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
  </div>
</div>
<div class="col">
  <div class="downloadblock">
    <img src="/docs/thumbs/defent_file_server.webp" />
    <p>
      DEFEND® para <br />
      File Server
    </p>
    <a
      href="https://lps.aiqon.com.br/stealthbits-stealthdefend-para-fs"
      target="_blank"
      class="btn btn-small btn-lightblue"
    >
      Baixar PDF
    </a>
    <!-- <button onclick="downloadRequest(2)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
  </div>
</div>

'%}
<p id="form"></p>
{% include site/trial.html title="Solicite uma demonstração" id="form_stealth_D"
%}

<style>
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: white;
  }
  .icon-modules {
    max-width: 100px;
  }
  .content-stealth_partner {
    padding: 0 12vw 0 12vw;
  }
  .partner_description {
    padding-top: 10vh;
  }
  .btn-stealth-d {
    background: transparent;
    border: 2px solid rgb(179, 18, 152);
    border-radius: 50px;
    font-weight: bolder;
    color: rgb(179, 18, 152);
  }
  .btn-stealth-d:hover {
    -webkit-box-shadow: 3px 7px 47px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 7px 47px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 7px 47px -15px rgba(0, 0, 0, 0.75);
    transition: 5ms;
  }
  .gray-half {
    background: linear-gradient(
      0deg,
      rgba(235, 235, 235, 1) 50%,
      rgba(83, 248, 192, 0) 50%
    );
    padding-top: 10vh;
  }
  .bg-gray {
    background-color: #ebebeb;
    padding-top: 7vh;
  }
  .gartner-content {
    background: url("/assets/img/stealth_bits/defend/gartner_bg.webp");
    background-size: cover;
    height: 55vh;
    padding: 0;
  }
  .transparent-bg {
    background: url("/assets/img/stealth_bits/defend/transparent_bg.png")
      no-repeat;
    padding: 0;
    height: 45vh;
    background-position: 0px 30px !important;
    background-size: 80%;
    z-index: -1;
  }
  .btn-gartner {
    border: 2px solid white;
    text-transform: uppercase;
    font-weight: bolder;
    background: transparent;
    color: white;
    border-radius: 60px;
    font-size: 12px;
  }
  .btn-gartner:hover {
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
  }
  .content-black {
    background-color: #212121;
    height: 30vh;
    padding-top: 8vh;
  }
  .btn-purple {
    text-transform: uppercase;
    font-weight: bolder;
    background: rgb(179, 18, 152);
    color: white;
    border-radius: 60px;
    font-size: 12px;
  }
  .btn-purple:hover {
    background-color: transparent;
    border-color: white;
    color: white;
  }
  .img-keys {
    max-width: 1150px;
  }
  @media screen and (max-width: 1024px) {
    .img-keys {
      max-width: 500px;
    }
    .img-partner {
      max-width: 150px;
    }
    .transparent-bg {
      background: transparent;
    }
    .gartner-content {
      max-height: 40vh;
    }
  }

  @media screen and (max-width: 990px) {
    .content-stealth_partner {
      padding: 0 5vw 0 5vw;
    }
    .partner_description {
      padding-top: 0;
    }
    .img-keys {
      max-width: 350px;
      margin-top: -30px;
    }
    .transparent-bg {
      background: transparent;
    }
    .gartner-content {
      min-height: 65vh;
    }
    .content-black {
      min-height: 47vh;
    }
  }
</style>
