<style>
  .img-feature-cms {
    max-width: 300px;
  }
  @media (max-width: 800px) {
    .img-feature-cms {
      max-width: 160px;
    }
  }
</style>
<div class="container -features -cms">
  <div class="row py-5">
    <div
      class="col-lg-6 col-sm-12 d-flex justify-content-center align-items-center"
    >
      <img
        src="/assets/img/cms/cms-software.png"
        class="img-fluid img-feature-cms mx-auto p-3"
      />
    </div>
    <div class="col-lg-6 col-sm-12">
      <h3 class="text-cms">Distribuição de Software</h3>
      <p class="text-secondary text-bolder">
        Tarefas de Distribuição de software não precisam ser longas e
        exaustivas. O Cloud Management Suite permite que você crie pacotes de
        software e envie para grupos ou máquinas individuais com poucos cliques.
      </p>
    </div>
  </div>
  <div class="row flex-row-reverse py-5">
    <div
      class="col-lg-6 col-sm-12 d-flex justify-content-center align-items-center"
    >
      <img
        src="/assets/img/cms/cms-remote.png"
        class="img-fluid img-feature-cms mx-auto p-3"
      />
    </div>
    <div class="col-lg-6 col-sm-12">
      <h3 class="text-cms">Controle Remoto</h3>
      <p class="text-secondary text-bolder">
        Rapidamente acesse máquinas do seu parque à partir de qualquer
        computador com internet. O acesso é seguro e possui o mesmo nível de
        criptografia de portais financeiros.
      </p>
    </div>
  </div>
  <div class="row py-5">
    <div
      class="col-lg-6 col-sm-12 d-flex justify-content-center align-items-center"
    >
      <img
        src="/assets/img/cms/cms-report.png"
        class="img-fluid img-feature-cms mx-auto p-3"
      />
    </div>
    <div class="col-lg-6 col-sm-12">
      <h3 class="text-cms">Relatórios Customizáveis</h3>
      <p class="text-secondary text-bolder">
        Em poucos segundos tenha em suas mãos dados prontos para serem
        utilizados. Dezenas de relatórios podem ser gerados e personalizados de
        acordo com as suas necessidades.
      </p>
    </div>
  </div>
  <div class="row flex-row-reverse py-5">
    <div
      class="col-lg-6 col-sm-12 d-flex justify-content-center align-items-center"
    >
      <img
        src="/assets/img/cms/cms-inv.png"
        class="img-fluid img-feature-cms mx-auto p-3"
      />
    </div>
    <div class="col-lg-6 col-sm-12">
      <h3 class="text-cms">Inventário & Descoberta</h3>
      <p class="text-secondary text-bolder">
        A funcionalidade de Descoberta do CMS mapeia todos os dispositivos
        conectados nas suas redes. A partir daí, você pode visualizar dados de
        inventário completos, de hardware e software, de todos esses
        dispositivos.
      </p>
    </div>
  </div>
 
</div>
