---
layout: default
title: Virtru
---

<div
  class="container-fluid"
  style="
    background: linear-gradient(to right, #87b7ff, #87b7ff);
    min-height: 65vh;
    padding-top: 14vh;
    color: white;
  "
>
  <canvas class="background"></canvas>
  <br />
  <br />
  <div class="row">
    <div
      class="
        col
        -solution-hero
        d-flex
        flex-column
        justify-content-center
        align-items-center
        text-center text-white
        background
      "
    >
      <h1 class="mt-5">Criptografia de e-mail e arquivos.</h1>
      <p class="mt-3">
        Você quer se comunicar com sua rede corporativa de forma segura? <br />
        Proteja suas informações confidenciais com a criptografia de dados
        Virtru.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3>Criptografia de e-email e arquivos ponto a ponto</h3>
        <p class="text-secondary">
          Criptografia, controles de acesso e gerenciamento de chaves que
          permitem dimensionar a proteção centrada em dados em seus fluxos de
          trabalho confidenciais.
        </p>
      </div>
    </div>
  </div>
</div>
<h2 class="text-center mt-5 mb-5">
  Proteção de e-mails e arquivos ponto a ponto
</h2>
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md">
      <img src="/assets/img/virtru/img/auth.webp" class="img-fluid" alt="" />
    </div>
    <div class="col-md">
      <p>
        Alimentada pelo Trusted Data Format (TDF), o padrão aberto da indústria
        para criptografia em nível de objeto que mantém os dados protegidos e
        sob o controle do proprietário. Essa tecnologia garante controle
        persistente, seguro e de várias partes dos dados em escala, para uso em
        aplicativos, incluindo rastreamento de contatos, planejamento de
        recursos críticos, segurança de dispositivos conectados, análises
        seguras e outros. Empregando uma arquitetura de conhecimento dividida,
        que armazena conteúdo criptografado separadamente das chaves de
        criptografia que o protegem, suportando uma estrutura
        <b>Zero-Trust,</b> onde todos os componentes do sistema são
        continuamente autenticados, verificados e autorizados.
      </p>
    </div>
  </div>
</div>
<h2 class="text-center mt-5 mb-5">
  Uma plataforma comprovada para proteção de dados e privacidade
</h2>
{% include site/virtru/tabs.html %}
<div class="container-fluid container-card mb-5">
  <div class="row justify-content-center">
    <div class="col-md-5 content-card">
      <div class="row justify-content-between">
        <div class="col-3"><h5>Criptografia do Gmail</h5></div>
        <div class="col-md-4">
          <img
            src="/assets/img/virtru/icons/gmail.svg"
            class="icon-gmail img-fluid"
            alt=""
          />
        </div>
      </div>
      <p>
        Proteja os dados em todo o ecossistema do Google e muito mais enquanto
        colabora no Documentos, Planilhas e Apresentações, armazena e
        compartilha arquivos no Drive e envia pelo Gmail.
      </p>
      <a href="#modal-1" class="btn btn-virtru-blue">Saiba mais</a>
      <!-- colocar função de pop-up-->
    </div>
    <div class="col-md-5 content-card">
      <div class="row justify-content-between">
        <div class="col-3"><h5>Google Drive Encryption</h5></div>
        <div class="col-md-4">
          <img
            src="/assets/img/virtru/icons/google-drive.svg"
            class="icon-gmail img-fluid"
            alt=""
          />
        </div>
      </div>
      <p>
        Criptografe os arquivos armazenados e compartilhados no Google Drive e
        mantenha o controle durante todo o seu ciclo de vida.
      </p>
      <a href="#modal-2" class="btn btn-virtru-blue mt-3">Saiba mais</a>
    </div>
    <div class="col-md-5 content-card">
      <div class="row justify-content-between">
        <div class="col-3"><h5>Criptografia do Google Workspace</h5></div>
        <div class="col-md-4">
          <img
            src="/assets/img/virtru/icons/google-w-right.svg"
            class="icon-card"
            alt=""
          />
        </div>
      </div>
      <p>
        Proteja os dados em todo o ecossistema do Google e muito mais enquanto
        colabora no Documentos, Planilhas e Apresentações, armazena e
        compartilha arquivos no Drive e envia pelo Gmail.
      </p>
      <a href="#modal-3" class="btn btn-virtru-blue">Saiba mais</a>
    </div>
    <div class="col-md-5 content-card">
      <div class="row justify-content-between">
        <div class="col-3"><h5>Criptografia do Outlook</h5></div>
        <div class="col-md-4">
          <img
            src="/assets/img/virtru/icons/microsoft.svg"
            class="icon-card"
            alt=""
          />
        </div>
      </div>
      <p>
        Criptografe e-mail e anexos compartilhados via Microsoft Outlook, com
        controles de acesso integrados diretamente nos ambientes 365 ou Exchange
        que você já usa.
      </p>
      <a href="#modal-4" class="btn btn-virtru-blue mt-4">Saiba mais</a>
    </div>
    <div class="col-md-5 content-card">
      <div class="row justify-content-between">
        <div class="col-3"><h5>Aplicações Enterprise</h5></div>
        <div class="col-md-4">
          <img
            src="/assets/img/virtru/icons/cloud.svg"
            class="icon-vector img-fluid"
            alt=""
          />
        </div>
      </div>
      <p>
        Proteja e controle e-mail e anexos que aplicativos personalizados ou
        aplicativos SaaS corporativos enviam para clientes, pacientes e outras
        partes externas.
      </p>
      <a href="#modal-5" class="btn btn-virtru-blue mt-5">Saiba mais</a>
    </div>
    <div class="col-md-5 content-card">
      <div class="row justify-content-between">
        <div class="col-3"><h5>Compartilhamento Seguro</h5></div>
        <div class="col-md-4">
          <img
            src="/assets/img/virtru/icons/share.webp"
            class="icon-vector img-fluid"
            alt=""
          />
        </div>
      </div>
      <p>
        Garanta o controle persistente, seguro e de várias partes dos dados em
        escala, para uso em aplicativos, incluindo rastreamento de contatos,
        planejamento de recursos críticos, segurança de dispositivos conectados,
        análises seguras e outros.
      </p>
      <a href="#modal-6" class="btn btn-virtru-blue mt-2">Saiba mais</a>
    </div>
  </div>
</div>
<div class="container-fluid content virtru-compliance">
  <div class="container-fluid content-padding text-center text-white">
    <h2 class="py-5">COMPLIANCE DA VIRTRU</h2>
    <div class="row">
      <div class="col-md-4 mt-1 mb-5">
        <img
          src="/assets/img/virtru/icons/lgpd.svg"
          alt=""
          class="icon-compliance"
        />
        <p class="mt-4"><b>LGPD</b></p>
      </div>
      <div class="col-md-4 mb-5">
        <img
          src="/assets/img/virtru/icons/gdpr.svg"
          alt=""
          class="icon-compliance"
        />
        <p class="mt-3"><b>GDPR</b></p>
      </div>
      <div class="col-md-4 mb-5">
        <img
          src="/assets/img/virtru/icons/hippa.svg"
          alt=""
          class="icon-compliance"
        />
        <p class="mt-3"><b>HIPPA</b></p>
      </div>
    </div>
    <div class="container mt-5">
      <h5>
        O Virtru ajuda nossos clientes a atender a uma ampla gama de requisitos
        de conformidade para proteger informações confidenciais e privadas.
        Saiba como podemos ajudá-lo a cumprir os regulamentos como LGPD, GDPR,
        CCPA e outros.
      </h5>
      <a href="/compliance/" class="btn btn-virtru-green mt-5 mb-5"
        >Saiba mais</a
      >
    </div>
  </div>
</div>
<div
  class="container-fluid -footer py-5"
  style="background-color: #3668ff; border: none"
>
  <div
    class="row mx-auto py-5 -about"
    style="height: auto"
    id="content-form-virtru"
  >
    <div class="col-md d-flex" style="justify-content: flex-end">
      {% include site/form2.html title="Criptografia de e-mail e arquivos" id="criptografia_form" %}
    </div>
    <div class="col-md mt-5">
      <br />
      <p class="text-center form-text-init text-white">
        Solicite uma demonstração
      </p>
      <h3 class="text-center text-white" style="font-size: 50px">
        Veja você mesmo como a criptografia de dados Virtru pode proteger os
        e-mails
      </h3>
      <br />
    </div>
  </div>
</div>

<div id="modal-1" class="modalDialog text-gray">
  <div>
    <a href="#close" title="Close" class="close">x</a>
    <h2 class="text-center text-gray mb-5">
      Proteção centrada em dados do Gmail
    </h2>
    <div class="row">
      <div class="col-md">
        <b>Criptografia de e-mail de ponta a ponta</b>
        <p>
          Criptografe mensagens e anexos diretamente no Gmail, antes que os
          dados cheguem aos servidores do Google, evitando o acesso do Google e
          de outras partes não autorizadas, onde quer que sejam compartilhados.
        </p>
        <br />
        <b>Controles de acesso granulares</b>
        <p>
          Defina a expiração, desative o encaminhamento e marque os anexos com
          os nomes dos destinatários para impedi-los de vazar arquivos
          confidenciais.
        </p>
        <br />
        <b>Revogação Instantânea</b>
        <p>
          Revogue o acesso a mensagens e anexos imediatamente quando os e-mails
          forem enviados por engano ou depois que os dados neles se tornarem
          mais confidenciais.
        </p>
        <br />
        <b>Proteção de arquivo persistente</b>
        <p>
          Mantenha os anexos sob seu controle, mesmo depois de movê-los do Gmail
          para desktops, pastas de rede compartilhadas, Google Drive ou qualquer
          outro lugar onde os arquivos sejam armazenados e compartilhados.
        </p>
      </div>
      <div class="col-md">
        <img
          src="/assets/img/virtru/pop_up/pop_gmail.webp"
          class="img-fluid img-pop_up"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div id="modal-2" class="modalDialog text-gray">
  <div>
    <a href="#close" title="Close" class="close">x</a>
    <h2 class="text-gray text-center mb-5">
      Criptografia de unidade de disco centrada em dados e controle persistente
    </h2>
    <div class="row">
      <div class="col-md">
        <b
          >proteção para complementar a criptografia do cliente do Google
          Workspace</b
        >
        <p>
          Solução parceira da criptografia do Google Workspace com gerenciamento
          de chaves e oferece criptografia que acompanha os arquivos onde quer
          que sejam compartilhados, garantindo que seus dados armazenados no
          Google Workspace sejam confidenciais e permaneçam privados se você
          precisar compartilhar via outros fluxos de trabalho. Armazene e
          compartilhe com segurança todos os dados confidenciais com
          rastreamento de dados seguro e avançado.
        </p>
        <br />
        <b>Criptografia de arquivo ponta a ponta</b>
        <p>
          Criptografe arquivos PDF, PowerPoint, Excel, Word, PNG e JPG durante o
          upload. A extensão simples da Virtru para o Chrome protege os arquivos
          diretamente no cliente para impedir o acesso do Google e de terceiros
          não autorizados, onde quer que os arquivos sejam compartilhados.
        </p>
        <br />
        <b>Controles de acesso granulares e persistentes</b>
        <p>
          Defina a expiração e desative o compartilhamento. Revogue o acesso a
          qualquer momento.
        </p>
        <br />
        <b>Marca d'água</b>
        <p>
          Arquivos de marca d'água carregados para o Drive com os nomes dos
          destinatários, ajudando a evitar vazamentos de dados baseados em
          arquivos à medida que são compartilhados externamente.
        </p>
      </div>
      <div class="col-md">
        <img
          src="/assets/img/virtru/pop_up/google_w.webp"
          class="img-fluid img-pop_up"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div id="modal-3" class="modalDialog text-gray">
  <div>
    <a href="#close" title="Close" class="close">x</a>
    <h2 class="text-gray text-center mb-5">
      Segurança centrada em dados do Google Workspace para colaboração baseada
      em nuvem
    </h2>
    <div class="row">
      <div class="col-md">
        <b
          >Proteção para complementar a criptografia do cliente do Google
          Workspace</b
        >
        <p>
          Solução parceira da criptografia utilizada no Google Workspace com
          gerenciamento de chaves e oferece criptografia que acompanha os
          arquivos onde quer que sejam compartilhados, garantindo que seus dados
          armazenados no Google Workspace sejam confidenciais e permaneçam
          privados se você precisar compartilhar via outros fluxos de trabalho.
          Armazene e compartilhe com segurança todos os dados confidenciais com
          rastreamento de dados seguro e avançado.
        </p>
        <br />
        <b>E-mail de ponta a ponta e criptografia de arquivo</b>
        <p>
          Criptografe mensagens e anexos do Gmail , bem como arquivos
          armazenados no Google Drive, incluindo Google Docs, Google Sheets,
          Google Slides e outros arquivos enviados. A extensão simples da Virtru
          para o Chrome protege e-mails e arquivos diretamente no Google
          Workspace, impedindo o acesso do Google e de terceiros não
          autorizados, onde quer que os dados sejam compartilhados.
        </p>
        <br />
        <b>Segurança do Google Cloud</b>
        <p>
          Os arquivos armazenados no Google Drive são criptografados durante o
          upload. Os usuários também podem proteger e manter o controle dos
          arquivos baixados do Google Drive e compartilhados por meio de outros
          fluxos de trabalho.
        </p>
        <br />
        <b>Controles de acesso granulares e persistentes</b>
        <p>
          Defina as datas de expiração e desative o encaminhamento ou novo
          compartilhamento. Revogue o acesso a qualquer momento.
        </p>
      </div>
      <div class="col-md">
        <img
          src="/assets/img/virtru/pop_up/pop_3.webp"
          class="img-fluid img-pop_up"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div id="modal-4" class="modalDialog text-gray">
  <div>
    <a href="#close" title="Close" class="close">x</a>
    <h2 class="text-gray text-center mb-5">
      Reforçar a segurança do Microsoft Outlook
    </h2>
    <div class="row">
      <div class="col-md">
        <b>Proteção centrada em dados</b>
        <p>
          Você pode proteger seus dados no nível do objeto, envolvendo cada
          e-mail e arquivo individual com sua própria camada de criptografia. O
          formato de dados confiáveis da Virtru protege os dados onde quer que
          eles viajem , para que você possa compartilhar informações com a
          confiança de que estão sempre sob seu controle.
        </p>
        <br />
        <b>Zero Trust Key Management</b>
        <p>
          Solução que apóia e defende uma estratégia Zero Trust que valida cada
          pessoa ou sistema que acessa seus dados confidenciais. Incentivamos
          você a gerenciar suas próprias chaves de criptografia e políticas
          associadas , de modo que nem a Virtru, nem a Microsoft, ou qualquer
          outro terceiro tenha visibilidade de seus dados.
        </p>
        <br />
        <b>Interoperabilidade entre dispositivos e plataformas</b>
        <p>
          Em um mundo que está se tornando cada vez mais híbrido em todos os
          sentidos (Microsoft e Google, PC e Mac, no local e com base na nuvem),
          a Virtru equipa você com as ferramentas de que você precisa para
          garantir experiências consistentes em uma variedade de dispositivos,
          plataformas e ambientes .
        </p>
      </div>
      <div class="col-md">
        <img
          src="/assets/img/virtru/pop_up/outlook.webp"
          class="img-fluid img-pop_up"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div id="modal-5" class="modalDialog text-gray">
  <div>
    <a href="#close" title="Close" class="close">x</a>
    <h2 class="text-gray text-center mb-5">
      Proteção centrada em dados para seus fluxos de trabalho de aplicativos
    </h2>
    <div class="row">
      <div class="col-md">
        <img
          src="/assets/img/virtru/pop_up/flux.webp"
          class="img-fluid"
          style="max-width: 800px"
          alt=""
        />
      </div>
      <div class="col-md-5 py-5">
        <p class="mt-5">
          A criptografia de saída protege e-mails e arquivos antes que saiam de
          seu domínio para garantir que as comunicações permaneçam em
          conformidade, privadas e seguras. A descriptografia de entrada permite
          a verificação de texto simples por um aplicativo ou MTA (Mail Transfer
          Agent) antes que ele entre em seu domínio para fins de anti-malware,
          anti-spam e conformidade. A descriptografia e arquivamento de saída
          permitem que os e-mails sejam copiados e enviados para arquivos para
          dar suporte aos processos de eDiscovery e relatórios de auditoria. A
          criptografia de entrada protege PII e PHI em mensagens de entrada
          enviadas de pacientes, clientes, clientes e parceiros, para garantir a
          conformidade. O Outbound Data Loss Prevention determina quais
          mensagens são criptografadas automaticamente com base nas políticas de
          segurança, o que pode ser transmitido sem a necessidade de
          criptografia e o que avisa (ou registra) um problema potencial.
        </p>
      </div>
    </div>
  </div>
</div>
<div id="modal-6" class="modalDialog text-gray">
  <div>
    <a href="#close" title="Close" class="close">x</a>
    <h2 class="text-gray text-center mb-5">
      Compartilhamento de arquivos seguro que cria confiança única
    </h2>
    <div class="row">
      <div class="col-md">
        <p>
          O que diferencia o Virtru de outras plataformas de compartilhamento de
          arquivos? A capacidade de estender a privacidade e o controle total
          dos dados ao proprietário dos dados, em todos os momentos. Com o
          Virtru Secure Share, você obtém os arquivos de que precisa com rapidez
          e facilidade e seus colaboradores mantêm o controle de seus dados,
          incluindo a capacidade de revogar o acesso. Como resultado, todos se
          movem em uma velocidade elevada de colaboração, com a confiança de que
          os dados permanecem seguros.
        </p>
        <br />
        <p>
          Seu link pessoal é gerado automaticamente, para que você possa começar
          a coletar arquivos. Não há necessidade de enviar um e-mail: você pode
          agilizar a colaboração compartilhando seu link diretamente por meio de
          aplicativos como Slack, Microsoft Teams ou no chat de vídeo.
        </p>
      </div>
      <div class="col-md">
        <img
          src="/assets/img/virtru/pop_up/share_pop.webp"
          class="img-fluid img-pop_up"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<style>
  .container-card {
    width: 80%;
  }
  .icon-compliance{
    max-width: 150px;
  }
  .virtru-compliance {
    background-color: #072452;
    min-height: 40vh;
  }
  .btn-virtru-green {
    background-color: #80cc28;
    border-radius: 100px;
    width: 150px;
    height: 50px;
    color: white;
    padding-top: 1.3vh;
    font-weight: bold;
    border: 2px solid white;
  }

  .btn-virtru-green:hover {
    background-color: transparent;
    border: solid 2px white;
    color: white;
  }
  .btn-virtru-blue {
    background-color: #3668ff;
    border-radius: 100px;
    width: 150px;
    height: 50px;
    color: white;
    padding-top: 1.3vh;
    font-weight: bold;
  }

  .btn-virtru-blue:hover {
    background-color: transparent;
    border: solid 2px #3668ff;
    color: #3668ff;
  }
  .content-card {
    margin: 10px 10px 10px 10px;
    padding: 35px;
    min-height: 25vh;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
  }
  .content-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  .content-card p {
    max-width: 30vw;
    padding: 0 0 0 12px;
  }
  .icon-gmail {
    max-width: 80px;
    margin-left: 3.5vw;
    margin-bottom: 2vh;
  }
  .icon-card {
    max-width: 150px;
    padding-right: 30px;
    margin-left: 2vw;
  }

  .icon-vector {
    max-width: 80px;
    padding: 5px 0 0 5px;
    margin-left: 3.5vw;
  }
  .img-pop_up {
    max-width: 500px;
    margin-left: 7vw;
  }
  #image_flux {
    max-width: 800px;
  }
  @media screen and (max-width: 990px) {
    #content-form-virtru {
      flex-direction: column-reverse;
    }
  }
  @media screen and (max-width: 768px) {
    .img-pop_up {
      max-width: 270px;
      margin: 0;
    }
    #image_flux {
      max-width: 350px;
    }
  }
</style>
<!--styled modal-->

<style>
  .virtru-modal {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #4285f4;
    padding: 10px;
  }

  .modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 300ms ease-in;
    -moz-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in;
    pointer-events: none;
  }

  .modalDialog:target {
    opacity: 1;
    pointer-events: auto;
  }

  .modalDialog > div {
    width: 90vw;
    min-height: 50vh;
    position: relative;
    margin: 5% auto;
    padding: 50px;
    background: white;
    border-radius: 5px;
  }

  .close {
    padding: 0;
    color: black;
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 24px;
    text-decoration: none;
    background: none;
    font-weight: bold;
  }

  .close:hover {
    color: #ea4436;
  }
</style>
