---
layout: default
title: Netwrix Password Reset
---

<div class="container-fluid change-tracker-background">
  <div class="row justify-content-between">
    <div class="col-md-6">
      <h1 class="title-netwrix-solution">NETWRIX PASSWORD RESET</h1>
      <h2>ALIVIE A DOR DE CABEÇA COM SENHAS</h2>
      <a href="#password-reset" class="btn btn-change-tracker"
        >Solicitar Demonstração</a
      >
    </div>
    <div class="col-md">
      <img
        class="img-home-change img-fluid"
        src="/assets/img/password-reset/APR_Hero.png"
        alt="cloud-security"
      />
    </div>
  </div>
</div>
<div class="container text-center py-5">
  <h2 class="title-secondary-netwrix py-5">
    Software de redefinição de senha de autoatendimento do Active Directory que
    reduz os custos de suporte técnico e a frustração do usuário
  </h2>
  <p class="text-description-netwrix py-4">
    Os tíquetes relacionados a senhas estão sobrecarregando sua central de
    serviços de TI? Bloqueios e problemas de gerenciamento de senha impedem suas
    equipes de realizar seu trabalho? Netwrix Password Reset é uma ferramenta de
    redefinição de senha do Active Directory que permite aos usuários
    <b>
      redefinir ou alterar com segurança suas próprias senhas e desbloquear suas
      contas
    </b>
    de qualquer navegador da Web, desktop ou dispositivo móvel - sem ligar para
    o suporte técnico.
  </p>
</div>

{% include site/password-reset/tabs.html %} {% include
site/password-reset/cards-mobile.html %}
<div class="container-fluid container-feature-netwrix-products">
  <h2 class="title-secondary-netwrix text-center mb-5">
    Economize tempo e dinheiro — enquanto aprimora a segurança <br />
    com o software de redefinição de senha de autoatendimento AD
  </h2>
  <div class="row mt-5 py-5">
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/get_to_secure_faster.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Alterações de senha de usuário de autoatendimento e desbloqueios de
        conta
      </h5>
      <p class="desc-features-netwrix-products">
        Permita que os usuários definam uma nova senha com segurança, redefinam
        uma senha esquecida do AD e até mesmo desbloqueiem sua conta AD após
        várias tentativas de logon com falha - aumentando a produtividade do
        usuário e reduzindo os custos de suporte técnico.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/pas_audit.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Acesso em qualquer lugar, a qualquer hora
      </h5>
      <p class="desc-features-netwrix-products">
        Permita que os usuários alterem convenientemente suas senhas e
        desbloqueiem suas contas em qualquer lugar, a qualquer hora: de seu
        telefone celular, tablet ou computador, ou diretamente da tela de logon
        do Windows ou desbloqueio do computador.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/who-what.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Notificações de alteração de senha
      </h5>
      <p class="desc-features-netwrix-products">
        Reduza o risco de roubo de identidade notificando os usuários sobre
        todas as tentativas bem-sucedidas e malsucedidas de redefinir ou alterar
        a senha ou desbloquear a conta. Os administradores podem configurar os
        critérios de alerta e o conteúdo da mensagem.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/control-change.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        MFA, bloqueios e tempos limite
      </h5>
      <p class="desc-features-netwrix-products">
        Evite ataques de engenharia social e cumpra as práticas recomendadas de
        gerenciamento de acesso exigindo autenticação multifator para redefinir
        uma senha ou desbloquear uma conta. Proteja-se contra ataques de força
        bruta com recursos de bloqueio e tempo limite.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/keep-safe.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">Auditoria abrangente</h5>
      <p class="desc-features-netwrix-products">
        Identifique eventos suspeitos, monitore a adoção do sistema e
        simplifique a conformidade com uma trilha de auditoria detalhada de
        registros de sistema bem-sucedidos e com falha, redefinições de senha,
        alterações de senha e desbloqueios de conta. Os filtros personalizáveis
        ​​aceleram as investigações e os relatórios.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/data-sensive.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Aplicação da política de senha
      </h5>
      <p class="desc-features-netwrix-products">
        Aplique o histórico do Windows e os requisitos mínimos de idade quando
        os usuários escolherem novas senhas ou integre-se ao Netwrix Password
        Policy Enforcer para criar e aplicar políticas de senha muito mais
        flexíveis que rejeitem senhas vazadas e fracas.
      </p>
    </div>
  </div>
</div>
{% include site/trial.html title="Solicite uma demonstração"
id="password-reset_form" %}

<style>
  html {
    scroll-behavior: smooth;
  }
  .change-tracker-background {
    background-color: #010a59;
    padding: 20vh 0 15vh 15vw;
  }
  .change-tracker-background h2 {
    font-size: 3.5em;
    color: white;
    font-weight: bold;
    margin-bottom: 10vh;
  }
  .title-netwrix-solution {
    font-size: 15px;
    color: white;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 2vh;
  }
  .icon-img-change {
    max-width: 4vw;
  }
  .img-home-change {
    margin-right: -5vw;
  }
  .btn-change-tracker {
    background-color: red;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    font-weight: 500;
  }
  .btn-change-tracker:hover {
    background-color: #0778f4;
    color: white;
    transition: 0.5s;
  }

  .title-secondary-netwrix {
    font-size: 2.5em;
  }
  .text-description-netwrix {
    color: gray;
    font-size: 1.1em;
  }
  .title-features-netwrix-products {
    font-size: 1em;
    letter-spacing: 1px;
  }
  .container-feature-netwrix-products {
    padding: 10vh 15vw;
  }

  .desc-features-netwrix-products {
    max-width: 18vw;
  }
  .icon-img-change {
    margin-bottom: 40px;
  }
  .img-customers-change {
    max-width: 8vw;
  }
  .small-title-customers {
    font-size: 13px;
    color: #0778f4;
    font-weight: 500;
    margin-bottom: 3vh;
  }
  .change-customers {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
  }
  .desc-change-customers {
  }

  @media only screen and (max-width: 990px) {
    .change-tracker-background {
      height: 100vh;
    }
    .change-tracker-background h2 {
      font-size: 2em;
      margin-bottom: 5vh;
    }
    .change-tracker-background {
      padding: 15vh 0 5vh 2vw;
    }
    .btn-change-tracker {
      width: 50vw;
      height: 5vh;
      font-size: 14px;
      padding: 9px;
    }
    .img-home-change {
      margin-top: 10vh;
    }
    .icon-img-change {
      max-width: 20vw;
    }
    .desc-features-netwrix-products {
      max-width: 80vw;
      margin-bottom: 10vh;
    }
    .title-secondary-netwrix {
      font-size: 2em;
    }
    .img-customers-change {
      max-width: 30vw;
    }
    .small-title-customers {
      margin-bottom: 1vh;
    }
  }
</style>
