---
layout: default
title: Netwrix Password Policy Enforcer
---

<div class="container-fluid change-tracker-background">
  <div class="row justify-content-between">
    <div class="col-md-6">
      <h1 class="title-netwrix-solution">NETWRIX PASSWORD POLICY ENFORCER</h1>
      <h2>PARE DE SE PREOCUPAR COM SENHAS FRACAS</h2>
      <a href="#trial-policy-enforcer" class="btn btn-change-tracker"
        >Solicitar Demonstração</a
      >
    </div>
    <div class="col-md">
      <img
        class="img-home-change img-fluid"
        src="/assets/img/policy-enforcer/enforcer-home.png"
        alt="cloud-security"
      />
    </div>
  </div>
</div>
<div class="container text-center py-5">
  <h2 class="title-secondary-netwrix py-5">
    Frustrar os hackers, satisfazer os auditores e encantar os usuários com o
    aplicador de política de senha da Netwrix
  </h2>
  <p class="text-description-netwrix py-4">
    Senhas fracas e vazadas continuam sendo um buraco nas redes de TI, tornando
    muito fácil para os invasores obterem a posição de que precisam para roubar
    dados confidenciais, danificar sistemas e liberar ransomware. Infelizmente,
    as ferramentas nativas do Windows muitas vezes não podem fornecer as
    configurações e regras detalhadas necessárias para políticas de senha
    modernas, deixando as equipes de TI lutando para acompanhar o cenário de
    ameaças em constante mudança e os requisitos de conformidade em evolução.
    Enquanto isso, a produtividade do usuário sofre e os helpdesks de TI ficam
    sobrecarregados, pois os usuários lidam com requisitos pouco claros para
    novas senhas. Saiba como o Netwrix Password Policy Enforcer pode ajudá-lo a
    obter uma aplicação de senha verdadeiramente eficaz sem todos os
    aborrecimentos.
  </p>
</div>

{% include site/policy-enforcer/tabs.html %} {% include
site/policy-enforcer/cards-mobile.html %}

<div class="container-fluid container-feature-netwrix-products">
  <h2 class="title-secondary-netwrix text-center mb-5">
    Equilibre a segurança e a produtividade do usuário com um
    <br />
    aplicador flexível de política de senha do Active Directory
  </h2>
  <div class="row mt-5 py-5">
    <div class="col-md-4">
      <img
        src="/assets/img/policy-enforcer/policy.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Crie políticas de senha poderosas e flexíveis
      </h5>
      <p class="desc-features-netwrix-products">
        Atenda aos requisitos complexos de política de senha usando até 256
        políticas de senha locais e de domínio atribuídas a usuários, grupos de
        domínio e unidades organizacionais. Crie facilmente exatamente as
        políticas de que você precisa, escolhendo entre mais de 20 regras
        altamente personalizáveis.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/policy-enforcer/lock.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Evite o preenchimento de credenciais, dicionário e outros ataques de
        força bruta
      </h5>
      <p class="desc-features-netwrix-products">
        Evite o uso de senhas que você considera fracas com controle sobre
        substituição de caracteres, análise bidirecional, tolerância de
        correspondência e muito mais. Pesquise centenas de milhões de hashes de
        senha vazados em um milissegundo e bloqueie automaticamente seu uso.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/policy-enforcer/confirmed.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Alcance e mantenha a conformidade regulatória
      </h5>
      <p class="desc-features-netwrix-products">
        Crie políticas de senha compatíveis com confiança usando modelos prontos
        para uso para CIS, HIPAA, NERC CIP, NIST e PCI DSS. Mantenha a
        conformidade usando o teste de política integrado para identificar e
        corrigir problemas de configuração. Revise facilmente sua política à
        medida que os requisitos de senha mudam ou novos regulamentos ficam
        online.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/policy-enforcer/speed_up.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Esteja funcionando mais rápido do que você pensou ser possível
      </h5>
      <p class="desc-features-netwrix-products">
        Implante em minutos ou horas, não em dias, graças a um simples
        assistente de início rápido. Crie facilmente as políticas de senha
        corretas para sua organização simplesmente adaptando as regras
        integradas intuitivas.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/policy-enforcer/check_list.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Capacite os usuários a se concentrarem em seus trabalhos, não em suas
        senhas
      </h5>
      <p class="desc-features-netwrix-products">
        Ajude os usuários a escolher senhas compatíveis, mostrando-lhes a
        política de senha e explicando quaisquer rejeições. Evite bloqueios
        lembrando os usuários de alterar suas senhas e permitindo que o façam
        com segurança, diretamente do navegador da web.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/policy-enforcer/certificate.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Torne a transição fácil e atraente
      </h5>
      <p id="trial-policy-enforcer" class="desc-features-netwrix-products">
        Facilite os usuários para políticas de senha mais fortes, permitindo
        conformidade parcial. Impulsione a adoção recompensando aqueles que
        escolhem senhas longas por não terem que alterá-las com tanta frequência
        quanto os usuários que optam por senhas mais curtas.
      </p>
    </div>
  </div>
</div>
{% include site/trial.html title="Solicite uma demonstração"
id="policy-enforcer_form" %}

<style>
  html {
    scroll-behavior: smooth;
  }
  .change-tracker-background {
    background-color: #010a59;
    padding: 20vh 0 15vh 15vw;
  }
  .change-tracker-background h2 {
    font-size: 3.5em;
    color: white;
    font-weight: bold;
    margin-bottom: 10vh;
  }
  .title-netwrix-solution {
    font-size: 15px;
    color: white;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 2vh;
  }
  .icon-img-change {
    max-width: 4vw;
  }
  .img-home-change {
    margin-right: -5vw;
  }
  .btn-change-tracker {
    background-color: red;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    font-weight: 500;
  }
  .btn-change-tracker:hover {
    background-color: #0778f4;
    color: white;
    transition: 0.5s;
  }

  .title-secondary-netwrix {
    font-size: 2.5em;
  }
  .text-description-netwrix {
    color: gray;
    font-size: 1.1em;
  }
  .title-features-netwrix-products {
    font-size: 1em;
    letter-spacing: 1px;
  }
  .container-feature-netwrix-products {
    padding: 10vh 15vw;
  }

  .desc-features-netwrix-products {
    max-width: 18vw;
  }
  .icon-img-change {
    margin-bottom: 40px;
  }
  .img-customers-change {
    max-width: 8vw;
  }
  .small-title-customers {
    font-size: 13px;
    color: #0778f4;
    font-weight: 500;
    margin-bottom: 3vh;
  }
  .change-customers {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
  }
  .desc-change-customers {
  }

  @media only screen and (max-width: 990px) {
    .change-tracker-background {
      height: 100vh;
    }
    .change-tracker-background h2 {
      font-size: 2em;
      margin-bottom: 5vh;
    }
    .change-tracker-background {
      padding: 15vh 0 5vh 2vw;
    }
    .btn-change-tracker {
      width: 50vw;
      height: 5vh;
      font-size: 14px;
      padding: 9px;
    }
    .img-home-change {
      margin-top: 10vh;
    }
    .icon-img-change {
      max-width: 20vw;
    }
    .desc-features-netwrix-products {
      max-width: 80vw;
      margin-bottom: 10vh;
    }
    .title-secondary-netwrix {
      font-size: 2em;
    }
    .img-customers-change {
      max-width: 30vw;
    }
    .small-title-customers {
      margin-bottom: 1vh;
    }
  }
</style>
