---
layout: default
title: Silverfort
---

<div class="header">
  <div class="overlay"></div>
<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
  <source src="/assets/img/silverfort/plexus.mp4" type="video/mp4">
</video>
<div class="container h-100">
  <div class="d-flex h-100 text-center align-items-center">
    <div class="w-100 text-white ">
      <div
        class="col -solution-hero d-flex flex-column justify-content-center align-items-center text-center"
      >
        <img src="/assets/img/silverfort/logo.webp" style="max-width: 200px;" /> 
        <br>
        <br>
        <p><a class="btn btn-obsidian"  href="#form" >
          Teste grátis
        </a></p>
      
      </div>
    </div>
  </div>
</div>

</div>
<br>
<div class="container-fluid" style="z-index: 7;">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3></h3>
        <p class="text-secondary">
           Leve o MFA a sistemas e ferramentas jamais pensadas, MFA por roda a rede incluindo em sistemas sensíveis considerados "improtegíveis".
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-7">
            <div
                class="col-lg-7 d-flex align-items-center justify-content-center flex-column"
                style="margin-top: 8%;" id="description">
                <h2>ESTENDENDO AUTENTICAÇÃO SEGURA E ZERO-TRUST PARA 
                TODOS OS ATIVOS SENSÍVEIS ATRAVÉS DE REDES CORPORATIVAS E AMBIENTES DE NUVEM</h2>
                <p > 
                    Silverfort permite a autenticação multifator (MFA), autenticação baseada 
                    em risco (RBA) e políticas de Zero Trust em todos os ativos corporativos 
                    e de nuvem confidenciais, incluindo sistemas que não poderiam ser protegidos 
                    até hoje - sem a necessidade de quaisquer agentes, proxies ou alterações de código. 
                    Além disso, o Silverfort estende a proteção a interfaces e ferramentas de acesso 
                    que atualmente permitem que os invasores contornem todas as outras soluções MFA 
                    (Remote PowerShell, PsExec, etc.)
                    <br>
                    </p>
                <p></p>
              </div>
        </div>
        <div class="col-sm-5">
            <div class="row mb-5" >
                <div class="row mw-1200 d-flex justify-content-center pt-5"  id="cards" >
                  <div class="image-block-rms flex-column text-center"style="padding: 15px;">
                    <img src="/assets/img/silverfort/icons/apps.webp" />
                    <h5></h5>
                    <p class="desc"><b>Aplicativos legados:
                        no local ou quando migrado para a nuvem</b>
                    </p>
                  </div>
                  <div class="image-block-rms flex-column text-center"style="padding: 15px;">
                    <img src="/assets/img/silverfort/icons/it.webp" />
                    <h5></h5>
                    <p class="desc">
                      <b>Infraestrutura de TI crítica e acesso privilegiado</b>
                    </p>
                  </div>
                  <div class="image-block-rms flex-column text-center"style="padding: 15px;">
                    <img  src="/assets/img/silverfort/icons/database.webp"/>
                    <h5></h5>
                    <p class="desc">
                      <b>Bancos de dados e compartilhamentos</br> de arquivos: 
                          incluindo proteção contra ransomware</b>
                    </p>
                  </div>
                  <div class="image-block-rms flex-column text-center"style="padding: 15px;">
                    <img  src="/assets/img/silverfort/icons/mfa.webp"/>
                    <h5></h5>
                    <p class="desc">
                      <b>PsExec e outras ferramentas de acesso</br> de 
                          administrador que podem ignorar MFA padrão</b>
                    </p>
                  </div>
                </div>
            </div>
        </div>
      </div>
  </div>

<div class="container-fluid -features" 
  id="trial_obs" style="background: transparent;">
  <br>
  <br>
  <br>
  <div class="container" id="trial_obs">
    <h2 class="text-center mb-5" 
    style="color: #707070;">
    <b>ENTENDA COMO FUNCIONA</b></h2>
      <p style="color: #707070; 
      font-size: 20px;"
      class="text-center ">
      Silverfort permite autenticação segura e políticas de Zero Trust em qualquer lugar, sem a necessidade de agentes ou proxies
     </p>
     <p class="text-center">
      <br>
      <iframe  width="700" height="400" 
      src="https://www.youtube.com/embed/fKpUelS1KqE" 
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
     </iframe>
         </p>
      </div>
  </div>
 
 <div class="container-fluid">
  <div class="container" >
    <br>
    <br>
   
    <p style="  color: #707070; font-size: 20px; "class="text-center mb-5">
      Silverfort apresenta uma nova abordagem revolucionária 
      que permite autenticação segura e acesso em redes 
      corporativas e ambientes de nuvem de forma holística 
      e não intrusiva. Permitindo que as organizações protejam 
      ativos que atualmente não oferecem suporte à autenticação 
      segura sem ter que modificá-los e estender a proteção a 
      interfaces que não são cobertas por nenhuma outra solução MFA.
    </p>
  </div>
  <div class="container-fluid" style="width:90%; margin-top: 100px;" >
    <div class="row" >
      <div class="col-lg-5" id="numbers">

       <div class="row"><p> <img class="img-step" src="/assets/img/silverfort/icons/1.webp" align="left">
        Solicitação de autenticação enviada ao armazenamento de identidade
        </p>
      </div>
        <div class="row"><p ><img class="img-step" src="/assets/img/silverfort/icons/2.webp" align="left">O armazenamento de identidade realiza a verificação padrão
        </p>
      </div>
          <div class="row"><p> <img class="img-step" src="/assets/img/silverfort/icons/3.webp" align="left">
            A resposta é roteada para Silverfort, usando recursos nativos 
            do servidor de diretório (nenhum agente é necessário) e com failover integrado
            </p>
          </div>
          <div class="row"><p> <img class="img-step" src="/assets/img/silverfort/icons/4.webp" align="left">
            Silverfort analisa a mensagem em tempo real, calcula o risco usando IA e aplica a política (permitir / negar / MFA)
             </p>
            </div>  
            <div class="row">
              <p> <img class="img-step" src="/assets/img/silverfort/icons/5.webp" align="left">
                Se necessário, o Silverfort verifica a identidade do usuário usando MFA
                </p>
            </div>  
            <div class="row"><p><img class="img-step" src="/assets/img/silverfort/icons/6.webp" align="left">
              Se o acesso for permitido, Silverfort retorna a mensagem para o armazenamento 
                de identidade, e de lá para o cliente/servidor desavisado
              </p>
            </div>
                    
         </div>
      <div class="col-lg-7">
        <img src="/assets/img/silverfort/steps.svg" alt="steps" style="max-width:800px;" id="img-steps">
      </div>
    </div>
  </div>
 </div>
 <div class="container-fluid mb-5" style="max-width: 85%; margin-top: 150px;" >
 <div class="row">
  <div class="col-md-8"> 
    <div class="row mb-5" id="functions">
    <div class="row mw-1200 d-flex justify-content-center pt-5" >
      <div class="image-block-rms flex-column text-center"style="padding: 10px;">
        <img src="/assets/img/silverfort/icons/detection.webp" />
        <h5></h5>
        <p class="desc"><b>DETECÇÃO DE ANOMALIA DE COMPORTAMENTO</b>
        </p>
      </div>
      <div class="image-block-rms flex-column text-center"style="padding: 10px;">
        <img src="/assets/img/silverfort/icons/identify.webp" />
        <h5></h5>
        <p class="desc">
          <b>IDENTIFICAÇÃO DE AMEAÇAS MALICIOSAS CONHECIDAS</b>
        </p>
      </div>
      <div class="image-block-rms flex-column text-center"style="padding: 10px;">
        <img  src="/assets/img/silverfort/icons/extrenal.webp"/>
        <h5></h5>
        <p class="desc">
          <b>INDICADORES DE AMEAÇA EXTERNA</b>
        </p>
      </div>
    </div>
</div>
</div>
  <div class="col-md-4 d-flex align-items-center justify-content-center flex-column"
  style="margin-top: 50px;  text-align: right;">
    
    <h2>ANÁLISE DE RISCO E CONFIANÇA DE AI-DRIVEN</h2>
    <p > 
      O Silverfort analisa todas as solicitações de 
      acesso em todos os usuários, dispositivos, 
      sistemas e ambientes, não apenas no perímetro, 
      mas também dentro da rede. Ele analisa continuamente 
      os níveis de confiança e risco para aplicar autenticação 
      adaptativa e políticas de acesso condicional.
    </p>
    
  </div>
</div>
</div>


<div class="container-fluid world">
  <br>
  <br>
  <br>
  <br>
  <br>
  <h3 class="text-center text-white">O QUE ESTÃO FALANDO SOBRE O SILVERFORT?</h3>
  <div class="row mb-5"  >
    <div class="row mw-1200 mx-auto d-flex justify-content-center pt-5">
      <div class="image-block-silver flex-column text-center">
        <img src="/assets/img/silverfort/gartner.webp" />
        <h5></h5>
        <p><b>Detecção </b>
        </p>
        <p style="width: 270px;">Silverfort foi nomeada Gartner Cool 
          Vendor no relatório ‘Cool Vendors in Identity and Access Management’ 
          de Felix Gaehtgens, Mary Ruddy, David Mahdi, Paul Rabinovich, 
          Michael Kelley e Ant Allana</p>
      </div>
      <div class="image-block-silver flex-column text-center mb-5">
        <img src="/assets/img/silverfort/fire.webp" />
        <h5></h5>
        <p>
          <b>Histórico</b>
        </p>
        <p style="width: 270px;" >A abordagem sem agente e sem proxy do Silverfort para 
          autenticação baseada em risco parece se adequar particularmente bem a uma 
          estratégia de confiança zero, no sentido de que pode ser aplicada a uma 
          ampla gama de ativos e estruturas de computação (nuvem pública, on- prem, 
          SaaS, híbrido). Silverfort está enfrentando a confiança zero de frente. ”
          Garrett Bekker, Analista principal, Segurança da informação, 451 Research</p>
      </div>
      <div class="image-block-silver flex-column text-center">
        <img  src="/assets/img/silverfort/frost.webp"/>
        <h5></h5>
        <p>
          <b>Relatórios</b>
        </p>
        <p style="width: 270px;" id="form">A Frost & Sullivan reconhece Silverfort no Prêmio 
          de Inovação de Produto. “A Frost & Sullivan acredita que a solução da 
          Silverfort será disruptiva para o mercado, com sua capacidade de adicionar 
          proteção dinamicamente sem incorrer em quaisquer custos adicionais de 
          instalação.”</p >
      </div>
    </div>
    <div class="container-fluid -footer footer" style="background-color: transparent; margin-top: 150px;" >
      <div class="row mx-auto py-5 -about" style="height: auto;">
    <div class="col-md ">
        <br>
        <h3 class="text-center" style="color: white;  margin-top: 150px;">
          Converse com um especialista na solução para entender como você pode proteger a sua empresa com Silverfort
        </h3>
          <br>
      </div>
    <div class="col-md d-flex" style="justify-content: flex-end;" >
        {% include site/form2.html title="Silverfort" id="silverfort_patch" %}
      </div>
  </div>
</div>
</div>


</div>
<div class="container-fluid" style="background-color:#f6f6f6 ;">
  <h1 class="text-center text-teal text-bolder py-2" style="color: gray;">
    <br>
    Você também pode precisar:
</h1>
  <div class="image-block text-lightblue flex-column text-center"  >
    <a href="/waf" class="btn btn-rms my-5" id="next_feature">
      <img src="/assets/img/deep/WAF.png" alt="">
      <p class="text-center" style="color: gray;">WAF de próxima geração
        Proteja suas aplicações web de forma completa</p>
      
    </a>
 
  </div>
</div>
{% include site/download-row.html docs='
<div class="col">
  <div class="downloadblock">
    <img src="/assets/img/silverfort/tumb_overview.webp" />
    <p>Conheça o Silverfort</p>
    <a
      href="https://lps.aiqon.com.br/silverfortoverview"
      target="_blank"
      class="btn btn-small btn-lightblue"
    >
      Baixar PDF
    </a>
    <!-- <button onclick="downloadRequest(2)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
  </div>
</div>
'%}






<style>
  html{
    scroll-behavior: smooth;
  }
  .header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.header .container {
  position: relative;
  z-index: 2;
}

.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
  z-index: 1;
}


  .world{
    background: url("/assets/img/silverfort/background.svg");
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    margin-top: 200px;
   
  }


  .img-step{
    padding-right: 5px;
    flex-direction: row;
    
  }
    .btn-silver{
        border: 1px solid gray;
        border-radius: 1mm;
        margin-top: 20px;
        font-size: 20px;
       }
       .btn-silver:hover{
           background-color: #2a5eeb;
           color: white;

       }
  .desc{
    width: 300px;
  }
  .img-shadow{
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.13);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.13);
  }
  #description{
          margin-left: 10vw;
      }
 
  @media only screen and (max-width: 1500px) {
    #numbers{
      margin-left: -10vw;
      width: 100vw;
    }
    #functions{
      margin-left: -5vw;
    }

    #cards{
        margin-right: none;
      }
  
     
  
    #trial_obs{
      display: none;
    }
    #trial_obs p{
      display: none;
    } 
    #next_feature{
      width: 200px;

    }
    #description{
          margin-left: 0.8vw;
      }
  }

  @media only screen and (min-width: 1499px) {
    
 
  
      
    #showOnlyMobile{
 display: none;

}
#colapse{
  display: none;

}
#formHidden{
       display:none
    }
    #next_feature_b{
      width: 240px;
      display: none;
    }
  }
  
 /*Content Animation*/
 @keyframes fadeInScale {
   0% {
     transform: scale(0.9);
     opacity: 0;
   }
   
   100% {
     transform: scale(1);
     opacity: 1;
   }
 }

 

</style>
      