<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100"
        src="/assets/img/change-tracker/Compliance_Dashboard.png"
        alt="First slide"
      />
      <h4
        class="title-tabs-netwrix-products"
        class="title-tabs-netwrix-products"
      >
        Estabeleça configurações fortes e mantenha a integridade dos seus
        sistemas
      </h4>
      <p class="desc-tabs-netwrix-products">
        Estabeleça configurações sólidas em seus sistemas vitais de
        infraestrutura e interrompa o desvio de configurações.O Change Tracker
        destaca alterações não autorizadas que podem indicar atividades
        suspeitas, ajudando você a aprimorar seus recursos de gerenciamento de
        risco e a executar as melhores práticas de segurança.
      </p>
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="/assets/img/change-tracker/events.jpg"
        alt="Second slide"
      />

      <h4 class="title-tabs-netwrix-products">
        Aprimore a análise forense da violação com monitoramento e verificação
        constantes
      </h4>
      <p class="desc-tabs-netwrix-products">
        O Netwrix Change Tracker alerta você sobre alterações de configurações
        não autorizadas em seu ambiente e fornece os principais detalhes que
        facilitam a investigação, acelerando a resposta e reduzindo o risco de
        danos.
      </p>
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="/assets/img/change-tracker/score.jpg"
        alt="Third slide"
      />
      <h4 class="title-tabs-netwrix-products">
        Aumente a confiança em sua portura de segurança e a capacidade de provar
        sua força
      </h4>
      <p class="desc-tabs-netwrix-products">
        Muitos regulamentos exigem que você demonstre seu controle sobre a
        integridade de seus sistemas corporativos, Realize a preparação de
        auditoria mais rapidamente com uma ferramenta que automatiza tarefas de
        relatórios e facilita a resposta em situações especificas.
      </p>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<style>
  .carousel-control-prev-icon {
    background-color: gray;
    margin-top: -15vh;
  }
  .carousel-control-next-icon {
    background-color: gray;
    margin-top: -15vh;
  }
   @media only screen and (max-width: 1024px) {
    .title-tabs-netwrix-products{
        padding: 13px;
        margin-top: -0.5vh;

    }
    .desc-tabs-netwrix-products{
        padding: 15px;
        margin-top: 1vh;
    }
    

   }
  @media only screen and (min-width: 1024px) {
    #carouselExampleIndicators {
      display: none;
    }
    
  }
</style>
