<div class="container-fluid -modulos py-5 mt-5">
    <div class="row pb-3">
        <div class="col text-center ">
            {% if page.title == 'Netwrix Auditor' %}
            <h1 class="text-blue">Maior cobertura de ambientes suportados</h1>
            <p id="mobile-hide" class="text-secondary">Visibilidade e controle sobre todos os seus sistemas on-premise
                ou baseados em nuvem de
                forma unificada</p>
            {% else %}
            <h1 class="text-blue">Conheça os módulos</h1>
            {% endif %}
        </div>
    </div>
    <div class="row row-datasource">
        <a href="/netwrix/windows-server/index.html"
            class="col solution-datasource d-flex align-items-center justify-content-between ">
            <img src="/assets/img/netwrix/modulos/Asset 3WINDOWS SERVER.svg" class="align-self-center">
            <p>Windows Server</p>
        </a>
        <a href="/netwrix/azure" class="col solution-datasource d-flex align-items-center justify-content-between ">
            <img src="#" class="align-self-center">
            <p>Linux</p>
        </a>
        <a href="/netwrix/exchange" class="col solution-datasource d-flex align-items-center justify-content-between ">
            <img src="#" class="align-self-center">
            <p>Unix</p>
        </a>
        <a href="/netwrix/office-365"
            class="col solution-datasource d-flex align-items-center justify-content-between ">
            <img src="#" class="align-self-center">
            <p>MacOS</p>
        </a>
    </div>
    <div class="row row-datasource">
        <a href="/netwrix/azure/index.html" class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/azure.svg" class="align-self-center">
            <p>Azure</p>
        </a>
        <a href="#"
            class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/aws.svg" class="align-self-center">
            <p>AWS</p>
        </a>
        <a href="#" class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/google_cloud.svg" class="align-self-center">
            <p>Google Cloud</p>
        </a>
        <a href="/netwrix/oracle-database/index.html"
            class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/databases.svg" class="align-self-center">
            <p>Databases</p>
        </a>
    </div>
    <div class="row row-datasource">
        <a href="#"
            class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/containers.svg" class="align-self-center">
            <p>Containers</p>
        </a>
        <a href="/netwrix/vmware/index.html" class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/Asset 12VMWARE.svg" class="align-self-center">
            <p>Virtualized System</p>
        </a>
        <a href="#" class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/Asset 18NetworkDevice.svg" class="align-self-center">
            <p>Network Devices</p>
        </a>
        <a href="#" class="col solution-datasource d-flex align-items-center justify-content-between">
            <img src="/assets/img/netwrix/modulos/industrial_control_systems.svg" class="align-self-center">
            <p>Industrial Control Systems</p>
        </a>
    </div>
</div>