<div class="container" id="showOnlyMobile">
    <div class="accordion">
      <dl>
        <dt>
          <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">Criptografia do Gmail</a>
        </dt>
        <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
            <h2 class="text-center text-gray mb-5 mt-5">
                Proteção centrada em dados do Gmail
              </h2>
              <div class="row">
                <div class="col-md">
                  <b>Criptografia de e-mail de ponta a ponta</b>
                  <p>
                    Criptografe mensagens e anexos diretamente no Gmail, antes que os
                    dados cheguem aos servidores do Google, evitando o acesso do Google e
                    de outras partes não autorizadas, onde quer que sejam compartilhados.
                  </p>
                  <b>Controles de acesso granulares</b>
                  <p>
                    Defina a expiração, desative o encaminhamento e marque os anexos com
                    os nomes dos destinatários para impedi-los de vazar arquivos
                    confidenciais.
                  </p>
                  <b>Revogação Instantânea</b>
                  <p>
                    Revogue o acesso a mensagens e anexos imediatamente quando os e-mails
                    forem enviados por engano ou depois que os dados neles se tornarem
                    mais confidenciais.
                  </p>
                  <b>Proteção de arquivo persistente</b>
                  <p>
                    Mantenha os anexos sob seu controle, mesmo depois de movê-los do Gmail
                    para desktops, pastas de rede compartilhadas, Google Drive ou qualquer
                    outro lugar onde os arquivos sejam armazenados e compartilhados.
                  </p>
                </div>
                <div class="col-md">
                  <img
                    src="/assets/img/virtru/pop_up/pop_gmail.webp"
                    class="img-fluid img-pop_up"
                    alt=""
                  />
                </div>
        </dd>
        <dt>
          <a href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">
            Google Drive Encryption</a>
        </dt>
        <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
            <h2 class="text-gray text-center mb-5 mt-5">
                Criptografia de unidade de disco centrada em dados e controle persistente
              </h2>
            <div class="row">
                <div class="col-md">
                  <b
                    >Proteção para complementar a criptografia do cliente do Google
                    Workspace</b
                  >
                  <p>
                    Solução parceira da criptografia do Google Workspace com gerenciamento
                    de chaves e oferece criptografia que acompanha os arquivos onde quer
                    que sejam compartilhados, garantindo que seus dados armazenados no
                    Google Workspace sejam confidenciais e permaneçam privados se você
                    precisar compartilhar via outros fluxos de trabalho. Armazene e
                    compartilhe com segurança todos os dados confidenciais com
                    rastreamento de dados seguro e avançado.
                  </p>
                  <b>Criptografia de arquivo ponta a ponta</b>
                  <p>
                    Criptografe arquivos PDF, PowerPoint, Excel, Word, PNG e JPG durante o
                    upload. A extensão simples da Virtru para o Chrome protege os arquivos
                    diretamente no cliente para impedir o acesso do Google e de terceiros
                    não autorizados, onde quer que os arquivos sejam compartilhados.
                  </p>
                  <b>Controles de acesso granulares e persistentes</b>
                  <p>
                    Defina a expiração e desative o compartilhamento. Revogue o acesso a
                    qualquer momento.
                  </p>
                  <b>Marca d'água</b>
                  <p>
                    Arquivos de marca d'água carregados para o Drive com os nomes dos
                    destinatários, ajudando a evitar vazamentos de dados baseados em
                    arquivos à medida que são compartilhados externamente.
                  </p>
                </div>
                <div class="col-md">
                  <img
                    src="/assets/img/virtru/pop_up/google_w.webp"
                    class="img-fluid img-pop_up"
                    alt=""
                  />
                </div>
              </div>
        </dd>
        <dt>
          <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
            Criptografia do Google Workspace
          </a>
        </dt>
        <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
            <h2 class="text-gray text-center mb-5 mt-5">
                Segurança centrada em dados do Google Workspace para colaboração baseada
                em nuvem
              </h2>
              <div class="row">
                <div class="col-md">
                  <b
                    >Proteção para complementar a criptografia do cliente do Google
                    Workspace</b
                  >
                  <p>
                    Solução parceira da criptografia utilizada no Google Workspace com
                    gerenciamento de chaves e oferece criptografia que acompanha os
                    arquivos onde quer que sejam compartilhados, garantindo que seus dados
                    armazenados no Google Workspace sejam confidenciais e permaneçam
                    privados se você precisar compartilhar via outros fluxos de trabalho.
                    Armazene e compartilhe com segurança todos os dados confidenciais com
                    rastreamento de dados seguro e avançado.
                  </p>
                  <b>E-mail de ponta a ponta e criptografia de arquivo</b>
                  <p>
                    Criptografe mensagens e anexos do Gmail , bem como arquivos
                    armazenados no Google Drive, incluindo Google Docs, Google Sheets,
                    Google Slides e outros arquivos enviados. A extensão simples da Virtru
                    para o Chrome protege e-mails e arquivos diretamente no Google
                    Workspace, impedindo o acesso do Google e de terceiros não
                    autorizados, onde quer que os dados sejam compartilhados.
                  </p>
                  <b>Segurança do Google Cloud</b>
                  <p>
                    Os arquivos armazenados no Google Drive são criptografados durante o
                    upload. Os usuários também podem proteger e manter o controle dos
                    arquivos baixados do Google Drive e compartilhados por meio de outros
                    fluxos de trabalho.
                  </p>
                </div>
                <div class="col-md">
                  <img
                    src="/assets/img/virtru/pop_up/pop_3.webp"
                    class="img-fluid img-pop_up"
                    alt=""
                  />
                </div>
              </div>
        </dd>
        <dt>
            <a href="#accordion4" aria-expanded="false" aria-controls="accordion4" class="accordion-title accordionTitle js-accordionTrigger">
                Criptografia do Outlook
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion4" aria-hidden="true">
            <h2 class="text-gray text-center mb-5 mt-5">
                Reforçar a segurança do Microsoft Outlook
              </h2>
              <div class="row">
                <div class="col-md">
                  <b>Proteção centrada em dados</b>
                  <p>
                    Você pode proteger seus dados no nível do objeto, envolvendo cada
                    e-mail e arquivo individual com sua própria camada de criptografia. O
                    formato de dados confiáveis da Virtru protege os dados onde quer que
                    eles viajem , para que você possa compartilhar informações com a
                    confiança de que estão sempre sob seu controle.
                  </p>
                  <b>Zero Trust Key Management</b>
                  <p>
                    Solução que apóia e defende uma estratégia Zero Trust que valida cada
                    pessoa ou sistema que acessa seus dados confidenciais. Incentivamos
                    você a gerenciar suas próprias chaves de criptografia e políticas
                    associadas , de modo que nem a Virtru, nem a Microsoft, ou qualquer
                    outro terceiro tenha visibilidade de seus dados.
                  </p>
                  <b>Interoperabilidade entre dispositivos e plataformas</b>
                  <p>
                    Em um mundo que está se tornando cada vez mais híbrido em todos os
                    sentidos (Microsoft e Google, PC e Mac, no local e com base na nuvem),
                    a Virtru equipa você com as ferramentas de que você precisa para
                    garantir experiências consistentes em uma variedade de dispositivos,
                    plataformas e ambientes .
                  </p>
                </div>
                <div class="col-md">
                  <img
                    src="/assets/img/virtru/pop_up/outlook.webp"
                    class="img-fluid img-pop_up"
                    alt=""
                  />
                </div>
              </div>
          </dd>
          <dt>
            <a href="#accordion5" aria-expanded="false" aria-controls="accordion5" class="accordion-title accordionTitle js-accordionTrigger">
                Aplicações Enterprise
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion5" aria-hidden="true">
            <h2 class="text-gray text-center mb-5 mt-5">
                Proteção centrada em dados para seus fluxos de trabalho de aplicativos
              </h2>
              <div class="row">
                <div class="col-md">
                  <img
                    src="/assets/img/virtru/pop_up/flux.webp"
                    class="img-fluid"
                    id="image_flux"
                    alt=""
                  />
                </div>
                <div class="col-md-5 py-5">
                  <p class="mt-5">
                    A criptografia de saída protege e-mails e arquivos antes que saiam de
                    seu domínio para garantir que as comunicações permaneçam em
                    conformidade, privadas e seguras. A descriptografia de entrada permite
                    a verificação de texto simples por um aplicativo ou MTA (Mail Transfer
                    Agent) antes que ele entre em seu domínio para fins de anti-malware,
                    anti-spam e conformidade. A descriptografia e arquivamento de saída
                    permitem que os e-mails sejam copiados e enviados para arquivos para
                    dar suporte aos processos de eDiscovery e relatórios de auditoria. A
                    criptografia de entrada protege PII e PHI em mensagens de entrada
                    enviadas de pacientes, clientes, clientes e parceiros, para garantir a
                    conformidade. O Outbound Data Loss Prevention determina quais
                    mensagens são criptografadas automaticamente com base nas políticas de
                    segurança, o que pode ser transmitido sem a necessidade de
                    criptografia e o que avisa (ou registra) um problema potencial.
                  </p>
                </div>
              </div>
          </dd>
          <dt>
            <a href="#accordion6" aria-expanded="false" aria-controls="accordion6" class="accordion-title accordionTitle js-accordionTrigger">
                Compartilhamento Seguro
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion6" aria-hidden="true">
            <h2 class="text-gray text-center mb-5 mt-5">
                Compartilhamento de arquivos seguro que cria confiança única
              </h2>
              <div class="row">
                <div class="col-md">
                  <p>
                    O que diferencia o Virtru de outras plataformas de compartilhamento de
                    arquivos? A capacidade de estender a privacidade e o controle total
                    dos dados ao proprietário dos dados, em todos os momentos. Com o
                    Virtru Secure Share, você obtém os arquivos de que precisa com rapidez
                    e facilidade e seus colaboradores mantêm o controle de seus dados,
                    incluindo a capacidade de revogar o acesso. Como resultado, todos se
                    movem em uma velocidade elevada de colaboração, com a confiança de que
                    os dados permanecem seguros.
                  </p>
                  <p>
                    Seu link pessoal é gerado automaticamente, para que você possa começar
                    a coletar arquivos. Não há necessidade de enviar um e-mail: você pode
                    agilizar a colaboração compartilhando seu link diretamente por meio de
                    aplicativos como Slack, Microsoft Teams ou no chat de vídeo.
                  </p>
                </div>
                <div class="col-md">
                  <img
                    src="/assets/img/virtru/pop_up/share_pop.webp"
                    class="img-fluid img-pop_up"
                    alt=""
                  />
                </div>
              </div>
          </dd>
      </dl>
    </div>
  </div>

  <style>

 
 .accordion dl, .accordion-list {
	 border: 1px solid #ddd;
}
 .accordion dl:after, .accordion-list:after {
	 content: "";
	 display: block;
	 height: 1em;
	 width: 100%;
	 background-color: #3B4371;
}
 .accordion dd, .accordion__panel {
	 background-color: #eee;
	 font-size: 1em;
	 line-height: 1.5em;
}
 .accordion p {
	 padding: 1em 2em 1em 2em;
}
 .accordion {
	 position: relative;
	 background-color: #eee;
}

 .accordionTitle, .accordion__Heading {
	 background-color: #3668ff;
	 text-align: center;
	 font-weight: 700;
	 padding: 2em;
	 display: block;
	 text-decoration: none;
	 color: #fff;
	 transition: background-color 0.5s ease-in-out;
	 border-bottom: 1px solid gray;
}
 .accordionTitle:before, .accordion__Heading:before {
	 content: "+";
	 font-size: 1.5em;
	 line-height: 0.5em;
	 float: left;
	 transition: transform 0.3s ease-in-out;
}
 .accordionTitle:hover, .accordion__Heading:hover {
	 background-color: #000046;
}
 .accordionTitleActive, .accordionTitle.is-expanded {
	 background-color: #000046;
}
 .accordionTitleActive:before, .accordionTitle.is-expanded:before {
	 transform: rotate(-225deg);
}
 .accordionItem {
	 height: auto;
	 overflow: hidden;
	 max-height: 100em;
	 transition: max-height 1s;
   text-align: center;
}
 @media screen and (min-width: 48em) {
	 .accordionItem {
		 max-height: 100vh;
		 transition: max-height 0.5s;
         
	}
    
}

 .accordionItem.is-collapsed {
	 max-height: 0;
}
 .no-js .accordionItem.is-collapsed {
	 max-height: auto;
}
 .animateIn {
	 animation: accordionIn 0.45s normal ease-in-out both 1;
}
 .animateOut {
	 animation: accordionOut 0.45s alternate ease-in-out both 1;
}
 @keyframes accordionIn {
	 0% {
		 opacity: 0;
		 transform: scale(0.9) rotateX(-60deg);
		 transform-origin: 50% 0;
	}
	 100% {
		 opacity: 1;
		 transform: scale(1);
	}
}
 @keyframes accordionOut {
	 0% {
		 opacity: 1;
		 transform: scale(1);
	}
	 100% {
		 opacity: 0;
		 transform: scale(0.9) rotateX(-60deg);
	}
}
@media only screen and (min-width: 1028px) {
    #showOnlyMobile {
      display: none;
    }
}
@media only screen and (max-width: 1028px) {
    .container-card {
      display: none;
    }
}


 
  </style>
  <script>
      //uses classList, setAttribute, and querySelectorAll
//if you want this to work in IE8/9 youll need to polyfill these
(function(){
	var d = document,
	accordionToggles = d.querySelectorAll('.js-accordionTrigger'),
	setAria,
	setAccordionAria,
	switchAccordion,
  touchSupported = ('ontouchstart' in window),
  pointerSupported = ('pointerdown' in window);
  
  skipClickDelay = function(e){
    e.preventDefault();
    e.target.click();
  }

		setAriaAttr = function(el, ariaType, newProperty){
		el.setAttribute(ariaType, newProperty);
	};
	setAccordionAria = function(el1, el2, expanded){
		switch(expanded) {
      case "true":
      	setAriaAttr(el1, 'aria-expanded', 'true');
      	setAriaAttr(el2, 'aria-hidden', 'false');
      	break;
      case "false":
      	setAriaAttr(el1, 'aria-expanded', 'false');
      	setAriaAttr(el2, 'aria-hidden', 'true');
      	break;
      default:
				break;
		}
	};
//function
switchAccordion = function(e) {
  console.log("triggered");
	e.preventDefault();
	var thisAnswer = e.target.parentNode.nextElementSibling;
	var thisQuestion = e.target;
	if(thisAnswer.classList.contains('is-collapsed')) {
		setAccordionAria(thisQuestion, thisAnswer, 'true');
	} else {
		setAccordionAria(thisQuestion, thisAnswer, 'false');
	}
  	thisQuestion.classList.toggle('is-collapsed');
  	thisQuestion.classList.toggle('is-expanded');
		thisAnswer.classList.toggle('is-collapsed');
		thisAnswer.classList.toggle('is-expanded');
 	
  	thisAnswer.classList.toggle('animateIn');
	};
	for (var i=0,len=accordionToggles.length; i<len; i++) {
		if(touchSupported) {
      accordionToggles[i].addEventListener('touchstart', skipClickDelay, false);
    }
    if(pointerSupported){
      accordionToggles[i].addEventListener('pointerdown', skipClickDelay, false);
    }
    accordionToggles[i].addEventListener('click', switchAccordion, false);
  }
})();
  </script>