---
layout: default
title: StealthAUDIT®
---

<div
  class="container-fluid"
  style="
    background: linear-gradient(90deg, #0f2027 19%, #2c5364 100%);
    height: 600px;
    padding-top: 14vh;
    color: white;
  "
>
  <canvas class="background"></canvas>
  <br />
  <br />
  <div class="row">
    <div
      class="
        col
        -solution-hero
        d-flex
        flex-column
        justify-content-center
        align-items-center
        text-center text-white
        background
      "
    >
      <img
        src="/assets/img/stealth_bits/audit/logo.svg"
        style="width: 200px"
      />
      <h1>StealthAUDIT®</h1>
      <p>Relatórios e governança</p>
    </div>
  </div>
</div>
<br />
<br />
<div class="container-fluid mb-5">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3>Respostas para todas as suas perguntas</h3>
        <p class="text-secondary">
          O StealthAUDIT automatiza a coleta e análise dos dados de que você
          precisa para responder às perguntas mais difíceis que você enfrenta no
          gerenciamento e segurança de dezenas de ativos críticos de TI,
          incluindo dados, diretórios e sistemas.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container text-center mb-5" style="margin-top: 10vh">
  <h2 class="text-teal">Por que StealthAUDIT?</h2>
  <p>
    Todas as organizações, independentemente do tamanho, exigem ferramentas para
    ajudá-las a gerenciar e proteger os vários recursos de tecnologia que
    impulsionam seus negócios. No entanto, nenhuma organização tem a capacidade
    de pagar, operar com eficiência ou manter produtos pontuais separados para
    cada tecnologia que utilizam.
  </p>
  <p>
    O que eles precisam são soluções que sejam flexíveis o suficiente para
    atender aos seus requisitos exclusivos, ao mesmo tempo que fornecem a
    extensibilidade para fornecer um conjunto comum de recursos em várias
    plataformas dentro de seu ecossistema de TI.
  </p>
  <div class="row text-center mt-5 mb-5">
    <div class="col-md-2">
      <img
        src="/assets/img/stealth_bits/audit/icons/collet.webp"
        alt="Coleta"
      />
      <p>Coleta</p>
    </div>
    <div class="col-md-2">
      <img
        src="/assets/img/stealth_bits/audit/icons/analyze.webp"
        alt="Analise"
      />
      <p>Analise</p>
    </div>
    <div class="col-md-2">
      <img
        src="/assets/img/stealth_bits/audit/icons/govern-.webp"
        alt="Conformidade"
      />
      <p>Conformidade</p>
    </div>
    <div class="col-md-2">
      <img
        src="/assets/img/stealth_bits/audit/icons/remediation.webp"
        alt="Remediação"
      />
      <p>Remediação</p>
    </div>
    <div class="col-md-2">
      <img
        src="/assets/img/stealth_bits/audit/icons/report-icon.webp"
        alt="Relatorios"
      />
      <p>Relatórios</p>
    </div>
    <div class="col-md-2">
      <img
        src="/assets/img/stealth_bits/audit/icons/respond.webp"
        alt="Resposta"
      />
      <p>Responda</p>
    </div>
  </div>
</div>
<div
  class="container-fluid mt-5"
  style="
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 25%,
      rgba(235, 235, 235, 1) 25%
    );
  "
>
  <div class="container text-center mt-5">
    <h5 class="text-gray" style="margin-top: 10vh">RECOLHER</h5>
    <h3 class="text-teal">A SEGURANÇA DO ACESSO A DADOS COMEÇA COM O ACESSO AOS DADOS</h3>
    <button
      type="button"
      class="btn btn-img"
      data-toggle="modal"
      data-target="#modal-1"
    >
      <img
        class="w-100"
        src="/assets/img/stealth_bits/audit/securing-data-hq.webp"
        alt="icon"
      />
    </button>
    <!--Modal -->
    <div
      class="modal fade"
      id="modal-1"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <img
            src="/assets/img/stealth_bits/audit/securing-data-hq.webp"
            class="img-modal-stealth mb-5"
            alt="icon"
          />
        </div>
      </div>
    </div>
    <img
      class="mb-5 mt-3"
      src="/assets/img/stealth_bits/audit/icons/collet.webp"
      alt=""
    />
    <p style="margin: 0">
      StealthAUDIT contém mais de 40 módulos de coleta de dados integrados que
      abrangem plataformas locais e baseadas em nuvem de sistemas operacionais a
      Office 365. Aproveitando uma abordagem de arquitetura sem agente, nosso
      coletor AnyData proprietário fornece uma interface fácil e orientada por
      assistente para configurar StealthAUDIT para coletar exatamente os dados
      necessários, permitindo uma coleta de dados rápida, sem falhas e com o
      menor peso possível de dezenas de fontes de dados.
    </p>
  </div>
</div>
<div
  class="container-fluid"
  style="
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 65%,
      rgba(235, 235, 235, 1) 65%
    );
    padding-top: 15vh;
  "
>
  <div class="container text-center">
    <h5 class="text-gray">ANALISAR</h5>
    <h3 class="text-teal">UMA NOVA PERSPECTIVA DOS SEUS DADOS</h3>
    <button
      type="button"
      class="btn btn-img"
      data-toggle="modal"
      data-target="#modal-2"
    >
      <img
        class="w-100"
        src="/assets/img/stealth_bits/audit/perspective.webp"
        alt="icon"
      />
    </button>
    <!--Modal -->
    <div
      class="modal fade"
      id="modal-2"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <img
            src="/assets/img/stealth_bits/audit/perspective.webp"
            class="img-modal-stealth mb-5"
            alt="icon"
          />
        </div>
      </div>
    </div>
    <img
      class="mb-5 mt-3"
      src="/assets/img/stealth_bits/audit/icons/analyze.webp"
      alt="Analise"
    />
    <p>
      Os Módulos de Análise StealthAUDIT permitem que os usuários obtenham
      facilmente informações de seus dados . Os recursos incluem correlação com
      fontes de dados existentes e alternativas, criação de visualização fácil
      de usar, tendências históricas, injeção de regras e lógica de negócios,
      notificação, exportação e muito mais. Os usuários também podem estender a
      análise com poderosos módulos SQL e PowerShell, bem como entradas e saídas
      alternativas de script.
    </p>
  </div>
</div>
<div class="container-fluid gartner-content text-center text-white">
  <img
    src="/assets/img/stealth_bits/defend/g2.webp"
    class="mt-5"
    alt="g2_logo"
  />
  <div class="transparent-bg">
    <h4 style="padding-top: 6vh">
      “StealthAUDIT helps mature my Information Security Program”
    </h4>
    <p>
      (StealthAUDIT ajuda a amadurecer meu programa de segurança da informação”)
    </p>
    <img
      src="/assets/img/stealth_bits/defend/start.webp"
      class="mb-3"
      alt="Estrelas de avaliação"
    />
    <p>5 de 5</p>
    <a
      class="btn btn-gartner"
      target="_blank"
      href="https://www.g2.com/products/stealthbits-technologies-stealthaudit-management-platform/reviews/stealthaudit-management-platform-review-1657324?utm_source=Website+Search&utm_campaign=G2+Crowd+Promotion"
      >Análise Completa</a
    >
  </div>
</div>
<div
  class="container-fluid"
  style="
    background: linear-gradient(
      0deg,
      rgba(235, 235, 235, 1) 75%,
      rgba(249, 249, 249, 1) 75%
    );
    padding-top: 10vh;
  "
>
  <div class="container text-center">
    <h5 class="text-gray">CONFORMIDADE</h5>
    <h3 class="text-teal">AUTOMATIZADO MENOS ACESSO DE PRIVILÉGIO</h3>
    <button
      type="button"
      class="btn btn-img"
      data-toggle="modal"
      data-target="#modal-3"
    >
      <img
        class="w-100"
        src="/assets/img/stealth_bits/audit/automate.jpg"
        alt="icon"
      />
    </button>
    <!--Modal -->
    <div
      class="modal fade"
      id="modal-3"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <img
            src="/assets/img/stealth_bits/audit/automate.jpg"
            class="img-modal-stealth mb-5"
            alt="icon"
          />
        </div>
      </div>
    </div>
    <img
      class="mb-5 mt-1"
      src="/assets/img/stealth_bits/audit/icons/govern-.webp"
      alt="Conformidade"
    />
    <p style="margin: 0">
      Nem todos os dados podem ser obtidos de um sistema ou aplicativo. Quando
      entradas e respostas são exigidas dos proprietários de dados e recursos, o
      StealthAUDIT fornece métodos simples e sofisticados de recuperação e
      incorporação de feedback do usuário final na análise de dados e no
      processo de tomada de decisão, incluindo revisões de direitos,
      solicitações de acesso de autoatendimento e muito mais.
    </p>
  </div>
</div>
<div
  class="container-fluid mb-5"
  style="
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 65%,
      rgba(235, 235, 235, 1) 65%
    );
    padding-top: 15vh;
  "
>
  <div class="container text-center">
    <h5 class="text-gray">REMEDIAR</h5>
    <h3 class="text-teal" >NÃO APENAS ENCONTRE PROBLEMAS, MAS RESOLVA</h3>
    <button
      type="button"
      class="btn btn-img"
      data-toggle="modal"
      data-target="#modal-4"
    >
      <img
        class="w-100"
        src="/assets/img/stealth_bits/audit/dont-just.webp"
        alt="icon"
      />
    </button>
    <!--Modal -->
    <div
      class="modal fade"
      id="modal-4"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <img
            src="/assets/img/stealth_bits/audit/dont-just.webp"
            class="img-modal-stealth mb-5"
            alt="icon"
          />
        </div>
      </div>
    </div>
    <img
      class="mb-4 mt-1"
      src="/assets/img/stealth_bits/audit/icons/remediation.webp"
      alt="Remediação"
    />
    <p>
      A estrutura do Módulo de Ação do StealthAUDIT serve tanto como um meio
      para se comunicar e receber feedback dos usuários finais, quanto para
      remediar as condições de maneira automática ou programática em
      praticamente todos os cantos da sua organização. Conserte o acesso, limpe
      dados obsoletos, alimente sistemas de tíquetes, vincule processos
      perfeitamente e muito mais com as instalações de ação abertas e flexíveis
      do StealthAUDIT.
    </p>
  </div>
</div>
<div class="container-fluid gartner-content-black text-center text-white">
  <img
    src="/assets/img/stealth_bits/intercept/gartner_review.png"
    class="mt-5 logo_gartner"
    alt="g2_logo"
  />
  <div class="bg-colors">
    <h4 style="padding-top: 6vh">
      “Great platform to improve security & data governance”
    </h4>
    <p>(Ótima plataforma para melhorar a segurança e governança de dados)</p>
    <p><i>-Director of Infrastructure & Security in the Finance Industry</i></p>
    <img
      src="/assets/img/stealth_bits/defend/start.webp"
      class="mb-3 logo_gartner"
      alt="Estrelas de avaliação"
    />
    <p>5 de 5</p>
    <a
      class="btn btn-gartner mb-5"
      target="_blank"
      href="https://www.gartner.com/reviews/market/file-analysis-software/vendor/stealthbits/product/stealthaudit-management-platform/review/view/693098"
      >Análise Completa</a
    >
    <br />
  </div>
</div>
<div
  class="container-fluid"
  style="
    background: linear-gradient(
      0deg,
      rgba(235, 235, 235, 1) 75%,
      rgba(249, 249, 249, 1) 75%
    );
    padding-top: 10vh;
  "
>
  <div class="container text-center">
    <h5 class="text-gray">RELATÓRIO</h5>
    <h3 class="text-teal">"AQUI ESTÁ O RELATÓRIO QUE VOCÊ SOLICITAU… CHEFE!"</h3>
    <button
      type="button"
      class="btn btn-img"
      data-toggle="modal"
      data-target="#modal-5"
    >
      <img
        class="w-100"
        src="/assets/img/stealth_bits/audit/heres-the.webp"
        alt="icon"
      />
    </button>
    <!--Modal -->
    <div
      class="modal fade"
      id="modal-5"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <img
            src="/assets/img/stealth_bits/audit/heres-the.webp"
            class="img-modal-stealth mb-5"
            alt="icon"
          />
        </div>
      </div>
    </div>
    <img
      class="mb-5 mt-1"
      src="/assets/img/stealth_bits/audit/icons/report-icon.webp"
      alt="Conformidade"
    />
    <p style="margin: 0">
      StealthAUDIT fornece várias maneiras de interagir com seus dados coletados
      e analisados, incluindo geração e distribuição de relatórios para as
      partes apropriadas em sua organização. As lindas renderizações HTML5 de
      qualquer cenário tornam a compreensão do seu ambiente simples para os
      usuários em qualquer nível da sua empresa, em praticamente qualquer
      dispositivo.
    </p>
  </div>
</div>
<div
  class="container-fluid mb-5"
  style="
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 65%,
      rgba(235, 235, 235, 1) 65%
    );
    padding-top: 15vh;
  "
>
  <div class="container text-center">
    <h5 class="text-gray">RESPONDA</h5>
    <h3 class="text-teal">RESULTADOS PARA PEDIDOS DE ACESSO AO ASSUNTO DE DADOS EM SEGUNDOS</h3>
    <button
      type="button"
      class="btn btn-img"
      data-toggle="modal"
      data-target="#modal-6"
    >
      <img
        class="w-100"
        src="/assets/img/stealth_bits/audit/data-privacy.webp"
        alt="icon"
      />
    </button>
    <!--Modal -->
    <div
      class="modal fade"
      id="modal-6"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <img
            src="/assets/img/stealth_bits/audit/data-privacy.webp"
            class="img-modal-stealth mb-5"
            alt="icon"
          />
        </div>
      </div>
    </div>
    <p>
      <img
        class="mb-4 mt-1"
        src="/assets/img/stealth_bits/audit/icons/respond.webp"
        alt="Remediação"
      />
    </p>

    <p>
      Mecanismo de privacidade de dados (disponível como um complemento) permite
      que StealthAUDIT conecte identidades com a localização de suas informações
      pessoais para pré-descobrir os atributos dos titulares de dados em todos
      os repositórios (estruturados, não estruturados, no local, na nuvem, etc.)
      e manter uma compreensão de quais arquivos estão relacionados a quais
      pessoas.
    </p>
  </div>
</div>

{% include site/stealthaudit/modules.html %} {% include site/trial.html
title="Solicite uma demonstração" id="form_stealth_audit" %}

<style>
  .gartner-content {
    background: url("/assets/img/stealth_bits/defend/gartner_bg.webp");
    background-size: cover;
    height: 55vh;
    padding: 0;
  }
  .gartner-content-black {
    background-color: black;
    background-size: cover;
    height: 60vh;
    padding: 0;
  }
  .bg-colors {
    background: url("/assets/img/stealth_bits/intercept/green-transparent-review-bg-f05f1b31.png")
      no-repeat;
    padding: 0;
    height: 45vh;
    background-position: 390px 30px !important;
    background-size: 80%;
  }
  .btn-gartner {
    border: 2px solid white;
    text-transform: uppercase;
    font-weight: bolder;
    background: transparent;
    color: white;
    border-radius: 60px;
    font-size: 12px;
  }
  .transparent-bg {
    background: url("/assets/img/stealth_bits/defend/transparent_bg.png")
      no-repeat;
    padding: 0;
    height: 45vh;
    background-position: 0px 30px !important;
    background-size: 80%;
    z-index: -1;
  }
  .btn-gartner {
    border: 2px solid white;
    text-transform: uppercase;
    font-weight: bolder;
    background: transparent;
    color: white;
    border-radius: 60px;
    font-size: 12px;
  }
  .btn-gartner:hover {
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
  }
  .img-modal-stealth {
    width: 80vw;
  }
  .modal-dialog {
    max-width: 80vw;
  }
  .modal-content {
    background-color: transparent;
  }
  @media screen and (max-width: 990px) {
    .logo_gartner {
      max-width: 250px;
    }
    .img-modal-stealth {
      width: 96vw;
    }
    .modal-dialog {
      max-width: 96vw;
    }
    .gartner-content {
      min-height: 65vh;
    }
    .transparent-bg {
      background: transparent;
    }
    .bg-colors {
      background-color: transparent;
    }
    .gartner-content-black {
      height: 70vh;
    }
  }
  @media screen and (max-width: 1024px) {
    .gartner-content-black {
      height: 48vh;
    }
    .gartner-content {
      max-height: 40vh;
    }
    .transparent-bg {
      background: transparent;
    }
    .bg-colors {
      background-color: transparent;
    }
  }
</style>
