<div class="container py-5" id="tab_h" style="background-color: transparent">
  <!-- For demo purpose -->

  <div class="container-fluid mb-5">
    <!-- Rounded tabs -->
    <ul
      style="background: transparent;"
      id="myTab"
      role="tablist"
      class="nav nav-tabs nav-pills flex-column flex-sm-row text-center border-0 rounded-nav"
    >
      <li class="nav-item flex-sm-fill">
        <a
          id="home-tab"
          data-toggle="tab"
          href="#cdr"
          role="tab"
          aria-controls="home"
          aria-selected="true"
          class="nav-link border-0 text-uppercase font-weight-bold active"
          >Detecção e Resposta em <br />Cloud (CDR)</a
        >
      </li>
      <li class="nav-item flex-sm-fill">
        <a
          id="profile-tab"
          data-toggle="tab"
          href="#bot"
          role="tab"
          aria-controls="bot"
          aria-selected="false"
          class="nav-link border-0 text-uppercase font-weight-bold"
          >Deploy de Software</a
        >
      </li>
      <li class="nav-item flex-sm-fill">
        <a
          id="profile-tab"
          data-toggle="tab"
          href="#authentication"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
          class="nav-link border-0 text-uppercase font-weight-bold"
          >Autenticação Segura</a
        >
      </li>

      <li class="nav-item flex-sm-fill">
        <a
          id="profile-tab"
          data-toggle="tab"
          href="#ddos"
          role="tab"
          aria-controls="ddos"
          aria-selected="false"
          class="nav-link border-0 text-uppercase font-weight-bold"
          >Patch Management</a
        >
      </li>
      <li class="nav-item flex-sm-fill">
        <a
          id="profile-tab"
          data-toggle="tab"
          href="#web_app"
          role="tab"
          aria-controls="app"
          aria-selected="false"
          class="nav-link border-0 text-uppercase font-weight-bold"
          >Inventário Hardware<br />
          e Software</a
        >
      </li>
      <li class="nav-item flex-sm-fill">
        <a
          id="profile-tab"
          data-toggle="tab"
          href="#waf"
          role="tab"
          aria-controls="waf"
          aria-selected="false"
          class="nav-link border-0 text-uppercase font-weight-bold"
          >Scanner e correção de vulnerabilidade</a
        >
      </li>

      <li class="nav-item flex-sm-fill">
        <a
          id="contact-tab"
          data-toggle="tab"
          href="#deep"
          role="tab"
          aria-controls="contact"
          aria-selected="false"
          class="nav-link border-0 text-uppercase font-weight-bold"
          >Deep Learning Endpoint Security</a
        >
      </li>
    </ul>
    <div id="myTabContent" class="tab-content text-center">
      <div
        id="cdr"
        role="tabpanel"
        aria-labelledby="home-tab"
        class="tab-pane fade px-4 py-5 show active"
      >
        <h3>Proteja as contas de usuários na nuvem</h3>
        <div class="row">
          <div class="col-3 py-5">
            <p class="text-left">
              Proteja as contas de usuário e serviço contra aquisição e uso
              indevido, tendo total Gestão de Computação Distribuida Mantendo
              seus ativos em nuvem seguros sem degradar a experiência de
              usuários legítimos.
            </p>
          </div>
          <div class="col py-5">
            <div class="row mb-5">
              <div class="col">
                <img
                  src="/assets/img/obsidian/modules/google.svg"
                  alt="Gestão de Computação Distribuida"
                  class="img-cdr img-fluid"
                />
              </div>
              <div class="col">
                <img
                  src="/assets/img/obsidian/modules/aws.svg"
                  alt="icon"
                  class="img-cdr img-fluid"
                />
              </div>
              <div class="col">
                <img
                  src="/assets/img/obsidian/modules/azure.svg"
                  alt="icon"
                  class="img-cdr img-fluid"
                />
              </div>
              <div class="col">
                <img
                  src="/assets/img/obsidian/modules/office.svg"
                  alt="icon"
                  class="img-cdr img-fluid"
                />
              </div>
              <div class="col">
                <img
                  src="/assets/img/obsidian/modules/salesforce.svg"
                  alt="icon"
                  class="img-cdr img-fluid"
                />
              </div>
              <div class="col">
                <img
                  src="/assets/img/obsidian/modules/box.svg"
                  alt="icon"
                  class="img-cdr img-fluid"
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <img
                  src="/assets/img/obsidian/modules/dropbox.svg"
                  alt="icon"
                  class="img-cdr img-fluid py-1"
                />
              </div>
              <div class="col">
                <img
                  src="/assets/img/obsidian/modules/github.svg"
                  alt="icon"
                  class="img-cdr img-fluid"
                />
              </div>
              <div class="col">
                <img
                  src="/assets/img/obsidian/modules/duo.webp"
                  alt="icon"
                  class="img-cdr-small img-fluid py-2"
                />
              </div>
              <div class="col">
                <img
                  src="/assets/img/obsidian/modules/Okta_logo.svg"
                  alt="icon"
                  class="img-cdr-small img-fluid py-1"
                />
              </div>
              <div class="col">
                <img
                  src="/assets/img/obsidian/modules/slack.webp"
                  alt="icon"
                  class="img-cdr-small img-fluid"
                />
              </div>
              <div class="col">
                <img
                  src="/assets/img/obsidian/modules/workdays.webp"
                  alt="icon"
                  class="img-cdr-small img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-3">
            <a class="btn btn-security" href="/cdr">Saiba mais!</a>
          </div>
        </div>
      </div>
      <div
        id="bot"
        role="tabpanel"
        aria-labelledby="profile-tab"
        class="tab-pane fade px-4 py-5"
      >
        <h4>Deploy de Software</h4>
        <div class="row">
          <div class="col-6">
            <p class="text-left" style="padding-top: 10vh">
              Distribuição de software sem complicações permitindo que você,
              profissional de TI realize distribuição de softwares
              automaticamente em qualquer lugar com um único clique.
            </p>
          </div>

          <div class="col-3 justify-content-end">
            <button
              type="button"
              class="btn btn-img"
              data-toggle="modal"
              data-target="#modal-bot"
            >
              <img
                src="/assets/img/comp_dist/ipad.webp"
                class="img-syxsense"
                alt="icon"
              />
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="modal-bot"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <img
                    src="/assets/img/comp_dist/ipad.webp"
                    class="img-modal"
                    alt="icon"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-3">
            <a class="btn btn-security" href="/distribuicao-de-software/"
              >Saiba mais!</a
            >
          </div>
        </div>
      </div>
      <div
        id="waf"
        role="tabpanel"
        aria-labelledby="contact-tab"
        class="tab-pane fade px-4 py-5"
      >
        <h3>Identifique e remova riscos</h3>
        <div class="row">
          <div class="col-6">
            <p class="text-left" style="padding-top: 10vh">
              Evite ataques de segurança cibernética verificando problemas de
              autorização, implementação de segurança e status de antivírus.
              Informações sobre configurações incorretas do sistema operacional
              e violações de conformidade reduzem sua superfície de ataque e
              aumentam a tranquilidade.
            </p>
          </div>
          <div class="col-3">
            <button
              type="button"
              class="btn btn-img"
              data-toggle="modal"
              data-target="#modal-waf"
            >
              <img
                src="/assets/img/comp_dist/scan_vulnera.webp"
                alt="icon"
                width="500"
                class="py-5"
              />
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="modal-waf"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content-waf">
                  <img
                    src="/assets/img/comp_dist/scan_vulnera.webp"
                    alt="icon"
                    class="img-modal"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-3">
            <a class="btn btn-security" href="/scan-de-vulnerabilidade/"
              >Saiba mais!</a
            >
          </div>
        </div>
      </div>
      <div
        id="ddos"
        role="tabpanel"
        aria-labelledby="contact-tab"
        class="tab-pane fade px-4 py-5"
      >
        <h4>Patch Management</h4>
        <div class="row">
          <div class="col-6">
            <p class="text-left" style="padding-top: 10vh">
              O gerenciamento de patches de TI da nossa solução de gerenciamento
              mantém os computadores, notebooks e usuários remotos
              automaticamente atualizados com os últimos patches de segurança e
              updates de software.
            </p>
          </div>

          <div class="col-3 justify-content-end">
            <button
              type="button"
              class="btn btn-img"
              data-toggle="modal"
              data-target="#modal-patch"
            >
              <img
                src="/assets/img/patch-manager/notebook.webp"
                class="img-syxsense"
                alt="icon"
              />
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="modal-patch"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <img
                    src="/assets/img/patch-manager/notebook.webp"
                    class="img-modal"
                    alt="icon"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-3">
            <a class="btn btn-security" href="/patch-manager/">Saiba mais!</a>
          </div>
        </div>
      </div>
      <div
        id="web_app"
        role="tabpanel"
        aria-labelledby="contact-tab"
        class="tab-pane fade px-4 py-5"
      >
        <h3>Todos os dispositivos sob controle</h3>
        <div class="row py-5 justify-content-between">
          <div class="col-5">
            <p class="text-left" style="padding-top: 10vh">
              Nós podemos descobrir os desktops e notebooks na sua rede
              utilizando uma coleta de inventario compreensiva.
            </p>
          </div>

          <div class="col">
            <button
              type="button"
              class="btn btn-img"
              data-toggle="modal"
              data-target="#modal-app"
            >
              <img
                src="/assets/img/inventory/all_devices.webp"
                alt="icon"
                width="400"
              />
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="modal-app"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <img
                    src="/assets/img/inventory/all_devices.webp"
                    class="img-modal"
                    alt="icon"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-3">
            <a class="btn btn-security" href="/hardware-software/"
              >Saiba mais!</a
            >
          </div>
        </div>
      </div>
      <div
        id="authentication"
        role="tabpanel"
        aria-labelledby="contact-tab"
        class="tab-pane fade px-4 py-5"
      >
        <h3>Autenticação da proxima geração</h3>
        <button
          type="button"
          class="btn btn-img"
          data-toggle="modal"
          data-target="#modal-auth"
        >
          <img src="/assets/img/comp_dist/auth.svg" alt="icon" width="600" />
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="modal-auth"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content-auth">
              <img
                src="/assets/img/comp_dist/auth.svg"
                class="img-modal mb-5"
                alt="icon"
              />
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-3">
            <a class="btn btn-security" href="/silverfort">Saiba mais!</a>
          </div>
        </div>
      </div>

      <div
        id="deep"
        role="tabpanel"
        aria-labelledby="contact-tab"
        class="tab-pane fade px-4 py-5"
      >
        <div class="row">
          <div class="col py-5">
            <h4 class="text-left">
              PLATAFORMA DE PREVENÇÃO DE AMEAÇAS EM TEMPO ZERO
            </h4>
            <p class="text-left">
              O Deep Learning é inspirado na capacidade de aprendizagem do
              cérebro. Uma vez que o cérebro aprende a identificar um objeto,
              sua identificação se torna uma segunda natureza. Da mesma forma,
              conforme o cérebro da rede neural artificial do Deep Instinct
              aprende a detectar qualquer tipo de ameaça cibernética, seus
              recursos de previsão tornam-se instintivos. Como resultado,
              qualquer tipo de ameaça, conhecida ou nova, é prevista e evitada
              antes que possa ser executada, efetivamente em tempo zero.
            </p>
          </div>
          <div class="col">
            <img
              src="/assets/img/comp_dist/brain.webp"
              class="mx-auto my-auto img-shadow"
              width="600"
            />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-3">
            <a class="btn btn-security" href="/deep-instinct">Saiba mais!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End rounded tabs -->
  </div>
</div>
<style>
  .img-syxsense {
    max-width: 350px;
  }
  body {
    background-color: white;
  }
  #myTab {
    margin-top: -20vh;
  }

  #myTabContent {
    background-color: transparent;
    margin-top: 4vh;
    height: 60vh;
  }
  /* Rounded tabs */

  @media (min-width: 576px) {
    .rounded-nav {
      border-radius: 50rem !important;
    }
  }

  @media (min-width: 576px) {
    .rounded-nav .nav-link {
      border-radius: 50rem !important;
    }
  }

  /* With arrow tabs */

  .with-arrow .nav-link.active {
    position: relative;
  }

  .with-arrow .nav-link.active::after {
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #2b90d9;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background-color: teal;
  }

  /* lined tabs */

  .lined .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
  }

  .lined .nav-link:hover {
    border: none;
    border-bottom: 3px solid transparent;
  }

  .lined .nav-link.active {
    background: none;
    color: #555;
    border-color: #2b90d9;
  }

  /*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

  .nav-pills .nav-link {
    color: white;
  }
  .nav-pills .nav-link:hover {
    background-color: teal;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: teal;
  }
  .text-uppercase {
    letter-spacing: 0.1em;
  }
  .btn-img:hover {
    background-color: rgba(141, 139, 139, 0.151);
  }
  .modal-content {
    background-color: rgba(255, 255, 255, 0.822);
    margin-left: -35vh;
    width: 100vw;
    padding: 30px;
  }
  .modal-content-auth {
    background-color: rgba(255, 255, 255, 0.959);
    margin-left: -35vh;
    width: 100vw;
    padding: 30px;
  }
  .modal-content-waf {
    background-color: rgba(255, 255, 255, 0.959);
    margin-left: -35vh;
    width: 100vw;
    padding: 30px;
  }
  .img-modal {
    width: 1000px;
  }
  .img-cdr {
    width: 50px;
  }
  .img-cdr-small {
    max-width: 90px;
  }
  .img-ddos {
    width: 50px;
    margin-bottom: 5px;
  }
  @media screen and (max-width: 990px) {
    #tab_h {
      display: none;
    }
  }
  .accordion {
    width: 50vw;
  }
  .accordion-collapse {
    background: #fff;
  }
  .accordion-collapse:target .accordion-collapse-content {
    height: 15rem;
  }
  .accordion-collapse:target a::before {
    transform: translateY(-50%) rotate(-90deg);
  }
  .accordion-collapse:not(:first-child) a {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
  }
  .accordion-collapse a {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    padding: 2rem;
    position: relative;
  }
  .accordion-collapse a::before {
    content: "";
    border-top: 0.7rem solid #fff;
    border-left: 0.7rem solid transparent;
    border-right: 0.7rem solid transparent;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    transition: transform 500ms ease-in-out;
  }
  .accordion-collapse a i {
    margin-right: 0.5rem;
  }
  .accordion-collapse a.instagram {
    background: teal;
  }
  .accordion-collapse a.twitter {
    background: teal;
  }
  .accordion-collapse a.dribble {
    background: teal;
  }
  .accordion-collapse a.youtube {
    background: teal;
  }
  .accordion-collapse-content {
    height: 0;
    overflow: hidden;
    transition: height 500ms cubic-bezier(0.175, 0.685, 0.32, 1.275);
  }
  .accordion-collapse-content .inner-content {
    padding: 2rem;
  }
  .accordion-collapse-content h3 {
    font-size: 1.8rem;
    text-transform: capitalize;
  }
  @media screen and (max-width: 990px) {
    .accordion {
      width: 100vw;
    }
    .accordion-collapse:target .accordion-collapse-content {
      height: 40rem;
    }
  }
  @media screen and (max-width: 530px) {
    .accordion {
      width: 100vw;
    }
    .accordion-collapse:target .accordion-collapse-content {
      height: 40rem;
    }
  }
  @media screen and (min-width: 990px) {
    .accordion {
      display: none;
    }
  }
</style>
