---
layout: default
title: Reblaze
---
<div class="container-fluid content-gif">
    <div class="row justify-content-center mb-5 row-gif" style="height: 50vh;">
        <div class="col-md-3 text-white gif-text">
            <h2 class="col-md text-white">Proteção de aplicativos web e API, segurança nativa em nuvem.</h2>
            <p class="col-md text-white">O Reblaze fornece proteção unificada da Web, executando nativamente em sua
                plataforma de nuvem preferida,
                arquitetura híbrida ou malha de serviço.</p>
        </div>
        <div class="col-md-5">
            <img src="/assets/img/reblaze/new-icons/gif-reblaze.gif" class="img fluid content-gif-video" alt="">
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: white; z-index: 70000;">
    <div class="container">
        <div class="row justify-content-center">
            <h2>Proteção abrangente</h2>
        </div>
        <div class="row justify-content-center">
            <p class="text-center">Reblaze é uma solução completa de segurança na web. A plataforma é implantada em
                minutos
                e
                pode ser testada <br>
                como uma camada adicional de segurança em cima de suas soluções existentes.</p>
        </div>
        <div class="row justify-content-center text-center py-5">
            <div class="col-md-3"><img src="/assets/img/reblaze/new-icons/next generation.svg" class="icon-reblaze-new"
                    alt="">
                <a class="reblaze-links" href="/waf">
                    <p class="txt=reblaze-new">Próxima Geração
                        WAF</p>
            </div>
            </a>
            <div class="col-md-3"><img src="/assets/img/reblaze/new-icons/security_api.svg" class="icon-reblaze-new"
                    alt="">

                <p class="txt=reblaze-new">Segurança da API</p>

            </div>
            <div class="col-md-3"><img src="/assets/img/reblaze/new-icons/dos&ddos.svg" class="icon-reblaze-new" alt="">
                <a class="reblaze-links" href="/ddos">
                    <p class="txt=reblaze-new">Proteção DoS e DDoS</p>
                </a>
            </div>
            <div class="col-md-3"><img src="/assets/img/reblaze/new-icons/advancedbot.svg" class="icon-reblaze-new"
                    alt="">
                <a class="reblaze-links" href="/bot">
                    <p class="txt=reblaze-new">Gerenciamento avançado de bots</p>
                </a>
            </div>
            <div class="col-md-3"><img src="/assets/img/reblaze/new-icons/ato.svg" class="icon-reblaze-new" alt="">

                <p class="txt=reblaze-new">Controle de conta
                    (ATO)</p>

            </div>
            <div class="col-md-3"><img src="/assets/img/reblaze/new-icons/cdnintegration.svg" class="icon-reblaze-new"
                    alt="">

                <p class="txt=reblaze-new">Integração CDN</p>

            </div>
            <div class="col-md-3"><img src="/assets/img/reblaze/new-icons/load blancing.svg" class="icon-reblaze-new"
                    alt="">

                <p class="txt=reblaze-new">Balanceamento de carga</p>

            </div>
            <div class="col-md-3"><img src="/assets/img/reblaze/new-icons/auto.svg" class="icon-reblaze-new" alt="">
                <a class="reblaze-links" href="/waf">
                    <p class="txt=reblaze-new">

                        Dimensionamento automatizado de recursos</p>
                </a>
            </div>
            <div class="col-md-3"><img src="/assets/img/reblaze/new-icons/realtime.svg" class="icon-reblaze-new" alt="">
                <p class="txt=reblaze-new">Análise em tempo real</p>
            </div>
            <div class="col-md-3"><img src="/assets/img/reblaze/new-icons/config.svg" class="icon-reblaze-new" alt="">
                <p class="txt=reblaze-new">Integração SIEM</p>
            </div>
            <div class="col-md-3"><img src="/assets/img/reblaze/new-icons/brain.svg" class="icon-reblaze-new" alt="">
                <p class="txt=reblaze-new">Análise Comportamental Humana
                </p>
            </div>
            <div class="col-md-3"><img src="/assets/img/reblaze/new-icons/compliance.svg" class="icon-reblaze-new"
                    alt="">
                <a class="reblaze-links" href="/compliance">
                    <p class="txt=reblaze-new">Conformidade</p>
                </a>
            </div>
        </div>
        <div class="row justify-content-center text-center mb-5">
            <a href="#form-new-reblaze" class="btn reblaze-new-trial-white">Solicitar TRIAL</a>

        </div>
    </div>
</div>

<div class="container-fluid gradient-half text-white ">
    <div class="container">
        <div class="row text-center justify-content-center text-white">
            <h2 class="py-5">Uma solução baseada em nuvem</h2>
            <p class="mb-5">O Reblaze é implantado como um proxy reverso em um Virtual Private Cloud, geolocalizado
                imediatamente à frente
                da
                rede protegida. O tráfego de entrada é roteado pelo Reblaze para limpeza. O tráfego hostil é bloqueado,
                enquanto
                o
                tráfego legítimo passa com latência próxima de zero (menos de 1,5 ms).
                Cada cliente Reblaze recebe uma VPC dedicada, somente para uso exclusivo desse cliente. (Outras soluções
                de
                nuvem
                usam nuvens compartilhadas, criando assim vulnerabilidades de multilocação.)</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-2 text-center"><img class="mb-3" src="/assets/img/reblaze/new-icons/notebook.svg"
                    alt="notebook">
                <p class="half-icons-reblaze">Tráfego da Web de entrada</p>
                <p></p>
            </div>
            <div class="col-md-1 text-center arow-reblaze"><img class="mb-3"
                    src="/assets/img/reblaze/new-icons/arow-reblaze.svg" alt="proximo">
            </div>
            <div class="col-md-2 text-center"><img class="mb-3" src="/assets/img/reblaze/new-icons/cloud-cdm.svg"
                    alt="Cloud CDN">
                <p class="half-icons-reblaze">Cloud CDN</p>
                <p>acelera a entrega de conteúdo e a capacidade de resposta do site</p>
            </div>
            <div class="col-md-1 text-center arow-reblaze"><img class="mb-3"
                    src="/assets/img/reblaze/new-icons/arow-reblaze.svg" alt="proximo">
            </div>
            <div class="col-md-2 text-center"><img class="mb-3" src="/assets/img/reblaze/new-icons/cloud-charge.svg"
                    alt="Balanceamento de Carga">
                <p class="half-icons-reblaze">Balanceamento de carga na nuvem</p>
                <p>automaticamente distribui cargas de trabalho entre recursos</p>
            </div>
            <div class="col-md-1 text-center arow-reblaze"><img class="mb-3"
                    src="/assets/img/reblaze/new-icons/arow-reblaze.svg" alt="proximo">
            </div>
            <div class="col-md-2 text-center"><img class="mb-3" src="/assets/img/reblaze/new-icons/reblaze-proxy.svg"
                    alt="Reblaze Proxy">
                <p class="half-icons-reblaze">Reblaze Proxy</p>
                <p>bloqueia o tráfego hostil, com recursos dimensionados automaticamente conforme necessário</p>
            </div>
            <div class="col-md-1 text-center arow-reblaze"><img class="mb-3"
                    src="/assets/img/reblaze/new-icons/arow-reblaze.svg" alt="proximo">
            </div>
            <div class="col-md-2 text-center"><img class="mb-3" src="/assets/img/reblaze/new-icons/web-page.svg"
                    alt="Sua Plataforma Web">
                <p class="half-icons-reblaze">Sua Plataforma Web</p>
                <p></p>
            </div>
        </div>
    </div>
    <h2 class="text-center mt-5 py-5">Palavras dos Clientes</h2>
    <div class="row justify-content-center">

        <div class="col-md-3 content-feedback-reblaze">
            <div class="row feedback-content">
                <p><img src="/assets/img/reblaze/new-icons/quotes.jpg" class="img-quote" alt=""></p>
                <p class="text-feedback ">Nos dados do consumidor de proteção eCG na prioridade nº 1, hoje consigo
                    dormir mais
                    tranquilo à noite sabendo
                    que a solução Reblaze está lá combatendo o tráfego ruim de bots em defesa de nossos sites e
                    consumidores. <img src="/assets/img/reblaze/new-icons/quotes.jpg" class="img-quote" alt=""> </p>
            </div>
            <div class="row">
                <div class="col-md-7 text-gray">
                    <p>James Bynoe</p>
                    <p><b>Head of Information
                            Security <br> & Compliance</b></p>
                </div>
                <div class="col-md-2"><img src="/assets/img/reblaze/new-icons/ebay-logo-1.webp" class="img-feedback"
                        alt="Ebay">
                </div>
            </div>
        </div>
        <div class="col-md-3 content-feedback-reblaze">
            <div class="row feedback-content">
                <p><img src="/assets/img/reblaze/new-icons/quotes.jpg" class="img-quote" alt=""></p>
                <p class="text-feedback ">Como o Reblaze implanta uma nuvem dedicada para cada data center, se um data
                    center
                    sofresse um ataque maciço,
                    isso não afetaria os outros. Mas não tenho experiência com isso, porque nunca vi nenhum ataque
                    passando pelo
                    Reblaze para nenhum dos meus data centers. <img src="/assets/img/reblaze/new-icons/quotes.jpg"
                        class="img-quote" alt=""> </p>
            </div>
            <div class="row">
                <div class="col-md-7 text-gray">
                    <p>Roger Tan</p>
                    <p><b>Reebonz System Manager</b></p>
                </div>
                <div class="col-md-2"><img src="/assets/img/reblaze/new-icons/reebonz.webp" class="img-feedback"
                        alt="Reebonz">
                </div>
            </div>
        </div>
        <div class="col-md-3 content-feedback-reblaze">
            <div class="row feedback-content">
                <p><img src="/assets/img/reblaze/new-icons/quotes.jpg" class="img-quote" alt=""></p>
                <p class="text-feedback ">A prevenção de ataques e a segurança na Web são uma parte essencial do nosso
                    negócio.
                    Posso automatizar quase tudo, usando a API Reblaze. Sempre que inicio um novo aplicativo, consigo
                    automatizar
                    o
                    processo... O Reblaze me poupa tempo de inatividade. Isso me poupa dinheiro. <img
                        src="/assets/img/reblaze/new-icons/quotes.jpg" class="img-quote" alt=""></p>
            </div>
            <div class="row">
                <div class="col-md-7 text-gray">
                    <p>Yaron Weiss</p>
                    <p><b>Payoneer VP of IT Operations</b></p>
                </div>
                <div class="col-md-2"><img src="/assets/img/reblaze/new-icons/payoneer.webp" class="img-feedback"
                        alt="Payoneer"></div>
            </div>
        </div>
    </div>
</div>
{% include site/reblaze/modulos.html %}
<div class="container-fluid" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 p-2 d-flex align-items-center justify-content-center flex-column">
                <h1 style="width: 100%;">Sem esforço</h1>
                <p style="color: black;">
                    A plataforma é totalmente gerenciada e mantida remotamente
                    pela equipe Reblaze. Sua segurança está sempre atualizada e sempre eficaz.
                    <br>
                    <br>
                    À medida que ocorrem picos de tráfego, o Reblaze dimensiona os recursos
                    automaticamente, conforme necessário. A largura de banda é limitada apenas
                    pela capacidade da nuvem global.
                    <br>
                    <br>
                    O Painel exibe uma visão geral em tempo real de todo o tráfego recebido,
                    mostrando o que está sendo passado, o que está sendo bloqueado e por que
                    essas decisões estão sendo tomadas. Detalhes completos (cabeçalhos e
                    cargas úteis) estão disponíveis para todas as solicitações.
                    Mesmo durante ataques violentos de DDoS, você sempre sabe o que está
                    acontecendo no seu site.
                </p>
            </div>

            <div class="col-lg-6 col-md-12 p-4 d-flex">
                <img src="/assets/img/reblaze/no_effort.webp" style="max-width: 90%;" class="mx-auto my-auto" />
            </div>
        </div>
        <div class="row">

            <div class="col-lg-6 col-md-12 p-4 d-flex">

                <img src="/assets/img/reblaze/machine-intelligent.webp" style="max-width: 90%;"
                    class="mx-auto my-auto" />
            </div>
            <div class="col-lg-6 col-md-12 p-2 d-flex align-items-center justify-content-center flex-column">
                <h1 style="width: 100%;">Machine learning</h1>
                <p style="color: black;">
                    Reblaze usa o Machine Learning para aprender e se
                    adaptar aos padrões de tráfego da Internet em constante
                    mudança. Mesmo quando novas ameaças da Web surgem, o
                    Reblaze permanece eficaz.
                </p>
            </div>

        </div>
    </div>
</div>

<div style="background-image: linear-gradient(#FFFFFF,#FFFFFF, #00A4CD); margin-top: 200px;">
    <div class="container" id="components">
        <div class="row -syxsense-features">
            <div class="col">
                <h3 class="text-center py-4">Muitos outros recursos</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 py-3">
                <div class="syxsense-feature-block">
                    <img src="/assets/img/reblaze/suport.webp" alt="" />
                    <div class="text">
                        <h5>Suporte completo a DevOps</h5>
                        <p>
                            A maioria das WAFs atrapalha o DevOps,
                            mas o Reblaze suporta. Sempre que você
                            implanta ou altera um aplicativo ou
                            serviço, o Reblaze o reconhece, se adapta
                            a ele e começa a protegê-lo
                            imediatamente.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 py-3">
                <div class="syxsense-feature-block -right">
                    <img src="/assets/img/reblaze/trafic_web.webp" alt="" />
                    <div class="text">
                        <h5>Visibilidade total do tráfego
                            em tempo real</h5>
                        <p>
                            O painel Reblaze fornece uma visão geral
                            intuitiva do seu tráfego, com a
                            capacidade de pesquisar rapidamente
                            solicitações individuais
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 py-3">
                <div class="syxsense-feature-block">
                    <img src="/assets/img/reblaze/api.webp" alt="" />
                    <div class="text">
                        <h5>API para operação programática</h5>
                        <p>
                            Reblaze pode ser operado
                            completamente por meio de
                            programação.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 py-3">
                <div class="syxsense-feature-block -right">
                    <img src="/assets/img/reblaze/dns.webp" alt="" />
                    <div class="text">
                        <h5>Gerenciamento de DNS e SSL</h5>
                        <p>
                            A plataforma é mantida remotamente
                            pelo pessoal da Reblaze. Sua segurança
                            está sempre atualizada e sempre eficaz.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="form-new-reblaze" class="container-fluid -solution-highlight"
    style="background :linear-gradient(#00A4CD,#0083B0); min-height: 105vh;">
    <div class="container">
        <br> <!-- Retirar quando tiver a aprovação de logos-->
        <br>
        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-lg-6">
                <img src="/assets/img/reblaze/hero.webp" style="max-width: 80%;" class="mx-auto my-auto" />
                <h2 style="width: 100%; color: white;">Faça o teste gratuito</h2>
                <h4 style="width: 100%; color: white;">Experimente Reblaze gratuitamente.</h4>
                <ul>
                    <li style="color: white;">Sem contrato</li>
                    <li style="color: white;">Nenhuma obrigação</li>
                    <li style="color: white;">Implante-o diretamente da AWS, GCP ou Azure</li>
                    <br>
                </ul>
            </div>

            <div class="col-lg-6 align-items-center justify-content-center flex-column">

                <div class="col-md d-flex" style="justify-content: flex-end;">
                    {% include site/form2.html title="Reblaze" id="reblaze-form" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include site/download-row.html docs='
<div class="col">
    <div class="downloadblock">
        <img src="/assets/img/reblaze/datasheat_aws.webp" />
        <p>Amazon Web Services</p>
        <a href="https://lps.aiqon.com.br/reblaze-aws" target="_blank" class="btn btn-small btn-lightblue">
            Baixar PDF
        </a>
        <!-- <button onclick="downloadRequest(2)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
    </div>
</div>
<div class="col">
    <div class="downloadblock">
        <img src="/assets/img/reblaze/datasheat_azure.webp" />
        <p>Microsoft Azure</p>
        <a href="https://lps.aiqon.com.br/datasheet_reblaze-azure" target="_blank" class="btn btn-small btn-lightblue">
            Baixar PDF
        </a>
        <!-- <button onclick="downloadRequest(3)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
    </div>
</div>
<div class="col">
    <div class="downloadblock">
        <img src="/assets/img/reblaze/datasheat_google.webp" />
        <p>Google Cloud</p>
        <a href="https://lps.aiqon.com.br/datasheet_reblaze-google-gcp" target="_blank"
            class="btn btn-small btn-lightblue">
            Baixar PDF
        </a>
        <!-- <button onclick="downloadRequest(4)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
    </div>
</div>
<div class="col">
    <div class="downloadblock">
        <img src="/assets/img/reblaze/thumb/thumb_web_reblaze.webp" />
        <p>Como Escolher a Solução Certa de Segurança na Web em 2022</p>
        <a href="https://lps.aiqon.com.br/reblaze-como-escolher-solucao-de-seguranca" target="_blank"
            class="btn btn-small btn-lightblue">
            Baixar PDF
        </a>
        <!-- <button onclick="downloadRequest(4)" class="btn btn-small btn-lightblue">
      Baixar PDF
    </button> -->
    </div>
</div>
'%}
<div class="container text-center">
    <h3><a class="btn btn-resource" href="/recursos/reblaze/">Veja mais!</a></h3>
</div>

{% include site/js/collapsible.html %}


<style>
    html {
        scroll-behavior: smooth;
    }

    .btn-resource {
        border: 1px solid teal;
        color: teal;
    }

    .btn-resource:hover {
        background-color: teal;
        color: white;
    }


    body {
        background-color: white;
    }

    #web_feature p {
        color: white;



    }

    #components {
        background-image: linear-gradient(#5E7CF3, #1A0B53);
        border-radius: 3mm;




    }

    #components p {
        color: white;
        margin-left: 15px;

    }

    #components img {
        max-width: 150px;

    }

    #image_block {
        width: 600px;


    }

    #components_mobile {
        background-image: linear-gradient(#5E7CF3, #1A0B53);
        border-radius: 3mm;
    }

    #components_mobile p {
        color: white;

    }

    #components_mobile img {
        max-width: 80px;


    }

    #components h2 {
        color: white;
        text-align: left;

    }

    .content-gif {
        background-color: #15292f;
        padding-top: 2vh;
        min-height: 50vh;

    }

    .gif-text {
        padding: 18vh 0 0 5vw;

    }

    .reblaze-links {
        color: gray;
    }

    .arow-reblaze {
        max-width: 70px;
    }

    .reblaze-new-trial {
        height: 5vh;
        min-width: 10vw;
        padding-top: 10px;
        margin: 10px;
        background-color: teal;
        font-weight: bold;
        color: white;
    }

    .reblaze-new-trial:hover {
        background-color: rgb(4, 71, 71);
        color: white;
        border: 2px solid teal;
    }

    .reblaze-new-trial-white:hover {
        background-color: teal;
        color: white;
        border: 2px solid white;
    }

    .reblaze-new-trial-white {
        height: 5vh;
        min-width: 10vw;
        border: 2px solid teal;
        margin: 10px;
        padding-top: 10px;
        font-weight: bold;
        color: teal;
    }

    .icon-reblaze-new {
        font-weight: bold;
        color: teal;
    }

    .gradient-half {
        background: linear-gradient(rgba(20, 55, 85, 1) 10%, rgba(48, 143, 199, 1) 85%);
        min-height: 150vh;

    }

    #features {
        border-radius: 2mm;
        background: linear-gradient(180deg, rgba(71, 67, 83, 0.835171568627451) 0%, rgba(146, 141, 171, 1) 10%, rgba(146, 141, 171, 0) 97%);

    }

    .half-icons-reblaze {
        font-weight: bold;
    }

    .content-feedback-reblaze {
        background-color: white;
        border-radius: 10px;
        min-height: 40vh;
        margin: 30px;
        -webkit-box-shadow: 3px 4px 10px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 4px 10px -4px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 4px 10px -4px rgba(0, 0, 0, 0.75);

    }

    .feedback-content {
        padding: 40px !important;
    }

    .img-quote {
        max-width: 15px;
    }

    .text-feedback {
        color: gray;

    }

    .img-feedback {
        max-width: 150px;
    }

    .content-gif-video {
        margin-top: 18vh;
        margin-left: 2vw;
        max-width: 700px;
    }
.row-gif{
    min-height: 50vh;
}
    @media only screen and (max-width: 1024px) {
        .gif-text {
            padding: 0 20px 0 20px;

        }

        .content-gif-video {
           max-width: 350px;
           margin: 0 0 0 -1vw;
        }

    }

    @media only screen and (max-width: 767px) {
        
        .arow-reblaze {
            transform: rotate(90deg);
            margin-right: 2vw;
        }
    }

    @media only screen and (max-width: 768px) {
        #trial_obs {
            display: none;
        }

        #trial_obs p {
            display: none;
        }

        #logo {
            padding-top: 30vh;
            max-width: 300px;
        }

        #web_feature {
            display: none;
        }


    }

    @media only screen and (min-width: 500px) {
        #showOnlyMobile {
            display: none;

        }

        #components_mobile {
            display: none;

        }

        #colapse {
            display: none;

        }



        /*Content Animation*/
        @keyframes fadeInScale {
            0% {
                transform: scale(0.9);
                opacity: 0;
            }

            100% {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
</style>
<style>
    .container-fluid.-syxsense-versions {
        background-image: url("../assets/img/syxsense/office.webp");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .version-block {
        display: flex;
        flex-direction: column;
        max-width: 560px;
        margin: 0 auto;
        background-color: #fff;
        margin: 3em 0;
    }

    .version-block-header img {
        width: 100%;
    }

    .version-block-body {
        padding: 30px;
        text-align: center;
    }

    .syxsense-feature-block {
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        padding: 40px;
    }

    .syxsense-feature-block h5,
    h3 {
        color: white;
    }

    .syxsense-feature-block img {
        padding: 10px;
        width: 130px;
    }

    .syxsense-feature-block .text {
        max-width: 400px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .syxsense-feature-block.-right {
        flex-direction: row-reverse;
        text-align: right;
    }

    .container-fluid.-solution.-syxsense {
        background-image: url('../assets/img/syxsense/waves.webp'), linear-gradient(to right, #c03b4e, #802175);
        background-size: cover, cover;
        background-repeat: no-repeat;
    }

    .-syxsense img {
        padding: 20px !important;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0px 4px 15px #37104130;
    }

    .row.row-reverse {
        flex-direction: row-reverse;
        text-align: right;
    }

    .-syxsense-data .image-block {
        height: 100%;
    }

    .-syxsense-data .image-block p {
        font-size: 12px !important;
    }

    .-syxsense-dataobs .image-block {
        height: 100%;
        align-items: center;
    }

    .-syxsense-dataobs .image-block p {
        font-size: 12px !important;
        color: white;
        margin-left: 2mm;
    }
</style>