<div class="container-fluid content-modules-audit">
  <div class="container text-center py-5">
    <h2>SUPORTE DE PLATAFORMA INIGUALÁVEL</h2>
    <p>
      Gerenciar e controlar o acesso a dados estruturados e não estruturados,
      sistemas e aplicativos essenciais
    </p>
  </div>
  <div class="row justify-content-center text-center">
    <div class="col-md-2 audit-modules">
      <img
        src="/assets/img/stealth_bits/audit/modules/file_system.webp"
        alt=""
        class="img-modules-audit"
      />
      <p class="txt-audit-modules">FILE SYSTEMS</p>
    </div>
    <div class="col-md-2 audit-modules">
      <img
        src="/assets/img/stealth_bits/audit/modules/sharepoint.webp"
        alt=""
        class="img-modules-audit"
      />
      <p class="txt-audit-modules">SHAREPOINT</p>
    </div>
    <div class="col-md-2 audit-modules">
      <img
        src="/assets/img/stealth_bits/audit/modules/share_online.webp"
        alt=""
        class="img-modules-audit"
      />
      <p class="txt-audit-modules">SHAREPOINT ONLINE</p>
    </div>
    <div class="col-md-2 audit-modules">
      <img
        src="/assets/img/stealth_bits/audit/modules/onedriver_for business.webp"
        alt=""
        class="img-modules-audit"
      />
      <p class="txt-audit-modules">ONEDRIVE FOR BUSINESS</p>
    </div>
    <div class="col-md-2 audit-modules">
      <img
        src="/assets/img/stealth_bits/audit/modules/ad.webp"
        alt=""
        class="img-modules-audit"
      />
      <p class="txt-audit-modules">ACTIVE DIRECTORY</p>
    </div>
    <div class="col-md-2 audit-modules">
      <img
        src="/assets/img/stealth_bits/audit/modules/azure ad.webp"
        alt=""
        class="img-modules-audit"
      />
      <p class="txt-audit-modules">AZURE ACTIVE DIRECTORY</p>
    </div>
    <div class="col-md-2 audit-modules">
      <img
        src="/assets/img/stealth_bits/audit/modules/exchange.webp"
        alt=""
        class="img-modules-audit"
      />
      <p class="txt-audit-modules">EXCHANGE</p>
    </div>
    <div class="col-md-2 audit-modules">
      <img
        src="/assets/img/stealth_bits/audit/modules/exchange_online.webp"
        alt=""
        class="img-modules-audit"
      />
      <p class="txt-audit-modules">EXCHANGE ONLINE</p>
    </div>
    <div class="col-md-2 audit-modules">
      <img
        src="/assets/img/stealth_bits/audit/modules/dropbox.webp"
        alt=""
        class="img-modules-audit"
      />
      <p class="txt-audit-modules">DROPBOX</p>
    </div>
    <div class="col-md-2 audit-modules">
      <img
        src="/assets/img/stealth_bits/audit/modules/box.webp"
        alt=""
        class="img-modules-audit"
      />
      <p class="txt-audit-modules">BOX</p>
    </div>
    <div class="col-md-2 audit-modules">
      <img
        src="/assets/img/stealth_bits/audit/modules/Artboard 1aws.webp"
        alt=""
        class="img-modules-audit"
      />
      <p class="txt-audit-modules">AWS S3</p>
    </div>
    <div class="col-md-2 audit-modules">
      <img
        src="/assets/img/stealth_bits/audit/modules/sql.webp"
        alt=""
        class="img-modules-audit"
      />
      <p class="txt-audit-modules">SQL</p>
    </div>
    <div class="col-md-2 audit-modules">
      <img
        src="/assets/img/stealth_bits/audit/modules/azure ad.webp"
        alt=""
        class="img-modules-audit"
      />
      <p class="txt-audit-modules">AZURE SQL</p>
    </div>
    <div class="col-md-2 audit-modules">
      <img
        src="/assets/img/stealth_bits/audit/modules/oracle.svg"
        alt=""
        style="max-width: 90px"
      />
      <p class="txt-audit-modules">ORACLE</p>
    </div>
    <div class="col-md-2 audit-modules">
      <img
        src="/assets/img/stealth_bits/audit/modules/windows.webp"
        alt=""
        class="img-modules-audit"
      />
      <p class="txt-audit-modules">WINDOWS</p>
    </div>
    <div class="col-md-2 audit-modules">
      <img
        src="/assets/img/stealth_bits/audit/modules/linux.webp"
        alt=""
        class="img-modules-audit"
      />
      <p class="txt-audit-modules">UNIX & LINUX</p>
    </div>
  </div>
</div>
<div class="container-fluid text-center badged-suport">
  <h2>AINDA MAIS SUPORTE DE PLATAFORMA</h2>
  <p>
    Explore a biblioteca de acesso de conectores de recursos gratuitos do
    Stealthbits e aprenda como você pode estender o StealthAUDIT<br />
    a virtualmente qualquer repositório de conteúdo que você usar!
  </p>
  <br />
  <div class="row text-center justify-content-center">
    <div class="col-md-2 content-suport">
      <img
        src="/assets/img/stealth_bits/audit/suport/hiper-v.webp"
        alt=""
        class="img-suport"
      />
    </div>
    <div class="col-md-2 content-suport">
      <img
        src="/assets/img/stealth_bits/audit/suport/office.webp"
        alt=""
        class="img-suport"
      />
    </div>
    <div class="col-md-2 content-suport">
      <img
        src="/assets/img/stealth_bits/audit/suport/azure.webp"
        alt=""
        class="img-suport"
      />
    </div>
    <div class="col-md-2 content-suport">
      <img
        src="/assets/img/stealth_bits/audit/suport/teams.webp"
        alt=""
        class="img-suport"
      />
    </div>
    <div class="col-md-2 content-suport">
      <img
        src="/assets/img/stealth_bits/audit/suport/sql.webp"
        alt=""
        class="img-suport"
      />
    </div>
    <div class="col-md-2 content-suport">
      <img
        src="/assets/img/stealth_bits/audit/suport/vmwarer.webp"
        alt=""
        class="img-suport py-2"
      />
    </div>
    <div class="col-md-2 content-suport">
      <img
        src="/assets/img/stealth_bits/audit/suport/google-drive.webp"
        alt=""
        class="img-suport"
      />
    </div>
    <div class="col-md-2 content-suport">
      <img src="/assets/img/stealth_bits/audit/suport/sales.webp" alt="" />
    </div>
    <div class="col-md-2 content-suport">
      <img src="/assets/img/stealth_bits/audit/suport/postgree.webp" alt="" />
    </div>
    <div class="col-md-2 content-suport">
      <img src="/assets/img/stealth_bits/audit/suport/my-slq.webp" alt="" />
    </div>
  </div>
</div>

<style>
  .content-modules-audit {
    padding: 0 10vw 0 10vw;
    background: linear-gradient(
      0deg,
      rgba(238, 242, 243, 1) 0%,
      rgba(142, 158, 171, 0.5018382352941176) 100%
    );
  }
  .audit-modules {
    justify-content: space-around;
    margin: 23px;
    padding: 2vh 2vh 0 2vh;

    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
    height: 15vh;
  }

  .audit-modules:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  .txt-audit-modules {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .img-modules-audit {
    max-width: 60px;
  }

  .img-suport {
    max-width: 150px;
  }
  .content-suport {
    margin: 20px;
  }
  .badged-suport {
    padding: 10vh 10vw 0 10vw;
    background: linear-gradient(
      0deg,
      rgba(142, 158, 171, 0.5018382352941176) 0%,
      rgba(238, 242, 243, 1) 100%
    );
  }
</style>
