---
layout: default
title: SSPM
---

<div
  class="container-fluid"
  style="
    background: linear-gradient(to right, #87b7ff, #87b7ff);
    min-height: 75vh;
    padding-top: 15vh;
    color: white;
  "
>
  <canvas class="background"></canvas>
  <br />
  <br />
  <div class="row">
    <div
      class="col -solution-hero d-flex flex-column justify-content-center align-items-center text-center text-white background"
    >
      <h1 class="mt-5 text-white">SSPM - SaaS Security Posture Management</h1>
      <p class="mt-3">
        Permita que sua equipe de segurança execute uma análise profunda e
        contínua e corrija sua postura de SaaS
      </p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="banner mx-auto text-center">
        <h3>Segurança Next-Gen para o seu SaaS</h3>
        <p class="text-secondary">
          Recupere o controle sobre a segurança do SaaS da sua empresa.
        </p>
      </div>
    </div>
  </div>
</div>
{% include site/sspm/cards-scroll.html %}
<div class="container-fluid content-sspm-features">
  <div class="row justify-content-around mb-5">
    <div class="col-md-4">
      <img
        src="/assets/img/sspm/tabs/icon-verification.svg"
        class="icon-features-sspm"
        alt=""
      />
      <h2 class="txt-title-feature">Verificações e alertas de segurança</h2>
      <p class="txt-desc-feature">
        <b
          >Verificações de segurança detalhadas por aplicativo, usuário,
          gravidade ou qualquer outra métrica que indique uma configuração
          incorreta em seu SaaS</b
        >
        Receba alertas quando esses desvios de configuração ocorrerem
      </p>
    </div>
    <div class="col-md-6">
      <img
        src="/assets/img/sspm/tabs/verification.png"
        class="img-sspm"
        alt="Verificação e alertas"
      />
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-md-6">
      <img
        src="/assets/img/sspm/tabs/remediation.png"
        class="img-sspm"
        alt="Remediação"
      />
    </div>
    <div class="col-md-5">
      <img
        src="/assets/img/sspm/tabs/icon-remediation.svg"
        class="icon-features-sspm"
        alt=""
      />
      <h2 class="txt-title-feature">Remediação</h2>
      <p class="txt-desc-feature">
        <b>
          Obtenha uma descrição de correção passo a passo para ver exatamente
          como corrigir a configuração incorreta do SaaS</b
        >
        Você pode corrigir automaticamente diretamente do sistema ou criar um
        ticket por meio do sistema de ticket de sua escolha.
      </p>
    </div>
  </div>
</div>
{% include site/sspm/cards-scroll-2.html %}
<div class="container-fluid content-sspm-features">
  <div class="row justify-content-around mb-5">
    <div class="col-md-4">
      <img
        src="/assets/img/sspm/tabs/icon-monitoring.svg"
        class="icon-features-sspm"
        alt=""
      />
      <h2 class="txt-title-feature">Monitoramento de Atividade Privilegiada</h2>
      <p class="txt-desc-feature">
        Monitore usuários privilegiados e suas atividades para rastrear o
        comportamento do usuário e detectar quando ocorrem atividades suspeitas.
      </p>
    </div>
    <div class="col-md-6">
      <img
        src="/assets/img/sspm/tabs/monitoring.png"
        class="img-sspm"
        alt="Verificação e alertas"
      />
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-md-6">
      <img
        src="/assets/img/sspm/tabs/escopo.png"
        class="img-sspm"
        alt="Remediação"
      />
    </div>
    <div class="col-md-5">
      <img
        src="/assets/img/sspm/tabs/icon-escopo.svg"
        class="icon-features-sspm"
        alt=""
      />
      <h2 class="txt-title-feature">Usuário com escopo</h2>
      <p class="txt-desc-feature">
        <b>
          Resolvendo o problema muito comum da delegação de aplicativos SaaS -
          geralmente o proprietário do aplicativo SaaS fica fora de sua equipe
          de segurança.</b
        >
        O Adaptive Shield oferece acesso limitado à plataforma para que o
        proprietário do aplicativo SaaS, fora de sua equipe de segurança, possa
        ter visibilidade de seus próprios aplicativos e corrigir problemas
        imediatamente, enquanto sua equipe de segurança supervisiona.
      </p>
    </div>
  </div>
  <div class="row justify-content-around mb-5 mt-5">
    <div class="col-md-4">
      <img
        src="/assets/img/sspm/tabs/icon-long-time.svg"
        class="icon-features-sspm"
        alt=""
      />
      <h2 class="txt-title-feature">Postura ao longo do tempo</h2>
      <p class="txt-desc-feature">
        <b
          >Os instantâneos não são suficientes para visualizar as alterações na
          rede.</b
        >
        Obtenha uma visualização da linha do tempo de seu ambiente SaaS para
        detectar alterações e ver como seu sistema evoluiu ao longo do tempo.
      </p>
    </div>
    <div class="col-md-6">
      <img
        src="/assets/img/sspm/tabs/long-time.png"
        class="img-sspm"
        alt="Verificação e alertas"
      />
    </div>
  </div>
</div>
<div
  id="form-adaptive"
  class="container-fluid -solution-highlight mt-5"
  style="background: url(/assets/img/adaptiveshield/adaptive-formBG.png)"
>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6 container-form-adaptive">
        <h2
          style="
            width: 100%;
            color: white;
            text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;
            font-size: 3.5rem;
          "
        >
          Faça o teste gratuito
        </h2>
        <h4
          style="
            width: 100%;
            color: white;
            text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;
          "
        >
          Experimente o Adaptive Shield gratuitamente.
        </h4>
        <ul>
          <li
            style="
              color: white;
              text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;
            "
          >
            Sem contrato
          </li>
          <li
            style="
              color: white;
              text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;
            "
          >
            Nenhuma obrigação
          </li>
          <li
            style="
              color: white;
              text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;
            "
          >
            Com total suporte da nossa equipe
          </li>
          <br />
        </ul>
      </div>

      <div
        class="col-lg-6 align-items-center justify-content-center flex-column"
      >
        <div class="col-md d-flex mb-5" style="justify-content: flex-end">
          {% include site/form2.html title="SSPM" id="sspm-form"
          %}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .img-sspm {
    max-width: 800px;
  }
  .content-sspm-features {
    padding: 18vh 10vw 0 10vw;
  }
  .txt-title-feature {
    font-size: 3rem;
    font-weight: bold;
  }
  .txt-desc-feature {
    font-size: 1.2rem;
    color: gray;
    font-weight: lighter;
  }
  .icon-features-sspm {
    max-width: 100px;
  }
  @media only screen and (max-width: 768px) {
    .txt-title-feature{
      font-size: 2.5rem;
    }
    .img-sspm{
      max-width: 250px;
    }

  }
</style>
