<div class="container">
    <div class="row py-5">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed"   type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Identifique o conteúdo valioso e se desfaça dos dados desnecessários
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                 
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-left justify-content-left flex-column"
                  >
                  A remediação de dados começa com o entendimento 
                  dos dados que você possui e a limpeza dos dados 
                  que você armazena. Muitas vezes, as empresas dão 
                  tanta atenção aos dados redundantes, obsoletos ou 
                  triviais quanto eles dão para o conteúdo valioso 
                  que precisa de uma proteção maior para o negócio 
                  ou por motivos legais. As capacidades de análise 
                  de arquivo da nossa solução de mitigação de risco 
                  automatiza o trabalho de classificar o conteúdo 
                  dos dados pela qualidade e pelo valor deles, 
                  assim você pode focar em assegurar os dados 
                  realmente importantes para facilitar a limpeza 
                  de dados.
                    
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/remediation/identify.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Simplifique a migração de dados críticos para a quarentena
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column"
                  >
                  Você precisa manter um olho nos dados sensíveis 
                  armazenados fora de um lugar seguro. Porém, 
                  alternar entre diversas estruturas de dados 
                  em múltiplos sistemas não é a maneira mais 
                  viável de realizar essa tarefa. Com o fluxo 
                  de trabalho da remediação de dados que oferecemos, 
                  você pode avistar automaticamente os dados críticos 
                  em locais não-seguros e movê-los para uma área de 
                  quarentena segura até que que se tenha informações 
                  precisas sobre o que será feito com estes dados.
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/remediation/migration.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Identifique e revogue as permissões excessivas
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column">

                    Muitas empresas não sabem quanto dos seus 
                    dados sensíveis estão acessíveis a grandes 
                    grupos de usuários e elas não tem uma forma 
                    de encontrá-los rapidamente. Com esse vão na 
                    governança de acesso aos dados eles podem 
                    acabar com problemas de conformidade e vazamento 
                    de dados. O fluxo de trabalho da remediação de 
                    dados da nossa solução simplifica o aspecto de 
                    gerenciamento de dados removendo de forma automática 
                    as permissões a dados sensíveis de grupos como o 
                    “everyone”, incluindo o acesso herdado
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/remediation/permissions.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button id="btn" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Redija os dados automaticamente
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column"
                  >
                  Em alguns caso você pode precisar de um arquivo 
                  disponível para alguém e ainda sim prevenir que 
                  outra pessoa veja o que está no arquivo. Usando 
                  as capacidades de redigir da nossa solução de 
                  classificação de dados, você pode detectar e 
                  remover prontamente entradas especificas como 
                  números de cartão de créditos ou documentos de 
                  validade nacional até os documentos de migração 
                  de dados para se manter em conformidade com a 
                  política de privacidade ou simplesmente por que 
                  não há motivos de negócio para que essas entradas 
                  sejam mostradas.
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/remediation/redigir.webp"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
        </div>
        
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <button id="btn" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Seja o primeiro a saber quando houver alterações a documentos classificados e outros problemas de dados
            </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container">
                <div class="row py-5">
                  
                  <div
                    class="col-md-6 col-sm-12 p-10 d-flex align-items-center justify-content-center flex-column"
                  >
                  Você precisa se manter ciente das modificações e 
                  outros eventos que podem impactar a confidencialidade, 
                  a integridade e a disponibilidade dos dados classificados 
                  como sensíveis. Nossas soluções te enviam uma notificação 
                  por e-mail automaticamente com todos os detalhes sobre cada 
                  evento, seja alteração de local ou classificações que foram 
                  executadas, dessa forma você pode determinar se as ações foram 
                  autorizadas.
                  </div>
                  <div class="col-md-6 col-sm-12 p-3">
                    <img
                      src="/assets/img/remediation/classification.png"
                      style="max-width: 100%;"
                      class="mx-auto my-auto"
                    />
                  </div>
                </div>
              </div>
        </div>
        </div>
        
      </div>
  </div>
  </div>
  </div>
  <style>
    
  .card-body {
    background: linear-gradient(153deg, rgba(15,12,41,1) 19%, rgba(48,43,99,1) 42%, rgba(36,36,62,1) 65%);
  
  }
  #accordionExample {
    color: white;
    width: 150em;
    margin-bottom: 2mm;
    text-align: left;
  }
  
  @media only screen and (min-width: 1499px) {
  
  #accordionExample  {
   
    display: none;
   }
  }
  
  /*Content Animation*/
  @keyframes fadeInScale {
   30% {
       transform: scale(0.9);
       opacity: 0;
   }
   
   100% {
       transform: scale(1);
       opacity: 1;
   }
  }
  
  </style>