<section class="py-5 header" id="trial_obs">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-3">
        <!-- Tabs nav -->
        <div
          class="nav flex-column nav-pills nav-pills-custom"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <a
            class="nav-link mb-3 p-3 shadow active"
            id="v-pills-home-tab"
            data-toggle="pill"
            href="#v-pills-home"
            role="tab"
            aria-controls="v-pills-home"
            aria-selected="true"
          >
            <i class="fa fa-check mr-2"></i>
            <span class="font-weight-bold">Data Loss Prevetion</span></a
          >

          <a
            class="nav-link mb-3 p-3 shadow"
            id="v-pills-profile-tab"
            data-toggle="pill"
            href="#v-pills-profile"
            role="tab"
            aria-controls="v-pills-profile"
            aria-selected="false"
          >
            <i class="fa fa-check mr-2"></i>
            <span class="font-weight-bold">Patch Management</span></a
          >

          <a
            class="nav-link mb-3 p-3 shadow"
            id="v-pills-messages-tab"
            data-toggle="pill"
            href="#v-pills-messages"
            role="tab"
            aria-controls="v-pills-messages"
            aria-selected="false"
          >
            <i class="fa fa-check mr-2"></i>
            <span class="font-weight-bold">Inventário</span></a
          >

          <a
            class="nav-link mb-3 p-3 shadow"
            id="v-pills-settings-tab"
            data-toggle="pill"
            href="#v-pills-settings"
            role="tab"
            aria-controls="v-pills-settings"
            aria-selected="false"
          >
            <i class="fa fa-check mr-2"></i>
            <span class="font-weight-bold">Deploy de Software</span></a
          >

          <a
            class="nav-link mb-3 p-3 shadow"
            id="v-pills-settings-tab"
            data-toggle="pill"
            href="#v-pills-e"
            role="tab"
            aria-controls="v-pills-e"
            aria-selected="false"
          >
            <i class="fa fa-check mr-2"></i>
            <span class="font-weight-bold">Ameaças Internas</span></a
          >

          <a
            class="nav-link mb-3 p-3 shadow"
            id="v-pills-settings-tab"
            data-toggle="pill"
            href="#v-pills-f"
            role="tab"
            aria-controls="v-pills-f"
            aria-selected="false"
          >
            <i class="fa fa-check mr-2"></i>
            <span class="font-weight-bold"
              >Endpoint Detection and Response - EDR</span
            ></a
          >

          <a
            onclick='down()'
            class="nav-link mb-3 p-3 shadow"
            id="v-pills-settings-tab"
            data-toggle="pill"
            href="#v-pills-g"
            role="tab"
            aria-controls="v-pills-g"
            aria-selected="false"
          >
            <i class="fa fa-check mr-2"></i>
            <span class="font-weight-bold">Otimização de Storage</span></a
          >
          <a
            class="nav-link mb-3 p-3 shadow"
            id="v-pills-settings-tab"
            data-toggle="pill"
            href="#v-pills-h"
            role="tab"
            aria-controls="v-pills-h"
            aria-selected="false"
          >
            <i class="fa fa-check mr-2"></i>
            <span class="font-weight-bold">Bot Management</span></a
          >
          <a
            class="nav-link mb-3 p-3 shadow"
            id="v-pills-settings-tab"
            data-toggle="pill"
            href="#v-pills-i"
            role="tab"
            aria-controls="v-pills-i"
            aria-selected="false"
          >
            <i class="fa fa-check mr-2"></i>
            <span class="font-weight-bold">Proteção DDoS</span></a
          >
          <a
            class="nav-link mb-3 p-3 shadow"
            id="v-pills-settings-tab"
            data-toggle="pill"
            href="#v-pills-j"
            role="tab"
            aria-controls="v-pills-j"
            aria-selected="false"
          >
            <i class="fa fa-check mr-2"></i>
            <span class="font-weight-bold">Proteção para APPs Web</span></a
          >
          <a
            class="nav-link mb-3 p-3 shadow"
            id="v-pills-settings-tab"
            data-toggle="pill"
            href="#v-pills-p"
            role="tab"
            aria-controls="v-pills-p"
            aria-selected="false"
          >
            <i class="fa fa-check mr-2"></i>
            <span class="font-weight-bold"
              >Web Application Firewall - WAF</span
            ></a
          >
        </div>
      </div>

      <div class="col-md-9">
        <!-- Tabs content -->
        <div class="tab-content text-center" id="v-pills-tabContent">
          <div
            class="tab-pane fade shadow rounded show active"
            id="v-pills-home"
            role="tabpanel"
            aria-labelledby="v-pills-home-tab"
          >
            <p class="font-italic mb-4">
              As principais funcionalidades das nossas soluções que atenderão a
              sua demanda de DLP. São três piláres principais: Proteção a
              sistemas e endpoint, proteção online e monitoramento e auditoria
            </p>
            <h4>
              <b>Proteção de sistemas e endpoint</b>
            </h4>
            <div class="row justify-content-center content-logo py-5">
              <div class="col-2 py-2">
                <img
                  src="/assets/img/server_security/icons/windows.svg"
                  alt="Windows OS"
                  class="img-fluid img-security"
                />
              </div>
              <div class="col-2">
                <img
                  src="/assets/img/server_security/icons/apple.svg"
                  alt="Apple"
                  class="img-fluid img-security"
                />
              </div>
              <div class="col-2">
                <img
                  src="/assets/img/server_security/icons/linux.svg"
                  alt="Linux"
                  class="img-fluid img-security"
                />
              </div>
              <div class="col-2">
                <img
                  src="/assets/img/server_security/icons/android.svg"
                  alt="Android"
                  class="img-fluid img-security"
                />
              </div>
              <div class="col-2 py-1">
                <img
                  src="/assets/img/server_security/icons/ios.svg"
                  alt="Apple iOS"
                  class="img-fluid img-security"
                />
              </div>
            </div>
            <h4 class="mt-5">
              <b>Proteção Online</b>
            </h4>
            <div class="row justify-content-center content-logo py-5">
              <div class="col-2 py-2">
                <img
                  src="/assets/img/server_security/icons/google.svg"
                  alt="Google"
                  class="img-fluid img-security"
                />
              </div>
              <div class="col-2 py-3">
                <img
                  src="/assets/img/server_security/icons/aws.svg"
                  alt="Amazon Web Services"
                  class="img-fluid img-security"
                />
              </div>
              <div class="col-2 py-3">
                <img
                  src="/assets/img/server_security/icons/azure.svg"
                  alt="Microsoft Azure"
                  class="img-fluid img-security"
                />
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-3">
                <a class="btn btn-security" href="/dlp">Saiba mais!</a>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade shadow rounded"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
          >
            <p class="font-italic mb-4">
              O gerenciamento de patches de TI da nossa solução de gerenciamento
              mantém os computadores, notebooks e usuários remotos
              automaticamente atualizados com os últimos patches de segurança e
              updates de software.
            </p>
            <div class="row justify-content-center content-logo py-5">
              <div class="col-4 text-center">
                <img
                  src="/assets/img/server_security/icons/security.svg"
                  alt=""
                  class="img-fluid img-security mb-3"
                />
                <p>Segurança</p>
              </div>
              <div class="col-4 text-center">
                <img
                  src="/assets/img/server_security/icons/report.svg"
                  alt="Relatórios"
                  class="img-fluid img-security mb-3"
                />
                <p>Relatórios personalizados</p>
              </div>
              <div class="col-4 text-center">
                <img
                  src="/assets/img/server_security/icons/automation.svg"
                  alt="Automação"
                  class="img-fluid img-security mb-3"
                />
                <p>Automação de patch</p>
              </div>
            </div>
            <h4 class="mt-5 text-center">
              <b>Suporte a software de terceiros</b>
            </h4>
            <div class="row justify-content-center content-logo py-5">
              <div class="col-2 text-center py-2">
                <img
                  src="/assets/img/server_security/icons/adobe.svg"
                  alt="Adobe"
                  class="img-fluid img-security"
                />
              </div>
              <div class="col-2 text-center py-2">
                <img
                  src="/assets/img/server_security/icons/java.svg"
                  alt="Java"
                  class="img-fluid img-security"
                />
              </div>
              <div class="col-2 text-center py-2">
                <img
                  src="/assets/img/server_security/icons/google_line.svg"
                  alt="Google"
                  class="img-fluid img-security"
                />
              </div>
              <div class="col-2 text-center">
                <img
                  src="/assets/img/server_security/icons/apple_line.svg"
                  alt="Apple"
                  class="img-fluid img-security"
                />
              </div>
              <div class="col-2 text-center">
                <img
                  src="/assets/img/server_security/icons/linux.svg"
                  alt="Linux"
                  class="img-fluid img-security"
                />
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-3 text-center">
                <a class="btn btn-security" href="/patch-manager/"
                  >Saiba mais!</a
                >
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade shadow rounded"
            id="v-pills-messages"
            role="tabpanel"
            aria-labelledby="v-pills-messages-tab"
          >
            <div class="row px-5">
              <div class="col-3">
                <img
                  src="/assets/img/server_security/icons/search.svg"
                  alt=""
                  class="img-fluid img-security"
                />
              </div>
              <div class="col-8">
                <p>
                  Veja todos os dispositivos na sua rede a qualquer hora. Mesmo
                  que você tenha uma rede ao redor do globo ou simplesmente
                  muitas estações para gerenciar.
                </p>
              </div>
            </div>
            <div class="row px-5 py-5">
              <div class="col-3">
                <img
                  src="/assets/img/server_security/icons/time.svg"
                  alt="Relogio"
                  class="img-fluid img-security"
                />
              </div>
              <div class="col-8">
                <p>
                  Mantenha os inventários passados para que você possa
                  compará-los em doisdiferentes pontos do tempo.
                </p>
              </div>
            </div>
            <div class="row px-5 py-5">
              <div class="col-3 px-4">
                <img
                  src="/assets/img/server_security/icons/software_hardware.svg"
                  alt="Inventário de Hardware e Software"
                  class="img-fluid img-security"
                />
              </div>
              <div class="col-8">
                <p>
                  Saiba de
                  <strong class="text-inventory">software e hardware</strong>
                  que foram adicionados ou removidos dos seus dispositivos.
                </p>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-3 text-center">
                <a class="btn btn-security" href="/hardware-software/"
                  >Saiba mais!</a
                >
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade shadow rounded"
            id="v-pills-settings"
            role="tabpanel"
            aria-labelledby="v-pills-settings-tab"
          >
            <div class="row px-5 py-5">
              <div class="col-3">
                <img
                  src="/assets/img/server_security/icons/cloud.svg"
                  alt="Cloud"
                  class="img-fluid img-security"
                />
              </div>
              <div class="col-8">
                <p>
                  Deploy realizado através da nuvem, permitindo distribuições
                  globais sem a necessidade de uma infraestrutura custosa.
                </p>
              </div>
            </div>
            <div class="row px-5 py-5">
              <div class="col-3">
                <img
                  src="/assets/img/server_security/icons/code.svg"
                  alt="Código Fonte"
                  class="img-fluid img-security"
                />
              </div>
              <div class="col-8">
                <p>
                  Distribua suas proprias aplicações desenvolvidas internamente
                  para todos os seus dispositivos.
                </p>
              </div>
            </div>
            <div class="row px-5 py-5">
              <div class="col-3 px-4">
                <img
                  src="/assets/img/server_security/icons/play.svg"
                  alt="Play"
                  class="img-fluid img-security"
                />
              </div>
              <div class="col-8">
                <p>
                  Defina quando e como o deploy será realizado para não
                  interferir na rotina de trabalho dos colaboradores.
                </p>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-3 text-center">
                <a class="btn btn-security" href="/distribuicao-de-software"
                  >Saiba mais!</a
                >
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade shadow rounded"
            id="v-pills-e"
            role="tabpanel"
            aria-labelledby="v-pills-e-tab"
          >
            <p class="font-italic mb-4">
              Pessoas mal intencionadas podem prejudicar sistemas críticos,
              copiar e vender dados sensíveis de clientes e roubar segredos da
              corporação. Com uma solução de mitigação de risco você pode
              garantir que nenhum funcionário, parceiro ou contratante consiga
              se safar após causar danos a sua empresa
            </p>
            <div class="row justify-content-center py-5">
              <div class="col-3 text-center">
                <img
                  src="/assets/img/server_security/icons/hacker.svg"
                  alt="Hacker"
                  class="img-fluid img-security mb-3"
                />
                <p>Comportamentos Anômalos</p>
              </div>
              <div class="col-3 text-center">
                <img
                  src="/assets/img/server_security/icons/record.svg"
                  alt="Gravação"
                  class="img-fluid img-security mb-3"
                />
                <p>Gravações de telas silenciosas</p>
              </div>
              <div class="col-3 text-center">
                <img
                  src="/assets/img/server_security/icons/danger.svg"
                  alt="Perigo"
                  class="img-fluid img-security mb-3"
                />
                <p>Alertas em tempo real</p>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-3 text-center">
                <a class="btn btn-security" href="/ameacas-internas"
                  >Saiba mais!</a
                >
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade shadow rounded"
            id="v-pills-f"
            role="tabpanel"
            aria-labelledby="v-pills-f-tab"
          >
            <p class="font-italic mb-4">
              Nossa solução de EDR te possibilita alertar e colocar um
              dispositivo em quarentena para detectar, isolar e prevenir
              brechas.
            </p>
            <div class="row justify-content-center py-5">
              <div class="col-3 text-center">
                <img
                  src="/assets/img/server_security/icons/stop.svg"
                  alt="Interupção"
                  class="img-fluid img-security mb-3"
                />
                <p>Pare processos maliciosos</p>
              </div>
              <div class="col-3 text-center">
                <img
                  src="/assets/img/server_security/icons/virus.svg"
                  alt="Virus"
                  class="img-fluid img-security mb-3"
                />
                <p>Isolamento automatico</p>
              </div>
              <div class="col-3 text-center">
                <img
                  src="/assets/img/server_security/icons/auto.svg"
                  alt="Automação"
                  class="img-fluid img-security mb-3"
                />
                <p>Ações automaticas de prevenção</p>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-3 text-center">
                <a class="btn btn-security" href="/edr">Saiba mais!</a>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade shadow rounded"
            id="v-pills-g"
            role="tabpanel"
            aria-labelledby="v-pills-g-tab"
          >
            <p class="font-italic mb-4">
              Alinhe o armazenamento eficiente às necessidades da empresa ao
              menor custo possível
            </p>
            <div class="row justify-content-center py-5">
              <div class="col-3 text-center">
                <img
                  src="/assets/img/server_security/icons/duplicate.svg"
                  alt="Duplicação"
                  class="img-fluid img-security mb-3"
                />
                <p>Arquivos duplicados</p>
              </div>
              <div class="col-3 text-center">
                <img
                  src="/assets/img/server_security/icons/organization.svg"
                  alt="Organização"
                  class="img-fluid img-security mb-3"
                />
                <p>Organização da estrutura</p>
              </div>
              <div class="col-3 text-center">
                <img
                  src="/assets/img/server_security/icons/storage.svg"
                  alt="Armazenmaneto"
                  class="img-fluid img-security mb-3"
                />
                <p>Armazenamento Local ou Cloud</p>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-3 text-center">
                <a class="btn btn-security" href="/optimization">Saiba mais!</a>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade shadow rounded"
            id="v-pills-h"
            role="tabpanel"
            aria-labelledby="v-pills-h-tab"
          >
            <p class="font-italic mb-4">
              O tráfego de entrada da web está sujeito a uma série de desafios
              cada vez mais rigorosos. A falha de qualquer desafio resulta em
              que o solicitante seja imediatamente bloqueado de acesso à rede.
            </p>
            <div class="row justify-content-center py-5">
              <div class="col-3 text-center">
                <img
                  src="/assets/img/server_security/icons/browser.svg"
                  alt="Navegador"
                  class="img-fluid img-security mb-3"
                />
                <p>Criação de perfil de ambientes de navegador</p>
              </div>
              <div class="col-3 text-center">
                <img
                  src="/assets/img/server_security/icons/filter.svg"
                  alt="Filtro"
                  class="img-fluid img-security mb-3"
                />
                <p>Filtragem primária</p>
              </div>
              <div class="col-3 text-center">
                <img
                  src="/assets/img/server_security/icons/dinamic_filter.svg"
                  alt="Filtro dinamico"
                  class="img-fluid img-security mb-3"
                />
                <p>Filtragem Dinâmica</p>
              </div>
              <div class="col-3 text-center">
                <img
                  src="/assets/img/server_security/icons/behavior.svg"
                  alt="Comportamentos Anômalos"
                  class="img-fluid img-security mb-3"
                />
                <p>Análise Biométrica do Comportamento</p>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-3 text-center">
                <a class="btn btn-security" href="/bot">Saiba mais!</a>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade shadow rounded"
            id="v-pills-i"
            role="tabpanel"
            aria-labelledby="v-pills-i-tab"
          >
            <p class="font-italic mb-4">
              Mantenha suas aplicações web totalmente responsivos aos usuários
              com a uma proteção DDoS multicamadas Proteção DoS e DDoS completa,
              derrotando ataques nas camadas 3, 4 e 7: rede, transporte e
              aplicativo.
            </p>
            <div class="row justify-content-center py-5">
              <div class="col-4 text-center">
                <img
                  src="/assets/img/comp_dist/icons/dns_white.svg"
                  alt="DNS"
                  class="img-fluid img-security mb-3"
                />
                <p>Alocação dinâmica de DNS</p>
              </div>
              <div class="col-4 text-center">
                <img
                  src="/assets/img/comp_dist/icons/charge_white.svg"
                  alt="Balanceamento"
                  class="img-fluid img-security mb-3"
                />
                <p>Balanceamento de carga elástica</p>
              </div>
              <div class="col-4 text-center">
                <img
                  src="/assets/img/server_security/icons/filter.svg"
                  alt="Filtro"
                  class="img-fluid img-security mb-3"
                />
                <p>O Tráfego DDos é filtrado</p>
              </div>
              <div class="col-4 text-center">
                <img
                  src="/assets/img/comp_dist/icons/network_white.svg"
                  alt="network_white"
                  class="img-fluid img-security mb-3"
                />
                <p>Rede distribuida</p>
              </div>
              <div class="col-4 text-center">
                <img
                  src="/assets/img/comp_dist/icons/defense_white.svg"
                  alt="Defesa"
                  class="img-fluid img-security mb-3"
                />
                <p>Proteção Exponencial</p>
              </div>
              <div class="col-4 text-center">
                <img
                  src="/assets/img/comp_dist/icons/advanced_white.svg"
                  alt="Ataques Avançados"
                  class="img-fluid img-security mb-3"
                />
                <p>Proteção contra ataques avançados</p>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-3 text-center">
                <a class="btn btn-security" href="/ddos/">Saiba mais!</a>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade shadow rounded"
            id="v-pills-j"
            role="tabpanel"
            aria-labelledby="v-pills-j-tab"
          >
            <p class="font-italic mb-4">
              Suas contas na nuvem estão em alvos sempre acessíveis. Para
              proteger usuários e ativos, você precisa ser capaz de ver quais
              usuários têm acesso aos seus aplicativos SaaS, quais privilégios
              eles têm e o que estão fazendo
            </p>
            <div class="row justify-content-center py-5">
              <div class="col-3 text-center">
                <img
                  src="/assets/img/common/user (1).svg"
                  alt="Inventário"
                  class="img-fluid img-security mb-3"
                />
                <p>Inventário de usuário e acesso</p>
              </div>
              <div class="col-3 text-center">
                <img
                  src="/assets/img/common/monitor_active.svg"
                  alt="Monitor"
                  class="img-fluid img-security mb-3"
                />
                <p>Monitoramento de atividades</p>
              </div>
              <div class="col-3 text-center">
                <img
                  src="/assets/img/common/data-analytics.svg"
                  alt="Analise de Dados"
                  class="img-fluid img-security mb-3"
                />
                <p>Mapeamento de funções e privilégios</p>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-3 text-center">
                <a class="btn btn-security" href="/protecao-saas/"
                  >Saiba mais!</a
                >
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade shadow rounded"
            id="v-pills-p"
            role="tabpanel"
            aria-labelledby="v-pills-p-tab"
          >
            <p class="font-italic mb-4">
              Um escudo protetor para seus ativos da web, de forma robusta,
              abrangente e certificada pelo PCI DSS. Protegemos a sua aplicação
              contra todas as vulnerabilidades no OWASP Top 10 e muito mais
            </p>
            <div class="row justify-content-center py-5">
              <div class="col-3 text-center">
                <img
                  src="/assets/img/common/black_list.svg"
                  alt="Lista Branca"
                  class="img-fluid img-security mb-3"
                />
                <p>Ameaças na lista negra</p>
              </div>
              <div class="col-3 text-center">
                <img
                  src="/assets/img/common/list_apps.svg"
                  alt="Lista de Apps"
                  class="img-fluid img-security mb-3"
                />
                <p>Lista de permissões de aplicativos</p>
              </div>
              <div class="col-3 text-center">
                <img
                  src="/assets/img/common/analisys_behavior.svg"
                  alt="Analise de Comportamento"
                  class="img-fluid img-security mb-3"
                />
                <p>Análise Comportamental</p>
              </div>
              <div class="col-3 text-center">
                <img
                  src="/assets/img/common/adm_apps.svg"
                  alt="Administração de Apps"
                  class="img-fluid img-security mb-3"
                />
                <p>Ferramentas Administrativas</p>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-3 text-center">
                <a class="btn btn-security" href="/waf">Saiba mais!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function down() {
    window.scroll({
      top: 1100,
      left: 100,
      behavior: "smooth",
    });
  }
</script>

<style>
  .img-security {
    max-width: 70px;
  }
  .nav-pills-custom .nav-link {
    color: teal;
    background: #19191a;
    position: relative;
  }
  .nav-pills .nav-link {
    border-radius: 0;
  }

  .nav-pills-custom .nav-link.active {
    color: white;
    background: teal;
  }

  #v-pills-home {
    height: 60px;
    margin-left: 100px;
    padding: 5px 5px 5px 18px;
    font-size: 17px;
    margin-top: -3px;
  }

  #v-pills-profile {
    height: 60px;
    margin-left: 100px;
    padding: 5px 5px 5px 18px;
    font-size: 17px;
  }
  #v-pills-messages {
    height: 60px;
    margin-left: 100px;
    padding: 5px 5px 5px 18px;
    font-size: 17px;
  }
  #v-pills-settings {
    height: 60px;
    margin-left: 100px;
    padding: 5px 5px 5px 18px;
    font-size: 17px;
  }
  #v-pills-e {
    height: 60px;
    margin-left: 100px;
    padding: 5px 5px 5px 18px;
    font-size: 17px;
  }
  #v-pills-f {
    height: 60px;
    margin-left: 100px;
    padding: 5px 5px 5px 18px;
    font-size: 17px;
  }
  #v-pills-g {
    height: 60px;
    margin-left: 100px;
    padding: 25vh 5px 5px 18px;
    font-size: 17px;
  }
  #v-pills-h {
    height: 60px;
    margin-left: 100px;
    padding: 30vh 5px 5px 18px;
    font-size: 17px;
  }
  #v-pills-i {
    height: 60px;
    margin-left: 100px;
    padding: 35vh 5px 5px 18px;
    font-size: 17px;
  }
  #v-pills-j {
    height: 60px;
    margin-left: 100px;
    padding: 35vh 5px 5px 18px;
    font-size: 17px;
  }
  #v-pills-p {
    height: 60px;
    margin-left: 100px;
    padding: 35vh 5px 5px 18px;
    font-size: 17px;
  }
  #v-pills-home-tab {
    width: 300px;
  }
  #v-pills-profile-tab {
    width: 300px;
  }
  #v-pills-messages-tab {
    width: 300px;
  }
  #v-pills-settings-tab {
    width: 300px;
  }
  #v-pills-e-tab {
    width: 300px;
  }
  #v-pills-f-tab {
    width: 300px;
  }
  #v-pills-g-tab {
    width: 300px;
  }
  .btn-security {
    border: 1px solid white;
    color: white;
  }
  .btn-security:hover {
    background-color: white;
    color: teal;
  }

  /* Add indicator arrow for the active tab */
  @media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
      content: "";
      display: block;
      border-top: 8px solid transparent;
      border-left: 10px solid #fff;
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      opacity: 0;
    }
  }
  @media screen and (max-width: 768px) {
    #trial_obs {
      display: none;
    }
  }

  .nav-pills-custom .nav-link.active::before {
    opacity: 1;
  }
</style>
