
<div class="container mt-5" id="tab-vertical">
  <div class="tabs">
    <ul id="tab-links">
      <li>
        <a href="#tab-1" class="active" title="Code"
          ><i class="fas fa-database"></i> Data Loss Prevetion</a
        >
      </li>
      <li>
        <a href="#tab-2" title="Graphic Design &amp; Illustration"
          ><i class="fas fa-desktop"></i> Patch Management</a
        >
      </li>
      <li>
        <a href="#tab-3" title="Web Design"
          ><i class="fas fa-list-alt"></i> Inventário</a
        >
      </li>
      <li>
        <a href="#tab-4" title="Business"
          ><i class="fas fa-exclamation-triangle"></i> Deploy de Software</a
        >
      </li>
      <li>
        <a href="#tab-5" title="Photography &amp; Video"
          ><i class="fas fa-lock"></i> Ameaças Internas</a
        >
      </li>
      <li>
        <a href="#tab-6" title="Business"
          ><i class="fas fa-briefcase"></i> Endpoint Detection and
          <br />Response - EDR</a
        >
      </li>
      <li>
        <a href="#tab-7" title="Business"
          ><i class="fa fa-hdd-o"></i>Otimização de Storage</a
        >
      </li>
      <li>
        <a href="#tab-8" title="Business"
          ><i class="fa fa-hdd-o"></i>Bot Management</a
        >
      </li>
      <li>
        <a href="#tab-9" title="Business"
          ><i class="fa fa-hdd-o"></i>Proteção DDoS</a
        >
      </li>
    </ul>

    <section id="tab-1" class="active text-center">
      <p class="text-security">
        As principais funcionalidades das nossas soluções que atenderão a sua
        demanda de DLP. São três piláres principais: Proteção a sistemas e
        endpoint, proteção online e monitoramento e auditoria
      </p>
      <h4>
        <b>Proteção de sistemas e endpoint</b>
      </h4>
      <div class="row justify-content-center content-logo py-5">
        <div class="col-2 py-2">
          <img
            src="/assets/img/server_security/icons/windows.svg"
            alt=""
            class="img-fluid img-security"
          />
        </div>
        <div class="col-2">
          <img
            src="/assets/img/server_security/icons/apple.svg"
            alt=""
            class="img-fluid img-security"
          />
        </div>
        <div class="col-2">
          <img
            src="/assets/img/server_security/icons/linux.svg"
            alt=""
            class="img-fluid img-security"
          />
        </div>
        <div class="col-2">
          <img
            src="/assets/img/server_security/icons/android.svg"
            alt=""
            class="img-fluid img-security"
          />
        </div>
        <div class="col-2 py-1">
          <img
            src="/assets/img/server_security/icons/ios.svg"
            alt=""
            class="img-fluid img-security"
          />
        </div>
      </div>
      <h4 class="mt-5">
        <b>Proteção Online</b>
      </h4>
      <div class="row justify-content-center content-logo py-5">
        <div class="col-2 py-2">
          <img
            src="/assets/img/server_security/icons/google.svg"
            alt=""
            class="img-fluid img-security"
          />
        </div>
        <div class="col-2 py-3">
          <img
            src="/assets/img/server_security/icons/aws.svg"
            alt=""
            class="img-fluid img-security"
          />
        </div>
        <div class="col-2 py-3">
          <img
            src="/assets/img/server_security/icons/azure.svg"
            alt=""
            class="img-fluid img-security"
          />
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-3">
          <a class="btn btn-security" href="/dlp">Saiba mais!</a>
        </div>
      </div>
    </section>

    <section id="tab-2">
      <p class="text-security text-center">
        O gerenciamento de patches de TI da nossa solução de gerenciamento
        mantém os computadores, notebooks e usuários remotos automaticamente
        atualizados com os últimos patches de segurança e updates de software.
      </p>

      <div class="row justify-content-center content-logo py-5">
        <div class="col-4 text-center">
          <img
            src="/assets/img/server_security/icons/security.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Segurança</p>
        </div>
        <div class="col-4 text-center">
          <img
            src="/assets/img/server_security/icons/report.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Relatórios personalizados</p>
        </div>
        <div class="col-4 text-center">
          <img
            src="/assets/img/server_security/icons/automation.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Automação de patch</p>
        </div>
      </div>
      <h4 class="mt-5 text-center">
        <b>Suporte a software de terceiros</b>
      </h4>
      <div class="row justify-content-center content-logo py-5">
        <div class="col-2 text-center py-2">
          <img
            src="/assets/img/server_security/icons/adobe.svg"
            alt=""
            class="img-fluid img-security"
          />
        </div>
        <div class="col-2 text-center py-2">
          <img
            src="/assets/img/server_security/icons/java.svg"
            alt=""
            class="img-fluid img-security"
          />
        </div>
        <div class="col-2 text-center py-2">
          <img
            src="/assets/img/server_security/icons/google_line.svg"
            alt=""
            class="img-fluid img-security"
          />
        </div>
        <div class="col-2 text-center">
          <img
            src="/assets/img/server_security/icons/apple_line.svg"
            alt=""
            class="img-fluid img-security"
          />
        </div>
        <div class="col-2 text-center">
          <img
            src="/assets/img/server_security/icons/linux.svg"
            alt=""
            class="img-fluid img-security"
          />
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-3 text-center">
          <a class="btn btn-security" href="/patch-manager/">Saiba mais!</a>
        </div>
      </div>
    </section>

    <section id="tab-3" style="padding-top: 18vh">
      <div class="row px-5">
        <div class="col-3">
          <img
            src="/assets/img/server_security/icons/search.svg"
            alt=""
            class="img-fluid img-security"
          />
        </div>
        <div class="col-8">
          <p>
            Veja todos os dispositivos na sua rede a qualquer hora. Mesmo que
            você tenha uma rede ao redor do globo ou simplesmente muitas
            estações para gerenciar.
          </p>
        </div>
      </div>
      <div class="row px-5 py-5">
        <div class="col-3">
          <img
            src="/assets/img/server_security/icons/time.svg"
            alt=""
            class="img-fluid img-security"
          />
        </div>
        <div class="col-8">
          <p>
            Mantenha os inventários passados para que você possa compará-los em
            dois diferentes pontos do tempo.
          </p>
        </div>
      </div>
      <div class="row px-5 py-5">
        <div class="col-3 px-4">
          <img
            src="/assets/img/server_security/icons/software_hardware.svg"
            alt=""
            class="img-fluid img-security"
          />
        </div>
        <div class="col-8">
          <p>
            Saiba de
            <strong class="text-inventory">software e hardware</strong> que
            foram adicionados ou removidos dos seus dispositivos.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-3 text-center">
          <a class="btn btn-security" href="/hardware-software/">Saiba mais!</a>
        </div>
      </div>
    </section>

    <section id="tab-4" style="padding-top: 10vh">
      <div class="row px-5 py-5">
        <div class="col-3">
          <img
            src="/assets/img/server_security/icons/cloud.svg"
            alt=""
            class="img-fluid img-security"
          />
        </div>
        <div class="col-8">
          <p>
            Deploy realizado através da nuvem, permitindo distribuições globais
            sem a necessidade de uma infraestrutura custosa.
          </p>
        </div>
      </div>
      <div class="row px-5 py-5">
        <div class="col-3">
          <img
            src="/assets/img/server_security/icons/code.svg"
            alt=""
            class="img-fluid img-security"
          />
        </div>
        <div class="col-8">
          <p>
            Distribua suas proprias aplicações desenvolvidas internamente para
            todos os seus dispositivos.
          </p>
        </div>
      </div>
      <div class="row px-5 py-5">
        <div class="col-3 px-4">
          <img
            src="/assets/img/server_security/icons/play.svg"
            alt=""
            class="img-fluid img-security"
          />
        </div>
        <div class="col-8">
          <p>
            Defina quando e como o deploy será realizado para não interferir na
            rotina de trabalho dos colaboradores.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-3 text-center">
          <a class="btn btn-security" href="/distribuicao-de-software"
            >Saiba mais!</a
          >
        </div>
      </div>
    </section>

    <section id="tab-5" style="padding-top: 15vh">
      <p class="text-center text-security">
        Pessoas mal intencionadas podem prejudicar sistemas críticos, copiar e
        vender dados sensíveis de clientes e roubar segredos da corporação. Com
        uma solução de mitigação de risco você pode garantir que nenhum
        funcionário, parceiro ou contratante consiga se safar após causar danos
        a sua empresa
      </p>
      <div class="row justify-content-center py-5">
        <div class="col-3 text-center">
          <img
            src="/assets/img/server_security/icons/hacker.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Comportamentos Anômalos</p>
        </div>
        <div class="col-3 text-center">
          <img
            src="/assets/img/server_security/icons/record.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Gravações de telas silenciosas</p>
        </div>
        <div class="col-3 text-center">
          <img
            src="/assets/img/server_security/icons/danger.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Alertas em tempo real</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-3 text-center">
          <a class="btn btn-security" href="/ameacas-internas">Saiba mais!</a>
        </div>
      </div>
    </section>
    <section id="tab-6" style="padding-top: 18vh">
      <p class="text-center text-security">
        Nossa solução de EDR te possibilita alertar e colocar um dispositivo em
        quarentena para detectar, isolar e prevenir brechas.
      </p>
      <div class="row justify-content-center py-5">
        <div class="col-3 text-center">
          <img
            src="/assets/img/server_security/icons/stop.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Pare processos maliciosos</p>
        </div>
        <div class="col-3 text-center">
          <img
            src="/assets/img/server_security/icons/virus.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Isolamento automatico</p>
        </div>
        <div class="col-3 text-center">
          <img
            src="/assets/img/server_security/icons/auto.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Ações automaticas de prevenção</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-3 text-center">
          <a class="btn btn-security" href="/edr">Saiba mais!</a>
        </div>
      </div>
    </section>
    <section id="tab-7" style="padding-top: 18vh">
      <p class="text-center text-security">
        Alinhe o armazenamento eficiente às necessidades da empresa ao menor
        custo possível
      </p>
      <div class="row justify-content-center py-5">
        <div class="col-3 text-center">
          <img
            src="/assets/img/server_security/icons/duplicate.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Arquivos duplicados</p>
        </div>
        <div class="col-3 text-center">
          <img
            src="/assets/img/server_security/icons/organization.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Organização da estrutura</p>
        </div>
        <div class="col-3 text-center">
          <img
            src="/assets/img/server_security/icons/storage.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Armazenamento Local ou Cloud</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-3 text-center">
          <a class="btn btn-security" href="/optimization">Saiba mais!</a>
        </div>
      </div>
    </section>
    <section id="tab-8" style="padding-top: 18vh">
      <p class="text-center text-security">
        O tráfego de entrada da web está sujeito a uma série de desafios cada
        vez mais rigorosos. A falha de qualquer desafio resulta em que o
        solicitante seja imediatamente bloqueado de acesso à rede.
      </p>
      <div class="row justify-content-center py-5">
        <div class="col-3 text-center">
          <img
            src="/assets/img/server_security/icons/browser.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Criação de perfil de ambientes de navegador</p>
        </div>
        <div class="col-3 text-center">
          <img
            src="/assets/img/server_security/icons/filter.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Filtragem primária</p>
        </div>
        <div class="col-3 text-center">
          <img
            src="/assets/img/server_security/icons/dinamic_filter.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Filtragem Dinâmica</p>
        </div>
        <div class="col-3 text-center">
          <img
            src="/assets/img/server_security/icons/behavior.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Análise Biométrica do Comportamento</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-3 text-center">
          <a class="btn btn-security" href="/bot">Saiba mais!</a>
        </div>
      </div>
    </section>
    <section id="tab-9" style="padding-top: 18vh">
      <p class="text-center text-security">
        Mantenha suas aplicações web totalmente responsivos aos usuários
        com a uma proteção DDoS multicamadas Proteção DoS e DDoS completa,
        derrotando ataques nas camadas 3, 4 e 7: rede, transporte e
        aplicativo.
      </p>
      <div class="row justify-content-center py-5">
        <div class="col-4 text-center">
          <img
            src="/assets/img/comp_dist/icons/dns_white.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Alocação dinâmica de DNS</p>
        </div>
        <div class="col-4 text-center">
          <img
            src="/assets/img/comp_dist/icons/charge_white.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Balanceamento de carga elástica</p>
        </div>
        <div class="col-4 text-center">
          <img
            src="/assets/img/server_security/icons/filter.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>O Tráfego DDos é filtrado</p>
        </div>
        <div class="col-4 text-center">
          <img
            src="/assets/img/comp_dist/icons/network_white.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Rede distribuida</p>
        </div>
        <div class="col-4 text-center">
          <img
            src="/assets/img/comp_dist/icons/defense_white.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Proteção Exponencial</p>
        </div>
        <div class="col-4 text-center">
          <img
            src="/assets/img/comp_dist/icons/advanced_white.svg"
            alt=""
            class="img-fluid img-security mb-3"
          />
          <p>Proteção contra ataques avançados</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-3 text-center">
          <a class="btn btn-security" href="/ddos/">Saiba mais!</a>
        </div>
      </div>
    </section>
  </div>
</div>
<style>
  .tabs {
    width: 100%;
    display: flex;
  }
  #tab-links {
    height: 100vh;
  }
  .tabs > ul {
    list-style-type: none;
    padding: 0;
  }
  .tabs > ul li {
    text-align: left;
  }
  .tabs > ul li a {
    display: block;
    text-decoration: none;
    background: #19191a;
    padding: 15px 0 20px 15px;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    height: 11.45vh;
  }
  .tabs > ul li a.active {
    background: teal;
    color: white;
  }
  .tabs > ul li a:hover:not(.active) {
    color: #fff;
  }
  .tabs section {
    background: teal;
    padding: 1.5rem 2.5rem;
    display: none;
    height: 80vh;
  }
  .tabs section.active {
    display: block;
    width: 100vh;
  }
  .img-security {
    max-width: 70px;
  }
  .text-security {
    font-size: 16px;
    margin-top: 5vh;
  }
  .btn-security {
    border: 1px solid white;
    color: white;
  }
  .btn-security:hover {
    background-color: white;
    color: teal;
  }
  .text-inventory {
    color: #363636;
    font-style: normal;
  }
  .row-inventory {
    padding-top: 20vh;
  }
  @media screen and (max-width: 764px) {
    .img-security {
      max-width: 30px;
    }
  }
</style>

<script>
  // jQuery.
  $(function () {
    // Reference the tab links.
    const tabLinks = $("#tab-links li a");

    // Handle link clicks.
    tabLinks.click(function (event) {
      var $this = $(this);

      // Prevent default click behaviour.
      event.preventDefault();

      // Remove the active class from the active link and section.
      $("#tab-links a.active, section.active").removeClass("active");

      // Add the active class to the current link and corresponding section.
      $this.addClass("active");
      $($this.attr("href")).addClass("active");
    });
  });
</script>
<!-----------------------------------------------------------------------MOBILE-------------------------------------------------------------------------------->

<div class="container" id="showOnlyMobile" style="margin: 150px 0 0 0">
  <div class="accordion">
    <dl>
      <dt>
        <a
          href="#accordion1"
          aria-expanded="false"
          aria-controls="accordion1"
          class="accordion-title accordionTitle js-accordionTrigger"
          >Data Loss Prevetion</a
        >
      </dt>
      <dd
        class="accordion-content accordionItem is-collapsed"
        id="accordion1"
        aria-hidden="true"
      >
        <p class="text-security">
          As principais funcionalidades das nossas soluções que atenderão a sua
          demanda de DLP. São três piláres principais: Proteção a sistemas e
          endpoint, proteção online e monitoramento e auditoria
        </p>
        <h4 class="text-center">
          <b>Proteção de sistemas e endpoint</b>
        </h4>
        <div class="row justify-content-center content-logo py-5">
          <div class="col-2 py-2">
            <img
              src="/assets/img/server_security/icons/windows.svg"
              alt=""
              class="img-fluid img-security"
            />
          </div>
          <div class="col-2">
            <img
              src="/assets/img/server_security/icons/apple.svg"
              alt=""
              class="img-fluid img-security"
            />
          </div>
          <div class="col-2">
            <img
              src="/assets/img/server_security/icons/linux.svg"
              alt=""
              class="img-fluid img-security"
            />
          </div>
          <div class="col-2">
            <img
              src="/assets/img/server_security/icons/android.svg"
              alt=""
              class="img-fluid img-security"
            />
          </div>
          <div class="col-2 py-1">
            <img
              src="/assets/img/server_security/icons/ios.svg"
              alt=""
              class="img-fluid img-security"
            />
          </div>
        </div>
        <h4 class="mt-5 text-center">
          <b>Proteção Online</b>
        </h4>
        <div class="row justify-content-center content-logo py-5">
          <div class="col-2 py-2">
            <img
              src="/assets/img/server_security/icons/google.svg"
              alt=""
              class="img-fluid img-security"
            />
          </div>
          <div class="col-2 py-3">
            <img
              src="/assets/img/server_security/icons/aws.svg"
              alt=""
              class="img-fluid img-security"
            />
          </div>
          <div class="col-2 py-3">
            <img
              src="/assets/img/server_security/icons/azure.svg"
              alt=""
              class="img-fluid img-security"
            />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-3 text-center">
            <a class="btn btn-security" href="/dlp">Saiba mais!</a>
          </div>
        </div>
      </dd>
      <dt>
        <a
          href="#accordion2"
          aria-expanded="false"
          aria-controls="accordion2"
          class="accordion-title accordionTitle js-accordionTrigger"
        >
          Patch Manager</a
        >
      </dt>
      <dd
        class="accordion-content accordionItem is-collapsed"
        id="accordion2"
        aria-hidden="true"
      >
        <p class="text-security text-center">
          O gerenciamento de patches de TI da nossa solução de gerenciamento
          mantém os computadores, notebooks e usuários remotos automaticamente
          atualizados com os últimos patches de segurança e updates de software.
        </p>

        <div class="row justify-content-center content-logo py-5">
          <div class="col-sm-4 text-center">
            <img
              src="/assets/img/server_security/icons/security.svg"
              alt=""
              class="img-fluid img-security mb-3"
            />
            <p>Segurança</p>
          </div>
          <div class="col-sm-4 text-center">
            <img
              src="/assets/img/server_security/icons/report.svg"
              alt=""
              class="img-fluid img-security mb-3"
            />
            <p>Relatórios personalizados</p>
          </div>
          <div class="col-sm-4 text-center">
            <img
              src="/assets/img/server_security/icons/automation.svg"
              alt=""
              class="img-fluid img-security mb-3"
            />
            <p>Automação de patch</p>
          </div>
        </div>
        <h4 class="mt-5 text-center">
          <b>Suporte a software de terceiros</b>
        </h4>
        <div class="row justify-content-center content-logo py-5">
          <div class="col-2 text-center py-2">
            <img
              src="/assets/img/server_security/icons/adobe.svg"
              alt=""
              class="img-fluid img-security"
            />
          </div>
          <div class="col-2 text-center py-2">
            <img
              src="/assets/img/server_security/icons/java.svg"
              alt=""
              class="img-fluid img-security"
            />
          </div>
          <div class="col-2 text-center py-2">
            <img
              src="/assets/img/server_security/icons/google_line.svg"
              alt=""
              class="img-fluid img-security"
            />
          </div>
          <div class="col-2 text-center">
            <img
              src="/assets/img/server_security/icons/apple_line.svg"
              alt=""
              class="img-fluid img-security"
            />
          </div>
          <div class="col-2 text-center">
            <img
              src="/assets/img/server_security/icons/linux.svg"
              alt=""
              class="img-fluid img-security"
            />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-3 text-center">
            <a class="btn btn-security" href="/patch-manager/">Saiba mais!</a>
          </div>
        </div>
      </dd>
      <dt>
        <a
          href="#accordion3"
          aria-expanded="false"
          aria-controls="accordion3"
          class="accordion-title accordionTitle js-accordionTrigger"
        >
          Inventário
        </a>
      </dt>
      <dd
        class="accordion-content accordionItem is-collapsed"
        id="accordion3"
        aria-hidden="true"
      >
        <div class="row px-5">
          <div class="col-sm-3">
            <img
              src="/assets/img/server_security/icons/search.svg"
              alt=""
              class="img-fluid img-security"
            />
          </div>
          <div class="col-sm-8">
            <p>
              Veja todos os dispositivos na sua rede a qualquer hora. Mesmo que
              você tenha uma rede ao redor do globo ou simplesmente muitas
              estações para gerenciar.
            </p>
          </div>
        </div>
        <div class="row px-5 py-5">
          <div class="col-sm-3">
            <img
              src="/assets/img/server_security/icons/time.svg"
              alt=""
              class="img-fluid img-security"
            />
          </div>
          <div class="col-sm-8">
            <p>
              Mantenha os inventários passados para que você possa compará-los
              em doisdiferentes pontos do tempo.
            </p>
          </div>
        </div>
        <div class="row px-5 py-5">
          <div class="col-sm-3 px-4">
            <img
              src="/assets/img/server_security/icons/software_hardware.svg"
              alt=""
              class="img-fluid img-security"
            />
          </div>
          <div class="col-sm-8">
            <p>
              Saiba de
              <strong class="text-inventory">software e hardware</strong> que
              foram adicionados ou removidos dos seus dispositivos.
            </p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-3 text-center">
            <a class="btn btn-security" href="/hardware-software/"
              >Saiba mais!</a
            >
          </div>
        </div>
      </dd>
      <dt>
        <a
          href="#accordion4"
          aria-expanded="false"
          aria-controls="accordion4"
          class="accordion-title accordionTitle js-accordionTrigger"
        >
          Deploy de Software
        </a>
      </dt>
      <dd
        class="accordion-content accordionItem is-collapsed"
        id="accordion4"
        aria-hidden="true"
      >
        <div class="row px-5 py-5">
          <div class="col-sm-3">
            <img
              src="/assets/img/server_security/icons/cloud.svg"
              alt=""
              class="img-fluid img-security"
            />
          </div>
          <div class="col-sm-8">
            <p>
              Deploy realizado através da nuvem, permitindo distribuições
              globais sem a necessidade de uma infraestrutura custosa.
            </p>
          </div>
        </div>
        <div class="row px-5 py-5">
          <div class="col-sm-3">
            <img
              src="/assets/img/server_security/icons/code.svg"
              alt=""
              class="img-fluid img-security"
            />
          </div>
          <div class="col-sm-8">
            <p>
              Distribua suas proprias aplicações desenvolvidas internamente para
              todos os seus dispositivos.
            </p>
          </div>
        </div>
        <div class="row px-5 py-5">
          <div class="col-sm-3 px-4">
            <img
              src="/assets/img/server_security/icons/play.svg"
              alt=""
              class="img-fluid img-security"
            />
          </div>
          <div class="col-sm-8">
            <p>
              Defina quando e como o deploy será realizado para não interferir
              na rotina de trabalho dos colaboradores.
            </p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-3 text-center">
            <a class="btn btn-security" href="/distribuicao-de-software"
              >Saiba mais!</a
            >
          </div>
        </div>
      </dd>
      <dt>
        <a
          href="#accordion5"
          aria-expanded="false"
          aria-controls="accordion5"
          class="accordion-title accordionTitle js-accordionTrigger"
        >
          Ameaças Internas
        </a>
      </dt>
      <dd
        class="accordion-content accordionItem is-collapsed"
        id="accordion5"
        aria-hidden="true"
      >
        <p class="text-center text-security">
          Pessoas mal intencionadas podem prejudicar sistemas críticos, copiar e
          vender dados sensíveis de clientes e roubar segredos da corporação.
          Com uma solução de mitigação de risco você pode garantir que nenhum
          funcionário, parceiro ou contratante consiga se safar após causar
          danos a sua empresa
        </p>
        <div class="row justify-content-center py-5">
          <div class="col-sm-3 text-center">
            <img
              src="/assets/img/server_security/icons/hacker.svg"
              alt=""
              class="img-fluid img-security mb-3"
            />
            <p>Comportamentos Anômalos</p>
          </div>
          <div class="col-sm-3 text-center">
            <img
              src="/assets/img/server_security/icons/record.svg"
              alt=""
              class="img-fluid img-security mb-3"
            />
            <p>Gravações de telas silenciosas</p>
          </div>
          <div class="col-sm-3 text-center">
            <img
              src="/assets/img/server_security/icons/danger.svg"
              alt=""
              class="img-fluid img-security mb-3"
            />
            <p>Alertas em tempo real</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-3 text-center">
            <a class="btn btn-security" href="/ameacas-internas">Saiba mais!</a>
          </div>
        </div>
      </dd>
      <dt>
        <a
          href="#accordion6"
          aria-expanded="false"
          aria-controls="accordion6"
          class="accordion-title accordionTitle js-accordionTrigger"
        >
          Endpoint Detection and Response - EDR
        </a>
      </dt>
      <dd
        class="accordion-content accordionItem is-collapsed"
        id="accordion6"
        aria-hidden="true"
      >
        <p class="text-center text-security">
          Nossa solução de EDR te possibilita alertar e colocar um dispositivo
          em quarentena para detectar, isolar e prevenir brechas.
        </p>
        <div class="row justify-content-center py-5">
          <div class="col-sm-3 text-center">
            <img
              src="/assets/img/server_security/icons/stop.svg"
              alt=""
              class="img-fluid img-security mb-3"
            />
            <p>Pare processos maliciosos</p>
          </div>
          <div class="col-sm-3 text-center">
            <img
              src="/assets/img/server_security/icons/virus.svg"
              alt=""
              class="img-fluid img-security mb-3"
            />
            <p>Isolamento automatico</p>
          </div>
          <div class="col-sm-3 text-center">
            <img
              src="/assets/img/server_security/icons/auto.svg"
              alt=""
              class="img-fluid img-security mb-3"
            />
            <p>Ações automaticas de prevenção</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-3 text-center">
            <a class="btn btn-security" href="/edr">Saiba mais!</a>
          </div>
        </div>
      </dd>
      <dt>
        <a
          href="#accordion7"
          aria-expanded="false"
          aria-controls="accordion7"
          class="accordion-title accordionTitle js-accordionTrigger"
        >
          Otimização de Storage
        </a>
      </dt>
      <dd
        class="accordion-content accordionItem is-collapsed"
        id="accordion7"
        aria-hidden="true"
      >
        <p class="text-center text-security">
          Alinhe o armazenamento eficiente às necessidades da empresa ao menor
          custo possível
        </p>
        <div class="row justify-content-center py-5">
          <div class="col-sm-3 text-center">
            <img
              src="/assets/img/server_security/icons/duplicate.svg"
              alt=""
              class="img-fluid img-security mb-3"
            />
            <p>Arquivos duplicados</p>
          </div>
          <div class="col-sm-3 text-center">
            <img
              src="/assets/img/server_security/icons/organization.svg"
              alt=""
              class="img-fluid img-security mb-3"
            />
            <p>Organização da estrutura</p>
          </div>
          <div class="col-sm-3 text-center">
            <img
              src="/assets/img/server_security/icons/storage.svg"
              alt=""
              class="img-fluid img-security mb-3"
            />
            <p>Armazenamento Local ou Cloud</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-3 text-center">
            <a class="btn btn-security" href="/optimization">Saiba mais!</a>
          </div>
        </div>
      </dd>
    </dl>
  </div>
</div>

<style>
  .accordion dl,
  .accordion-list {
    border: 1px solid #ddd;
  }
  .accordion dl:after,
  .accordion-list:after {
    content: "";
    display: block;
    min-height: 1em;
    width: 100%;
    background-color: white;
  }
  .accordion dd,
  .accordion__panel {
    background-color: teal;
    font-size: 1em;
    line-height: 1.5em;
  }
  .accordion p {
    padding: 1em 2em 1em 2em;
  }
  .accordion {
    position: relative;
    background-color: teal;
  }

  .accordionTitle,
  .accordion__Heading {
    background-color: #19191a;
    text-align: center;
    font-weight: 700;
    padding: 2em;
    display: block;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.5s ease-in-out;
    border-bottom: 1px solid gray;
  }
  .accordionTitle:before,
  .accordion__Heading:before {
    content: "+";
    font-size: 1.5em;
    line-height: 0.5em;
    float: left;
    transition: transform 0.3s ease-in-out;
  }
  .accordionTitle:hover,
  .accordion__Heading:hover {
    background-color: #19191a;
  }
  .accordionTitleActive,
  .accordionTitle.is-expanded {
    background-color: #19191a;
  }
  .accordionTitleActive:before,
  .accordionTitle.is-expanded:before {
    transform: rotate(-225deg);
  }
  .accordionItem {
    height: auto;
    overflow: hidden;

    transition: max-height 1s;
  }
  @media screen and (min-width: 48em) {
    .accordionItem {
      transition: max-height 0.5s;
    }
  }

  .accordionItem.is-collapsed {
    max-height: 0;
  }
  .no-js .accordionItem.is-collapsed {
    max-height: auto;
  }
  .animateIn {
    animation: accordionIn 0.45s normal ease-in-out both 1;
  }
  .animateOut {
    animation: accordionOut 0.45s alternate ease-in-out both 1;
  }
  @keyframes accordionIn {
    0% {
      opacity: 0;
      transform: scale(0.9) rotateX(-60deg);
      transform-origin: 50% 0;
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes accordionOut {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.9) rotateX(-60deg);
    }
  }
  @media screen and (min-width: 990px) {
    #showOnlyMobile {
      display: none;
    }
  }
  @media screen and (max-width: 990px) {
    #tab-vertical {
      display: none;
    }
  }
</style>
<script>
  //uses classList, setAttribute, and querySelectorAll
  //if you want this to work in IE8/9 youll need to polyfill these
  (function () {
    var d = document,
      accordionToggles = d.querySelectorAll(".js-accordionTrigger"),
      setAria,
      setAccordionAria,
      switchAccordion,
      touchSupported = "ontouchstart" in window,
      pointerSupported = "pointerdown" in window;

    skipClickDelay = function (e) {
      e.preventDefault();
      e.target.click();
    };

    setAriaAttr = function (el, ariaType, newProperty) {
      el.setAttribute(ariaType, newProperty);
    };
    setAccordionAria = function (el1, el2, expanded) {
      switch (expanded) {
        case "true":
          setAriaAttr(el1, "aria-expanded", "true");
          setAriaAttr(el2, "aria-hidden", "false");
          break;
        case "false":
          setAriaAttr(el1, "aria-expanded", "false");
          setAriaAttr(el2, "aria-hidden", "true");
          break;
        default:
          break;
      }
    };
    //function
    switchAccordion = function (e) {
      console.log("triggered");
      e.preventDefault();
      var thisAnswer = e.target.parentNode.nextElementSibling;
      var thisQuestion = e.target;
      if (thisAnswer.classList.contains("is-collapsed")) {
        setAccordionAria(thisQuestion, thisAnswer, "true");
      } else {
        setAccordionAria(thisQuestion, thisAnswer, "false");
      }
      thisQuestion.classList.toggle("is-collapsed");
      thisQuestion.classList.toggle("is-expanded");
      thisAnswer.classList.toggle("is-collapsed");
      thisAnswer.classList.toggle("is-expanded");

      thisAnswer.classList.toggle("animateIn");
    };
    for (var i = 0, len = accordionToggles.length; i < len; i++) {
      if (touchSupported) {
        accordionToggles[i].addEventListener(
          "touchstart",
          skipClickDelay,
          false
        );
      }
      if (pointerSupported) {
        accordionToggles[i].addEventListener(
          "pointerdown",
          skipClickDelay,
          false
        );
      }
      accordionToggles[i].addEventListener("click", switchAccordion, false);
    }
  })();
</script>
