<div class="container" id="showOnlyMobile" style="margin-top: 35vh;">
    <h3 class="heading-primary">Gestão de Privacidade de Dados e requisitos de conformidade</h3>
    <br>
    <h5 class="heading-primary" >Nosso sistema está pronto para proteger informações corporativas da sua empresa dentro de todos os requisitos da LGPD.</h5>
    
    <div class="accordion">
      <dl>
        <dt>
          <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">Equipe de Suporte</a>
        </dt>
        <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
          <p>Temos uma equipe de suporte especializada aos projetos de privacidade e total aderência à LGPD.</p>
        </dd>
        <dt>
          <a href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">
            Reposta a Incidentes</a>
        </dt>
        <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
          <p>Nosso sistema faz o gerenciamento de fluxos e responsabilidades necessários.</p>
        </dd>
        <dt>
          <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
            Direitos dos Titulares de Dados
          </a>
        </dt>
        <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
          <p>Gerenciamos todo o ciclo de solicitações de direitos por parte dos titulares de dados.</p>
        </dd>
        <dt>
            <a href="#accordion4" aria-expanded="false" aria-controls="accordion4" class="accordion-title accordionTitle js-accordionTrigger">
                Integrações com Sistemas
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion4" aria-hidden="true">
            <p>Realizamos a integração dos dados com sistemas de gerenciamento de informações pessoais.</p>
          </dd>
          <dt>
            <a href="#accordion5" aria-expanded="false" aria-controls="accordion5" class="accordion-title accordionTitle js-accordionTrigger">
                Gestão de Consentimento
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion5" aria-hidden="true">
            <p>Gerimos as preferências de consentimento desde a coleta até a retirada.</p>
          </dd>
          <dt>
            <a href="#accordion6" aria-expanded="false" aria-controls="accordion6" class="accordion-title accordionTitle js-accordionTrigger">
                Mapeamento da Maturidade de TI
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion6" aria-hidden="true">
            <p>Mapeamos os riscos inerentes a todo processo de TI da empresa.</p>
          </dd>
          <dt>
            <a href="#accordion7" aria-expanded="false" aria-controls="accordion7" class="accordion-title accordionTitle js-accordionTrigger">
                Data Mapping
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion7" aria-hidden="true">
            <p>Realizamos a criação do inventário e fazemos a avaliação do mesmos junto a aderência à lei.</p>
          </dd>
      </dl>
    </div>
  </div>

  <style>
      @import url(https://fonts.googleapis.com/css?family=Lato:400,700);
 * {
	 box-sizing: border-box;
}
 .accordion dl, .accordion-list {
	 border: 1px solid #ddd;
}
 .accordion dl:after, .accordion-list:after {
	 content: "";
	 display: block;
	 height: 1em;
	 width: 100%;
	 background-color: teal;
}
 .accordion dd, .accordion__panel {
	 background-color: #eee;
	 font-size: 1em;
	 line-height: 1.5em;
}
 .accordion p {
	 padding: 1em 2em 1em 2em;
}
 .accordion {
	 position: relative;
	 background-color: #eee;
}

 .accordionTitle, .accordion__Heading {
	 background-color: teal;
	 text-align: center;
	 font-weight: 700;
	 padding: 2em;
	 display: block;
	 text-decoration: none;
	 color: #fff;
	 transition: background-color 0.5s ease-in-out;
	 border-bottom: 1px solid gray;
}
 .accordionTitle:before, .accordion__Heading:before {
	 content: "+";
	 font-size: 1.5em;
	 line-height: 0.5em;
	 float: left;
	 transition: transform 0.3s ease-in-out;
}
 .accordionTitle:hover, .accordion__Heading:hover {
	 background-color: #000046;
}
 .accordionTitleActive, .accordionTitle.is-expanded {
	 background-color: #000046;
}
 .accordionTitleActive:before, .accordionTitle.is-expanded:before {
	 transform: rotate(-225deg);
}
 .accordionItem {
	 height: auto;
	 overflow: hidden;
	 max-height: 50em;
	 transition: max-height 1s;
}
 @media screen and (min-width: 48em) {
	 .accordionItem {
		 max-height: 10em;
		 transition: max-height 0.5s;
	}
}

 .accordionItem.is-collapsed {
	 max-height: 0;
}
 .no-js .accordionItem.is-collapsed {
	 max-height: auto;
}
 .animateIn {
	 animation: accordionIn 0.45s normal ease-in-out both 1;
}
 .animateOut {
	 animation: accordionOut 0.45s alternate ease-in-out both 1;
}
 @keyframes accordionIn {
	 0% {
		 opacity: 0;
		 transform: scale(0.9) rotateX(-60deg);
		 transform-origin: 50% 0;
	}
	 100% {
		 opacity: 1;
		 transform: scale(1);
	}
}
 @keyframes accordionOut {
	 0% {
		 opacity: 1;
		 transform: scale(1);
	}
	 100% {
		 opacity: 0;
		 transform: scale(0.9) rotateX(-60deg);
	}
}
 
  </style>
  <script>
      //uses classList, setAttribute, and querySelectorAll
//if you want this to work in IE8/9 youll need to polyfill these
(function(){
	var d = document,
	accordionToggles = d.querySelectorAll('.js-accordionTrigger'),
	setAria,
	setAccordionAria,
	switchAccordion,
  touchSupported = ('ontouchstart' in window),
  pointerSupported = ('pointerdown' in window);
  
  skipClickDelay = function(e){
    e.preventDefault();
    e.target.click();
  }

		setAriaAttr = function(el, ariaType, newProperty){
		el.setAttribute(ariaType, newProperty);
	};
	setAccordionAria = function(el1, el2, expanded){
		switch(expanded) {
      case "true":
      	setAriaAttr(el1, 'aria-expanded', 'true');
      	setAriaAttr(el2, 'aria-hidden', 'false');
      	break;
      case "false":
      	setAriaAttr(el1, 'aria-expanded', 'false');
      	setAriaAttr(el2, 'aria-hidden', 'true');
      	break;
      default:
				break;
		}
	};
//function
switchAccordion = function(e) {
  console.log("triggered");
	e.preventDefault();
	var thisAnswer = e.target.parentNode.nextElementSibling;
	var thisQuestion = e.target;
	if(thisAnswer.classList.contains('is-collapsed')) {
		setAccordionAria(thisQuestion, thisAnswer, 'true');
	} else {
		setAccordionAria(thisQuestion, thisAnswer, 'false');
	}
  	thisQuestion.classList.toggle('is-collapsed');
  	thisQuestion.classList.toggle('is-expanded');
		thisAnswer.classList.toggle('is-collapsed');
		thisAnswer.classList.toggle('is-expanded');
 	
  	thisAnswer.classList.toggle('animateIn');
	};
	for (var i=0,len=accordionToggles.length; i<len; i++) {
		if(touchSupported) {
      accordionToggles[i].addEventListener('touchstart', skipClickDelay, false);
    }
    if(pointerSupported){
      accordionToggles[i].addEventListener('pointerdown', skipClickDelay, false);
    }
    accordionToggles[i].addEventListener('click', switchAccordion, false);
  }
})();
  </script>