<div class="container-fluid -moduloslgpd py-5" id="mod">
  <div class="row pb-3">
    <div class="col text-center">
      {% if page.title == 'Netwrix Auditor' %}
      <h1>Metodologia setorial</h1>
      <br />
      {% else %}
      <h1>Metodologia setorial</h1>
      <br />
      {% endif %}
      <p style="font-size: 18px; color: rgb(87, 87, 87)">
        Framework de adequação de acordo com as características e bases legais e
        regulatórias de cada segmento.
      </p>
    </div>
    <br />
    <br />
  </div>

  <div class="row row-datasourcelgpd">
    <div
      class="col solution-datasourcelgpd d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <p>TI, Provedores e Datacenters</p>
  </div>
    <div
      class="col solution-datasourcelgpd d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <p>Crédito e Financeiro</p>
  </div>
    <div
      class="col solution-datasourcelgpd d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <p>Startups</p>
  </div>
  </div>
  <div class="row row-datasourcelgpd">
    <div
      class="col solution-datasourcelgpd d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <p>Marketing Digital, BigData e Varejo</p>
  </div>
    <div
      class="col solution-datasourcelgpd d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <p>Comércio e Serviços</p>
  </div>
    <div
      class="col solution-datasourcelgpd d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <p>Seguradoras</p>
  </div>
  </div>
  <div class="row row-datasourcelgpd">
    <div
      class="col solution-datasourcelgpd d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <p>Educação</p>
  </div>
    <div
      class="col solution-datasourcelgpd d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <p>Saúde</p>
  </div>
    <div
      class="col solution-datasourcelgpd d-flex align-items-center justify-content-center"
      style="height: 58px"
    >
      <p>Construção civil</p>
  </div>
  </div>
</div>
<style>
  #mod {
    background-position: top;
    color: gray;
  }
  #mod h1,
  p {
    color: gray;
    font-weight: 400;
  }
</style>
