<div class="slider-container desktop-screen">
  <div class="left-slide">
    <div style="background-color: #deff5b">
      <h2 style="color: #2547ff">Engenharia Exclusiva</h2>
      <p class="text-slides" style="color: #2547ff">
        Nossa estrutura de aprendizado profundo desenvolvida especificamente
        para evitar ameaças com mais rapidez e precisão do que qualquer outra
        ferramenta de segurança cibernética do mundo.
      </p>
      <a target="_blank" class="btn btn-slider blue-button" href="https://youtu.be/LDPbV2HMab4"
        >Assista o Video</a
      >
    </div>

    <div style="background-color: #2a86ba">
      <h2>Mais Precisão</h2>
      <p class="text-slides">
        Combinamos a maior taxa de detecção do setor (99%+) com o menor número
        de falsos positivos (0,1%), otimizando as equipes de SOC e oferecendo a
        tranquilidade de saber que as ameaças são sempre evitadas.
      </p>
      <a target="_blank"
        class="btn btn-slider"
        href="https://www.youtube.com/watch?v=QjTpxpgvPMI"
        >Assista o Video</a
      >
    </div>

    <div style="background-color: #252e33">
      <h2>O mais rápido é o melhor</h2>
      <p class="text-slides">
        A verdadeira prevenção – e proteção – é uma corrida contra o tempo.
        Detectamos e prevenimos ameaças antes que elas sejam executadas, 750
        vezes mais rápido do que o ransomware mais rápido conhecido é capaz de
        criptografar.
      </p>
      <a target="_blank"
        class="btn btn-slider"
        href="https://www.youtube.com/watch?v=P62gjgTJZ3U"
        >Assista o Video</a
      >
    </div>

    <div style="background-color: #2547ff">
      <h2>Abrace a Prevenção</h2>
      <p class="text-slides">
        Pare malware e outras ameaças – incluindo desconhecidas e de dia zero –
        antes de serem executadas. Em 20ms, o Deep Instinct impede que ameaças
        maliciosas entrem em seu ambiente. O que os outros prometem, nós
        entregamos.
      </p>
      <a target="_blank"
        class="btn btn-slider"
        href="https://www.youtube.com/watch?v=Z4Jk-xhqqKw&t"
        >Assista o Video</a
      >
    </div>
  </div>
  <div class="right-slide">
    <div class="col-md">
      <img
        src="/assets/img/deep-22/slides/slide-1.png"
        class="img-slides img-fluid"
        alt=""
      />
    </div>
    <div class="col-md">
      <img
        src="/assets/img/deep-22/slides/slide-2.png"
        class="img-slides img-fluid"
        style="margin-top: 15vh"
        alt=""
      />
    </div>
    <div class="col-md">
      <img
        src="/assets/img/deep-22/slides/slide-3.webp"
        class="img-slides img-fluid"
        alt=""
      />
    </div>
    <div class="col-md">
      <img
        src="/assets/img/deep-22/slides/slide-4.webp"
        class="img-slides img-fluid"
        alt=""
      />
    </div>
  </div>
  <div class="action-buttons">
    <button class="down-button">
      <i class="fas fa-arrow-down"></i>
    </button>

    <button class="up-button">
      <i class="fas fa-arrow-up"></i>
    </button>
  </div>
</div>

<div class="container mt-5 mobile-screen">
  <div class="col-md-1 square-secondary">
    <p>01</p>
  </div>
  <div class="row justify-content">
    <div class="col-md-5 square-primary text-center">
      <h4>Abrace a Prevenção</h4>
      <p>
        Pare malware e outras ameaças – incluindo desconhecidas e de dia zero –
        antes de serem executadas. Em 20ms, o Deep Instinct impede que ameaças
        maliciosas entrem em seu ambiente. O que os outros prometem, nós
        entregamos
      </p>
    </div>
  </div>
  <div class="col-md-1 square-secondary">
    <p>02</p>
  </div>
  <div class="row justify-content">
    <div class="col-md-5 square-primary text-center">
      <h4>O mais rápido é o melho</h4>
      <p>
        A verdadeira prevenção – e proteção – é uma corrida contra o tempo.
        Detectamos e prevenimos ameaças antes que elas sejam executadas, 750
        vezes mais rápido do que o ransomware mais rápido conhecido é capaz de
        criptografar.
      </p>
    </div>
  </div>
  <div class="col-md-1 square-secondary">
    <p>03</p>
  </div>
  <div class="row justify-content">
    <div class="col-md-5 square-primary text-center">
      <h4>Mais Precisão</h4>
      <p>
        Combinamos a maior taxa de detecção do setor (99%+) com o menor número
        de falsos positivos (0,1%), otimizando as equipes de SOC e oferecendo a
        tranquilidade de saber que as ameaças são sempre evitadas.
      </p>
    </div>
  </div>
  <div class="col-md-1 square-secondary">
    <p>04</p>
  </div>
  <div class="row justify-content">
    <div class="col-md-5 square-primary text-center">
      <h4>Engenharia Exclusiva</h4>
      <p>
        Nossa estrutura de aprendizado profundo desenvolvida especificamente
        para evitar ameaças com mais rapidez e precisão do que qualquer outra
        ferramenta de segurança cibernética do mundo.
      </p>
    </div>
  </div>
</div>

<style>
  .btn-slider {
    background-color: #deff5b;
    border-radius: 0;
    margin-top: 10vh;
    font-weight: bold;
  }
  .img-slides {
    width: 90vw;
  }
  .text-slides {
    max-width: 25vw;
    font-size: 1.2rem;
    text-align: center;
  }
  .slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: white;
  }

  .blue-button {
    background-color: #2547ff;
    color: #deff5b;
  }

  .left-slide {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
  }

  .left-slide > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .left-slide h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
  }

  .right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
  }

  .right-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
  }

  button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 1rem;
    padding: 15px;
  }

  button:hover {
    color: #222;
  }

  button:focus {
    outline: none;
  }

  .slider-container .action-buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
  }

  .slider-container .action-buttons .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .slider-container .action-buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
</style>

<script>
  const sliderContainer = document.querySelector(".slider-container");
  const slideRight = document.querySelector(".right-slide");
  const slideLeft = document.querySelector(".left-slide");
  const upButton = document.querySelector(".up-button");
  const downButton = document.querySelector(".down-button");
  const slideLenght = slideRight.querySelectorAll("div").length;

  let activeSlideIndex = 0;

  slideLeft.style.top = `-${(slideLenght - 1) * 100}vh`;

  upButton.addEventListener("click", () => changeSlide("up"));
  downButton.addEventListener("click", () => changeSlide("down"));

  const changeSlide = (direction) => {
    const sliderHeight = sliderContainer.clientHeight;
    if (direction === "up") {
      activeSlideIndex++;
      if (activeSlideIndex > slideLenght - 1) {
        activeSlideIndex = 0;
      }
    } else if (direction === "down") {
      activeSlideIndex--;
      if (activeSlideIndex < 0) {
        activeSlideIndex = slideLenght - 1;
      }
    }

    slideRight.style.transform = `translateY(-${
      activeSlideIndex * sliderHeight
    }px)`;
    slideLeft.style.transform = `translateY(${
      activeSlideIndex * sliderHeight
    }px)`;
  };
</script>

<!-- only mobile -->

<style>
  .square-primary {
    background-color: #2547ff;
    color: white;
    padding: 15px;
    margin: 0 5vw 0 5vw;
  }

  .square-secondary {
    background-color: #052534;
    margin-left: 38vw;
    margin-bottom: -3vh;
    z-index: 70000;
    color: white;
    text-align: center;
    font-weight: bold;
    max-width: 15vw;
  }
</style>
