---
layout: default
title: Netwrix Change Tracker
---

<div class="container-fluid change-tracker-background">
  <div class="row justify-content-between">
    <div class="col-md-6">
      <h1 class="title-netwrix-solution">NETWRIX CHANGE TRACKER</h1>
      <h2>GANHE CONFIANÇA NA INTEGRIDADE DOS SISTEMAS</h2>
      <a href="#trial-change-tracker" class="btn btn-change-tracker">Solicitar Demonstração</a>
    </div>
    <div class="col-md">
      <img
        class="img-home-change img-fluid"
        src="/assets/img/change-tracker/img_ct.png"
        alt="cloud-security"
      />
    </div>
  </div>
</div>
<div class="container text-center py-5">
  <h2 class="title-secondary-netwrix py-5">
    O software de gerenciamento de configuração de segurança da Netwrix ajuda
    você a proteger sistemas críticos de TI e comprovar a conformidade
  </h2>
  <p class="text-description-netwrix py-4">
    À medida que os regulamentos do setor se expandem em escopo e complexidade,
    as organizações precisam de soluções que simplifiquem o processo de
    proteção, monitoramento e validação da configuração de sistemas críticos.
    Uma forte postura de conformidade começa com configurações de sistemas
    seguros. Com o software de gerenciamento de configuração de segurança da
    Netwrix, você pode fortalecer as configurações do sistema e passar por
    auditorias de conformidade com mais facilidade.
  </p>
</div>

{% include site/change-tracker/tabs.html %} {% include
site/change-tracker/cards-mobile.html %}{% include
site/change-tracker/modules.html %}

<div class="container-fluid container-feature-netwrix-products">
  <h2 class="title-secondary-netwrix text-center mb-5">
    Fortaleça a configuração de segurança de seus <br />
    sistemas de informação críticos
  </h2>
  <div class="row mt-5 py-5">
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/get_to_secure_faster.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Fortalecer configurações mais rapidamente
      </h5>
      <p class="desc-features-netwrix-products">
        Reduza o esforço para estabelecer configurações seguras e elimine as
        suposições de proteger os sistemas críticos com modelos de construção
        personalizáveis ​​de vários corpos de padrões, incluindo CIS, DISA STIG
        e SCAP/OVAL.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/pas_audit.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Passe em auditorias de conformidade de segurança com facilidade
      </h5>
      <p class="desc-features-netwrix-products">
        Reduza o esforço necessário para comprovar a conformidade automatizando
        tarefas repetitivas usando mais de 250 relatórios certificados pela CIS
        que abrangem NIST, PCI DSS, CMMC, STIG e NERC CIP.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/who-what.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">Olhe para trás no tempo</h5>
      <p class="desc-features-netwrix-products">
        Determine exatamente quais sistemas foram modificados e quando revisando
        um histórico completo de todas as alterações.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/control-change.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Feche o ciclo no controle de mudanças
      </h5>
      <p class="desc-features-netwrix-products">
        Remova o ruído e capacite as equipes de operações para se concentrarem
        em mudanças verdadeiramente anômalas, coordenando as atividades de
        gerenciamento de configuração com sua solução de gerenciamento de
        serviços de TI (ITSM).
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/keep-safe.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Mantenha-se informado sobre sua postura de segurança
      </h5>
      <p class="desc-features-netwrix-products">
        Tenha certeza de que sua infraestrutura e informações confidenciais
        estão seguras, verificando o status de sua postura de segurança e
        conformidade a qualquer momento.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/data-sensive.svg"
        class="icon-img-change"
        alt=""
      />
      <h5 class="title-features-netwrix-products">
        Certifique-se de que os arquivos críticos do sistema sejam autênticos
      </h5>
      <p class="desc-features-netwrix-products">
        Verifique se os arquivos de seus sistemas críticos são autênticos,
        verificando os resultados do monitoramento de integridade de arquivos em
        um banco de dados de mais de 10 bilhões de reputações de arquivos
        enviadas por fornecedores de software originais, como Microsoft, Oracle
        e Adobe.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid customers-squad-netwrix-products mb-5">
  <h2 class="title-secondary-netwrix text-center mb-5">
    Explore como o Netwrix Change Tracker está capacitando organizações como a
    <br />
    sua a fortalecer seus sistemas, melhorar a resposta de segurança <br />
    e comprovar a conformidade
  </h2>
  <div class="row justify-content-center">
    <div class="col-md-2 change-customers">
      <p class="small-title-customers">Prestador de Serviço</p>
      <img
        class="img-customers-change"
        src="/assets/img/change-tracker/customers/accenture.png"
        alt=""
      />
      <p class="text-gray desc-change-customers">
        A Accenture usa o Change Tracker para fornecer gerenciamento proativo de
        riscos e garantir conformidade contínua para seus clientes.
      </p>
    </div>
    <div class="col-md-2 change-customers">
      <p class="small-title-customers">Telecomunicações</p>
      <img
        class="img-customers-change"
        src="/assets/img/change-tracker/customers/vodafone.png"
        alt=""
      />
      <p class="text-gray desc-change-customers">
        A Vodafone está em conformidade com o PCI DSS e protege as PII do
        cliente com o Netwrix Change Tracker.
      </p>
    </div>
    <div class="col-md-2 change-customers">
      <p class="small-title-customers">Serviços Financeiros</p>
      <img
        class="img-customers-change"
        src="/assets/img/change-tracker/customers/paypoint.png"
        alt=""
      />
      <p class="text-gray desc-change-customers">
        O PayPoint mantém a conformidade com o PCI DSS, apesar da escassez de
        habilidades de segurança cibernética com o Netwrix Change Tracker.
      </p>
    </div>
    <div class="col-md-2 change-customers">
      <p class="small-title-customers">Tecnologia</p>
      <img
        class="img-customers-change"
        src="/assets/img/change-tracker/customers/DXC Technology.png"
        alt=""
      />
      <p class="text-gray desc-change-customers" id="trial-change-tracker" >
        A DXC Technology permite que seus clientes atinjam a conformidade com o
        PCI DSS e reduzam sua área de superfície de ataque com o Change Tracker.
      </p>
    </div>
  </div>
</div  >
{% include site/trial.html title="Solicite uma
demonstração" id="change-tracker_form" %}

<style>
  html{
    scroll-behavior: smooth;
  }
  .change-tracker-background {
    background-color: #010a59;
    padding: 20vh 0 15vh 15vw;
  }
  .change-tracker-background h2 {
    font-size: 3.5em;
    color: white;
    font-weight: bold;
    margin-bottom: 10vh;
  }
  .title-netwrix-solution {
    font-size: 15px;
    color: white;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 2vh;
  }
  .icon-img-change {
    max-width: 4vw;
  }
  .img-home-change {
    margin-right: -5vw;
  }
  .btn-change-tracker {
    width: 15vw;
    height: 6vh;
    background-color: red;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    font-weight: 500;
  }
  .btn-change-tracker:hover {
    background-color: #0778f4;
    color: white;
    transition: 0.5s;
  }

  .title-secondary-netwrix {
    font-size: 2.5em;
  }
  .text-description-netwrix {
    color: gray;
    font-size: 1.1em;
  }
  .title-features-netwrix-products {
    font-size: 1em;
    letter-spacing: 1px;
  }
  .container-feature-netwrix-products {
    padding: 10vh 15vw;
  }

  .desc-features-netwrix-products {
    max-width: 18vw;
  }
  .icon-img-change {
    margin-bottom: 40px;
  }
  .img-customers-change{
    max-width: 8vw;
  }
  .small-title-customers {
    font-size: 13px;
    color: #0778f4;
    font-weight: 500;
    margin-bottom: 3vh;
  }
  .change-customers {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
  }
  .desc-change-customers {
  }

  @media only screen and (max-width: 990px) {
    .change-tracker-background {
      height: 100vh;
    }
    .change-tracker-background h2 {
      font-size: 2em;
      margin-bottom: 5vh;
    }
    .change-tracker-background {
      padding: 15vh 0 5vh 2vw;
    }
    .btn-change-tracker {
      width: 50vw;
      height: 5vh;
      font-size: 14px;
      padding: 9px;
    }
    .img-home-change {
      margin-top: 10vh;
    }
    .icon-img-change{
      max-width: 20vw;
    }
    .desc-features-netwrix-products{
      max-width: 80vw;
      margin-bottom: 10vh;
    }
    .title-secondary-netwrix {
      font-size: 2em;
    }
    .img-customers-change{
       max-width: 30vw;
    }
    .small-title-customers{
     margin-bottom: 1vh; 
    }
  }
</style>
