---
layout: default
title: Netwrix Change Tracker
---

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h1 class="title-netwrix-solution">NETWRIX CHANGE TRACKER</h1>
      <h2>GANHE CONFIANÇA NA INTEGRIDADE DOS SISTEMAS</h2>
      <a href="" class="btn-change-tracker">Solicitar Demonstração</a>
      <a href="" class="btn-change-tracker btn-blue">Saiba mais!</a>
    </div>
    <div class="col-md">
      <img
        class="img-customers-chnage"
        src="/assets/img/change-tracker/img_ct.png"
        alt="cloud-security"
      />
    </div>
  </div>
</div>
<div class="container">
  <h3>
    O software de gerenciamento de configuração de segurança da Netwrix ajuda
    você a proteger sistemas críticos de TI e comprovar a conformidade
  </h3>
  <p>
    À medida que os regulamentos do setor se expandem em escopo e complexidade,
    as organizações precisam de soluções que simplifiquem o processo de
    proteção, monitoramento e validação da configuração de sistemas críticos.
    Uma forte postura de conformidade começa com configurações de sistemas
    seguros. Com o software de gerenciamento de configuração de segurança da
    Netwrix, você pode fortalecer as configurações do sistema e passar por
    auditorias de conformidade com mais facilidade.
  </p>
</div>

{% include site/change-tracker/tabs.html %} {% include
site/change-tracker/modules.html %}

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/get_to_secure_faster.svg"
        class="icon-img-change"
        alt=""
      />
      <h5>Fortalecer configurações mais rapidamente</h5>
      <p>
        Reduza o esforço para estabelecer configurações seguras e elimine as
        suposições de proteger os sistemas críticos com modelos de construção
        personalizáveis ​​de vários corpos de padrões, incluindo CIS, DISA STIG
        e SCAP/OVAL.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/pas_audit.svg"
        class="icon-img-change"
        alt=""
      />
      <h5>Passe em auditorias de conformidade de segurança com facilidade</h5>
      <p>
        Reduza o esforço necessário para comprovar a conformidade automatizando
        tarefas repetitivas usando mais de 250 relatórios certificados pela CIS
        que abrangem NIST, PCI DSS, CMMC, STIG e NERC CIP.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/who-what.svg"
        class="icon-img-change"
        alt=""
      />
      <h5>Olhe para trás no tempo</h5>
      <p>
        Determine exatamente quais sistemas foram modificados e quando revisando
        um histórico completo de todas as alterações.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/control-change.svg"
        class="icon-img-change"
        alt=""
      />
      <h5>Feche o ciclo no controle de mudanças</h5>
      <p>
        Remova o ruído e capacite as equipes de operações para se concentrarem
        em mudanças verdadeiramente anômalas, coordenando as atividades de
        gerenciamento de configuração com sua solução de gerenciamento de
        serviços de TI (ITSM).
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/keep-safe.svg"
        class="icon-img-change"
        alt=""
      />
      <h5>Mantenha-se informado sobre sua postura de segurança</h5>
      <p>
        Tenha certeza de que sua infraestrutura e informações confidenciais
        estão seguras, verificando o status de sua postura de segurança e
        conformidade a qualquer momento.
      </p>
    </div>
    <div class="col-md-4">
      <img
        src="/assets/img/change-tracker/data-sensive.svg"
        class="icon-img-change"
        alt=""
      />
      <h5>
        Certifique-se de que os arquivos críticos do sistema sejam autênticos
      </h5>
      <p>
        Verifique se os arquivos de seus sistemas críticos são autênticos,
        verificando os resultados do monitoramento de integridade de arquivos em
        um banco de dados de mais de 10 bilhões de reputações de arquivos
        enviadas por fornecedores de software originais, como Microsoft, Oracle
        e Adobe.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <h2>
    Explore como o Netwrix Change Tracker está capacitando organizações como a
    sua a fortalecer seus sistemas, melhorar a resposta de segurança e comprovar
    a conformidade
  </h2>
  <div class="row">
    <div class="col-md-3 change-customers">
      <p>Prestador de Serviço</p>
      <img
        class="img-customers-change"
        src="/assets/img/change-tracker/customers/accenture.png"
        alt=""
      />
      <p>
        A Accenture usa o Change Tracker para fornecer gerenciamento proativo de
        riscos e garantir conformidade contínua para seus clientes.
      </p>
    </div>
    <div class="col-md-3 change-customers">
      <p>Telecomunicações</p>
      <img
        class="img-customers-change"
        src="/assets/img/change-tracker/customers/vodafone.png"
        alt=""
      />
      <p>
        A Vodafone está em conformidade com o PCI DSS e protege as PII do
        cliente com o Netwrix Change Tracker.
      </p>
    </div>
    <div class="col-md-3 change-customers">
      <p>Serviços Financeiros</p>
      <img
        class="img-customers-change"
        src="/assets/img/change-tracker/customers/paypoint.png"
        alt=""
      />
      <p>
        O PayPoint mantém a conformidade com o PCI DSS, apesar da escassez de
        habilidades de segurança cibernética com o Netwrix Change Tracker.
      </p>
    </div>
    <div class="col-md-3 change-customers">
      <p>Tecnologia</p>
      <img
        class="img-customers-change"
        src="/assets/img/change-tracker/customers/DXC Technology.png"
        alt=""
      />
      <p>
        A DXC Technology permite que seus clientes atinjam a conformidade com o
        PCI DSS e reduzam sua área de superfície de ataque com o Change Tracker.
      </p>
    </div>
  </div>
</div>

<style>
  .icon-img-change {
    max-width: 4vw;
  }
  .img-customers-change {
    max-width: 7vw;
  }
  .change-customers{
    background-color: white;
    border-radius: 5px;
    margin: 10px;
  }
</style>
